description: Elastigroup Response
content:
  application/json:
    schema:
      allOf:
        - $ref: "../../../../../commons/schemas/responseItemWrapper.yaml"
        - type: object
          properties:
            request:
              type: object
              properties:
                url:
                  example: "/azure/compute/group/import/resourceGroup/myResourceGroup/applicationGateway/myApplicationGateway/backendPool/myBackendPool"
                method:
                  example: "GET"
            response:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "../schemas/elastigroupVm.yaml"
                kind:
                  example: "azure:compute:group:importApplicationGateway"
