{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "description": "Welcome to the Spot by NetApp OpenAPI Specification.\nHere you will find REST definitions for all Spot products and platform administration tasks.\n\nThe API is hosted at `https://api.spotinst.io` and requires Bearer Token\nAuthentication.\n\nFor more information on how to use the Spot platform, including user guides,\ndeveloper guides, concepts and tutorials see the external [Spot Documentation](https://docs.spot.io/).\n",
    "title": "Spot by NetApp API",
    "x-logo": {
      "url": "https://docs.spot.io/_media/images/spot.png",
      "altText": "SpotByNetAppLogo",
      "href": "https://docs.spot.io/api"
    },
    "contact": {
      "email": "support@spot.io"
    }
  },
  "externalDocs": {
    "url": "https://docs.spot.io/"
  },
  "servers": [
    {
      "url": "https://api.spotinst.io"
    }
  ],
  "security": [
    {
      "auth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "auth": {
        "description": "To generate bearer tokens and understand more about Spot by NetApp\nauthentication see the howto for\n[token creation](https://docs.spot.io/administration/api/create-api-token)\non the Spot Help site.\n\n### Organizations and Accounts\n\nEach Spot account is assigned to an organization and a set of environment Accounts.\nAn account is then linked to a specific cloud provider account.\n\nSpot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.\n\nTo locate the account ID navigate to Settings -> Account in the Spot console.\n\n### Organizations with a Single Account\nEach API call you make can be used with or without the account ID.\n\n### Organizations with Multiple Accounts\nEach API call you make should be appended to the account ID. For example:\n\nGET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`\nThis call will return the list of Elastigroups for the specific Account used.\n\n> NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.\n",
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Elastigroup AWS",
      "description": "Elastigroup for Amazon Web Services (AWS)",
      "externalDocs": {
        "description": "Elastigroup Concepts and Tutorials",
        "url": "https://docs.spot.io/elastigroup/"
      }
    },
    {
      "name": "Elastigroup Azure Spot VMs",
      "description": "Elastigroup for Microsoft Azure",
      "externalDocs": {
        "description": "Elastigroup Concepts and Tutorials",
        "url": "https://docs.spot.io/elastigroup/"
      }
    },
    {
      "name": "Elastigroup Azure Scale Set VMs",
      "description": "Elastigroup for Microsoft Azure Scale Set",
      "externalDocs": {
        "description": "Elastigroup Concepts and Tutorials",
        "url": "https://docs.spot.io/elastigroup/"
      }
    },
    {
      "name": "Elastigroup GCP",
      "description": "Elastigroup for Google Cloud",
      "externalDocs": {
        "description": "Elastigroup Concepts and Tutorials",
        "url": "https://docs.spot.io/elastigroup/"
      }
    },
    {
      "name": "Ocean AWS",
      "description": "Ocean - Serverless containers for Amazon Web Services (AWS)",
      "externalDocs": {
        "description": "Ocean Concepts and Tutorials",
        "url": "https://docs.spot.io/ocean/"
      }
    },
    {
      "name": "Ocean ECS",
      "description": "Ocean - Serverless containers for Amazon Elastic Container Service (ECS)",
      "externalDocs": {
        "description": "Ocean Concepts and Tutorials",
        "url": "https://docs.spot.io/ocean/"
      }
    },
    {
      "name": "Ocean GKE",
      "description": "Ocean - Serverless containers for for Google Kubernetes Engine",
      "externalDocs": {
        "description": "Ocean Concepts and Tutorials",
        "url": "https://docs.spot.io/ocean/"
      }
    },
    {
      "name": "Ocean AKS",
      "description": "Ocean - Serverless containers for for Azure Kubernetes Service",
      "externalDocs": {
        "description": "Ocean Concepts and Tutorials",
        "url": "https://docs.spot.io/ocean/"
      }
    },
    {
      "name": "Ocean On-Premise",
      "description": "Ocean On-Premise API - Understand cost drivers within you on-premise clusters and compare the costs to the Ocean Cloud.",
      "externalDocs": {
        "description": "Ocean Concepts and Tutorials",
        "url": "https://docs.spot.io/ocean/"
      }
    },
    {
      "name": "EMR Scaler",
      "description": "AWS EMR Scaler",
      "externalDocs": {
        "description": "AWS EMR Scaler Concepts and Tutorials",
        "url": "https://docs.spot.io/elastigroup/tools-integrations/elastic-mapreduce/"
      }
    },
    {
      "name": "Managed Instance AWS",
      "description": "Managed Instances are Spots solution for launching and managing a single compute instance.\nOn the AWS cloud, for a standard single instance workload, an On-Demand EC2 instance is launched.\nThe instance is expected to be highly available, easily manageable, and integrate well with additional services and monitoring tools.\nFor more information please review the concepts section.\n",
      "externalDocs": {
        "description": "Managed Instance for AWS Concepts and Tutorials",
        "url": "https://docs.spot.io/managed-instance/"
      }
    },
    {
      "name": "Create an API Token",
      "description": "* Please log in to the [Spot Console](https://console.spotinst.com) to create an API token. Navigate to `Settings` and select `API`.\n* The [Spot Console](https://console.spotinst.com) provides both permanent and temporary tokens. Select your preferred token type and click `Generate Token`.\n* Give your token a name and click `Generate`.\n> NOTE: Remember to keep your tokens secret; treat them just like passwords! They act on your behalf when interacting with the API. Do not share your personal access tokens with anyone outside your organization. Dont hard-code them into your programs; instead, opt to use them as environment variables. Please contact our support if youre concerned your token has been compromised.\n",
      "externalDocs": {
        "url": "https://docs.spot.io/administration/api/create-api-token"
      }
    },
    {
      "name": "Whitelist IPs",
      "description": "* Spot whitelist IPs are required for integrations to work as expected. The IP needs to be white-listed on the Master nodes of Rancher, HCS, Kubernetes, Chef, Nomad, and Docker Swarm. Make sure your white-list IPs are always up-to-date with the latest list.\n*  34.226.61.134/32\n",
      "externalDocs": {
        "url": "https://docs.spot.io/administration/api/whitelist-ips"
      }
    },
    {
      "name": "Spot Policy",
      "description": "Spots Latest Policy for AWS.\n* You can find and modify your Spot Policy in the AWS IAM Console.\n* For additional information and guide please see Updating the Spot Policy\n* You can restrict your Spot Policy using custom AWS IAM Condition Statements using this Guide.\n*  Make sure your policy is always up-to-date with the latest JSON\n",
      "externalDocs": {
        "url": "https://docs.spot.io/administration/api/spot-policy-in-aws"
      }
    },
    {
      "name": "Audit Service",
      "externalDocs": {
        "url": "https://docs.spot.io/api/#tag/Audit-Service"
      }
    },
    {
      "name": "Health Check Service",
      "externalDocs": {
        "url": "https://docs.spot.io/elastigroup/tools-integrations/custom-health-check-service"
      }
    },
    {
      "name": "Notifications Service",
      "description": "A Spot Notifications service enables you a fast, flexible, fully managed push notification service that lets you know about major events that happened in your Spot account.ֿ Spot Notifications makes it simple and cost-effective to get push notifications to your email address, HTTP, HTTPS or AWS SNS (Simple Notifications Service).\n"
    },
    {
      "name": "Insights Service"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Administration",
      "tags": [
        "Organizations",
        "Accounts"
      ]
    },
    {
      "name": "Ocean",
      "tags": [
        "Ocean AWS",
        "Ocean ECS",
        "Ocean GKE",
        "Ocean AKS",
        "Ocean On-Premise"
      ]
    },
    {
      "name": "Elastigroup",
      "tags": [
        "Elastigroup AWS",
        "Elastigroup AWS EMR Scaler",
        "Elastigroup GCP",
        "Elastigroup Azure Spot VMs",
        "Elastigroup Azure Scale Set VMs"
      ]
    },
    {
      "name": "Managed Instance",
      "tags": [
        "Managed Instance AWS"
      ]
    },
    {
      "name": "Services",
      "tags": [
        "Audit Service",
        "Health Check Service",
        "Notifications Service",
        "Insights Service"
      ]
    }
  ],
  "paths": {
    "/aws/ec2/group": {
      "summary": "Elastigroups for AWS",
      "post": {
        "summary": "Create Elastigroup",
        "description": "Create a new AWS Elastigroup.\n\nThere are several third Party Integrations available, which can be activated based on your configuration, such as:\n* [Rancher Elastigroup](https://docs.spot.io/elastigroup/tools-integrations/rancher)\n* [Route53 Elastigroup](https://docs.spot.io/elastigroup/tools-integrations/route53)\n* [DockerSwarm Elastigroup](https://docs.spot.io/elastigroup/tools-integrations/docker-swarm)\n* [ECS Elastigroup](https://docs.spot.io/elastigroup/features/amazon-ecs/elastigroup-for-ecs)\n* [Beanstalk Elastigroup](https://docs.spot.io/elastigroup/tools-integrations/elastic-beanstalk)\n\n\n  You can create a beanstalk elastigroup with the following steps:\n  * [Get the beanstalk configuration](https://docs.spot.io/api/#operation/elastigroupAwsGetBeanstalkConfiguration) to JSON format\n  * Modify required parameters and post the JSON as a body to create a new elastigroup\n",
        "operationId": "elastigroupAwsCreate",
        "tags": [
          "Elastigroup AWS"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1azure~1costs/get/parameters/0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "title": "AWS Elastigroup",
                    "required": [
                      "group"
                    ],
                    "properties": {
                      "group": {
                        "type": "object",
                        "description": "Elastigroup Configuration",
                        "required": [
                          "name",
                          "capacity"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "AWS Elastigroup Name\n",
                            "example": "my-Elastigroup"
                          },
                          "description": {
                            "type": "string",
                            "description": "Describe your AWS Elastigroup\n",
                            "example": "This Elastigroup is used for Development"
                          },
                          "region": {
                            "type": "string",
                            "description": "The AWS region your group will be created in.\n This parameter is required if you specify subnets (through compute.subnetIds).\n This parameter is optional if you specify Availability Zones (through compute.availabilityZones).\n",
                            "example": "use-east-1"
                          },
                          "capacity": {
                            "description": "Capacity Configuration",
                            "type": "object",
                            "title": "Elastigroup Capacity",
                            "required": [
                              "target",
                              "minimum",
                              "maximum",
                              "unit"
                            ],
                            "properties": {
                              "target": {
                                "type": "integer",
                                "description": "The number of instances to launch\n",
                                "example": 1
                              },
                              "minimum": {
                                "type": "integer",
                                "description": "The lower limit number of instances that you can scale down to\n",
                                "example": 0
                              },
                              "maximum": {
                                "type": "integer",
                                "description": "The upper limit number of instances that you can scale up to\n",
                                "example": 10
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "instance",
                                  "weight"
                                ],
                                "description": "The capacity unit to launch instances by.\nNote: for groups with integration to K8S / ECS weight option is not supported.\n",
                                "example": "instance"
                              }
                            }
                          },
                          "strategy": {
                            "type": "object",
                            "title": "Elastigroup Strategy",
                            "description": "Strategy",
                            "required": [
                              "availabilityVsCost"
                            ],
                            "properties": {
                              "risk": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 100,
                                "example": 100,
                                "default": 0,
                                "description": "The percentage of Elastigroup that will run with spot market capacity\n"
                              },
                              "onDemandCount": {
                                "type": "integer",
                                "minimum": 0,
                                "example": 0,
                                "description": "Minimum number of instances that will always be on-demand\n"
                              },
                              "availabilityVsCost": {
                                "type": "string",
                                "enum": [
                                  "costOriented",
                                  "availabilityOriented",
                                  "balanced",
                                  "cheapest",
                                  "equalAzDistribution"
                                ],
                                "default": "balanced",
                                "description": "How Elastigroup determines which instances to add and replace.\n(please read this article before using [Equal AZ Instance Distribution](https://docs.spot.io/elastigroup-for-aws/concepts/general-concepts/equal-az-distribution))\n"
                              },
                              "fallbackToOd": {
                                "type": "boolean",
                                "default": false,
                                "example": true,
                                "description": "When set to `true` Elastigroup will launch On Demand instances if no spot market is available\n"
                              },
                              "utilizeReservedInstances": {
                                "type": "boolean",
                                "description": "In case of any available Reserved Instances, Elastigroup will utilize them before purchasing Spot instances\n",
                                "example": false
                              },
                              "drainingTimeout": {
                                "type": "integer",
                                "example": 120,
                                "description": "The time in seconds to allow the instance be drained from incoming TCP connections and detached from ELB before terminating it, during a scale down operation\n"
                              },
                              "signals": {
                                "type": "array",
                                "description": "The signals defined for this group. For more information refer the below article: [Signals](https://docs.spot.io/elastigroup-for-aws/concepts/compute-concepts/using-signals-in-elastigroups)\n",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the signal defined for the group.\n",
                                      "enum": [
                                        "INSTANCE_READY",
                                        "INSTANCE_READY_TO_SHUTDOWN"
                                      ]
                                    },
                                    "timeout": {
                                      "type": "integer",
                                      "minimum": 60,
                                      "maximum": 1800,
                                      "description": "The timeout in seconds to hold the instance until a signal is sent.\nIf no signal is sent the instance will be replaced (INSTANCE_READY) or we will terminate the instance (INSTANCE_READY_TO_SHUTDOWN) after the timeout.\n",
                                      "default": 1800,
                                      "example": 120
                                    }
                                  }
                                }
                              },
                              "persistence": {
                                "type": "array",
                                "description": "You can register persistence (Stateful) recovery arguments\n",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "shouldPersistPrivateIp": {
                                      "type": "boolean",
                                      "description": "Should the instance maintain its private IP\n",
                                      "example": true
                                    },
                                    "shouldPersistRootDevice": {
                                      "type": "boolean",
                                      "description": "Should the instance maintain its root device volumes\n",
                                      "example": true
                                    },
                                    "shouldPersistBlockDevices": {
                                      "type": "boolean",
                                      "description": "Should the instance maintain its Data volumes\n",
                                      "example": true
                                    },
                                    "blockDevicesMode": {
                                      "type": "string",
                                      "description": "Determine the way we attach the data volumes to the data devices\n",
                                      "enum": [
                                        "reattach",
                                        "onLaunch"
                                      ],
                                      "example": "reattach"
                                    }
                                  }
                                }
                              },
                              "revertToSpot": {
                                "type": "object",
                                "description": "Hold settings for strategy correction - replacing On-Demand for Spot instances\n",
                                "properties": {
                                  "performAt": {
                                    "type": "string",
                                    "description": "Settings for maintenance strategy - possible values: timeWindow, never, always.\nperformAt of type: 'never' OR 'timeWindow' can only be applied to groups with \"availabilityOriented\" OR groups with \"persistence\",\nother groups allow either 'always' type or nothing which also means always.\n",
                                    "enum": [
                                      "never",
                                      "always",
                                      "timeWindow"
                                    ],
                                    "example": "timeWindow",
                                    "default": "always"
                                  },
                                  "timeWindows": {
                                    "type": "array",
                                    "description": "When performAt is 'timeWindow': must specify a list of 'timeWindows' with at least one time window Each string is in the format of - ddd:hh:mm-ddd:hh:mm\nddd = day of week = Sun | Mon | Tue | Wed | Thu | Fri | Sat\nhh = hour 24 = 0 -23\nmm = minute = 0 - 59\n",
                                    "items": {
                                      "type": "string",
                                      "example": "Mon:03:00-Wed:02:30"
                                    }
                                  }
                                }
                              },
                              "scalingStrategy": {
                                "type": "object",
                                "description": "Set termination policy\n",
                                "properties": {
                                  "terminationPolicy": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "newestInstance"
                                    ],
                                    "example": "default"
                                  }
                                }
                              }
                            }
                          },
                          "compute": {
                            "type": "object",
                            "title": "Elastigroup Compute",
                            "required": [
                              "product",
                              "availabilityZones"
                            ],
                            "properties": {
                              "product": {
                                "type": "string",
                                "description": "Operation system type.\n",
                                "enum": [
                                  "Linux/UNIX (Amazon VPC)",
                                  "SUSE Linux (Amazon VPC)",
                                  "Windows (Amazon VPC)",
                                  "Red Hat Enterprise Linux (Amazon VPC)"
                                ],
                                "example": "Linux/UNIX"
                              },
                              "elasticIps": {
                                "type": "array",
                                "description": "List of ElasticIPs Allocation Ids to associate to the group instances\n",
                                "items": {
                                  "type": "string",
                                  "example": "eipalloc-9d4e16f8"
                                }
                              },
                              "privateIps": {
                                "type": "array",
                                "description": "List of Private IPs to associate to the group instances.\nPlease note: This setting will only apply if rategy.persistence.shouldPersistPrivateIp is set to true.\n",
                                "items": {
                                  "type": "string",
                                  "default": "172.1.1.0"
                                }
                              },
                              "instanceTypes": {
                                "type": "object",
                                "description": "Instance Types\n",
                                "required": [
                                  "ondemand",
                                  "spot"
                                ],
                                "properties": {
                                  "ondemand": {
                                    "type": "string",
                                    "description": "Available Instance types\n",
                                    "example": "m3.medium"
                                  },
                                  "spot": {
                                    "type": "array",
                                    "description": "Available Spot Instance types\n",
                                    "items": {
                                      "type": "string",
                                      "example": [
                                        "c3.large",
                                        "c4.large",
                                        "m3.large",
                                        "r3.large"
                                      ]
                                    }
                                  },
                                  "preferredSpot": {
                                    "type": "array",
                                    "description": "Prioritize a subset of spot instance types. Must be a subset of the selected spot instance types.\n",
                                    "items": {
                                      "type": "string",
                                      "example": [
                                        "c4.large"
                                      ]
                                    }
                                  },
                                  "weights": {
                                    "type": "array",
                                    "description": "Custom weight for each instance type (only valid in weight capacity unit)\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "instanceType": {
                                          "type": "string",
                                          "description": "The instance type to customize its weight\n",
                                          "example": "c4.large"
                                        },
                                        "weightedCapacity": {
                                          "type": "integer",
                                          "description": "The weight\n",
                                          "example": 8
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "subnetIds": {
                                "type": "array",
                                "description": "A comma-separated list of subnet identifiers for your group.\nWhen this parameter is set, compute.availabilityZones should be left unused.\n",
                                "items": {
                                  "type": "string",
                                  "example": [
                                    "subnet-4c1d1538",
                                    "subnet-2791bb61",
                                    "subnet-703a6f58",
                                    "subnet-c62846fc"
                                  ]
                                }
                              },
                              "availabilityZones": {
                                "type": "array",
                                "description": "One or more availability Zones for the group.\nWhen this parameter is set, compute.subnetIds should be left unused.\n",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "name"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The Availability Zone name\n",
                                      "example": "us-west-2a"
                                    },
                                    "subnetIds": {
                                      "type": "array",
                                      "description": "A comma-separated list of subnet identifiers for your group.\n",
                                      "items": {
                                        "type": "string",
                                        "example": [
                                          "subnet-4333093a"
                                        ]
                                      }
                                    },
                                    "placementGroupName": {
                                      "type": "string",
                                      "description": "specify a Placement Group name, the instances will be launched in the Placement Group for the AZ.\n"
                                    }
                                  }
                                }
                              },
                              "preferredAvailabilityZones": {
                                "type": "array",
                                "description": "The AZs to prioritize when launching Spot instances.\nIf no markets are available in the Preferred AZs, Spot instances are launched in the non-preferred AZs.\n* Must be a sublist of compute.AvailabilityZones\n* strategy.availabilityVsCost must not be equalAzDistribution\n",
                                "items": {
                                  "type": "string",
                                  "example": [
                                    "us-east-1a",
                                    "us-east-1b"
                                  ]
                                }
                              },
                              "launchSpecification": {
                                "type": "object",
                                "required": [
                                  "securityGroupIds",
                                  "monitoring",
                                  "imageId",
                                  "keyPair"
                                ],
                                "properties": {
                                  "creditSpecification": {
                                    "type": "object",
                                    "description": "creditSpecification is a parameter that indicates in what mode t2/t3 instances will be launched with. It consists of one key: cpuCredits (String)\n",
                                    "properties": {
                                      "cpuCredits": {
                                        "type": "string",
                                        "enum": [
                                          "unlimited",
                                          "standard"
                                        ],
                                        "example": "unlimited"
                                      }
                                    }
                                  },
                                  "loadBalancersConfig": {
                                    "type": "object",
                                    "description": "Elastic Load Balancers configurations\n",
                                    "properties": {
                                      "loadBalancers": {
                                        "type": "array",
                                        "description": "List of classic load balancers and/or application load balancer target groups and/or Multai load balancer target sets\n",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "The AWS resource name. Required for Classic Load Balancer. Optional for Application Load Balancer.\n",
                                              "example": "MyTargetGroup"
                                            },
                                            "arn": {
                                              "type": "string",
                                              "description": "The AWS resource ARN (Required only for ALB target groups)\n",
                                              "example": "arn:aws:elasticloadbalancing:us-west-2:922761411234:targetgroup/MyTargetGroup/1fe63217f8ff1234"
                                            },
                                            "type": {
                                              "type": "string",
                                              "description": "The resource type.\n",
                                              "enum": [
                                                "CLASSIC",
                                                "TARGET_GROUP",
                                                "MULTAI_TARGET_SET"
                                              ],
                                              "example": "TARGET_GROUP"
                                            },
                                            "balancerId": {
                                              "type": "string",
                                              "description": "The Multai load balancer ID\n",
                                              "example": "lb-123456789"
                                            },
                                            "targetSetId": {
                                              "description": "The Multai load target set ID\n",
                                              "type": "string",
                                              "example": "ts-123456789"
                                            },
                                            "azAwerness": {
                                              "description": "`AZ Awareness` will ensure that instances within the same AZ are using the corresponding MLB runtime instance in the same AZ. This feature reduces multi-zone data transfer fees\n",
                                              "type": "boolean",
                                              "example": false
                                            },
                                            "autoWeight": {
                                              "description": "`Auto Weight` will automatically provide a higher weight for instances that are larger as appropriate. For example, if you have configured your Elastigroup with m4.large and m4.xlarge instances the m4.large will have half the weight of an m4.xlarge. This ensures that larger instances receive a higher number of MLB requests\n",
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "healthCheckType": {
                                    "type": "string",
                                    "description": "The service to use for the health check.\n",
                                    "enum": [
                                      "ELB",
                                      "HCS",
                                      "TARGET_GROUP",
                                      "MLB",
                                      "ECS_CLUSTER_INSTANCE",
                                      "EC2",
                                      "OPSWORKS",
                                      "MULTAI_TARGET_SET",
                                      "K8S_NODE",
                                      "NOMAD_NODE"
                                    ],
                                    "example": "EC2"
                                  },
                                  "healthCheckGracePeriod": {
                                    "type": "integer",
                                    "description": "The amount of time, in seconds, after the instance has launched to starts and check its health.\n",
                                    "default": 300,
                                    "example": 600
                                  },
                                  "healthCheckUnhealthyDurationBeforeReplacement": {
                                    "type": "integer",
                                    "description": "The amount of time, in seconds, an existing instance should remain active after becoming unhealthy.\nAfter the set time out the instance will be replaced\n",
                                    "example": 60
                                  },
                                  "securityGroupIds": {
                                    "type": "array",
                                    "description": "One or more security group IDs. In case of update it will override the existing Security Group with the new given array\n",
                                    "items": {
                                      "type": "string",
                                      "example": [
                                        "sg-0dfc2c8760df6fec7"
                                      ]
                                    }
                                  },
                                  "monitoring": {
                                    "type": "boolean",
                                    "description": "Describes whether instance Enhanced Monitoring is enabled\n",
                                    "example": false
                                  },
                                  "ebsOptimized": {
                                    "type": "boolean",
                                    "description": "Enable EBS optimization for supported instance which is not enabled by default.\nNote - additional charges will be applied.\n",
                                    "example": false
                                  },
                                  "imageId": {
                                    "type": "string",
                                    "description": "The ID of the image used to launch the instance.\n* The following instance types are supported by HVM image: M3, M4, C3, C4, D2, G2, R3, CC2, CC1, CG1, CR1.\n* The following instance types are supported by PV image: M1, M2, M3, C1, C3.\n* In case of conflict between Instance type to image type, an error message will be returned\n",
                                    "example": "ami-01e24be29428c15b2"
                                  },
                                  "keyPair": {
                                    "type": "string",
                                    "description": "Specify a Key Pair to attach to the instances\n",
                                    "example": "labs-oregon"
                                  },
                                  "blockDeviceMappings": {
                                    "type": "array",
                                    "description": "Array list of block devices that are exposed to the instance, You can specify virtual devices and EBS volumes.\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "deviceName": {
                                          "type": "string",
                                          "description": "Set device name\n",
                                          "example": "/dev/xvdcz"
                                        },
                                        "ebs": {
                                          "type": "object",
                                          "description": "Set EBS properties\n",
                                          "properties": {
                                            "iops": {
                                              "type": "integer",
                                              "minimum": 0,
                                              "description": "Must be greater than or equal to 0\n",
                                              "example": 0
                                            },
                                            "throughput": {
                                              "type": "integer",
                                              "minimum": 125,
                                              "maximum": 1000,
                                              "example": 125,
                                              "description": "The amount of data transferred to or from a storage device per second, you can use this param just in a case that volumetype=‘gp3’.\n"
                                            },
                                            "volumeType": {
                                              "type": "string",
                                              "description": "Set volume type\n",
                                              "example": "gp2"
                                            },
                                            "deleteOnTermination": {
                                              "type": "boolean",
                                              "description": "Flag to delete the EBS on instance termination\n",
                                              "example": true
                                            },
                                            "volumeSize": {
                                              "type": "integer",
                                              "description": "Set volume size (in GB). When using this property - don't use dynamicVolumeSize.\nVolume size should be greater or equal than the size configured in the AMI\n",
                                              "example": 12
                                            },
                                            "dynamicVolumeSize": {
                                              "type": "object",
                                              "description": "Set dynamic volume size properties. When using this object, you cannot use volumeSize. You must use one or the other.\n",
                                              "properties": {
                                                "baseSize": {
                                                  "type": "integer",
                                                  "description": "Initial size for volume\n",
                                                  "example": 50
                                                },
                                                "resource": {
                                                  "type": "string",
                                                  "example": "CPU"
                                                },
                                                "sizePerResourceUnit": {
                                                  "type": "integer",
                                                  "description": "Additional size per resource unit (in GB). For example: if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched - its disk size will be: 90GB\n",
                                                  "example": 20
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "networkInterfaces": {
                                    "type": "array",
                                    "description": "List of network interfaces in an EC2 instance.\nIf you define network interface, please pay attention to omit these properties from other sections in this JSON and set them here: subnetId - compute.availabilityZones\n",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "deviceIndex"
                                      ],
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "The description of the network interface. Applies only if creating a network interface when launching an instance.\n"
                                        },
                                        "deviceIndex": {
                                          "type": "integer",
                                          "description": "The position of the network interface in the attachment order.\nA primary network interface has a device index of 0.\nIf you specify a network interface when launching an instance, you must specify the device index.\n",
                                          "example": 0
                                        },
                                        "secondaryPrivateIpAddressCount": {
                                          "type": "integer",
                                          "description": "The number of secondary private IPv4 addresses to assign to a network interface.\nWhen you specify a number of secondary IPv4 addresses, Amazon EC2 selects these IP addresses within the subnet's IPv4 CIDR range.\nYou can't specify this option and specify more than one private IP address using privateIpAddresses.\nThe number of IP addresses you can assign to a network interface varies by instance type.\nFor more information, see IP Addresses Per ENI Per Instance Type in the Amazon Virtual Private Cloud User Guide.\n"
                                        },
                                        "associatePublicIpAddress": {
                                          "type": "boolean",
                                          "description": "Indicates whether to assign a public IPv4 address to an instance you launch in a VPC.\nThe public IP address can only be assigned to a network interface for eth0, and can only be assigned to a new network interface, not an existing one.\nYou cannot specify more than one network interface in the request.\nIf launching into a default subnet, the default value is true.\n",
                                          "example": true
                                        },
                                        "deleteOnTermination": {
                                          "type": "boolean",
                                          "description": "If set to true, the interface is deleted when the instance is terminated.\nYou can specify true only if creating a new network interface when launching an instance.\n"
                                        },
                                        "networkInterfaceId": {
                                          "type": "string",
                                          "description": "The ID of the network interface. Used to attach the specified network interface to the instance.\n"
                                        },
                                        "privateIpAddresses": {
                                          "type": "array",
                                          "description": "One or more private IPv4 addresses to assign to the network interface.\nOnly one private IPv4 address can be designated as primary.\nYou cannot specify this option if you're launching more than one instance in a RunInstances request.\n",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "privateIpAddress",
                                              "primary"
                                            ],
                                            "properties": {
                                              "privateIpAddress": {
                                                "type": "string",
                                                "description": "The private IPv4 address.\n"
                                              },
                                              "primary": {
                                                "type": "boolean",
                                                "description": "Indicates whether the private IPv4 address is the primary private IPv4 address. Only one IPv4 address can be designated as primary.\n"
                                              }
                                            }
                                          }
                                        },
                                        "subnetId": {
                                          "type": "string",
                                          "description": "The ID of the subnet to associate with the network interface.\nRequired when creating a new Network Interface, and not attaching an existing one via networkInterfaceId.\n"
                                        },
                                        "associateIpv6Address": {
                                          "type": "boolean",
                                          "description": "Indicates whether to assign an IPv6 address. Amazon EC2 chooses the IPv6 addresses from the range of the subnet.\n"
                                        }
                                      }
                                    }
                                  },
                                  "iamRole": {
                                    "type": "object",
                                    "description": "The instance profile iamRole\n",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "The iamRole name\n",
                                        "example": "my-iamRole"
                                      }
                                    }
                                  },
                                  "userData": {
                                    "type": "string",
                                    "format": "byte",
                                    "description": "The Base64-encoded MIME user data to make available to the instances\n",
                                    "example": "dXNlcmJhc2g2NGVuY29kZWQ="
                                  },
                                  "shutdownScript": {
                                    "type": "string",
                                    "format": "byte",
                                    "description": "The Base64-encoded shutdown script to execute prior to instance termination. For more information please see: [Shutdown Script](https://docs.spot.io/integration-docs/elastigroup/concepts/compute-concepts/shutdown-scripts/)\n",
                                    "example": "dXNlcmJhc2g2NGVuY29kZWQ="
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "tagKey": {
                                          "type": "string",
                                          "description": "The tag's key\n",
                                          "example": "Creator"
                                        },
                                        "tagValue": {
                                          "type": "string",
                                          "description": "The tag's value\n",
                                          "example": "John Doe"
                                        }
                                      }
                                    }
                                  },
                                  "resourceTagSpecification": {
                                    "type": "object",
                                    "description": "Optional field. User will specified which resources should be tagged with group tags.",
                                    "properties": {
                                      "volumes": {
                                        "type": "object",
                                        "description": "Optional field. Tag specification for Volume resources.",
                                        "properties": {
                                          "shouldTag": {
                                            "type": "boolean",
                                            "description": "Optional field. Volume resources will be tagged with group tags.",
                                            "default": false,
                                            "example": false
                                          }
                                        }
                                      },
                                      "snapshots": {
                                        "type": "object",
                                        "description": "Optional field. Tag specification for Snapshot resources.",
                                        "properties": {
                                          "shouldTag": {
                                            "type": "boolean",
                                            "description": "Optional field. Snapshot resources will be tagged with group tags.",
                                            "default": true,
                                            "example": true
                                          }
                                        }
                                      },
                                      "enis": {
                                        "type": "object",
                                        "description": "Optional field. Tag specification for ENI resources.",
                                        "properties": {
                                          "shouldTag": {
                                            "type": "boolean",
                                            "description": "Optional field. ENI resources will be tagged with group tags.",
                                            "default": false,
                                            "example": false
                                          }
                                        }
                                      },
                                      "amis": {
                                        "type": "object",
                                        "description": "Optional field. Tag specification for AMI resources.",
                                        "properties": {
                                          "shouldTag": {
                                            "type": "boolean",
                                            "description": "Optional field. AMI resources will be tagged with group tags.",
                                            "default": true,
                                            "example": true
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "metadataOptions": {
                                    "title": "Metadata Options",
                                    "type": "object",
                                    "description": "Optional field. Used for IMDSv2. In Create route can't be null. In Update route can be null.",
                                    "required": [
                                      "httpTokens"
                                    ],
                                    "properties": {
                                      "httpTokens": {
                                        "title": "HTTP Tokens",
                                        "type": "string",
                                        "description": "Required for IMDSv2. Can’t be null in Create or Update. Values can be \"optional\" or \"required\".",
                                        "example": "optional"
                                      },
                                      "httpPutResponseHopLimit": {
                                        "type": "integer",
                                        "example": "33",
                                        "description": "An integer within 1,64 range (including).\nThe desired HTTP PUT response hop limit for instance metadata requests.\nThe larger the number, the further instance metadata requests can travel.\n"
                                      }
                                    }
                                  },
                                  "cpuOptions": {
                                    "title": "CPU options",
                                    "type": "object",
                                    "description": "Optional field. The CPU options for the instances that are launched within the group.",
                                    "required": [
                                      "threadsPerCore"
                                    ],
                                    "properties": {
                                      "threadsPerCore": {
                                        "title": "thread per core",
                                        "type": "integer",
                                        "example": "1",
                                        "description": "The number of threads per CPU core.\nTo disable multithreading for the instances, specify a value of 1 .\nOtherwise, specify the default value of 2 .\n"
                                      }
                                    }
                                  },
                                  "autoHealing": {
                                    "type": "boolean",
                                    "description": "Optional field. Auto-healing replacement won't be triggered if this parameter value is \"false\".\nIn a case of a stateful group - no recycling will start if this parameter value is \"false\".\n",
                                    "default": true,
                                    "example": true
                                  }
                                }
                              }
                            }
                          },
                          "scaling": {
                            "type": "object",
                            "title": "Elastigroup Scaling",
                            "properties": {
                              "up": {
                                "type": "object",
                                "properties": {
                                  "policyName": {
                                    "type": "string",
                                    "description": "The policy name\n",
                                    "example": "my-up-policy"
                                  },
                                  "metricName": {
                                    "type": "string",
                                    "description": "The name of the metric.\n",
                                    "default": "CPUUtilization",
                                    "example": "CPUUtilization"
                                  },
                                  "statistic": {
                                    "type": "string",
                                    "description": "The metric statistics to return.\n",
                                    "enum": [
                                      "average",
                                      "sum",
                                      "sampleCount",
                                      "maximum",
                                      "minimum",
                                      "percentile"
                                    ],
                                    "example": "average"
                                  },
                                  "extendedStatistic": {
                                    "type": "string",
                                    "description": "Percentile statistic. Valid values: p0.1 - p100\n",
                                    "example": "p1.5"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "description": "The unit for the alarm's associated metric.\n",
                                    "enum": [
                                      "seconds",
                                      "microseconds",
                                      "milliseconds",
                                      "bytes",
                                      "kilobytes",
                                      "megabytes",
                                      "gigabytes",
                                      "terabytes",
                                      "bits",
                                      "kilobits",
                                      "megabits",
                                      "gigabits",
                                      "terabits",
                                      "percent",
                                      "count",
                                      "bytes/second",
                                      "kilobytes/second",
                                      "megabytes/second",
                                      "gigabytes/second",
                                      "terabytes/second",
                                      "bits/second",
                                      "kilobits/second",
                                      "megabits/second",
                                      "gigabits/second",
                                      "terabits/second",
                                      "count/second",
                                      "none"
                                    ],
                                    "example": "percent"
                                  },
                                  "threshold": {
                                    "type": "integer",
                                    "description": "The value against which the specified statistic is compared\n",
                                    "example": 90
                                  },
                                  "action": {
                                    "type": "object",
                                    "example": "adjustment",
                                    "description": "The action to take when scale up is needed.\nA mandatory field, that should be filled with one of the following:\n\"adjustment\", \"percentageAdjustment\", \"setMaxTarget\", \"setMinTarget\", \"updateCapacity\".\n",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "description": "The type of the action to take when scale up is needed.\n",
                                        "enum": [
                                          "adjustment",
                                          "updateCapacity setMinTarget",
                                          "percentageAdjustment"
                                        ],
                                        "example": "updateCapacity"
                                      },
                                      "adjustment": {
                                        "type": "integer",
                                        "description": "The number / percentage associated with the specified adjustment type.\nRequired if using `adjustment` or `percentageAdjustment` as action type\n",
                                        "example": 1
                                      },
                                      "minTargetCapacity": {
                                        "type": "integer",
                                        "description": "The number with the target capacity needed.\nRequired if using `setMinTarget` as action type\n",
                                        "example": 1
                                      },
                                      "target": {
                                        "type": "integer",
                                        "description": "The desired number of instances. Required if using `updateCapacity` as action type and neither `minimum` nor `maximum` are not defined.\n",
                                        "example": 1
                                      },
                                      "minimum": {
                                        "type": "integer",
                                        "description": "The lower limit number of instances that you can scale down to. Optional, required if using `updateCapacity` as action type and neither `target` nor `maximum` are not defined\n",
                                        "example": 0
                                      },
                                      "maximum": {
                                        "type": "integer",
                                        "description": "The upper limit number of instances that you can scale up to. Optional, required if using `updateCapacity` as action type and neither `target` nor `minimum` are not defined\n",
                                        "example": 5
                                      }
                                    }
                                  },
                                  "namespace": {
                                    "type": "string",
                                    "description": "The namespace for the alarm's associated metric.\n",
                                    "default": "AWS/EC2"
                                  },
                                  "dimentions": {
                                    "type": "array",
                                    "description": "The dimensions for the alarm's associated metric.\nIf the user mentioned name as instanceId, there is NO value\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "InstanceId"
                                        }
                                      }
                                    }
                                  },
                                  "period": {
                                    "type": "integer",
                                    "description": "The period in seconds over which the statistic is applied.\n",
                                    "example": 300
                                  },
                                  "evaluationPeriods": {
                                    "type": "integer",
                                    "description": "The number of periods over which data is compared to the specified threshold.\n",
                                    "example": 1
                                  },
                                  "cooldown": {
                                    "type": "integer",
                                    "description": "The amount of time, in seconds, after a scaling activity completes before any further trigger-related scaling activities can start.\n",
                                    "example": 300
                                  },
                                  "operator": {
                                    "type": "string",
                                    "description": "The operator to use in order to determine if the scaling policy is applicable.\n",
                                    "enum": [
                                      "gt",
                                      "gte",
                                      "lt",
                                      "lte"
                                    ],
                                    "example": "gte"
                                  },
                                  "isEnabled": {
                                    "type": "boolean",
                                    "description": "Specifies whether the scaling policy described in this block is enabled.\n",
                                    "default": true,
                                    "example": true
                                  }
                                }
                              },
                              "down": {
                                "type": "object",
                                "properties": {
                                  "policyName": {
                                    "type": "string",
                                    "description": "The policy name\n",
                                    "example": "my-down-policy"
                                  },
                                  "metricName": {
                                    "type": "string",
                                    "description": "The name of the metric.\n",
                                    "default": "CPUUtilization",
                                    "example": "CPUUtilization"
                                  },
                                  "statistic": {
                                    "type": "string",
                                    "description": "The metric statistics to return.\n",
                                    "enum": [
                                      "average",
                                      "sum",
                                      "sampleCount",
                                      "maximum",
                                      "minimum",
                                      "percentile"
                                    ],
                                    "example": "average"
                                  },
                                  "extendedStatistic": {
                                    "type": "string",
                                    "description": "Percentile statistic. Valid values: p0.1 - p100\n",
                                    "example": "p1.5"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "description": "The unit for the alarm's associated metric.\n",
                                    "enum": [
                                      "seconds",
                                      "microseconds",
                                      "milliseconds",
                                      "bytes",
                                      "kilobytes",
                                      "megabytes",
                                      "gigabytes",
                                      "terabytes",
                                      "bits",
                                      "kilobits",
                                      "megabits",
                                      "gigabits",
                                      "terabits",
                                      "percent",
                                      "count",
                                      "bytes/second",
                                      "kilobytes/second",
                                      "megabytes/second",
                                      "gigabytes/second",
                                      "terabytes/second",
                                      "bits/second",
                                      "kilobits/second",
                                      "megabits/second",
                                      "gigabits/second",
                                      "terabits/second",
                                      "count/second",
                                      "none"
                                    ],
                                    "example": "percent"
                                  },
                                  "threshold": {
                                    "type": "integer",
                                    "description": "The value against which the specified statistic is compared\n",
                                    "example": 90
                                  },
                                  "action": {
                                    "type": "object",
                                    "example": "adjustment",
                                    "description": "The action to take when scale up is needed.\nA mandatory field, that should be filled with one of the following:\n\"adjustment\", \"percentageAdjustment\", \"setMaxTarget\", \"setMinTarget\", \"updateCapacity\".\n",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "description": "The type of the action to take when scale up is needed.\n",
                                        "enum": [
                                          "adjustment",
                                          "updateCapacity setMinTarget",
                                          "percentageAdjustment"
                                        ],
                                        "example": "updateCapacity"
                                      },
                                      "adjustment": {
                                        "type": "integer",
                                        "description": "The number / percentage associated with the specified adjustment type.\nRequired if using `adjustment` or `percentageAdjustment` as action type\n",
                                        "example": 1
                                      },
                                      "minTargetCapacity": {
                                        "type": "integer",
                                        "description": "The number with the target capacity needed.\nRequired if using `setMinTarget` as action type\n",
                                        "example": 1
                                      },
                                      "target": {
                                        "type": "integer",
                                        "description": "The desired number of instances. Required if using `updateCapacity` as action type and neither `minimum` nor `maximum` are not defined.\n",
                                        "example": 1
                                      },
                                      "minimum": {
                                        "type": "integer",
                                        "description": "The lower limit number of instances that you can scale down to. Optional, required if using `updateCapacity` as action type and neither `target` nor `maximum` are not defined\n",
                                        "example": 0
                                      },
                                      "maximum": {
                                        "type": "integer",
                                        "description": "The upper limit number of instances that you can scale up to. Optional, required if using `updateCapacity` as action type and neither `target` nor `minimum` are not defined\n",
                                        "example": 5
                                      }
                                    }
                                  },
                                  "namespace": {
                                    "type": "string",
                                    "description": "The namespace for the alarm's associated metric.\n",
                                    "default": "AWS/EC2"
                                  },
                                  "dimentions": {
                                    "type": "array",
                                    "description": "The dimensions for the alarm's associated metric.\nIf the user mentioned name as instanceId, there is NO value\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "InstanceId"
                                        }
                                      }
                                    }
                                  },
                                  "period": {
                                    "type": "integer",
                                    "description": "The period in seconds over which the statistic is applied.\n",
                                    "example": 300
                                  },
                                  "evaluationPeriods": {
                                    "type": "integer",
                                    "description": "The number of periods over which data is compared to the specified threshold.\n",
                                    "example": 1
                                  },
                                  "cooldown": {
                                    "type": "integer",
                                    "description": "The amount of time, in seconds, after a scaling activity completes before any further trigger-related scaling activities can start.\n",
                                    "example": 300
                                  },
                                  "operator": {
                                    "type": "string",
                                    "description": "The operator to use in order to determine if the scaling policy is applicable.\n",
                                    "enum": [
                                      "gt",
                                      "gte",
                                      "lt",
                                      "lte"
                                    ],
                                    "example": "gte"
                                  },
                                  "isEnabled": {
                                    "type": "boolean",
                                    "description": "Specifies whether the scaling policy described in this block is enabled.\n",
                                    "default": true,
                                    "example": true
                                  }
                                }
                              },
                              "target": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "title": "Source",
                                    "description": "The source of the metric Supported values: “cloudWatch”, “spectrum”",
                                    "type": "string",
                                    "example": "spectrum"
                                  },
                                  "policyName": {
                                    "type": "string",
                                    "description": "The policy name\n",
                                    "example": "my-up-policy"
                                  },
                                  "metricName": {
                                    "type": "string",
                                    "description": "The name of the metric.\n",
                                    "default": "CPUUtilization",
                                    "example": "CPUUtilization"
                                  },
                                  "statistic": {
                                    "type": "string",
                                    "description": "The metric statistics to return.\n",
                                    "enum": [
                                      "average",
                                      "sum",
                                      "sampleCount",
                                      "maximum",
                                      "minimum",
                                      "percentile"
                                    ],
                                    "example": "average"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "description": "The unit for the alarm's associated metric.\n",
                                    "enum": [
                                      "seconds",
                                      "microseconds",
                                      "milliseconds",
                                      "bytes",
                                      "kilobytes",
                                      "megabytes",
                                      "gigabytes",
                                      "terabytes",
                                      "bits",
                                      "kilobits",
                                      "megabits",
                                      "gigabits",
                                      "terabits",
                                      "percent",
                                      "count",
                                      "bytes/second",
                                      "kilobytes/second",
                                      "megabytes/second",
                                      "gigabytes/second",
                                      "terabytes/second",
                                      "bits/second",
                                      "kilobits/second",
                                      "megabits/second",
                                      "gigabits/second",
                                      "terabits/second",
                                      "count/second",
                                      "none"
                                    ],
                                    "example": "percent"
                                  },
                                  "namespace": {
                                    "type": "string",
                                    "description": "The namespace for the alarm's associated metric.\n",
                                    "default": "AWS/EC2"
                                  },
                                  "target": {
                                    "type": "integer",
                                    "description": "The target value for the group\n",
                                    "example": 1
                                  },
                                  "cooldown": {
                                    "type": "integer",
                                    "description": "The amount of time, in seconds, after a scaling activity completes before any further trigger-related scaling activities can start.\n",
                                    "example": 300
                                  }
                                }
                              }
                            }
                          },
                          "scheduling": {
                            "type": "object",
                            "title": "Elastigroup Scheduling",
                            "description": "Schedule tasks to execute, using CRON expressions.\n",
                            "properties": {
                              "tasks": {
                                "type": "array",
                                "description": "The scheduling tasks for the group.\n",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean",
                                      "description": "Describes whether the task is enabled. When true the task should run when false it should not run.\n",
                                      "example": true
                                    },
                                    "startTime": {
                                      "type": "string",
                                      "description": "DATETIME in ISO-8601 format and is in UTC time. Sets a start time for scheduled actions.\nIf \"frequency\" or \"cronExpression\" are not used - the task will run only once at the start time and will then be deleted from the group configuration.\n",
                                      "example": "2018-05-23T10:55:09Z"
                                    },
                                    "frequency": {
                                      "type": "string",
                                      "description": "The recurrence frequency to run this task.\nOnly one of ‘frequency' or ‘cronExpression' should be used at a time\n",
                                      "enum": [
                                        "hourly",
                                        "daily",
                                        "weekly"
                                      ],
                                      "example": "hourly"
                                    },
                                    "cronExpression": {
                                      "type": "string",
                                      "description": "A valid cron expression.\nThe cron is running in UTC time zone and is in Unix cron format Cron Expression Validator Script.\nOnly one of ‘frequency' or ‘cronExpression' should be used at a time.\n",
                                      "example": "0 1 * * *"
                                    },
                                    "taskType": {
                                      "type": "string",
                                      "description": "The task type to run.\n",
                                      "enum": [
                                        "backup_ami",
                                        "scale",
                                        "scaleUp",
                                        "roll",
                                        "statefulUpdateCapacity",
                                        "statefulRecycle",
                                        "clusterRoll (For ECS Integration)"
                                      ],
                                      "example": "scale"
                                    },
                                    "scaleTargetCapacity": {
                                      "type": "integer",
                                      "description": "The target capacity of the group.\nShould be used when choosing ‘taskType' of ‘scale'.\n"
                                    },
                                    "scaleMinCapacity": {
                                      "type": "integer",
                                      "description": "The min capacity of the group.\nShould be used when choosing ‘taskType' of ‘scale'.\n"
                                    },
                                    "scaleMaxCapacity": {
                                      "type": "integer",
                                      "description": "The max capacity of the group.\nRequired when ‘taskType' is ‘scale'.\n"
                                    },
                                    "targetCapacity": {
                                      "type": "integer",
                                      "description": "Set a new target capacity for the Elastigroup.\nRequired when ‘taskType' is ‘statefulUpdateCapacity'.\n"
                                    },
                                    "MinCapacity": {
                                      "type": "integer",
                                      "description": "Set a new minimum capacity for the Elastigroup.\nRequired when ‘taskType' is ‘statefulUpdateCapacity'.\n"
                                    },
                                    "MaxCapacity": {
                                      "type": "integer",
                                      "description": "Set a new maximum capacity for the Elastigroup.\nRequired when ‘taskType' is ‘statefulUpdateCapacity'.\n"
                                    },
                                    "batchSizePercentage": {
                                      "type": "integer",
                                      "description": "The percentage size of each batch in the scheduled deployment roll.\nRequired when the taskType is roll.\n"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "thirdPartiesIntegration": {
                            "type": "object",
                            "title": "Elastigroup Third Party Integrations",
                            "description": "All definitions for using third-party Integrations\n",
                            "properties": {
                              "rancher": {
                                "type": "object",
                                "description": "Rancher integration object.\n",
                                "properties": {
                                  "masterHost": {
                                    "type": "string",
                                    "description": "Rancher master url\n",
                                    "example": "http://myRancher.com:8080/v1"
                                  },
                                  "accessKey": {
                                    "type": "string",
                                    "description": "Rancher version\n",
                                    "example": "1",
                                    "default": "1"
                                  },
                                  "secretKey": {
                                    "type": "string",
                                    "example": "SECRET"
                                  },
                                  "version": {
                                    "type": "string",
                                    "example": 1
                                  }
                                }
                              },
                              "kubernetes": {
                                "type": "object",
                                "properties": {
                                  "integrationMode": {
                                    "type": "string",
                                    "example": "pod"
                                  },
                                  "clusterIdentifier": {
                                    "type": "string",
                                    "example": "test-k8s"
                                  },
                                  "autoScale": {
                                    "type": "object",
                                    "properties": {
                                      "isEnabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "cooldown": {
                                        "type": "integer",
                                        "example": 300
                                      },
                                      "down": {
                                        "type": "object",
                                        "description": "Auto Scaling scale down operations.\n",
                                        "properties": {
                                          "evaluationPeriods": {
                                            "type": "integer",
                                            "example": 5
                                          },
                                          "maxScaleDownPercentage": {
                                            "type": "integer",
                                            "description": "The maximum % of nodes that will be scaled down at once out of the total amount of potential nodes to scale down.\nexample: if 10 nodes can be scaled down, only 5 will be given 50% in this parameter.\nthe other 50% will be scaled down in the next autoscaling iteration.\n",
                                            "example": 70
                                          },
                                          "headroom": {
                                            "type": "object",
                                            "description": "Spare resource capacity management enabling fast assignment of Pods without waiting for new resources to launch.\n",
                                            "properties": {
                                              "cpuPerUnit": {
                                                "type": "integer",
                                                "description": "Optionally configure the number of CPUs to allocate per headroom unit. CPUs are denoted in CPU units, where 1024 units = 1 vCPU.\n",
                                                "example": 2048
                                              },
                                              "memoryPerUnit": {
                                                "type": "integer",
                                                "description": "Optionally configure the amount of memory (MiB) to allocate per headroom unit.\n",
                                                "example": 3
                                              },
                                              "numOfUnits": {
                                                "type": "integer",
                                                "description": "The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.\n",
                                                "example": 2
                                              },
                                              "gpuPerUnit": {
                                                "type": "integer",
                                                "example": 2
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "labels": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "key": {
                                              "type": "string",
                                              "example": "group, kops.k8s.io/instancegroup"
                                            },
                                            "value": {
                                              "type": "string",
                                              "example": "microservices"
                                            }
                                          }
                                        }
                                      },
                                      "isAutoConfig": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": false
                                      }
                                    }
                                  }
                                }
                              },
                              "mesosphere": {
                                "type": "object",
                                "properties": {
                                  "apiServer": {
                                    "type": "string",
                                    "example": "1.2.3.4"
                                  }
                                }
                              },
                              "mlbRuntime": {
                                "type": "object",
                                "properties": {
                                  "deploymentId": {
                                    "type": "string",
                                    "example": "dp-rm0f5b912345"
                                  }
                                }
                              },
                              "nomad": {
                                "type": "object",
                                "properties": {
                                  "masterHost": {
                                    "type": "string",
                                    "example": "https://master.host.com"
[...]
