type: object
required:
- createdAt
- updatedAt
- id
- displayName
- clusterId
- config
allOf:
- $ref: "../../../../commons/schemas/createdAtUpdatedAt.yaml"
- type: object
  description: >
    The description of a configuration template
  properties:
    id:
      $ref: "oceanSparkConfigTemplateId.yaml"
    displayName:
      $ref: "oceanSparkConfigTemplateDisplayName.yaml"
    clusterId:
      $ref: "oceanSparkClusterId.yaml"
    config:
      $ref: "oceanSparkApplicationSpec.yaml"
