type: object
description: >
  The object specifying the Ocean Spark Ingress configuration.
properties:
  serviceAnnotations:
    type: object
    additionalProperties:
      type: string
    description: |
      DEPRECATED: Use `loadBalancer.serviceAnnotations` instead. 
      Annotations to add to the ingress load balancer service. This is useful to configure properties of the managed load balancer, 
      like the nature of the load balancer (e.g. ELB, NLB, ALB on AWS), 
      the security groups, or various timeouts.
    example:
      "service.beta.kubernetes.io/aws-load-balancer-security-groups": sg-03ba056e31f183482
  controller:
    $ref: "oceanSparkClusterConfigIngressController.yaml"
  loadBalancer:
    $ref: "oceanSparkClusterConfigIngressLoadBalancer.yaml"
  customEndpoint:
    $ref: "oceanSparkClusterConfigIngressCustomEndpoint.yaml"
  privateLink:
    $ref: "oceanSparkClusterConfigIngressPrivateLink.yaml"