get:
  operationId: get_setting_items
  parameters:
  - $ref: "../parameters/service.yaml"
  - $ref: "../parameters/disable_redact.yaml"
  - $ref: "../parameters/workspace_id.yaml"
  responses:
    '200':
      content: {}
      description: Success
    '400': &id001
      content: {}
      description: Bad Request
  summary: Get the list of instances for a given integration/resource
  tags:
  - Connect Settings
parameters: []
post:
  operationId: post_setting_items
  parameters:
  - $ref: "../parameters/service.yaml"
  - $ref: "../parameters/workspace_id.yaml"
  responses:
    '200':
      content: {}
      description: Success
    '400': *id001
  summary: Create a new secret for a given service
  tags:
  - Connect Settings
