openapi: "3.0.0"
info:
  version: "1.0"
  description: |
    Welcome to the Spot by NetApp OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.spot.io/).
  title: Spot by NetApp API
  x-logo:
    url: https://docs.spot.io/_media/images/spot.png
    altText: SpotByNetAppLogo
    href: https://docs.spot.io/api
  contact:
    email: support@spot.io
externalDocs:
  url: https://docs.spot.io/
servers:
  - url: https://api.spotinst.io
security:
  - auth: [ ]

#components:
#  securitySchemes:
#    auth:
#      $ref: commons/security.yaml#/components/securitySchemes/BearerAuth

tags:
  - name: Elastigroup AWS
    description: Elastigroup for Amazon Web Services (AWS)
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup Azure Spot VMs
    description: Elastigroup for Microsoft Azure
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup Azure Scale Set VMs
    description: Elastigroup for Microsoft Azure Scale Set
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup GCP
    description: Elastigroup for Google Cloud
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup Azure Stateful
    description: Elastigroup for Microsoft Azure Stateful Node
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

x-tagGroups:
  - name: Elastigroup
    tags:
      - Elastigroup AWS
      - Elastigroup AWS EMR Scaler
      - Elastigroup GCP
      - Elastigroup Azure Spot VMs
      - Elastigroup Azure Scale Set VMs
      - Elastigroup Azure Stateful

paths:
  /aws/ec2/group:
    $ref: services/elastigroup/aws/paths/groups.yaml
  /aws/ec2/group/{groupId}:
    $ref: services/elastigroup/aws/paths/group.yaml
  /aws/ec2/group/{groupId}/statefulInstance:
    $ref: services/elastigroup/aws/paths/listStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}/pause:
    $ref: services/elastigroup/aws/paths/pauseStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}/resume:
    $ref: services/elastigroup/aws/paths/resumeStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}/recycle:
    $ref: services/elastigroup/aws/paths/recycleStatefulAPI.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}/deallocate:
    $ref: services/elastigroup/aws/paths/deallocateStatefulAPI.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}/volume/{volumeId}:
    $ref: services/elastigroup/aws/paths/deleteVolumeStatefulInstance.yaml
  /aws/ec2/statefulMigrationGroup:
    $ref: services/elastigroup/aws/paths/statefulMigrationGroups.yaml
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}:
    $ref: services/elastigroup/aws/paths/statefulMigrationGroup.yaml
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}/userAction:
    $ref: services/elastigroup/aws/paths/terminateStatefulInstanceDuringImportProcess.yaml
  /aws/ec2/instance/{instanceId}/lock:
    $ref: services/elastigroup/aws/paths/instance-lock.yaml
  /aws/ec2/instance/{instanceId}/unlock:
    $ref: services/elastigroup/aws/paths/instance-unlock.yaml
  /aws/emr/mrScaler:
    $ref: services/elastigroup/aws/emr/paths/mr-scalers.yaml
  /aws/emr/mrScalerOperator:
    $ref: services/elastigroup/aws/emr/paths/mr-scalers-operator.yaml
  /aws/emr/mrScaler/{mrScalerId}:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler.yaml
  /aws/emr/mrScaler/{mrScalerId}/instance:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-instance.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/up:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-scale-up.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/down:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-scale-down.yaml
  /aws/emr/mrScaler/{mrScalerId}/cluster:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-cluster.yaml
  /aws/emr/mrScaler/{mrScalerId}/costs:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-costs.yaml
  /aws/ec2/group/{groupId}/status:
    $ref: services/elastigroup/aws/paths/status.yaml
  /aws/ec2/group/{groupId}/events:
    $ref: services/elastigroup/aws/paths/events.yaml
  /aws/ec2/group/{groupId}/logs:
    $ref: services/elastigroup/aws/paths/logs.yaml
  /aws/ec2/group/{groupId}/capacity:
    $ref: services/elastigroup/aws/paths/capacity.yaml
  /aws/ec2/group/{groupId}/scale/up:
    $ref: services/elastigroup/aws/paths/scale-up.yaml
  /aws/ec2/group/{groupId}/scale/down:
    $ref: services/elastigroup/aws/paths/scale-down.yaml
  /aws/ec2/group/{groupId}/scale/suspendPolicy:
    $ref: services/elastigroup/aws/paths/suspend-policy.yaml
  /aws/ec2/group/{groupId}/suspension:
    $ref: services/elastigroup/aws/paths/suspension.yaml
  /aws/ec2/group/{groupId}/scale/suspensions:
    $ref: services/elastigroup/aws/paths/suspensions.yaml
  /aws/ec2/group/{groupId}/scale/resumePolicy:
    $ref: services/elastigroup/aws/paths/resume-policy.yaml
  /aws/potentialSavings:
    $ref: services/elastigroup/aws/paths/potential-savings.yaml
  /aws/instancePotentialSavings:
    $ref: services/elastigroup/aws/paths/instances-potential-savings.yaml
  /aws/costs:
    $ref: services/elastigroup/aws/paths/costs.yaml
  /aws/ec2/group/{groupId}/costs:
    $ref: services/elastigroup/aws/paths/elastigroup-costs.yaml
  /aws/ec2/group/{groupId}/costs/detailed:
    $ref: services/elastigroup/aws/paths/elastigroup-costs-detailed.yaml
  /aws/ec2/instance/{instanceId}:
    $ref: services/elastigroup/aws/paths/instance-status.yaml
  /aws/ec2/group/instance/import:
    $ref: services/elastigroup/aws/paths/import.yaml
  /aws/ec2/group/{groupId}/amiBackup:
    $ref: services/elastigroup/aws/paths/elastigroup-ami-backup.yaml
  /aws/ec2/group/{groupId}/instanceHealthiness:
    $ref: services/elastigroup/aws/paths/instanceHealthiness.yaml
  /aws/ec2/group/{groupId}/detachInstances:
    $ref: services/elastigroup/aws/paths/detach-instances.yaml
  /aws/ec2/group/autoScalingGroup/import:
    $ref: services/elastigroup/aws/paths/import-asg.yaml
  /aws/ec2/spotType:
    $ref: services/elastigroup/aws/paths/get-instance-by-region.yaml
  /aws/ec2/instanceTypeRecommendation:
    $ref: services/elastigroup/aws/paths/suggested-instance-type.yaml
  /aws/ec2/instance/interruption:
    $ref: services/elastigroup/aws/paths/instance-interruption.yaml
  /aws/ec2/instance/signal:
    $ref: services/elastigroup/aws/paths/instance-signal.yaml
  /aws/ec2/instance/{instanceId}/standby/enter:
    $ref: services/elastigroup/aws/paths/instance-standby.yaml
  /aws/ec2/instance/{instanceId}/standby/exit:
    $ref: services/elastigroup/aws/paths/instance-exit-standby.yaml
  /aws/ec2/group/{groupId}/roll:
    $ref: services/elastigroup/aws/paths/elastigroup-deployments.yaml
  /aws/ec2/group/{groupId}/roll/{rollId}:
    $ref: services/elastigroup/aws/paths/elastigroup-stop-deployment.yaml
  /aws/ec2/group/{groupId}/roll/{rollId}/status:
    $ref: services/elastigroup/aws/paths/elastigroup-deployment-status.yaml
  /aws/ec2/group/{groupId}/roll/{rollId}/action:
    $ref: services/elastigroup/aws/paths/elastigroup-deployment-action.yaml
  /compute/azure/group:
    $ref: services/elastigroup/azure/scaleSetVms/paths/groups.yaml
  /compute/azure/group/{groupId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group.yaml
  /compute/azure/group/{groupId}/status:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-status.yaml
  /compute/azure/group/{groupId}/detachInstances:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-detach.yaml
  /compute/azure/group/{groupId}/roll:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-deployments.yaml
  /compute/azure/group/{groupId}/roll/{rollId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/roll.yaml
  /compute/azure/group/{groupId}/roll/{deploymentId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-deployment.yaml
  /azure/costs:
    $ref: services/elastigroup/azure/scaleSetVms/paths/costs.yaml
  /azure/compute/group/{groupId}:
    $ref: services/elastigroup/azure/spotVms/paths/groupVm.yaml
  /azure/compute/group/{groupId}/capacity:
    $ref: services/elastigroup/azure/spotVms/paths/groupCapacity.yaml
  /azure/compute/group:
    $ref: services/elastigroup/azure/spotVms/paths/groupsVm.yaml
  /azure/compute/group/{groupId}/status:
    $ref: services/elastigroup/azure/spotVms/paths/group-statusVm.yaml
  /azure/compute/group/{groupId}/vmHealthiness:
    $ref: services/elastigroup/azure/spotVms/paths/vm-healthiness.yaml
  /azure/compute/group/{groupId}/suspend:
    $ref: services/elastigroup/azure/spotVms/paths/group-statusVm-suspend-update.yaml
  /azure/compute/group/{groupId}/resume:
    $ref: services/elastigroup/azure/spotVms/paths/group-statusVm-resume-update.yaml
  /azure/compute/group/{groupId}/detachVms:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDetach.yaml
  /azure/compute/group/{groupId}/scale/down:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmScaleDown.yaml
  /azure/compute/group/{groupId}/scale/up:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmScaleUp.yaml
  /azure/compute/group/{groupId}/deployment:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeployments.yaml
  /azure/compute/group/{groupId}/deployment/{deploymentId}:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeployment.yaml
  /azure/compute/group/{groupId}/deployment/{deploymentId}/details:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeploymentDetails.yaml
  /azure/compute/group/import/resourceGroup/{resourceGroupName}/scaleSet/{scaleSetName}:
    $ref: services/elastigroup/azure/spotVms/paths/importFromScaleset.yaml
  /azure/compute/group/import/resourceGroup/{resourceGroupName}/virtualMachine/{virtualMachineName}:
    $ref: services/elastigroup/azure/spotVms/paths/importFromVirtualMachine.yaml
  /azure/compute/group/import/resourceGroup/{resourceGroupName}/loadBalancer/{loadBalancerName}/backendPool/{backendPoolName}:
    $ref: services/elastigroup/azure/spotVms/paths/importFromLoadBalancer.yaml
  /azure/compute/group/import/resourceGroup/{resourceGroupName}/applicationGateway/{applicationGatewayName}/backendPool/{backendPoolName}:
    $ref: services/elastigroup/azure/spotVms/paths/importFromApplicationGateway.yaml
  /azure/compute/vm/signal:
    $ref: services/elastigroup/azure/spotVms/paths/vmSignal.yaml
  /azure/compute/group/{groupId}/vm/{vmName}/protection:
    $ref: services/elastigroup/azure/spotVms/paths/vmProtection.yaml
  /azure/compute/group/{groupId}/logs:
    $ref: services/elastigroup/azure/spotVms/paths/vmLogs.yaml
  /azure/compute/statefulNode:
    $ref: services/elastigroup/azure/stateful/node/paths/createGetAll.yaml
  /azure/compute/statefulNode/{nodeId}:
    $ref: services/elastigroup/azure/stateful/node/paths/deleteUpdateGet.yaml
  /azure/compute/statefulNode/{nodeId}/resources:
    $ref: services/elastigroup/azure/stateful/node/paths/getResources.yaml
  /azure/compute/statefulNode/{nodeId}/status:
    $ref: services/elastigroup/azure/stateful/node/paths/getStatus.yaml
  /azure/compute/statefulNode/status:
    $ref: services/elastigroup/azure/stateful/node/paths/getAllStatus.yaml
  /azure/compute/statefulNode/{nodeId}/state:
    $ref: services/elastigroup/azure/stateful/node/paths/changeState.yaml
  /azure/compute/statefulNode/resourceGroup/{resourceGroupName}/virtualMachine/{virtualMachineName}/importConfiguration:
    $ref: services/elastigroup/azure/stateful/node/paths/getImportConfiguration.yaml
  /azure/compute/statefulNode/import:
    $ref: services/elastigroup/azure/stateful/node/paths/importVm.yaml
  /azure/compute/statefulNode/import/{importId}/status:
    $ref: services/elastigroup/azure/stateful/node/paths/getImportStatus.yaml
  /azure/compute/statefulNode/{nodeId}/dataDisk/attach:
    $ref: services/elastigroup/azure/stateful/node/paths/attachDataDisk.yaml
  /azure/compute/statefulNode/{nodeId}/dataDisk/detach:
    $ref: services/elastigroup/azure/stateful/node/paths/detachDataDisk.yaml
  /azure/compute/statefulNode/{nodeId}/log:
    $ref: services/elastigroup/azure/stateful/node/paths/getLogs.yaml
  /azure/compute/statefulNode/cost:
    $ref: services/elastigroup/azure/stateful/node/paths/getAggregatedCosts.yaml
  /azure/compute/statefulNode/cost/daily:
    $ref: services/elastigroup/azure/stateful/node/paths/getDailyAggregatedCosts.yaml
  /azure/compute/statefulNode/sizeUsage/daily:
    $ref: services/elastigroup/azure/stateful/node/paths/getDailyVmSizeUsage.yaml
  /gcp/gce/group:
    $ref: services/elastigroup/gcp/paths/groups.yaml
  /gcp/gce/group/{groupId}:
    $ref: services/elastigroup/gcp/paths/group.yaml
  /gcp/gce/group/gke/import:
    $ref: services/elastigroup/gcp/paths/gke-import.yaml
  /gcp/gce/group/{groupId}/status:
    $ref: services/elastigroup/gcp/paths/group-status.yaml
  /gcp/gce/group/{groupId}/events:
    $ref: services/elastigroup/gcp/paths/group-event.yaml
  /gcp/gce/group/{groupId}/log:
    $ref: services/elastigroup/gcp/paths/group-elastilog.yaml
  /gcp/gce/group/{groupId}/scale/up:
    $ref: services/elastigroup/gcp/paths/group-scale-up.yaml
  /gcp/gce/group/{groupId}/scale/down:
    $ref: services/elastigroup/gcp/paths/group-scale-down.yaml
  /gcp/gce/group/{groupId}/costs:
    $ref: services/elastigroup/gcp/paths/group-costs.yaml
  /gcp/gce/group/{groupId}/roll:
    $ref: services/elastigroup/gcp/paths/group-rolls.yaml
  /gcp/gce/group/{groupId}/roll/{rollId}:
    $ref: services/elastigroup/gcp/paths/group-roll.yaml
  /gcp/gce/group/{groupId}/deatchInstances:
    $ref: services/elastigroup/gcp/paths/group-detach-instances.yaml
  /gcp/gce/instance/{instanceId}:
    $ref: services/elastigroup/gcp/paths/instance-status.yaml
  /gcp/gce/instance/{instanceId}/lock:
    $ref: services/elastigroup/gcp/paths/instance-lock.yaml
  /gcp/gce/instance/{instanceId}/unlock:
    $ref: services/elastigroup/gcp/paths/instance-unlock.yaml
  /aws/ec2/group/{groupId}/clusterRoll:
    $ref: services/elastigroup/aws/paths/ecsGroupClusterRoll.yaml
  /aws/ec2/group/{groupId}/clusterRoll/{rollId}:
    $ref: services/elastigroup/aws/paths/ecsGroupClusterRollId.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/start:
    $ref: services/elastigroup/aws/paths/ecsBeanstalk.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/finish:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkFinish.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/status:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkStatus.yaml
  /aws/ec2/group/beanstalk/import:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkImport.yaml
  /aws/ec2/group/{groupId}/beanstalk/reimport:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkReImport.yaml
  /aws/ec2/group/{groupId}/codeDeploy/blueGreenDeployment:
    $ref: services/elastigroup/aws/paths/blueGreenDeployment.yaml
  /aws/ec2/group/{groupId}/itf/migration:
    $ref: services/elastigroup/aws/paths/itf/listItfListenerRuleMigrations.yaml
  /aws/ec2/group/{groupId}/itf/migration/{migrationId}:
    $ref: services/elastigroup/aws/paths/itf/updateItfListenerRuleMigration.yaml

