openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Flexera Integration
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags: []
paths:
  /ccoUsageExporter/flexeraIntegration:
    get:
      summary: Get CCO Integration
      description: |
        Get details for the selected Flexera CCO integration
      operationId: getFlexeraCcoIntegration
      tags:
        - Flexera CCO Integration
      security:
        - authWithoutAccount: []
      responses:
        '200':
          description: Get Flexera CCO Integration Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_0
                    type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /ccoUsageExporter/flexeraIntegration
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /ccoUsageExporter/flexeraIntegration
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes the status, type, and any relevant data
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code associated with this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message associated with the status code
                            example:
                              code: 200
                              message: OK
                          kind:
                            type: string
                            example: mcs:ocean:ccoUsageExporter:flexeraIntegration
                            description: |
                              Specifies the data type for each object returned in the response
                        example:
                          status:
                            code: 200
                            message: OK
                          kind: mcs:ocean:ccoUsageExporter:flexeraIntegration
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          method:
                            example: GET
                        example:
                          method: GET
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items: &ref_1
                              type: object
                              properties:
                                spotOrganizationId:
                                  type: integer
                                  description: |
                                    Spot Organization ID
                                  example: 172012381312
                                flexeraOrganizationId:
                                  type: integer
                                  description: |
                                    Flexera Organization ID
                                  example: 9921
                                flexeraBillConnectId:
                                  type: string
                                  description: |
                                    Flexera Bill Connect ID
                                  example: cbi-oi-ocean-bill-connect
                              example: &ref_2
                                spotOrganizationId: 172012381312
                                flexeraOrganizationId: 9921
                                flexeraBillConnectId: cbi-oi-ocean-bill-connect
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          items:
                            - spotOrganizationId: 172012381312
                              flexeraOrganizationId: 9921
                              flexeraBillConnectId: cbi-oi-ocean-bill-connect
                          count: 1
        '400':
          description: Bad Request
    post:
      summary: Create CCO Integration
      description: |
        Create Flexera CCO integration
      operationId: createFlexeraCcoIntegration
      tags:
        - Flexera CCO Integration
      security:
        - authWithoutAccount: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - &ref_3
                  type: object
                  properties:
                    flexeraOrganizationId:
                      type: integer
                      description: |
                        Flexera Organization ID
                      example: 9921
                    flexeraRefreshToken:
                      type: string
                      description: |
                        Flexera Refresh Token
                      example: token
                    flexeraBillConnectId:
                      type: string
                      description: |
                        Flexera Bill Connect ID
                      example: cbi-oi-ocean-container-cost
      responses:
        '200':
          description: Create Flexera CCO Integration Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_0
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          method:
                            example: POST
                        example:
                          method: POST
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items: *ref_1
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          items:
                            - *ref_2
                          count: 1
        '400':
          description: Bad Request
    put:
      summary: Update CCO Integration
      description: |
        Update Flexera CCO integration.

        Flexera CCO integration API supports partial updates, allowing specific fields to be updated without sending the entire resource.
      operationId: updateFlexeraCcoIntegration
      tags:
        - Flexera CCO Integration
      security:
        - authWithoutAccount: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - *ref_3
      responses:
        '200':
          description: Update Flexera CCO Integration Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_0
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          method:
                            example: PUT
                        example:
                          method: PUT
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items: *ref_1
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          items:
                            - *ref_2
                          count: 1
        '400':
          description: Bad Request
    delete:
      summary: Delete CCO Integration
      description: |
        Delete Flexera CCO integration
      operationId: deleteFlexeraCcoIntegration
      tags:
        - Flexera CCO Integration
      security:
        - authWithoutAccount: []
      responses:
        '200':
          description: Delete Flexera CCO Integration Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_0
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          method:
                            example: DELETE
                        example:
                          method: DELETE
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          removed:
                            type: boolean
                            example: true
                            description: |
                              Response is `true` if the Flexera CCO integration was successfully deleted
                        example:
                          removed: true
        '400':
          description: Bad Request
