openapi: "3.0.0"
info:
  version: "1.0"
  description: |
    Welcome to the Spot by NetApp OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts and tutorials see the external [Spot Documentation](https://docs.spot.io/).
  title: Spot by NetApp API
  contact:
    email: support@spot.io
externalDocs:
  url: https://docs.spot.io/
servers:
  - url: https://api.spotinst.io/
security:
  - auth: []

components:
  securitySchemes:
    Auth:
      $ref: commons/security.yaml#/components/securitySchemes/BearerAuth

tags:
  - name: Elastigroup AWS
    description: Elastigroup for Amazon Web Services (AWS)
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup Azure Spot VMs
    description: Elastigroup for Microsoft Azure
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup Azure Scale Set VMs
    description: Elastigroup for Microsoft Azure Scale Set
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Elastigroup GCP
    description: Elastigroup for Google Cloud
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/

  - name: Ocean AWS
    description: Ocean - Serverless containers for Amazon Web Services (AWS)
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.spot.io/ocean/

  - name: Ocean ECS
    description: Ocean - Serverless containers for Amazon Elastic Container Service (ECS)
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.spot.io/ocean/

  - name: Ocean GKE
    description: Ocean - Serverless containers for for Google Kubernetes Engine
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.spot.io/ocean/

  - name: Ocean On-Premise
    description: Ocean On-Premise API - Understand cost drivers within you on-premise clusters and compare the costs to the Ocean Cloud.
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.spot.io/ocean/

  - name: EMR Scaler
    description: AWS EMR Scaler
    externalDocs:
      description: AWS EMR Scaler Concepts and Tutorials
      url: https://docs.spot.io/elastigroup/tools-integrations/elastic-mapreduce/

  - name: Managed Instance AWS
    description: |
      Managed Instances are Spots solution for launching and managing a single compute instance.
      On the AWS cloud, for a standard single instance workload, an On-Demand EC2 instance is launched.
      The instance is expected to be highly available, easily manageable, and integrate well with additional services and monitoring tools.
      For more information please review the concepts section.
    externalDocs:
      description: Managed Instance for AWS Concepts and Tutorials
      url: https://docs.spot.io/managed-instance/

  - name: Create an API Token
    description: |
      * Please log in to the [Spot Console](https://console.spotinst.com) to create an API token. Navigate to `Settings` and select `API`.
      * The [Spot Console](https://console.spotinst.com) provides both permanent and temporary tokens. Select your preferred token type and click `Generate Token`.
      * Give your token a name and click `Generate`.
      > NOTE: Remember to keep your tokens secret; treat them just like passwords! They act on your behalf when interacting with the API. Do not share your personal access tokens with anyone outside your organization. Dont hard-code them into your programs; instead, opt to use them as environment variables. Please contact our support if youre concerned your token has been compromised.
    externalDocs:
      url: https://docs.spot.io/administration/api/create-api-token

  - name: Whitelist IPs
    description: |
      * Spot whitelist IPs are required for integrations to work as expected. The IP needs to be white-listed on the Master nodes of Rancher, HCS, Kubernetes, Chef, Nomad, and Docker Swarm. Make sure your white-list IPs are always up-to-date with the latest list.
      *  34.226.61.134/32
    externalDocs:
      url: https://docs.spot.io/administration/api/whitelist-ips

  - name: Spot Policy
    description: |
      Spots Latest Policy for AWS.
      * You can find and modify your Spot Policy in the AWS IAM Console.
      * For additional information and guide please see Updating the Spot Policy
      * You can restrict your Spot Policy using custom AWS IAM Condition Statements using this Guide.
      *  Make sure your policy is always up-to-date with the latest JSON
    externalDocs:
      url: https://docs.spot.io/administration/api/spot-policy-in-aws

  - name: Audit Service
    externalDocs:
      url: https://docs.spot.io/api/#tag/Audit-Service

  - name: Health Check Service
    externalDocs:
      url: https://docs.spot.io/elastigroup/tools-integrations/custom-health-check-service

  - name: Notifications Service
    description:  |
      A Spot Notifications service enables you a fast, flexible, fully managed push notification service that lets you know about major events that happened in your Spot account.ֿ Spot Notifications makes it simple and cost-effective to get push notifications to your email address, HTTP, HTTPS or AWS SNS (Simple Notifications Service).

  - name: Insights Service

x-tagGroups:
  - name: Administration
    tags:
      - Organizations
      - Accounts
  - name: Ocean
    tags:
      - Ocean AWS
      - Ocean ECS
      - Ocean GKE
      - Ocean On-Premise
  - name: Elastigroup
    tags:
      - Elastigroup AWS
      - Elastigroup AWS EMR Scaler
      - Elastigroup GCP
      - Elastigroup Azure Spot VMs
      - Elastigroup Azure Scale Set VMs
  - name: Managed Instance
    tags:
      - Managed Instance AWS
  - name: Services
    tags:
      - Audit Service
      - Health Check Service
      - Notifications Service
      - Insights Service

paths:
  /aws/ec2/group:
    $ref: services/elastigroup/aws/paths/groups.yaml
  /aws/ec2/group/{groupId}:
    $ref: services/elastigroup/aws/paths/group.yaml
  /aws/ec2/group/{groupId}/statefulInstance:
    $ref: services/elastigroup/aws/paths/listStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/pause:
    $ref: services/elastigroup/aws/paths/pauseStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/resume:
    $ref: services/elastigroup/aws/paths/resumeStatefulInstances.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/recycle:
    $ref: services/elastigroup/aws/paths/recycleStatefulAPI.yaml
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/deallocate:
    $ref: services/elastigroup/aws/paths/deallocateStatefulAPI.yaml
  /aws/ec2/statefulMigrationGroup:
    $ref: services/elastigroup/aws/paths/statefulMigrationGroups.yaml
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}:
    $ref: services/elastigroup/aws/paths/statefulMigrationGroup.yaml
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}/userAction:
    $ref: services/elastigroup/aws/paths/terminateStatefulInstanceDuringImportProcess.yaml
  /aws/ec2/instance/{instanceId}/lock:
    $ref: services/elastigroup/aws/paths/instance-lock.yaml
  /aws/ec2/instance/{instanceId}/unlock:
    $ref: services/elastigroup/aws/paths/instance-unlock.yaml
  /aws/emr/mrScaler:
    $ref: services/elastigroup/aws/emr/paths/mr-scalers.yaml
  /aws/emr/mrScaler/{mrScalerId}:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler.yaml
  /aws/emr/mrScaler/{mrScalerId}/instance:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-instance.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/up:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-scale-up.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/down:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-scale-down.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/cluster:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-cluster.yaml
  /aws/emr/mrScaler/{mrScalerId}/scale/costs:
    $ref: services/elastigroup/aws/emr/paths/mr-scaler-costs.yaml
  /aws/ec2/group/{groupId}/status:
    $ref: services/elastigroup/aws/paths/status.yaml
  /aws/ec2/group/{groupId}/events:
    $ref: services/elastigroup/aws/paths/events.yaml
  /aws/ec2/group/{groupId}/logs:
    $ref: services/elastigroup/aws/paths/logs.yaml
  /aws/ec2/group/{groupId}/capacity:
    $ref: services/elastigroup/aws/paths/capacity.yaml
  /aws/ec2/group/{groupId}/scale/up:
    $ref: services/elastigroup/aws/paths/scale-up.yaml
  /aws/ec2/group/{groupId}/scale/down:
    $ref: services/elastigroup/aws/paths/scale-down.yaml
  /aws/ec2/group/{groupId}/scale/suspendPolicy:
    $ref: services/elastigroup/aws/paths/suspend-policy.yaml
  /aws/ec2/group/{groupId}/suspension:
    $ref: services/elastigroup/aws/paths/suspension.yaml
  /aws/ec2/group/{groupId}/scale/suspensions:
    $ref: services/elastigroup/aws/paths/suspensions.yaml
  /aws/ec2/group/{groupId}/scale/resumePolicy:
    $ref: services/elastigroup/aws/paths/resume-policy.yaml
  /aws/potentialSavings:
    $ref: services/elastigroup/aws/paths/potential-savings.yaml
  /aws/instancePotentialSavings:
    $ref: services/elastigroup/aws/paths/instances-potential-savings.yaml
  /aws/costs:
    $ref: services/elastigroup/aws/paths/costs.yaml
  /aws/ec2/group/{groupId}/costs:
    $ref: services/elastigroup/aws/paths/elastigroup-costs.yaml
  /aws/ec2/group/{groupId}/costs/detailed:
    $ref: services/elastigroup/aws/paths/elastigroup-costs-detailed.yaml
  /aws/ec2/instance/{instanceId}:
    $ref: services/elastigroup/aws/paths/instance-status.yaml
  /aws/ec2/group/instance/import:
    $ref: services/elastigroup/aws/paths/import.yaml
  /aws/ec2/group/{groupId}/amiBackup:
    $ref: services/elastigroup/aws/paths/elastigroup-ami-backup.yaml
  /aws/ec2/group/{groupId}/instanceHealthiness:
    $ref: services/elastigroup/aws/paths/instance-healthiness.yaml
  /aws/ec2/group/{groupId}/detachInstances:
    $ref: services/elastigroup/aws/paths/detach-instances.yaml
  /aws/ec2/group/autoScalingGroup/import:
    $ref: services/elastigroup/aws/paths/import-asg.yaml
  /aws/ec2/spotType:
    $ref: services/elastigroup/aws/paths/get-instance-by-region.yaml
  /aws/ec2/instanceTypeRecommendation:
    $ref: services/elastigroup/aws/paths/suggested-instance-type.yaml
  /aws/ec2/instance/interruption:
    $ref: services/elastigroup/aws/paths/instance-interruption.yaml
  /aws/ec2/instance/signal:
    $ref: services/elastigroup/aws/paths/instance-signal.yaml
  /aws/ec2/instance/{instanceId}/standby/enter:
    $ref: services/elastigroup/aws/paths/instance-standby.yaml
  /aws/ec2/instance/{instanceId}/standby/exit:
    $ref: services/elastigroup/aws/paths/instance-exit-standby.yaml
  /aws/ec2/group/{groupId}/roll:
    $ref: services/elastigroup/aws/paths/elastigroup-deployments.yaml
  /aws/ec2/group/{groupId}/roll/{rollId}:
    $ref: services/elastigroup/aws/paths/elastigroup-deployment.yaml
  /aws/ec2/group/{groupId}/roll/{rollId}/action:
    $ref: services/elastigroup/aws/paths/elastigroup-deployment-action.yaml
  /compute/azure/group:
    $ref: services/elastigroup/azure/scaleSetVms/paths/groups.yaml
  /compute/azure/group/{groupId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group.yaml
  /compute/azure/group/{groupId}/status:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-status.yaml
  /compute/azure/group/{groupId}/detachInstances:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-detach.yaml
  /compute/azure/group/{groupId}/roll:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-deployments.yaml
  /compute/azure/group/{groupId}/roll/{deploymentId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/group-deployment.yaml
  /compute/azure/task:
    $ref: services/elastigroup/azure/scaleSetVms/paths/tasks.yaml
  /compute/azure/task/{taskId}:
    $ref: services/elastigroup/azure/scaleSetVms/paths/task.yaml
  /azure/costs:
    $ref: services/elastigroup/azure/scaleSetVms/paths/costs.yaml
  /azure/compute/group/{groupId}:
    $ref: services/elastigroup/azure/spotVms/paths/groupVm.yaml
  /azure/compute/group:
    $ref: services/elastigroup/azure/spotVms/paths/groupsVm.yaml
  /azure/compute/group/{groupId}/status:
    $ref: services/elastigroup/azure/spotVms/paths/group-statusVm.yaml
  /azure/compute/group/{groupId}/detachInstances:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDetach.yaml
  /azure/compute/group/{groupId}/scale/down:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmScaleDown.yaml
  /azure/compute/group/{groupId}/scale/up:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmScaleUp.yaml
  /azure/compute/group/{groupId}/deployment:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeployments.yaml
  /azure/compute/group/{groupId}/deployment/{deploymentId}:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeployment.yaml
  /azure/compute/group/{groupId}/deployment/{deploymentId}/details:
    $ref: services/elastigroup/azure/spotVms/paths/groupVmDeploymentDetails.yaml
  /azure/compute/vm/signal:
    $ref: services/elastigroup/azure/spotVms/paths/vmSignal.yaml
  /azure/compute/group/{groupId}/logs:
    $ref: services/elastigroup/azure/spotVms/paths/vmLogs.yaml
  /gcp/gce/group:
    $ref: services/elastigroup/gcp/paths/groups.yaml
  /gcp/gce/group/{groupId}:
    $ref: services/elastigroup/gcp/paths/group.yaml
  /gcp/gce/group/gke/import:
    $ref: services/elastigroup/gcp/paths/gke-import.yaml
  /gcp/gce/group/{groupId}/status:
    $ref: services/elastigroup/gcp/paths/group-status.yaml
  /gcp/gce/group/{groupId}/events:
    $ref: services/elastigroup/gcp/paths/group-event.yaml
  /gcp/gce/group/{groupId}/log:
    $ref: services/elastigroup/gcp/paths/group-elastilog.yaml
  /gcp/gce/group/{groupId}/scale/up:
    $ref: services/elastigroup/gcp/paths/group-scale-up.yaml
  /gcp/gce/group/{groupId}/scale/down:
    $ref: services/elastigroup/gcp/paths/group-scale-down.yaml
  /gcp/gce/group/{groupId}/costs:
    $ref: services/elastigroup/gcp/paths/group-costs.yaml
  /gcp/gce/group/{groupId}/roll:
    $ref: services/elastigroup/gcp/paths/group-rolls.yaml
  /gcp/gce/group/{groupId}/roll/{rollId}:
    $ref: services/elastigroup/gcp/paths/group-roll.yaml
  /gcp/gce/group/{groupId}/deatchInstances:
    $ref: services/elastigroup/gcp/paths/group-detach-instances.yaml
  /gcp/gce/instance/{instanceId}:
    $ref: services/elastigroup/gcp/paths/instance-status.yaml
  /gcp/gce/instance/{instanceId}/lock:
    $ref: services/elastigroup/gcp/paths/instance-lock.yaml
  /gcp/gce/instance/{instanceId}/unlock:
    $ref: services/elastigroup/gcp/paths/instance-unlock.yaml
  /ocean/aws/ecs/cluster:
    $ref: services/ocean/ecs/paths/clusters.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}:
    $ref: services/ocean/ecs/paths/cluster.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/rightSizing/suggestion:
    $ref: services/ocean/ecs/paths/right-sizing-recommend.yaml
  /ocean/aws/ecs/cluster/import:
    $ref: services/ocean/ecs/paths/upgrade-from-eg.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/roll:
    $ref: services/ocean/ecs/paths/cluster-rolls.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/roll/{ROLL_ID}:
    $ref: services/ocean/ecs/paths/cluster-roll.yaml
  /ocean/aws/ecs/launchSpec:
    $ref: services/ocean/ecs/paths/cluster-launchSpecs.yaml
  /ocean/aws/ecs/launchSpec/{OCEAN_LAUNCH_SPEC_ID}:
    $ref: services/ocean/ecs/paths/cluster-launchSpec.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/fargateMigration:
    $ref: services/ocean/ecs/paths/fargate-import-to-exist.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/fargateMigration/serviceDiscovery:
    $ref: services/ocean/ecs/paths/fargate-service-discovery.yaml
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/fargateMigration/status:
    $ref: services/ocean/ecs/paths/fargate-migration-status.yaml
  /ocean/aws/ecs/cluster/fargate/import:
    $ref: services/ocean/ecs/paths/fargate-import-to-new.yaml
  /aws/ec2/group/{groupId}/clusterRoll:
    $ref: services/elastigroup/aws/paths/ecsGroupClusterRoll.yaml
  /aws/ec2/group/{groupId}/clusterRoll/{rollId}:
    $ref: services/elastigroup/aws/paths/ecsGroupClusterRollId.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/start:
    $ref: services/elastigroup/aws/paths/ecsBeanstalk.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/finish:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkFinish.yaml
  /aws/ec2/group/{groupId}/beanstalk/maintenance/status:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkStatus.yaml
  /aws/ec2/group/beanstalk/import:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkImport.yaml
  /aws/ec2/group/{groupId}/beanstalk/reimport:
    $ref: services/elastigroup/aws/paths/ecsBeanstalkReImport.yaml
  /aws/ec2/group/{groupId}/codeDeploy/blueGreenDeployment:
    $ref: services/elastigroup/aws/paths/blueGreenDeployment.yaml
  /ocean/aws/k8s/cluster:
    $ref: services/ocean/aws/paths/clusters.yaml
  /ocean/aws/k8s/cluster/{OCEAN_ID}:
    $ref: services/ocean/aws/paths/cluster.yaml
  /ocean/aws/k8s/cluster/{OCEAN_ID}/controllerHeartbeat:
    $ref: services/ocean/aws/paths/controllerHeartbeat.yaml
  /ocean/aws/k8s/cluster/autoScalingGroup/import:
    $ref: services/ocean/aws/paths/importASG.yaml
  /ocean/aws/k8s/cluster/{OCEAN_ID}/rightSizing/suggestion:
    $ref: services/ocean/aws/paths/rightSizing.yaml
  /mcs/kubernetes/cluster/{clusterIdentifier}/costs:
    $ref: services/ocean/aws/paths/clusterCosts.yaml
  /ocean/aws/k8s/cluster/import:
    $ref: services/ocean/aws/paths/upgradeElastigroupToOcean.yaml
  /ocean/aws/k8s/cluster/{OCEAN_ID}/roll:
    $ref: services/ocean/aws/paths/clusters-roll.yaml
  /ocean/aws/k8s/cluster/{OCEAN_ID}/roll/{ROLL_ID}:
    $ref: services/ocean/aws/paths/cluster-roll.yaml
  /ocean/aws/k8s/launchSpec:
    $ref: services/ocean/aws/paths/clusters-launchSpec.yaml
  /ocean/aws/k8s/launchSpec/{OCEAN_LAUNCH_SPEC_ID}:
    $ref: services/ocean/aws/paths/cluster-launchSpec.yaml
  /ocean/aws/k8s/launchspec/autoScalingGroup/import:
    $ref: services/ocean/aws/paths/importASG-launchSpec.yaml
  /ocean/onPrem/k8s/cluster:
    $ref: services/ocean/onpremise/paths/clusters.yaml
  /ocean/onPrem/k8s/cluster/{CLUSTER_ID}:
    $ref: services/ocean/onpremise/paths/cluster.yaml
  /aws/ec2/managedInstance:
    $ref: services/managedInstance/aws/paths/managed.yaml
  /aws/ec2/managedInstance/{MI_ID}:
    $ref: services/managedInstance/aws/paths/managedID.yaml
  /aws/ec2/managedInstance/{MI_ID}/pause:
    $ref: services/managedInstance/aws/paths/managedIDPause.yaml
  /aws/ec2/managedInstance/{MI_ID}/resume:
    $ref: services/managedInstance/aws/paths/managedIDResume.yaml
  /aws/ec2/managedInstance/{MI_ID}/recycle:
    $ref: services/managedInstance/aws/paths/managedIDRecycle.yaml
  /aws/ec2/managedInstance/{MI_ID}/costs:
    $ref: services/managedInstance/aws/paths/managedIDCosts.yaml
  /aws/ec2/managedInstance/{MI_ID}/status:
    $ref: services/managedInstance/aws/paths/managedIDStatus.yaml
  /aws/ec2/managedInstance/migration:
    $ref: services/managedInstance/aws/paths/migration-mi.yaml
  /aws/ec2/managedInstance/migration/{MIGRATION_ID}:
    $ref: services/managedInstance/aws/paths/migrationStatus-mi.yaml
  /audit/events:
    $ref: services/administration/general/paths/auditListAll.yaml
  /healthCheck:
    $ref: services/administration/general/paths/healthCheck.yaml
  /healthCheck/{HEALTHCHECK_ID}:
    $ref: services/administration/general/paths/healthCheckID.yaml
  /events/notification/accountPolicy:
    $ref: services/administration/general/paths/accountPolicy.yaml
  /events/subscription:
    $ref: services/administration/general/paths/subscription.yaml
  /events/subscription/{SUBSCRIPTION_ID}:
    $ref: services/administration/general/paths/subscriptionID.yaml
  /insights/instanceCosts/export:
    $ref: services/administration/general/paths/organizationInstancesCosts.yaml
  /setup/account/{accountId}:
    $ref: services/administration/general/paths/updateAccount.yaml
  /setup/user:
    $ref: services/administration/general/paths/getAccountUsers.yaml
  /setup/accountUserMapping:
    $ref: services/administration/general/paths/getUser.yaml
  /setup/organization/{organizationId}:
    $ref: services/administration/general/paths/deleteOrganization.yaml
  /setup/account/{accountId}/user:
    $ref: services/administration/general/paths/updateUserPermissions.yaml
  /setup/user/programmatic:
    $ref: services/administration/general/paths/createProgrammaticUser.yaml
  /setup/organization:
    $ref: services/administration/general/paths/createOrganization.yaml
  /setup/account:
    $ref: services/administration/general/paths/createAccount.yaml
  /setup/access/policy:
    $ref: services/administration/general/paths/createAccessPolicy.yaml
  /setup/user/permission:
    $ref: services/administration/general/paths/getAllUsersPermissions.yaml
  /setup/access/policy/{policyId}:
    $ref: services/administration/general/paths/updateAccessPolicy.yaml
  /setup/credentials/aws:
    $ref: services/administration/general/paths/setCloudCredentialsForAWS.yaml
  /gcp/setup/credentials:
    $ref: services/administration/general/paths/setCloudCredentialsForGCP.yaml
  /gcp/setup/credentials/validation:
    $ref: services/administration/general/paths/validateCloudCredentialsForGCP.yaml
  /azure/setup/credentials:
    $ref: services/administration/general/paths/setCloudCredentialsForAzure.yaml
  /azure/setup/credentials/validation:
    $ref: services/administration/general/paths/validateCloudCredentialsForAzure.yaml
  /ocean/gcp/k8s/cluster:
    $ref: services/ocean/gke/paths/clusters.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_CLUSTER_ID}:
    $ref: services/ocean/gke/paths/cluster.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_ID}/log:
    $ref: services/ocean/gke/paths/clusterFetchElastigroup.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_ID}/rightSizing/resourceSuggetsion:
    $ref: services/ocean/gke/paths/rightSizing.yaml
  /mcs/kubernetes/cluster/{clusterId}/costs:
    $ref: services/ocean/gke/paths/clusterCosts.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_ID}/rightSizing/suggestion:
    $ref: services/ocean/gke/paths/rightSizingLegacy.yaml
  /ocean/gcp/k8s/launchSpec:
    $ref: services/ocean/gke/paths/clusters-launchSpec.yaml
  /ocean/gcp/k8s/launchSpec/{OCEAN_LAUNCH_SPEC_ID}:
    $ref: services/ocean/gke/paths/cluster-launchSpec.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_CLUSTER_ID}/roll:
    $ref: services/ocean/gke/paths/clusters-roll.yaml
  /ocean/gcp/k8s/cluster/{OCEAN_CLUSTER_ID}/roll/{ROLL_ID}:
    $ref: services/ocean/gke/paths/cluster-roll.yaml
  /ocean/gcp/k8s/cluster/import:
    $ref: services/ocean/gke/paths/upgradeElastigroupToOcean.yaml
