openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean CD
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean CD
    description: |
      Ocean CD is a fully managed continuous delivery ('CD') solution for Kubernetes applications. Designed for end-to-end automation and verification of frequent application-deployment processes at scale.
      Ocean CD architecture and API enable a simple and secured installation that seamlessly fits into any Kubernetes environment. Users get key features like granular visibility, SaaS logic that manage the rollout process, verifications of the applied workloads and automatic rollbacks.
      To enable Ocean CD, install the controller with one simple command in the Kubernetes cluster and create the following entities using the API:
      * Strategy
      * Rollout Spec
    externalDocs:
      description: Ocean CD
      url: https://docs.flexera.com/spot/ocean-cd/
paths:
  /ocean/cd/cluster:
    summary: Ocean CD
    get:
      summary: List Ocean CD Clusters
      description: |
        List all Ocean CD clusters.
      operationId: OceanCDClusterList
      tags:
        - Ocean CD
      responses:
        '200': &ref_0
          description: Ocean CD Cluster Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_1
                    type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties.
                        properties:
                          id:
                            type: string
                            example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                            description: |
                              Unique identifier associated with this request.
                          url:
                            type: string
                            description: |
                              The URL that was used for the request.
                          method:
                            type: string
                            description: |
                              The HTTP **METHOD** used for the request.
                          timestamp:
                            type: string
                            example: '2018-06-20T11:35:01.745Z'
                            description: |
                              When the request was received by Spot.
                      response:
                        type: object
                        description: |
                          Response package that includes status, type, and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response.
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code.
                  - type: object
                    properties:
                      response:
                        type: object
                        description: response body
                        properties:
                          items:
                            type: array
                            items:
                              allOf:
                                - type: object
                                  required:
                                    - cluster
                                  properties:
                                    lastHeartbeatTime:
                                      type: string
                                      example: '2018-11-05T12:55:50.000Z'
                                      description: |
                                        Time stamp of latest time the controller sent heartbeat.
                                    clusterInfo:
                                      type: object
                                      title: Ocean CD Cluster Info
                                      description: |
                                        Contains OceanCD cluster detailed information.
                                      properties:
                                        kubernetesVersion:
                                          type: string
                                        cloudProvider:
                                          type: string
                                        kubernetesOrchestrator:
                                          type: string
                                    operatorInfo:
                                      type: object
                                      title: Ocean CD Operator Info
                                      description: |
                                        Contains OceanCD operator detailed information.
                                      properties:
                                        kubernetesVersion:
                                          type: string
                                        nodeName:
                                          type: string
                                        operatorVersion:
                                          type: string
                                        podName:
                                          type: string
                                    operatorMetadata:
                                      type: object
                                      title: Ocean CD Operator Metadata
                                      description: |
                                        Contains OceanCD operator metadata information.
                                      properties:
                                        lastHeartbeatTime:
                                          type: string
                                          example: '2018-11-05T12:55:50.000Z'
                                          description: |
                                            Time stamp of latest time the operator controller sent heartbeat.
                                    omInfo:
                                      type: object
                                      title: Ocean CD Operator Manager Info
                                      description: |
                                        Contains OceanCD operator manager detailed information.
                                      properties:
                                        kubernetesVersion:
                                          type: string
                                        nodeName:
                                          type: string
                                        operatorVersion:
                                          type: string
                                        podName:
                                          type: string
                                    omMetadata:
                                      type: object
                                      title: Ocean CD Operator Maanager Metadata
                                      description: |
                                        Contains OceanCD operator manager metadata information.
                                      properties:
                                        lastHeartbeatTime:
                                          type: string
                                          example: '2018-11-05T12:55:50.000Z'
                                          description: |
                                            Time stamp of latest time the operator manager controller sent heartbeat.
                                    argoRolloutInfo:
                                      type: object
                                      title: Argo Rollouts Metadata
                                      description: |
                                        Contains Argo Rollouts metadata information.
                                      properties:
                                        argoRolloutVersion:
                                          type: string
                                        lastHeartbeatTime:
                                          type: string
                                          example: '2018-11-05T12:55:50.000Z'
                                          description: |
                                            Time stamp of latest time the operator controller sent heartbeat.
                                - type: object
                                  properties:
                                    id:
                                      type: string
                                      example: oceanCluster
                                    createdAt:
                                      type: string
                                      example: '2018-11-05T12:55:50.000Z'
                                    updatedAt:
                                      type: string
                                      example: '2018-11-05T12:58:15.000Z'
        '400':
          description: Bad Request
  /ocean/cd/cluster/{clusterId}:
    summary: Ocean CD
    get:
      summary: Get Ocean CD Cluster
      description: |
        Get an existing Ocean CD cluster.
      operationId: OceanCDClusterGet
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: clusterId
          schema:
            type: string
          required: true
          example: cluster-prod
          description: |
            The identifier of the Ocean CD cluster
      responses:
        '200': *ref_0
        '400':
          description: Bad Request
  /ocean/cd/verificationProvider:
    summary: Ocean CD
    post:
      summary: Create Ocean CD Verification Provider
      description: |
        Create Ocean CD Verification Provider. Only one provider type can be defined
      operationId: OceanCDVerificationProviderCreate
      tags:
        - Ocean CD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Provider Request
                  description: |
                    Ocean CD Verification Provider request entity.
                  required:
                    - verificationProvider
                  properties:
                    verificationProvider:
                      type: object
                      required: &ref_2
                        - name
                        - clusterIds
                      properties: &ref_3
                        name:
                          type: string
                          description: Identifier name for Ocean CD Verification Provider. Must be unique
                          example: datadog-prod
                        clusterIds:
                          description: List of cluster IDs that this Verification Provider will be applied to
                          type: array
                          items:
                            type: string
                          example:
                            - prod-cluster-1
                            - prod-cluster-2
                        prometheus:
                          type: object
                          required: &ref_5
                            - address
                          title: Ocean CD Verification Provider Prometheus
                          properties: &ref_6
                            address:
                              type: string
                              description: The address which the Prometheus server available on
                              example: http://localhost:9090
                        datadog:
                          type: object
                          required: &ref_7
                            - address
                            - apiKey
                            - appKey
                          title: Ocean CD Verification Provider Datadog
                          properties: &ref_8
                            address:
                              type: string
                              description: DataDog API URL
                              example: https://api.datadoghq.eu
                            apiKey:
                              type: string
                              description: API key required by the Datadog Agent to submit metrics and events to Datadog
                              example: AUO32RN20oUMD-40283
                            appKey:
                              type: string
                              description: API key that gives users access to Datadog’s programmatic API
                              example: APP-113ndsKlfmaoN
                        newRelic:
                          type: object
                          required: &ref_9
                            - personalApiKey
                            - accountId
                          title: Ocean CD Verification Provider NewRelic
                          properties: &ref_10
                            personalApiKey:
                              type: string
                              description: The NewRelic user key
                              example: AUO32RN20oUMD-40283
                            accountId:
                              type: string
                              description: The ID number New Relic assigns to their account
                              example: account-0189718
                            region:
                              type: string
                              description: A region which the account is attached to. Default is "us"
                              example: eu
                            baseUrlRest:
                              type: string
                              description: The base URL of the New Relic REST API for a proxy
                              example: https://rest.api.newrelic.eu
                            baseUrlNerdGraph:
                              type: string
                              description: The base URL for NerdGraph for a proxy
                              example: https://nerdgraph.api.newrelic.eu
                        cloudWatch:
                          type: object
                          required: &ref_11
                            - iamArn
                          title: Ocean CD Verification Provider CloudWatch
                          properties: &ref_12
                            iamArn:
                              type: string
                              description: AWS resource that has permissions for cloudwatch:GetMetricData
                              example: arn:aws:iam::123456789012:role/GetMetricData
                        jenkins:
                          type: object
                          required: &ref_13
                            - baseUrl
                            - username
                            - apiToken
                          title: Ocean CD Verification Provider Jenkins
                          properties: &ref_14
                            baseUrl:
                              type: string
                              description: The address of the Jenkins server within the cluster.
                              example: http://localhost:9090
                            username:
                              type: string
                              description: The Jenkins server’s access username.
                              example: admin
                            apiToken:
                              type: string
                              description: The Jenkins server’s access apiToken.
                              example: AbCDeeFFGG
      responses:
        '200': &ref_4
          description: Ocean CD Verification Provider Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      response:
                        type: object
                        description: response body
                        properties:
                          items:
                            type: array
                            items:
                              allOf:
                                - type: object
                                  required: *ref_2
                                  properties: *ref_3
                                - &ref_23
                                  type: object
                                  properties:
                                    createdAt:
                                      type: string
                                      description: The time when the entity was created
                                      example: '2018-11-05T12:55:50.000Z'
                                    updatedAt:
                                      type: string
                                      description: The last time when the entity was updated
                                      example: '2018-11-05T12:58:15.000Z'
        '400':
          description: Bad Request
    get:
      summary: List Ocean CD Verification Providers
      description: |
        List all Ocean CD Verification Providers.
      operationId: OceanCDVerificationProviderList
      tags:
        - Ocean CD
      responses:
        '200': *ref_4
        '400':
          description: Bad Request
  /ocean/cd/verificationProvider/{name}:
    summary: Ocean CD
    get:
      summary: Get Ocean CD Verification Provider
      description: |
        Get an existing Ocean CD Verification Provider.
      operationId: OceanCDVerificationProviderGet
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: datadog-prod
          description: |
            The identifier of the Ocean CD Verification Provider
      responses:
        '200': *ref_4
        '400':
          description: Bad Request
    put:
      summary: Update Ocean CD Verification Provider
      description: |
        Full Update of Ocean CD Verification Provider configuration.
        *All non included fields will be nullified*
      operationId: OceanCDVerificationProviderUpdate
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: datadog-prod
          description: |
            The identifier name of the Ocean CD Verification Provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Provider Request
                  description: |
                    Ocean CD Verification Provider request entity.
                  required:
                    - verificationProvider
                  properties:
                    verificationProvider:
                      type: object
                      required:
                        - clusterIds
                      properties:
                        clusterIds:
                          description: List of cluster ids that this Verification Provider will be applied to
                          type: array
                          items:
                            type: string
                          example:
                            - prod-cluster-1
                            - prod-cluster-2
                        prometheus:
                          type: object
                          required: *ref_5
                          title: Ocean CD Verification Provider Prometheus
                          properties: *ref_6
                        datadog:
                          type: object
                          required: *ref_7
                          title: Ocean CD Verification Provider Datadog
                          properties: *ref_8
                        newRelic:
                          type: object
                          required: *ref_9
                          title: Ocean CD Verification Provider NewRelic
                          properties: *ref_10
                        cloudWatch:
                          type: object
                          required: *ref_11
                          title: Ocean CD Verification Provider CloudWatch
                          properties: *ref_12
                        jenkins:
                          type: object
                          required: *ref_13
                          title: Ocean CD Verification Provider Jenkins
                          properties: *ref_14
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    patch:
      summary: Patch Ocean CD Verification Provider
      description: |
        Partial update Ocean CD Verification Provider configuration.
      operationId: OceanCDVerificationProviderPatch
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: datadog-prod
          description: |
            The identifier name of the Ocean CD Verification Provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Provider Request
                  description: |
                    Ocean CD Verification Provider request entity.
                  required:
                    - verificationProvider
                  properties:
                    verificationProvider:
                      type: object
                      title: Ocean CD Verification Provider
                      description: |
                        Ocean CD Verification Provider spec entity.
                      properties:
                        clusterIds:
                          description: List of cluster ids that this Verification Provider will be applied to
                          type: array
                          items:
                            type: string
                          example:
                            - prod-cluster-1
                            - prod-cluster-2
                        prometheus:
                          type: object
                          required: *ref_5
                          title: Ocean CD Verification Provider Prometheus
                          properties: *ref_6
                        datadog:
                          type: object
                          required: *ref_7
                          title: Ocean CD Verification Provider Datadog
                          properties: *ref_8
                        newRelic:
                          type: object
                          required: *ref_9
                          title: Ocean CD Verification Provider NewRelic
                          properties: *ref_10
                        cloudWatch:
                          type: object
                          required: *ref_11
                          title: Ocean CD Verification Provider CloudWatch
                          properties: *ref_12
                        jenkins:
                          type: object
                          required: *ref_13
                          title: Ocean CD Verification Provider Jenkins
                          properties: *ref_14
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    delete:
      summary: Delete Ocean CD Verification Provider
      description: |
        Delete an existing Ocean CD Verification Provider.
      operationId: OceanCDVerificationProviderDelete
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: datadog-prod
          description: |
            The identifier name of the Ocean CD Verification Provider
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
  /ocean/cd/verificationTemplate:
    summary: Ocean CD
    post:
      summary: Create Ocean CD Verification Template
      description: |
        Create Ocean CD Verification Template.
      operationId: OceanCDVerificationTemplateCreate
      tags:
        - Ocean CD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Template Request
                  description: |
                    Ocean CD Verification Template request entity.
                  required:
                    - verificationTemplate
                  properties:
                    verificationTemplate:
                      type: object
                      required: &ref_21
                        - name
                        - metrics
                      description: The object specifying a set of metrics that need to be analyzed during the rollout, and the values that are considered successful or failed
                      properties: &ref_22
                        name:
                          type: string
                          example: latency-validation
                          description: Identifier name for Ocean CD Verification Template. Must be a unique name
                        args:
                          description: List of verification arguments. You may specify either `value` OR `valueFrom` but not both. In case `args`:`value` is already defined in the RolloutSpec entity, there is no need to also specify it in the VerificationTemplate entity
                          type: array
                          items:
                            type: object
                            title: Ocean CD Verification Template argument
                            required: &ref_25
                              - name
                            properties: &ref_26
                              name:
                                type: string
                                example: root-password
                                description: Name of an argument
                              value:
                                type: string
                                example: 12345678
                                description: String representation of data
                              valueFrom:
                                type: object
                                title: Ocean CD Verification Template argument
                                properties:
                                  secretKeyRef:
                                    type: object
                                    title: Ocean CD Verification Template Secret Key Ref
                                    description: Secret key to use
                                    required: &ref_45
                                      - name
                                      - key
                                    properties: &ref_46
                                      name:
                                        description: The name of the secret
                                        example: root-password-secret
                                        type: string
                                      key:
                                        description: The name of the field inside the secret
                                        example: root-password
                                        type: string
                        metrics:
                          description: List of verification metrics
                          type: array
                          items:
                            type: object
                            required: &ref_27
                              - name
                              - provider
                            title: Ocean CD Verification Metric
                            properties: &ref_28
                              name:
                                type: string
                                example: 5xx-errors
                                description: The name of the verification metric
                              dryRun:
                                type: boolean
                                example: false
                                description: Defines whether the metric should have an impact on the result of the rollout
                              interval:
                                type: string
                                example: 5m
                                description: Defines an interval string (30s, 5m, 1h) between each verification measurements. If omitted, will perform a single measurement. When choosing `Jenkins` as the provider, there is no need to send this variable.
                              initialDelay:
                                type: string
                                description: How long to wait before starting this metric measurements. When choosing `Jenkins` as the provider, there is no need to send this variable.
                                example: 1m
                              count:
                                type: integer
                                description: The number of times to run the measurement. If both interval and count are omitted, the effective count is 1. If only interval is specified, metric runs indefinitely. If count > 1, interval must be specified. When choosing `Jenkins` as the provider, there is no need to send this variable.
                                example: 10
                              successCondition:
                                type: string
                                description: An expression which determines if a measurement is considered successful. The keyword `result` is a variable reference to the value of measurement. Results can be both structured data or primitive. If successCondition is set, then failureCondition is not allowed. When choosing `Jenkins` as the provider, there is no need to send this variable.
                                example: result[0] <= 0.95
                              failureCondition:
                                type: string
                                description: An expression which determines if a measurement is considered failed. If failureCondition is set, then successCondition is not allowed. When choosing `Jenkins` as the provider, there is no need to send this variable.
                                example: result[0] >= 1.2
                              failureLimit:
                                type: integer
                                example: 2
                                description: The maximum number of times the measurement is allowed to fail, before the entire metric is considered failed. Default is 0. When choosing `Jenkins` as the provider, there is no need to send this variable.
                              consecutiveErrorLimit:
                                type: integer
                                example: 4
                                description: The maximum number of times the measurement is allowed to error in succession, before the metric is considered error. Default is 4. When choosing `Jenkins` as the provider, there is no need to send this variable.
                              provider:
                                type: object
                                title: Ocean CD Verification Metric Provider, only one provider type can be defined
                                description: The name of the monitoring tool chosen for the metric
                                properties:
                                  prometheus:
                                    type: object
                                    required: &ref_15
                                      - query
                                    title: Ocean CD Verification Prometheus Metric
                                    properties: &ref_16
                                      query:
                                        type: string
                                        description: A request for information retrieved from Prometheus
                                        example: http_requests_total{status!~"5.."}"
                                  newRelic:
                                    type: object
                                    title: Ocean CD Verification NewRelic Metric
                                    required: &ref_17
                                      - query
                                    properties: &ref_18
                                      profile:
                                        type: string
                                        example: account-12345678
                                        description: The name of the secret holding NR account configuration
                                      query:
                                        type: string
                                        example: FROM Metric SELECT count(*)
                                        description: A raw newrelic NRQL query to perform
                                  datadog:
                                    type: object
                                    title: Ocean CD Verification Datadog Metric
                                    required: &ref_19
                                      - query
                                    properties: &ref_20
                                      duration:
                                        type: string
                                        description: The window of time we are looking at in DataDog. For example, if the values is `5m` then basically we will fetch data from (now-5m) to now
                                        example: 1m
                                      query:
                                        type: string
                                        description: A request for information retrieved from Datadog
                                        example: avg:kubernetes.cpu.user.total{*}
                                  cloudWatch:
                                    type: object
                                    title: Ocean CD Verification CloudWatch Metric
                                    required:
                                      - metricDataQueries
                                    properties:
                                      duration:
                                        type: string
                                        description: The window of time we are looking at in CloudWatch. For example, if the values is `5m` then basically we will fetch data from (now-5m) to now
                                        example: 5m
                                      metricDataQueries:
                                        type: array
                                        description: The metric queries to be returned. A single MetricData call can include as many as 500 MetricDataQuery structures. Each of these structures can specify either a metric to retrieve, a Metrics Insights query, or a math expression to perform on retrieved data
                                        items:
                                          required:
                                            - id
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              example: utilization
                                              description: The response ID. Must be unique and not null. This object can contain characters, letters, numbers and underscore. The first letter must be a lowercase letter
                                            metricStat:
                                              type: object
                                              description: The metric to be returned, along with statistics, period, and units. Use this parameter only if this object is retrieving a metric and not performing a math expression on returned data. WITHIN ONE METRICDATAQUERY OBJECT, YOU MUST SPECIFY EITHER EXPRESSION OR METRICSTAT BUT NOT BOTH
                                              properties:
                                                metric:
                                                  required:
                                                    - metricName
                                                  type: object
                                                  description: The metric to return, including the metric name, namespace, and dimensions
                                                  properties:
                                                    metricName:
                                                      type: string
                                                      example: CPUUtilization
                                                      description: The name of the metric
                                                    namespace:
                                                      type: string
                                                      example: AWS/EC2
                                                      description: The namespace of the metric
                                                    dimensions:
                                                      type: array
                                                      description: A dimension is a name/value pair that is part of the identity of a metric. Because dimensions are part of the unique identifier for a metric, whenever you add a unique name/value pair to one of your metrics, you are creating a new variation of that metric. You can assign up to 30 dimensions to a metric
                                                      items:
                                                        type: object
                                                        required:
                                                          - name
                                                          - value
                                                        properties:
                                                          name:
                                                            type: string
                                                            example: InstanceId
                                                            description: The name of the dimensions. These names must contain only ASCII characters, must include at least one non-whitespace character, and cannot start with a colon(':')
                                                          value:
                                                            type: string
                                                            example: i-1234567890abcdef
                                                            description: The value of the dimensions. These values must contain only ASCII characters and must include at least one non-whitespace character
                                                period:
                                                  type: integer
                                                  example: 300
                                                  description: The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a PutMetricData call that includes a StorageResolution of 1 second
                                                stat:
                                                  type: string
                                                  example: Average
                                                  description: The statistic to return. It can include any CloudWatch statistic or extended statistic
                                                unit:
                                                  type: string
                                                  example: None
                                                  description: This defines what unit you want to use when storing the metric
                                                  enum:
                                                    - Seconds
                                                    - Microseconds
                                                    - Milliseconds
                                                    - Bytes
                                                    - Kilobytes
                                                    - Megabytes
                                                    - Gigabytes
                                                    - Terabytes
                                                    - Bits
                                                    - Kilobits
                                                    - Megabits
                                                    - Gigabits
                                                    - Terabits
                                                    - Percent
                                                    - Count
                                                    - Bytes/Second
                                                    - Kilobytes/Second
                                                    - Megabytes/Second
                                                    - Gigabytes/Second
                                                    - Terabytes/Second
                                                    - Bits/Second
                                                    - Kilobits/Second
                                                    - Megabits/Second
                                                    - Gigabits/Second
                                                    - Terabits/Second
                                                    - Count/Second
                                                    - None
                                            expression:
                                              type: string
                                              example: SELECT AVG(CPUUtilization) FROM SCHEMA(\"AWS/EC2\", InstanceId)
                                              description: This field can contain either a Metrics Insights query, or a metric math expression to be performed on the returned data. WITHIN ONE METRICDATAQUERY OBJECT, YOU MUST SPECIFY EITHER EXPRESSION OR METRICSTAT BUT NOT BOTH
                                            label:
                                              type: string
                                              example: Cluster CpuUtilization
                                              description: A human-readable label for this metric or expression. This is especially useful if this is an expression, so that you know what the value represents. If the metric or expression is shown in a CloudWatch dashboard widget, the label is shown. If Label is omitted, CloudWatch generates a default
                                            returnData:
                                              type: boolean
                                              example: false
                                              description: This option indicates whether to return the timestamps and raw data values of this metric. If you are performing this call just to do math expressions and do not also need the raw data returned, you can specify False . If you omit this, the default of True is used.
                                            period:
                                              type: integer
                                              example: 300
                                              description: The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a PutMetricData call that includes a StorageResolution of 1 second.
                                  web:
                                    type: object
                                    title: Ocean CD Verification Web Metric
                                    required:
                                      - url
                                    properties:
                                      method:
                                        type: string
                                        example: GET
                                        description: The method of the web metric (empty defaults to GET)
                                        enum:
                                          - GET
                                          - POST
                                          - PUT
                                      url:
                                        type: string
                                        example: https://oceancd.com/api/v1/metrics?clusterId={{ args.clusterId }}
                                        description: The address of the web metric
                                      headers:
                                        type: array
                                        description: Optional HTTP headers to use in the request
                                        items:
                                          type: object
                                          required:
                                            - key
                                            - value
                                          properties:
                                            key:
                                              type: string
                                              example: Authorization
                                              description: The name of a header
                                            value:
                                              description: The value of a header
                                              example: Bearer {{ args.token }}
                                              type: string
                                      body:
                                        type: string
                                        example: '{"key": "test"}'
                                        description: The body of the web metric (applies only for the POST/PUT methods)
                                      timeoutSeconds:
                                        type: integer
                                        example: 10
                                        description: The timeout for the request in seconds. Default is 10
                                      jsonPath:
                                        type: string
                                        example: '{$.data}'
                                        description: A JSON Path to use as the result variable. Default is "{$}"
                                      insecure:
                                        type: boolean
                                        example: false
                                        description: Skips host TLS verification
                                  job:
                                    type: object
                                    title: Ocean CD Verification Job Metric
                                    required:
                                      - spec
                                    properties:
                                      spec:
                                        type: object
                                        description: The job spec require to run the metric
                                        required:
                                          - template
                                        properties:
                                          backoffLimit:
                                            type: integer
                                            example: 1
                                            description: Specifies the number of retries before marking this job failed
                                          template:
                                            type: object
                                            description: Describes the pod that will be created when executing a job
                                            required:
                                              - spec
                                            properties:
                                              spec:
                                                type: object
                                                description: Specification of the desired behavior of the pod
                                                required:
                                                  - containers
                                                  - restartPolicy
                                                properties:
                                                  containers:
                                                    type: array
                                                    description: A list of containers belonging to the pod
                                                    items:
                                                      type: object
                                                      required:
                                                        - name
                                                        - command
                                                        - image
                                                      properties:
                                                        name:
                                                          type: string
                                                          example: hello
                                                          description: The name of a container
                                                        command:
                                                          type: array
                                                          description: The entry point of a container
                                                          example:
                                                            - sh
                                                            - '-c'
                                                            - echo
                                                            - Hello, world!
                                                          items:
                                                            type: string
                                                        image:
                                                          type: string
                                                          example: nginx:1.21
                                                          description: The image name of a container
                                                  restartPolicy:
                                                    type: string
                                                    description: Restart policy for all containers within the pod
                                                    enum:
                                                      - Never
                                                      - OnFailure
                                                    example: Never
                                  jenkins:
                                    type: object
                                    required:
                                      - pipelineName
                                      - timeout
                                      - interval
                                    title: Ocean CD Verification Jenkins Metric
                                    properties:
                                      pipelineName:
                                        type: string
                                        description: The Jenkins pipeline name
                                        example: pipelineName
                                      tlsVerification:
                                        type: boolean
                                        example: true
                                        description: Host TLS verification
                                      timeout:
                                        type: string
                                        description: The total jenkins timeout
                                        example: 120s/2m
                                      interval:
                                        type: string
                                        description: The interval time to poll status
                                        example: 5s
                                      parameters:
                                        type: array
                                        description: List of parameters
                                        items:
                                          type: object
                                          title: Ocean CD Verification argument
                                          description: |
                                            Represents Verification Parameters to inject to verification templates when running
                                          properties:
                                            key:
                                              type: string
                                              description: Key of an argument
                                              example: app
                                            value:
                                              type: string
                                              description: Value of an argument
                                              example: my-application
                                          required:
                                            - key
                                            - value
                              baseline:
                                type: objet
                                required:
                                  - threshold
                                  - provider
                                title: Ocean CD Verification Metric Baseline
                                properties:
                                  threshold:
                                    type: string
                                    enum:
                                      - <
                                      - '>'
                                      - <=
                                      - '>='
                                      - '='
                                      - range
                                    description: A mathematical expression needed for the comparison
                                    example: '>'
                                  minRange:
                                    type: integer
                                    example: 45
                                    description: Number in percent we allow the new version’s data result to be under baseline data result
                                  maxRange:
                                    type: integer
                                    example: 55
                                    description: Number in percent we allow the new version’s data result to be under baseline data result
                                  provider:
                                    type: object
                                    title: Ocean CD Verification Metric Baseline Provider, only one provider type can be defined and it must be equal to the metric provider
                                    description: The name of the monitoring tool chosen for the metric
                                    properties:
                                      prometheus:
                                        type: object
                                        required: *ref_15
                                        title: Ocean CD Verification Prometheus Metric
                                        properties: *ref_16
                                      newRelic:
                                        type: object
                                        title: Ocean CD Verification NewRelic Metric
                                        required: *ref_17
                                        properties: *ref_18
                                      datadog:
                                        type: object
                                        title: Ocean CD Verification Datadog Metric
                                        required: *ref_19
                                        properties: *ref_20
      responses:
        '200': &ref_24
          description: Ocean CD Verification Template Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      response:
                        type: object
                        description: response body
                        properties:
                          items:
                            type: array
                            items:
                              allOf:
                                - type: object
                                  required: *ref_21
                                  description: The object specifying a set of metrics that need to be analyzed during the rollout, and the values that are considered successful or failed
                                  properties: *ref_22
                                - *ref_23
        '400':
          description: Bad Request
    get:
      summary: List Ocean CD Verification Templates
      description: |
        List all Ocean CD Verification Templates.
      operationId: OceanCDVerificationTemplateList
      tags:
        - Ocean CD
      responses:
        '200': *ref_24
        '400':
          description: Bad Request
  /ocean/cd/verificationTemplate/{name}:
    summary: Ocean CD
    get:
      summary: Get Ocean CD Verification Template
      description: |
        Get an existing Ocean CD Verification Template.
      operationId: OceanCDVerificationTemplateGet
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: latency-validation
          description: |
            The identifier of the Ocean CD Verification Template
      responses:
        '200': *ref_24
        '400':
          description: Bad Request
    put:
      summary: Update Ocean CD Verification Template
      description: |
        Full update of Ocean CD Verification Template configuration.
        *All non included fields will be nullified*
      operationId: OceanCDVerificationTemplateUpdate
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: latency-validation
          description: |
            The identifier name of the Ocean CD Verification Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Template Request
                  description: |
                    Ocean CD Verification Template request entity.
                  required:
                    - verificationTemplate
                  properties:
                    verificationTemplate:
                      type: object
                      required:
                        - metrics
                      properties:
                        args:
                          description: List of verification arguments
                          type: array
                          items:
                            type: object
                            title: Ocean CD Verification Template argument
                            required: *ref_25
                            properties: *ref_26
                        metrics:
                          description: List of verification metrics
                          type: array
                          items:
                            type: object
                            required: *ref_27
                            title: Ocean CD Verification Metric
                            properties: *ref_28
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    patch:
      summary: Patch Ocean CD Verification Template
      description: |
        Partial update Ocean CD Verification Template configuration.
      operationId: OceanCDVerificationTemplatePatch
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: latency-validation
          description: |
            The identifier name of the Ocean CD Verification Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Verification Template Request
                  description: |
                    Ocean CD Verification Template request entity.
                  required:
                    - verificationTemplate
                  properties:
                    verificationTemplate:
                      type: object
                      title: Ocean CD Verification Template
                      description: |
                        Ocean CD Verification Template spec entity.
                      required:
                        - metrics
                      properties:
                        args:
                          description: List of verification arguments
                          type: array
                          items:
                            type: object
                            title: Ocean CD Verification Template argument
                            required: *ref_25
                            properties: *ref_26
                        metrics:
                          description: List of verification metrics
                          type: array
                          items:
                            type: object
                            required: *ref_27
                            title: Ocean CD Verification Metric
                            properties: *ref_28
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    delete:
      summary: Delete Ocean CD Verification Template
      description: |
        Delete an existing Ocean CD Verification Template.
      operationId: OceanCDVerificationTemplateDelete
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          example: latency-validation
          description: |
            The identifier name of the Ocean CD Verification Template
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
  /ocean/cd/strategy:
    summary: Ocean CD
    post:
      summary: Create Ocean CD Strategy
      description: |
        Create Ocean CD Strategy.
      operationId: OceanCDStrategyCreate
      tags:
        - Ocean CD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Strategy Request
                  description: |
                    Ocean CD strategy request.
                  required:
                    - strategy
                  properties:
                    strategy: &ref_31
                      type: object
                      title: Ocean CD Strategy
                      description: |
                        Ocean CD strategy. Use in RolloutSpec to decide what strategy to use when applying `SpotDeployment`
                      properties:
                        name:
                          type: string
                          description: Identifier name for Ocean CD Strategy. Must be unique
                          example: service-strategy
                        canary: &ref_33
                          type: object
                          title: Ocean CD Strategy Canary
                          description: |
                            Represents Canary strategy
                          properties:
                            backgroundVerification:
                              type: object
                              title: Ocean CD Strategy Background Verification
                              description: A list of background verifications
                              properties:
                                templateNames:
                                  description: List of Verification Template names
                                  type: array
                                  items:
                                    type: string
                                    description: Name of a Verification Template
                                    example: verification-template-name
                              required:
                                - templateNames
                            steps:
                              type: array
                              description: A set of separate conditions of rollout processing
                              items:
                                type: object
                                title: Ocean CD Strategy Canary Step
                                description: |
                                  Defines a step of the canary strategy
                                properties:
                                  name:
                                    type: string
                                    description: The name of a step
                                    example: first-step
                                  setWeight:
                                    type: integer
                                    description: Defines the percentage that the new version should receive
                                    example: 20
                                  setCanaryScale:
                                    type: object
                                    title: Ocean CD Strategy Canary Step Scale
                                    description: |
                                      Defines how to scale the version without traffic weight changing
                                    properties:
                                      weight:
                                        type: integer
                                        description: Sets the percentage of replicas the new version should have
                                        example: 20
                                      replicas:
                                        type: integer
                                        description: Sets the number of replicas the new version should have
                                        example: 20
                                      matchTrafficWeight:
                                        type: boolean
                                        description: Defines whether a rollout should match the current canary's setWeight step
                                        example: true
                                  verification: &ref_29
                                    type: object
                                    title: Ocean CD Strategy Step Verification
                                    description: |
                                      Represents the list of verifications to run in a step
                                    properties:
                                      templateNames:
                                        description: List of Verification Template names
                                        type: array
                                        items:
                                          type: string
                                        example:
                                          - 5xx-errors
                                    required:
                                      - templateNames
                                  pause: &ref_30
                                    type: object
                                    title: Ocean CD Strategy Step Pause
                                    description: |
                                      Defines the duration of time to freeze the rollout
                                    properties:
                                      duration:
                                        type: string
                                        description: The amount of time to wait before moving to the next step
                                        example: 5m
                                  setHeaderRoute:
                                    type: object
                                    title: Ocean CD Strategy Canary Step Header
                                    description: |
                                      Defines the list of HeaderRoutes to add to the Rollout
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the HeaderRoute group
                                        example: set-header-1
                                      match:
                                        type: array
                                        description: The matching rules for the header route
                                        items:
                                          type: object
                                          title: Ocean CD Strategy Canary Step Header Match
                                          description: |
                                            Defines a single header to add to the Rollout
                                          properties:
                                            headerName:
                                              type: string
                                              description: The name of the header
                                              example: User-Agent
                                            headerValue:
                                              type: object
                                              title: Ocean CD Strategy Canary Step Header Match Value
                                              description: |
                                                Defines a single header to add to the Rollout.
                                                <p style=color:red>Must be only one initialized from the following (exact, prefix, regex).</p>
                                              properties:
                                                exact:
                                                  type: string
                                                  description: The exact header value
                                                  example: Mozilla
                                                prefix:
                                                  type: string
                                                  description: The prefix of the value
                                                  example: Mozilla-
                                                regex:
                                                  type: string
                                                  description: The value in a regex format
                                                  example: Mozilla(.*)
                                          required:
                                            - headerName
                                            - headerValue
                                    required:
                                      - name
                                      - match
                          required:
                            - steps
                        rolling: &ref_34
                          type: object
                          title: Ocean CD Strategy Rolling Update
                          description: |
                            Represents Rolling Update strategy
                          properties:
                            steps:
                              type: array
                              description: A set of separate conditions of rollout processing
                              items:
                                type: object
                                title: Ocean CD Strategy Rolling Update Step
                                description: |
                                  Defines a step of the rolling update strategy
                                properties:
                                  name:
                                    type: string
                                    description: The name of a step
                                    example: first-step
                                  verification: *ref_29
                                  pause: *ref_30
                          required:
                            - steps
                      required:
                        - name
      responses:
        '200': &ref_32
          description: Ocean CD Strategy Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      response:
                        type: object
                        description: response body
                        properties:
                          items:
                            type: array
                            items:
                              allOf:
                                - *ref_31
                                - *ref_23
        '400':
          description: Bad Request
    get:
      summary: List Ocean CD Strategies
      description: |
        List all Ocean CD strategies.
      operationId: OceanCDStrategyList
      tags:
        - Ocean CD
      responses:
        '200': *ref_32
        '400':
          description: Bad Request
  /ocean/cd/strategy/{strategyName}:
    summary: Ocean CD
    get:
      summary: Get Ocean CD Strategy
      description: |
        Get an existing Ocean CD Strategy.
      operationId: oceanCDStrategyGet
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: strategyName
          schema:
            type: string
          required: true
          example: canary-prod
          description: |
            The identifier name of the Ocean CD Strategy
      responses:
        '200': *ref_32
        '400':
          description: Bad Request
    put:
      summary: Update Ocean CD Strategy
      description: |
        Full update of Ocean CD strategy configuration.
        *All non included fields will be nullified*
      operationId: OceanCDStrategyUpdate
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: strategyName
          schema:
            type: string
          required: true
          example: canary-prod
          description: |
            The identifier name of the Ocean CD Strategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - strategy
                  properties:
                    strategy:
                      type: object
                      title: Ocean CD Strategy
                      description: |
                        Ocean CD strategy. Use in RolloutSpec to decide what strategy to use when applying `SpotDeployment`
                      properties:
                        canary: *ref_33
                        rolling: *ref_34
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    patch:
      summary: Patch Ocean CD Strategy
      description: |
        Partial update of Ocean CD strategy configuration.
      operationId: OceanCDStrategyPatch
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: strategyName
          schema:
            type: string
          required: true
          example: canary-prod
          description: |
            The identifier name of the Ocean CD Strategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - strategy
                  properties:
                    strategy:
                      type: object
                      title: Ocean CD Strategy
                      description: |
                        Ocean CD strategy. Use in RolloutSpec to decide what strategy to use when applying `SpotDeployment`
                      properties:
                        canary: *ref_33
                        rolling: *ref_34
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    delete:
      summary: Delete Ocean CD Strategy
      description: |
        Delete an existing Ocean CD strategy.
      operationId: OceanCDStrategyDelete
      tags:
        - Ocean CD
      parameters:
        - in: path
          name: strategyName
          schema:
            type: string
          required: true
          example: canary-prod
          description: |
            The identifier name of the Ocean CD Strategy
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
  /ocean/cd/rolloutSpec:
    summary: Ocean CD
    post:
      summary: Create Ocean CD Rollout Spec
      description: |
        Create Ocean CD Rollout Spec.
      operationId: OceanCDRolloutSpecCreate
      tags:
        - Ocean CD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean CD Rollout Spec Request
                  description: |
                    Ocean CD Rollout Spec request entity.
                  properties:
                    rolloutSpec: &ref_36
                      type: object
                      title: Ocean CD Rollout Spec
                      description: |
                        Ocean CD Rollout Spec entity.
                      properties:
                        name:
                          type: string
                          description: The identifier name for Ocean CD Rollout Spec. Must be unique
                          example: my-rolloutspec
                        spotDeployment: &ref_35
                          type: object
                          title: Ocean CD Spot Deployment Selector
                          description: Represents the SpotDeployment selector
                          properties:
                            clusterId:
                              type: string
                              description: Ocean CD cluster identifier for the references `SpotDeployment`
                              example: aws-cluster
                            namespace:
                              type: string
                              description: The namespace which the `SpotDeployment` resource exists within
                              example: us-region
                            name:
                              type: string
                              description: The name of the `SpotDeployment` resource
                              example: us-app
                        spotDeployments:
                          type: array
                          description: You must specify either `spotDeployment` OR `spotDeployments` but not both. Every SpotDeployment has to be unique. If more than one `SpotDeployment` has been configured, no `traffic` managers can be set as part of the RolloutSpec. For such case ensure that each of the chosen SpotDeployments are being exposed with different Kubernetes services
                          items: *ref_35
                        strategy: &ref_38
                          type: object
                          title: Ocean CD Rollout Spec Strategy
                          description: |
                            Determines the Ocean CD strategy
                          properties:
                            name:
                              type: string
                              description: Ocean CD strategy name identifier
                              example: canary-strategy
                            args:
                              type: array
                              description: Arguments defined in Verification Templates
                              items:
                                type: object
                                title: Ocean CD Verification argument
                                description: |
                                  Represents Verification argument to inject to verification templates when running
                                properties:
                                  name:
                                    type: string
                                    description: Name of an argument
                                    example: app
                                  value:
                                    type: string
                                    description: Value of an argument
                                    example: my-application
                                  valueFrom:
                                    type: object
                                    title: Ocean CD Verification argument value from
                                    description: |
                                      Defines from where to get the value of an argument
                                    required:
                                      - fieldRef
                                    properties:
                                      fieldRef:
                                        type: object
                                        title: Ocean CD Verification argument value from field ref
                                        description: |
                                          Defines the field path from where to get the value of an argument
                                        properties:
                                          fieldPath:
                                            type: string
                                            description: Path to SpotDeployment's field from where to get the value of an argument
                                            example: metadata.labels['app']
                                        required:
                                          - fieldPath
                                required:
                                  - name
                          required:
                            - name
                        traffic: &ref_39
                          type: object
                          title: Ocean CD Rollout Spec Traffic
                          description: |
                            Hosts all of the supported service meshes needed to enable more fine-grained traffic routing. In case `SpotDeployments` contains more than one SpotDeployment the `traffic` manager may not be configured
                          properties:
                            canaryService:
                              type: string
                              description: The canary service name
                              example: canary-service
                            stableService:
                              type: string
                              description: The stable service name
                              example: stable-service
                            istio:
                              type: object
                              title: Ocean CD Rollout Spec Traffic Istio
                              description: |
                                Holds Istio specific configuration to route traffic
                              properties:
                                virtualServices:
                                  type: array
                                  description: Defines a set of traffic routing rules to apply when a host is addressed
                                  items:
                                    type: object
                                    title: Ocean CD Rollout Spec Traffic Istio Virtual Service
                                    description: |
                                      Holds Istio specific configuration to route traffic
                                    properties:
                                      name:
                                        type: string
                                        description: Holds the name of the VirtualService
                                        example: service
                                      routes:
                                        description: A list of HTTP routes within VirtualService
                                        type: array
                                        items:
                                          type: string
                                        example:
                                          - http-primary
                                      tlsRoutes:
                                        type: array
                                        description: A list of HTTPS routes within VirtualService
                                        items:
                                          type: object
                                          title: Ocean CD Rollout Spec Traffic Istio Virtual Service TLS routes
                                          description: |
                                            Holds Istio specific configuration to route traffic
                                          properties:
                                            port:
                                              type: integer
                                              description: The port of the TLS Route desired to be matched in the given Istio VirtualService
                                              example: 443
                                            sniHosts:
                                              description: A list of all the SNI Hosts of the TLS Route desired to be matched in the given Istio VirtualService
                                              type: array
                                              items:
                                                type: string
                                              example:
                                                - spot.io
                                    required:
                                      - name
                                destinationRule:
                                  type: object
                                  title: Ocean CD Rollout Spec Traffic Istio Destination rule
                                  description: |
                                    It references to an Istio DestinationRule to modify and shape traffic.  `DestinationRule` field belongs only to the Subset Level approach
                                  required:
                                    - name
                                    - canarySubsetName
                                    - stableSubsetName
                                  properties:
                                    name:
                                      type: string
                                      example: rollout-destrule
                                      description: Holds the name of the DestinationRule
                                    canarySubsetName:
                                      type: string
                                      example: canary-subset
                                      description: The subset name to modify labels with the canary version
                                    stableSubsetName:
                                      type: string
                                      example: stable-subset
                                      description: The subset name to modify labels with the stable version
                              required:
                                - virtualServices
                            nginx:
                              type: object
                              title: Ocean CD Rollout Spec Traffic Nginx
                              description: |
                                Holds Nginx Ingress specific configuration to route traffic
                              properties:
                                annotationPrefix:
                                  type: string
                                  example: customingress.nginx.ingress.kubernetes.io
                                  description: Has to match the configured annotation prefix on the Nginx ingress controller
                                stableIngress:
                                  type: string
                                  example: rollouts-demo-ingress-nginx
                                  description: Refers to the name of an `Ingress` resource in the same namespace as the `SpotDeployment`
                                additionalIngressAnnotations:
                                  type: object
                                  description: Provides additional features to add to the canary ingress (such as routing by header, cookie, etc). You can add these Kubernetes annotations to specific Ingress objects to customize their behavior. Above are found examples of accepted k8s keys. For the full list of supported keys, you may reach the following documentation - https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#canary
                                  properties:
                                    canary-by-header:
                                      type: string
                                      example: X-Canary
                                      description: Allows customizing the header value instead of using hardcoded values
                                    key1:
                                      type: string
                                      example: value1
                                      description: Any of supported annotations
                              required:
                                - stableIngress
                            alb:
                              type: object
                              title: Ocean CD Rollout Spec Traffic ALB
                              description: |
                                Holds ALB Ingress specific configuration to route traffic
                              properties:
                                ingress:
                                  type: string
                                  example: rollouts-demo-ingress
                                  description: Refers to the name of an `Ingress` resource in the same namespace as the `SpotDeployment`
                                servicePort:
                                  type: integer
                                  example: 80
                                  description: Refers to the port that the Ingress action should route traffic to
                                rootService:
                                  type: string
                                  example: rollouts-demo-root
                                  description: References the service in the ingress to the controller should add the action to
                                stickinessConfig:
                                  type: object
                                  title: Ocean CD Rollout Spec Traffic ALB Stickiness config
                                  description: |
                                    Allows to specify further settings on the ForwardConfig
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Enables the load balancer to bind a user's session to a specific target.
                                      example: true
                                    durationSeconds:
                                      type: integer
                                      description: Defines how long the load balancer should consistently route the user's request to the same target
                                      example: 3600
                                annotationPrefix:
                                  type: string
                                  example: custom.alb.ingress.kubernetes.io
                                  description: Has to match the configured annotation prefix on the alb ingress controller
                              required:
                                - ingress
                                - servicePort
                                - rootService
                            smi:
                              type: object
                              title: Ocean CD Rollout Spec Traffic SMI
                              description: |
                                Holds TrafficSplit specific configuration to route traffic
                              properties:
                                rootService:
                                  type: string
                                  example: rollouts-demo-root
                                  description: Holds the name of service that clients use to communicate
                                trafficSplitName:
                                  type: string
                                  example: rollout-example-traffic-split
                                  description: Holds the name of the TrafficSplit
                            ambassador:
                              type: object
                              title: Ocean CD Rollout Spec Traffic Ambassador
                              description: |
                                Holds specific configuration to use Ambassador to route traffic
                              properties:
                                mappings:
                                  description: A list of names of the Ambassador Mappings used to route traffic to the service
                                  type: array
                                  items:
                                    type: string
                                    description: The name of the Ambassador Mappings used to route traffic to the service
                                    example: stable-mapping
                              required:
                                - mappings
                            pingPong:
                              type: object
                              title: Ocean CD Rollout Spec Traffic PingPong
                              description: |
                                Holds the ping and pong services. You can use `pingPong` field only when using ALB as a traffic manager with the IP Mode approach
                              properties:
                                pingService:
                                  type: string
                                  example: rollouts-demo-canary
[...]
