openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean ECS
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean ECS
    description: Ocean - Serverless containers for Amazon Elastic Container Service (ECS)
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.flexera.com/spot/ocean/
paths:
  /ocean/aws/ecs/cluster:
    get:
      summary: List Clusters
      description: |
        Get the configurations for all Ocean clusters in the specified account.
      operationId: OceanECSClusterList
      tags:
        - Ocean ECS
      parameters:
        - &ref_14
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      responses:
        '200': &ref_33
          description: Ocean ECS Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_37
                    type: object
                    allOf:
                      - &ref_36
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                            example: &ref_0
                              id: e593ff58-067d-4340-92f9-8b1c0bad70d7
                              timestamp: '2018-06-20T11:35:01.745Z'
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                                example:
                                  code: 200
                                  message: OK
                            example: &ref_1
                              status:
                                code: 200
                                message: OK
                        example:
                          request: *ref_0
                          response: *ref_1
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                            example:
                              count: 1
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: &ref_35
                              type: object
                              required:
                                - cluster
                              properties:
                                cluster:
                                  type: object
                                  title: ECS Ocean
                                  properties:
                                    id:
                                      type: string
                                      example: o-12345abc
                                      readOnly: true
                                      description: |
                                        Ocean cluster identifier.
                                    name:
                                      type: string
                                      example: Ocean::my-elastigroup-name
                                      description: |
                                        Add a name for the Ocean cluster.
                                    clusterName:
                                      type: string
                                      example: my-ECS-cluster-name
                                      description: |
                                        ECS cluster name.
                                    autoScaler: &ref_15
                                      type: object
                                      title: Ocean Autoscaler
                                      description: |
                                        The Ocean ECS Autoscaler.
                                      properties:
                                        isEnabled:
                                          type: boolean
                                          description: |
                                            Enable the Ocean ECS Autoscaler.
                                          example: true
                                        cooldown:
                                          type: integer
                                          description: |
                                            Cooldown period between scaling actions. Value should be cooldown period in seconds, greater than 180.
                                          example: 300
                                        resourceLimits:
                                          type: object
                                          description: |
                                            Optionally set upper and lower bounds on the resource usage of the cluster.
                                          properties:
                                            maxMemoryGib:
                                              type: integer
                                              description: |
                                                The maximum memory in GiB units that can be allocated to the cluster. Minimum value: 1.
                                              example: 1
                                            maxVCpu:
                                              type: integer
                                              description: |
                                                The maximum CPU in vCPU units that can be allocated to the cluster. Minimum value: 1.
                                              example: 1
                                          example:
                                            maxMemoryGib: 1
                                            maxVCpu: 1
                                        down:
                                          type: object
                                          description: |
                                            Autoscaling scale down operations.
                                          properties:
                                            evaluationPeriods:
                                              type: integer
                                              example: 4
                                            maxScaleDownPercentage:
                                              type: integer
                                              description: |
                                                The maximum portion (as a %) of nodes that will be scaled down at once out of the total number of potential nodes to scale down.
                                                Example: If there are 10 nodes to scale down and the parameter is 50%, then only 5 nodes will be scaled down at once.
                                                The other 5 nodes will be scaled down in the next autoscaling iteration.
                                              example: 20
                                          example:
                                            evaluationPeriods: 4
                                            maxScaleDownPercentage: 20
                                        headroom:
                                          type: object
                                          description: |
                                            Spare resource capacity management enabling fast assignment of pods without waiting for new resources to launch.
                                          properties:
                                            cpuPerUnit:
                                              type: integer
                                              description: |
                                                Optionally configure the number of CPUs to allocate per headroom unit. CPUs are denoted in CPU units, where 1024 units = 1 vCPU.
                                              example: 2048
                                            memoryPerUnit:
                                              type: integer
                                              description: |
                                                Optionally configure the amount of memory (MiB) to allocate per headroom unit.
                                              example: 3
                                            numOfUnits:
                                              type: integer
                                              description: |
                                                The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.
                                              example: 2
                                          example:
                                            cpuPerUnit: 2048
                                            memoryPerUnit: 3
                                            numOfUnits: 2
                                        isAutoConfig:
                                          type: boolean
                                          description: |
                                            Use automatic headroom. When set to true, the values under cluster.autoScaler.headroom are not effective, as Ocean configures and optimizes headroom automatically. The auto headroom is calculated based on the service with the most changed task in the cluster, not taking the Virtual Node Group's settings into consideration.
                                          example: false
                                        autoHeadroomPercentage:
                                          type: integer
                                          description: |
                                            Optionally set the auto-headroom percentage. Set a number between 0-200 to control the headroom % of the cluster. Relevant when isAutoConfig=true.
                                          example: 20
                                        shouldScaleDownNonServiceTasks:
                                          type: boolean
                                          description: |
                                            Option to scale down non-service tasks. If not set, Ocean does not scale down standalone tasks.
                                          default: false
                                          example: true
                                        enableAutomaticAndManualHeadroom:
                                          type: boolean
                                          description: |
                                            When set to true, both automatic and per custom Virtual Node Group manual headroom to be saved concurrently and independently in the cluster. prerequisite: isAutoConfig must be true
                                          example: false
                                      example: &ref_28
                                        isEnabled: true
                                        cooldown: 300
                                        resourceLimits:
                                          maxMemoryGib: 1
                                          maxVCpu: 1
                                        down:
                                          evaluationPeriods: 4
                                          maxScaleDownPercentage: 20
                                        headroom:
                                          cpuPerUnit: 2048
                                          memoryPerUnit: 3
                                          numOfUnits: 2
                                        isAutoConfig: false
                                        autoHeadroomPercentage: 20
                                        shouldScaleDownNonServiceTasks: true
                                        enableAutomaticAndManualHeadroom: false
                                    capacity: &ref_16
                                      type: object
                                      title: Capacity Units
                                      description: |
                                        Capacity specifications for the Ocean cluster.
                                      properties:
                                        minimum:
                                          type: integer
                                          example: 1
                                          description: |
                                            The bottom limit of instances that the cluster can scale down to.
                                        maximum:
                                          type: integer
                                          example: 10
                                          description: |
                                            The upper limit of instances that the cluster can scale up to.
                                          default: 1000
                                        target:
                                          type: integer
                                          example: 5
                                          description: |
                                            Number of instances to launch and maintain in cluster.h
                                      example: &ref_29
                                        minimum: 1
                                        maximum: 10
                                        target: 5
                                    strategy: &ref_17
                                      type: object
                                      title: Ocean Strategy
                                      description: |
                                        Strategy Configuration of the Ocean cluster.
                                      properties:
                                        utilizeReservedInstances:
                                          type: boolean
                                          description: |
                                            If reserved instances exist, Ocean will use them before launching spot instances.
                                          example: true
                                          default: false
                                        fallbackToOd:
                                          type: boolean
                                          description: |
                                            If no spot instance markets are available, enable Ocean to launch on-demand instances instead.
                                          example: true
                                          default: true
                                        spotPercentage:
                                          type: integer
                                          example: 100
                                        drainingTimeout:
                                          type: integer
                                          description: |
                                            The draining timeout (in seconds) before terminating the instance. If no draining timeout is defined, the default draining timeout will be used.
                                          example: 200
                                        utilizeCommitments:
                                          type: boolean
                                          description: |
                                            If savings plans commitment has available capacity, Ocean will utilize them alongside RIs (if exist) to maximize cost efficiency.
                                          example: false
                                          default: false
                                        clusterOrientation:
                                          type: object
                                          properties:
                                            availabilityVsCost:
                                              type: string
                                              description: |
                                                You can control the approach that Ocean takes while launching nodes by configuring this value.
                                              enum:
                                                - costOriented
                                                - balanced
                                                - cheapest
                                              example: balanced
                                              default: balanced
                                          example:
                                            availabilityVsCost: balanced
                                      example: &ref_30
                                        utilizeReservedInstances: true
                                        fallbackToOd: true
                                        spotPercentage: 100
                                        drainingTimeout: 200
                                        utilizeCommitments: false
                                        clusterOrientation:
                                          availabilityVsCost: balanced
                                    compute:
                                      type: object
                                      title: Ocean Compute
                                      properties:
                                        subnetIds:
                                          type: array
                                          description: |
                                            A comma-separated list of subnet identifiers for the Ocean cluster. Subnet identifiers should be configured with auto-assign public IP.
                                          items:
                                            type: string
                                            example: subnet-1234abcd
                                        instanceTypes:
                                          type: object
                                          description: The type of instances that may or may not be a part of the Ocean cluster.
                                          properties:
                                            filters: &ref_18
                                              type: object
                                              description: |
                                                List of filters. The Instance types that match with all filters compose the Ocean's whitelist parameter.  Cannot be configured together with whitelist/blacklist.
                                              title: InstanceTypesFilters
                                              properties:
                                                minVcpu:
                                                  type: integer
                                                  description: |
                                                    Minimum number of vCPUs available.
                                                  minimum: 0
                                                  example: 2
                                                maxVcpu:
                                                  type: integer
                                                  description: |
                                                    Maximum number of vCPUs available.
                                                  minimum: 1
                                                  example: 16
                                                minMemoryGiB:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Minimum amount of Memory (GiB).
                                                  minimum: 0
                                                  example: 8
                                                maxMemoryGiB:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Maximum amount of Memory (GiB).
                                                  minimum: 0
                                                  example: 16
                                                minGpu:
                                                  type: integer
                                                  description: |
                                                    Minimum total number of GPUs.
                                                  minimum: 0
                                                  example: 0
                                                maxGpu:
                                                  type: integer
                                                  description: |
                                                    Maximum total number of GPUs.
                                                  minimum: 1
                                                  example: 4
                                                includeFamilies:
                                                  type: array
                                                  description: |
                                                    Types belonging to a family from the IncludeFamilies will be available for scaling (asterisk wildcard is also supported). For example, C* will include instance types from these families: c5, c4, c4a, etc.
                                                  items:
                                                    type: string
                                                  example: &ref_2
                                                    - c5*
                                                    - g5
                                                excludeFamilies:
                                                  type: array
                                                  description: |
                                                    Types belonging to a family from the ExcludeFamilies will not be available for scaling (asterisk wildcard is also supported). For example, C* will exclude instance types from these families: c5, c4, c4a, etc.
                                                  items:
                                                    type: string
                                                  example: &ref_3
                                                    - t2
                                                    - R4*
                                                excludeMetal:
                                                  type: boolean
                                                  default: false
                                                  description: |
                                                    In case excludeMetal is set to true, metal types will not be available for scaling.
                                                  example: true
                                                isEnaSupported:
                                                  type: boolean
                                                  description: |
                                                    Ena is supported or not.
                                                  example: true
                                                architectures:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will support at least one of the architectures from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - i386
                                                      - x86_64
                                                      - arm64
                                                  example: &ref_4
                                                    - i386
                                                    - x86_64
                                                virtualizationTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will support at least one of the virtualization types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - hvm
                                                      - paravirtual
                                                  example: &ref_5
                                                    - hvm
                                                categories:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will belong to one of the categories types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - Accelerated_computing
                                                      - Compute_optimized
                                                      - General_purpose
                                                      - Memory_optimized
                                                      - Storage_optimized
                                                  example: &ref_6
                                                    - Accelerated_computing
                                                    - Compute_optimized
                                                minEnis:
                                                  type: integer
                                                  description: |
                                                    Minimum number of network interfaces (ENIs).
                                                  minimum: 0
                                                  example: 2
                                                diskTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have one of the disk type from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - NVMe
                                                      - EBS
                                                      - SSD
                                                      - HDD
                                                  example: &ref_7
                                                    - NVMe
                                                    - EBS
                                                hypervisor:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have a hypervisor type from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - nitro
                                                      - xen
                                                  example: &ref_8
                                                    - nitro
                                                rootDeviceTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have a root device types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - ebs
                                                      - instance-store
                                                  example: &ref_9
                                                    - ebs
                                                minNetworkPerformance:
                                                  type: integer
                                                  description: |
                                                    Minimum Bandwidth in Gib/s of network performance.
                                                  minimum: 0
                                                  example: 2
                                                maxNetworkPerformance:
                                                  type: integer
                                                  description: |
                                                    Maximum Bandwidth in Gib/s of network performance.
                                                  minimum: 1
                                                  example: 20
                                                minInstancePrice:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Minimum Price of On-Demand instance type.
                                                  minimum: 0
                                                  example: 2
                                                maxInstancePrice:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Maximum Price of On-Demand instance type.
                                                  exclusiveMinimum: true
                                                  minimum: 0
                                                  example: 20
                                                includeGenerations:
                                                  type: array
                                                  description: |
                                                    Types belonging to a Generation from the IncludeGenerations will be available for scaling.
                                                  items:
                                                    type: string
                                                  example: &ref_10
                                                    - '6'
                                                    - '7'
                                                excludeGenerations:
                                                  type: array
                                                  description: |
                                                    Types Not belonging to a Generation from the ExcludeGenerations will be available for scaling.
                                                  items:
                                                    type: string
                                                  example: &ref_11
                                                    - '1'
                                                    - '2'
                                                encryptionInTransitSupported:
                                                  type: boolean
                                                  description: |
                                                    encryptionInTransitSupported is supported or not.
                                                  example: true
                                              example: &ref_19
                                                minVcpu: 2
                                                maxVcpu: 16
                                                minMemoryGiB: 8
                                                maxMemoryGiB: 16
                                                minGpu: 0
                                                maxGpu: 4
                                                includeFamilies: *ref_2
                                                excludeFamilies: *ref_3
                                                excludeMetal: true
                                                isEnaSupported: true
                                                architectures: *ref_4
                                                virtualizationTypes: *ref_5
                                                categories: *ref_6
                                                minEnis: 2
                                                diskTypes: *ref_7
                                                hypervisor: *ref_8
                                                rootDeviceTypes: *ref_9
                                                minNetworkPerformance: 2
                                                maxNetworkPerformance: 20
                                                minInstancePrice: 2
                                                maxInstancePrice: 20
                                                includeGenerations: *ref_10
                                                excludeGenerations: *ref_11
                                                encryptionInTransitSupported: true
                                            whitelist:
                                              type: array
                                              description: |
                                                Instance types allowed in the Ocean cluster. Cannot be configured if a deny list is configured.
                                              items:
                                                type: string
                                              example: &ref_12
                                                - c4.xlarge
                                                - c4.2xlarge
                                                - c4.4xlarge
                                                - c4.8xlarge
                                            blacklist:
                                              type: array
                                              description: |
                                                Instance types to avoid launching in the Ocean cluster. Cannot be configured if a permit list is configured.
                                              items:
                                                type: string
                                              example: &ref_13
                                                - r5.large
                                                - r5.xlarge
                                          example:
                                            filters:
                                              minVcpu: 2
                                              maxVcpu: 16
                                              minMemoryGiB: 8
                                              maxMemoryGiB: 16
                                              minGpu: 0
                                              maxGpu: 4
                                              includeFamilies: *ref_2
                                              excludeFamilies: *ref_3
                                              excludeMetal: true
                                              isEnaSupported: true
                                              architectures: *ref_4
                                              virtualizationTypes: *ref_5
                                              categories: *ref_6
                                              minEnis: 2
                                              diskTypes: *ref_7
                                              hypervisor: *ref_8
                                              rootDeviceTypes: *ref_9
                                              minNetworkPerformance: 2
                                              maxNetworkPerformance: 20
                                              minInstancePrice: 2
                                              maxInstancePrice: 20
                                              includeGenerations: *ref_10
                                              excludeGenerations: *ref_11
                                              encryptionInTransitSupported: true
                                            whitelist: *ref_12
                                            blacklist: *ref_13
                                        launchSpecification:
                                          type: object
                                          description: |
                                            The default specification for container instances in the cluster. Used as a template for custom Virtual Node Groups to inherit values which are not explicitly defined in them, and as a default VNG when no other VNGs exist or match the workload’s requirements.
                                          properties:
                                            associatePublicIpAddress:
                                              type: boolean
                                              description: Configure public IP address allocation.
                                              default: false
                                              example: false
                                            associateIpv6Address:
                                              type: boolean
                                              description: Configure IPv6 address allocation.
                                              default: false
                                              example: false
                                            imageId:
                                              type: string
                                              example: ami-123456789abcdefgh
                                            securityGroupIds:
                                              type: array
                                              description: |
                                                One or more security group identifiers.
                                              items:
                                                type: string
                                                example: sg-abcdefgh123456789
                                            iamInstanceProfile:
                                              type: object
                                              description: |
                                                The instance profile iamRole.
                                              properties:
                                                arn:
                                                  type: string
                                                  description: |
                                                    The iamRole ARN.
                                                  example: my-arn
                                              example:
                                                arn: my-arn
                                            blockDeviceMappings: &ref_22
                                              type: array
                                              description: |
                                                Block devices that are exposed to the instance. You can specify virtual devices and EBS volumes.\
                                                This parameter and rootVolumeSize cannot be in the specification at the same time.\
                                                This parameter can be null. If not null, it must contain at least one block device.
                                              items:
                                                type: object
                                                properties:
                                                  deviceName:
                                                    type: string
                                                    description: |
                                                      Set device name.
                                                    example: /dev/xvda
                                                  ebs:
                                                    type: object
                                                    description: |
                                                      Set EBS properties.
                                                    properties:
                                                      throughput:
                                                        type: integer
                                                        minimum: 125
                                                        maximum: 1000
                                                        example: 125
                                                        description: |
                                                          The amount of data transferred to or from a storage device per second. You can use this parameter only if volumetype=‘gp3’.
                                                      deleteOnTermination:
                                                        type: boolean
                                                        description: |
                                                          Flag to delete the EBS on instance termination.
                                                        example: false
                                                      encrypted:
                                                        type: boolean
                                                        example: false
                                                      iops:
                                                        type: integer
                                                        description: |
                                                          Must be greater than or equal to 0.
                                                        example: 1
                                                      kmsKeyId:
                                                        type: string
                                                        example: alias/aws/ebs
                                                      snapshotId:
                                                        type: string
                                                        example: snap-abcdefghi111110
                                                      volumeType:
                                                        type: string
                                                        description: |
                                                          Set volume type.
                                                        example: gp2
                                                      volumeSize:
                                                        type: integer
                                                        description: |
                                                          Set volume size (in GB). When using this property, you cannot use dynamicVolumeSize. You must use one of the other. Volume size should be greater than or equal to the size configured in the AMI.
                                                      dynamicVolumeSize:
                                                        type: object
                                                        required:
                                                          - baseSize
                                                          - resource
                                                          - sizePerResourceUnit
                                                        description: |
                                                          Set dynamic volume size properties. When using this object, you cannot use volumeSize. You must use one or the other.
                                                        properties:
                                                          baseSize:
                                                            type: integer
                                                            description: |
                                                              Initial size per volume.
                                                            example: 50
                                                          resource:
                                                            type: string
                                                            example: CPU
                                                          sizePerResourceUnit:
                                                            type: integer
                                                            description: |
                                                              Additional size per resource unit (in GB). For example, if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched, its disk size will be 90 GB.
                                                            example: 20
                                                        example:
                                                          baseSize: 50
                                                          resource: CPU
                                                          sizePerResourceUnit: 20
                                                    example:
                                                      throughput: 125
                                                      deleteOnTermination: false
                                                      encrypted: false
                                                      iops: 1
                                                      kmsKeyId: alias/aws/ebs
                                                      snapshotId: snap-abcdefghi111110
                                                      volumeType: gp2
                                                      dynamicVolumeSize:
                                                        baseSize: 50
                                                        resource: CPU
                                                        sizePerResourceUnit: 20
                                                example: &ref_24
                                                  deviceName: /dev/xvda
                                                  ebs:
                                                    throughput: 125
                                                    deleteOnTermination: false
                                                    encrypted: false
                                                    iops: 1
                                                    kmsKeyId: alias/aws/ebs
                                                    snapshotId: snap-abcdefghi111110
                                                    volumeType: gp2
                                                    dynamicVolumeSize:
                                                      baseSize: 50
                                                      resource: CPU
                                                      sizePerResourceUnit: 20
                                            instanceMetadataOptions: &ref_23
                                              type: object
                                              title: instanceMetadataOptions
                                              required:
                                                - httpTokens
                                              description: |
                                                Ocean instance metadata options object for [IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html).
                                              properties:
                                                httpTokens:
                                                  type: string
                                                  description: |
                                                    Determines if a signed token is required or not.
                                                  enum:
                                                    - optional
                                                    - required
                                                  example: optional
                                                httpPutResponseHopLimit:
                                                  type: integer
                                                  description: |
                                                    An integer from 1 through 64.
                                                    The required HTTP PUT response hop limit for instance metadata requests.
                                                    The larger the number, the further the instance metadata requests can travel.
                                                  example: 12
                                                httpEndpoint:
                                                  type: string
                                                  description: |
                                                    Enables or disables the HTTP metadata endpoint on your instances.
                                                  enum:
                                                    - disabled
                                                    - enabled
                                                  example: disabled
                                                instanceMetadataTags:
                                                  title: Instance Metadata Tags
                                                  type: string
                                                  enum:
                                                    - Enabled
                                                    - Disabled
                                                  description: |
                                                    Indicates whether access to instance tags from the instance metadata is enabled or disabled.
                                                    Can’t be null.
                                                  example: Enabled
                                              example: &ref_25
                                                httpTokens: optional
                                                httpPutResponseHopLimit: 12
                                                httpEndpoint: disabled
                                                instanceMetadataTags: Enabled
                                            userData:
                                              type: string
                                              format: byte
                                              description: The base 64 encoded MIME user data to make available to the instances.
                                              example: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                            useAsTemplateOnly:
                                              type: boolean
                                              description: |
                                                The configuration specified on the Ocean object will function only as a template for virtual node groups.
                                              default: false
                                            monitoring:
                                              type: boolean
                                              description: Enable detailed monitoring for cluster.
                                              example: false
                                            ebsOptimized:
                                              type: boolean
                                              description: Enable EBS optimization for the cluster. A flag will enable optimized capacity for high bandwidth connectivity to the EB service for non EBS optimized instance types. For instances that are EBS optimized, this flag will be ignored.
                                              example: false
                                            tags:
                                              type: array
                                              description: |
                                                List of kay-value pairs of tags.
                                              items:
                                                type: object
                                                properties:
                                                  tagKey:
                                                    type: string
                                                    description: |
                                                      Set the tag key.
                                                    example: Creator
                                                  tagValue:
                                                    type: string
                                                    description: |
                                                      Set the tag value.
                                                    example: John Doe
                                                example:
                                                  tagKey: Creator
                                                  tagValue: John Doe
                                          example:
                                            associatePublicIpAddress: false
                                            associateIpv6Address: false
                                            imageId: ami-123456789abcdefgh
                                            securityGroupIds:
                                              - sg-abcdefgh123456789
                                            iamInstanceProfile:
                                              arn: my-arn
                                            blockDeviceMappings:
                                              - deviceName: /dev/xvda
                                                ebs:
                                                  throughput: 125
                                                  deleteOnTermination: false
                                                  encrypted: false
                                                  iops: 1
                                                  kmsKeyId: alias/aws/ebs
                                                  snapshotId: snap-abcdefghi111110
                                                  volumeType: gp2
                                                  dynamicVolumeSize:
                                                    baseSize: 50
                                                    resource: CPU
                                                    sizePerResourceUnit: 20
                                            instanceMetadataOptions:
                                              httpTokens: optional
                                              httpPutResponseHopLimit: 12
                                              httpEndpoint: disabled
                                              instanceMetadataTags: Enabled
                                            userData: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                            monitoring: false
                                            ebsOptimized: false
                                            tags:
                                              - tagKey: Creator
                                                tagValue: John Doe
                                        optimizeImages:
                                          type: object
                                          properties:
                                            shouldOptimizeEcsAmi:
                                              type: boolean
                                              example: 'true'
                                            performAt:
                                              type: string
                                              example: never
                                              description: |
                                                Must be one of the following values: never, always, timeWindow. If performAt = timeWindow, the time window array should contain at least one time window.
                                            timeWindows:
                                              type: array
                                              description: |
                                                Restrict to time window regex.
                                              items:
                                                example: '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                          example:
                                            shouldOptimizeEcsAmi: 'true'
                                            performAt: never
                                            timeWindows:
                                              - '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                      example:
                                        subnetIds:
                                          - subnet-1234abcd
                                        instanceTypes:
                                          filters:
                                            minVcpu: 2
                                            maxVcpu: 16
                                            minMemoryGiB: 8
                                            maxMemoryGiB: 16
                                            minGpu: 0
                                            maxGpu: 4
                                            includeFamilies: *ref_2
                                            excludeFamilies: *ref_3
                                            excludeMetal: true
                                            isEnaSupported: true
                                            architectures: *ref_4
                                            virtualizationTypes: *ref_5
                                            categories: *ref_6
                                            minEnis: 2
                                            diskTypes: *ref_7
                                            hypervisor: *ref_8
                                            rootDeviceTypes: *ref_9
                                            minNetworkPerformance: 2
                                            maxNetworkPerformance: 20
                                            minInstancePrice: 2
                                            maxInstancePrice: 20
                                            includeGenerations: *ref_10
                                            excludeGenerations: *ref_11
                                            encryptionInTransitSupported: true
                                          whitelist: *ref_12
                                          blacklist: *ref_13
                                        launchSpecification:
                                          associatePublicIpAddress: false
                                          associateIpv6Address: false
                                          imageId: ami-123456789abcdefgh
                                          securityGroupIds:
                                            - sg-abcdefgh123456789
                                          iamInstanceProfile:
                                            arn: my-arn
                                          blockDeviceMappings:
                                            - deviceName: /dev/xvda
                                              ebs:
                                                throughput: 125
                                                deleteOnTermination: false
                                                encrypted: false
                                                iops: 1
                                                kmsKeyId: alias/aws/ebs
                                                snapshotId: snap-abcdefghi111110
                                                volumeType: gp2
                                                dynamicVolumeSize:
                                                  baseSize: 50
                                                  resource: CPU
                                                  sizePerResourceUnit: 20
                                          instanceMetadataOptions:
                                            httpTokens: optional
                                            httpPutResponseHopLimit: 12
                                            httpEndpoint: disabled
                                            instanceMetadataTags: Enabled
                                          userData: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                          monitoring: false
                                          ebsOptimized: false
                                          tags:
                                            - tagKey: Creator
                                              tagValue: John Doe
                                        optimizeImages:
                                          shouldOptimizeEcsAmi: 'true'
                                          performAt: never
                                          timeWindows:
                                            - '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                    scheduling: &ref_26
                                      type: object
                                      title: Ocean Scheduling
                                      description: |
                                        An object used to define times for a task such as a shutdown to be activated.
                                      properties:
                                        tasks:
                                          type: array
                                          description: |
                                            The actions in the cluster to be scheduled.
                                          items:
                                            type: object
                                            required:
                                              - isEnabled
                                              - cronExpression
                                              - taskType
                                            properties:
                                              isEnabled:
                                                type: boolean
                                                description: |
                                                  Describes whether the task is enabled. When true, the task will run. When false, it does not run. Required for the object cluster.scheduling.tasks.
                                                example: false
                                              cronExpression:
                                                type: string
                                                description: |
                                                  A valid cron expression, for example " * * * * * ". The cron runs in the UTC time zone and is in Unix cron format [Cron Expression Validator Script](https://www.unix.com/man-page/linux/5/crontab/). Only one of ‘frequency' or ‘cronExpression' should be used at a time. Required for cluster.scheduling.tasks.
                                              taskType:
                                                type: string
                                                description: |
                                                  Valid values: "clusterRoll". Required for cluster.scheduling.tasks.
                                                enum:
                                                  - clusterRoll
                                                example: clusterRoll
                                              parameters:
                                                type: object
                                                properties:
                                                  clusterRoll:
                                                    type: object
                                                    properties:
                                                      batchSizePercentage:
                                                        type: integer
                                                        minimum: 0
                                                        maximum: 100
                                                        example: 20
                                                        description: |
                                                          Value as a percent to set the size of a batch in a roll. Valid values are 0-100.
                                                      comment:
                                                        type: string
                                                        example: This is why I deployed my cluster.
                                                        description: |
                                                          Add a comment description for the roll. The comment is limited to 256 chars
                                                      batchMinHealthyPercentage:
                                                        type: integer
                                                        minimum: 1
                                                        maximum: 100
                                                        default: 50
                                                        example: 100
                                                        description: |
                                                          Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                                                    example:
                                                      batchSizePercentage: 20
                                                      comment: This is why I deployed my cluster.
                                                      batchMinHealthyPercentage: 100
                                                example:
                                                  clusterRoll:
                                                    batchSizePercentage: 20
                                                    comment: This is why I deployed my cluster.
                                                    batchMinHealthyPercentage: 100
                                            example:
                                              isEnabled: false
                                              taskType: clusterRoll
                                              parameters:
                                                clusterRoll:
                                                  batchSizePercentage: 20
                                                  comment: This is why I deployed my cluster.
                                                  batchMinHealthyPercentage: 100
                                        shutdownHours:
                                          type: object
                                          title: Shutdown Hours
                                          required:
                                            - timeWindows
                                          properties:
                                            timeWindows:
                                              type: array
                                              items:
                                                type: string
                                                example: Sat:08:00-Sun:08:00
                                            isEnabled:
                                              type: boolean
                                              example: true
                                              description: |
                                                Flag to enable / disable the shutdown hours mechanism. When turned to false, the mechanism is deactivated and the cluster remains in its current state.
                                          example:
                                            timeWindows:
                                              - Sat:08:00-Sun:08:00
                                            isEnabled: true
                                      example: &ref_31
                                        tasks:
                                          - isEnabled: false
                                            taskType: clusterRoll
                                            parameters:
                                              clusterRoll:
                                                batchSizePercentage: 20
                                                comment: This is why I deployed my cluster.
                                                batchMinHealthyPercentage: 100
                                        shutdownHours:
                                          timeWindows:
                                            - Sat:08:00-Sun:08:00
                                          isEnabled: true
                                    logging: &ref_27
                                      type: object
                                      title: Logging configuration
                                      properties:
                                        export:
                                          type: object
                                          title: Logging Export Configuration.
                                          properties:
                                            s3:
                                              type: object
                                              title: Logging S3 Export configuration.
                                              description: |
                                                Exports your cluster's logs to the S3 bucket and subdir configured on the S3 [data integration](/#operation/DataIntegrationCreate) given.
                                                Each file contains logs of 3 minutes where each log is separated by a new line and saved as a JSON.
                                                The file formats are `subdir`/`accountId`_`oceanId`_`oceanName`_`startTime`.log
                                                If no subdir was configured, the files will be saved in the root of the bucket.
                                              required:
                                                - id
                                              properties:
                                                id:
                                                  type: string
                                                  description: The identifier of The S3 data integration to export the logs to.
                                                  example: di-123
                                              example:
                                                id: di-123
                                          example:
                                            s3:
                                              id: di-123
                                      example: &ref_32
                                        export:
                                          s3:
                                            id: di-123
                                    createdAt:
                                      type: string
                                      readOnly: true
                                      format: date-time
                                      example: '2019-06-03T08:13:08.000Z'
                                      description: |
                                        A timestamp of the Ocean creation.
                                    updatedAt:
                                      type: string
                                      readOnly: true
                                      format: date-time
                                      example: '2019-06-10T15:06:13.000Z'
                                      description: |
                                        A timestamp of the latest Ocean update.
                                  example:
                                    id: o-12345abc
                                    name: Ocean::my-elastigroup-name
                                    clusterName: my-ECS-cluster-name
                                    autoScaler:
                                      isEnabled: true
                                      cooldown: 300
                                      resourceLimits:
                                        maxMemoryGib: 1
                                        maxVCpu: 1
                                      down:
                                        evaluationPeriods: 4
                                        maxScaleDownPercentage: 20
                                      headroom:
                                        cpuPerUnit: 2048
                                        memoryPerUnit: 3
                                        numOfUnits: 2
                                      isAutoConfig: false
                                      autoHeadroomPercentage: 20
                                      shouldScaleDownNonServiceTasks: true
                                      enableAutomaticAndManualHeadroom: false
                                    capacity:
                                      minimum: 1
                                      maximum: 10
                                      target: 5
                                    strategy:
                                      utilizeReservedInstances: true
                                      fallbackToOd: true
                                      spotPercentage: 100
                                      drainingTimeout: 200
                                      utilizeCommitments: false
                                      clusterOrientation:
                                        availabilityVsCost: balanced
                                    compute:
                                      subnetIds:
                                        - subnet-1234abcd
                                      instanceTypes:
                                        filters:
                                          minVcpu: 2
                                          maxVcpu: 16
                                          minMemoryGiB: 8
                                          maxMemoryGiB: 16
                                          minGpu: 0
                                          maxGpu: 4
                                          includeFamilies: *ref_2
                                          excludeFamilies: *ref_3
                                          excludeMetal: true
                                          isEnaSupported: true
                                          architectures: *ref_4
                                          virtualizationTypes: *ref_5
                                          categories: *ref_6
                                          minEnis: 2
                                          diskTypes: *ref_7
                                          hypervisor: *ref_8
                                          rootDeviceTypes: *ref_9
                                          minNetworkPerformance: 2
                                          maxNetworkPerformance: 20
                                          minInstancePrice: 2
                                          maxInstancePrice: 20
                                          includeGenerations: *ref_10
                                          excludeGenerations: *ref_11
                                          encryptionInTransitSupported: true
                                        whitelist: *ref_12
                                        blacklist: *ref_13
                                      launchSpecification:
                                        associatePublicIpAddress: false
                                        associateIpv6Address: false
                                        imageId: ami-123456789abcdefgh
                                        securityGroupIds:
                                          - sg-abcdefgh123456789
                                        iamInstanceProfile:
                                          arn: my-arn
                                        blockDeviceMappings:
                                          - deviceName: /dev/xvda
                                            ebs:
                                              throughput: 125
                                              deleteOnTermination: false
                                              encrypted: false
                                              iops: 1
                                              kmsKeyId: alias/aws/ebs
                                              snapshotId: snap-abcdefghi111110
                                              volumeType: gp2
                                              dynamicVolumeSize:
                                                baseSize: 50
                                                resource: CPU
                                                sizePerResourceUnit: 20
                                        instanceMetadataOptions:
                                          httpTokens: optional
                                          httpPutResponseHopLimit: 12
                                          httpEndpoint: disabled
                                          instanceMetadataTags: Enabled
                                        userData: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                        monitoring: false
                                        ebsOptimized: false
                                        tags:
                                          - tagKey: Creator
                                            tagValue: John Doe
                                      optimizeImages:
                                        shouldOptimizeEcsAmi: 'true'
                                        performAt: never
                                        timeWindows:
                                          - '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                    scheduling:
                                      tasks:
                                        - isEnabled: false
                                          taskType: clusterRoll
                                          parameters:
                                            clusterRoll:
                                              batchSizePercentage: 20
                                              comment: This is why I deployed my cluster.
                                              batchMinHealthyPercentage: 100
                                      shutdownHours:
                                        timeWindows:
                                          - Sat:08:00-Sun:08:00
                                        isEnabled: true
                                    logging:
                                      export:
                                        s3:
                                          id: di-123
                                    createdAt: '2019-06-03T08:13:08.000Z'
                                    updatedAt: '2019-06-10T15:06:13.000Z'
                              example:
                                cluster:
                                  id: o-12345abc
                                  name: Ocean::my-elastigroup-name
                                  clusterName: my-ECS-cluster-name
                                  autoScaler:
                                    isEnabled: true
                                    cooldown: 300
                                    resourceLimits:
                                      maxMemoryGib: 1
                                      maxVCpu: 1
                                    down:
                                      evaluationPeriods: 4
                                      maxScaleDownPercentage: 20
                                    headroom:
                                      cpuPerUnit: 2048
                                      memoryPerUnit: 3
                                      numOfUnits: 2
                                    isAutoConfig: false
                                    autoHeadroomPercentage: 20
                                    shouldScaleDownNonServiceTasks: true
                                    enableAutomaticAndManualHeadroom: false
                                  capacity:
                                    minimum: 1
                                    maximum: 10
                                    target: 5
                                  strategy:
                                    utilizeReservedInstances: true
                                    fallbackToOd: true
                                    spotPercentage: 100
                                    drainingTimeout: 200
                                    utilizeCommitments: false
                                    clusterOrientation:
                                      availabilityVsCost: balanced
                                  compute:
                                    subnetIds:
                                      - subnet-1234abcd
                                    instanceTypes:
                                      filters:
                                        minVcpu: 2
                                        maxVcpu: 16
                                        minMemoryGiB: 8
                                        maxMemoryGiB: 16
                                        minGpu: 0
                                        maxGpu: 4
                                        includeFamilies: *ref_2
                                        excludeFamilies: *ref_3
                                        excludeMetal: true
                                        isEnaSupported: true
                                        architectures: *ref_4
                                        virtualizationTypes: *ref_5
                                        categories: *ref_6
                                        minEnis: 2
                                        diskTypes: *ref_7
                                        hypervisor: *ref_8
                                        rootDeviceTypes: *ref_9
                                        minNetworkPerformance: 2
                                        maxNetworkPerformance: 20
                                        minInstancePrice: 2
                                        maxInstancePrice: 20
                                        includeGenerations: *ref_10
                                        excludeGenerations: *ref_11
                                        encryptionInTransitSupported: true
                                      whitelist: *ref_12
                                      blacklist: *ref_13
                                    launchSpecification:
                                      associatePublicIpAddress: false
                                      associateIpv6Address: false
                                      imageId: ami-123456789abcdefgh
                                      securityGroupIds:
                                        - sg-abcdefgh123456789
                                      iamInstanceProfile:
                                        arn: my-arn
                                      blockDeviceMappings:
                                        - deviceName: /dev/xvda
                                          ebs:
                                            throughput: 125
                                            deleteOnTermination: false
                                            encrypted: false
                                            iops: 1
                                            kmsKeyId: alias/aws/ebs
                                            snapshotId: snap-abcdefghi111110
                                            volumeType: gp2
                                            dynamicVolumeSize:
                                              baseSize: 50
                                              resource: CPU
                                              sizePerResourceUnit: 20
                                      instanceMetadataOptions:
                                        httpTokens: optional
                                        httpPutResponseHopLimit: 12
                                        httpEndpoint: disabled
                                        instanceMetadataTags: Enabled
                                      userData: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                      monitoring: false
                                      ebsOptimized: false
                                      tags:
                                        - tagKey: Creator
                                          tagValue: John Doe
                                    optimizeImages:
                                      shouldOptimizeEcsAmi: 'true'
                                      performAt: never
                                      timeWindows:
                                        - '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                  scheduling:
                                    tasks:
                                      - isEnabled: false
                                        taskType: clusterRoll
                                        parameters:
                                          clusterRoll:
                                            batchSizePercentage: 20
                                            comment: This is why I deployed my cluster.
                                            batchMinHealthyPercentage: 100
                                    shutdownHours:
                                      timeWindows:
                                        - Sat:08:00-Sun:08:00
                                      isEnabled: true
                                  logging:
                                    export:
                                      s3:
                                        id: di-123
                                  createdAt: '2019-06-03T08:13:08.000Z'
                                  updatedAt: '2019-06-10T15:06:13.000Z'
                          kind:
                            example: spotinst:ocean:aws:ecs
                        example:
                          items:
                            - cluster:
                                id: o-12345abc
                                name: Ocean::my-elastigroup-name
                                clusterName: my-ECS-cluster-name
                                autoScaler:
                                  isEnabled: true
                                  cooldown: 300
                                  resourceLimits:
                                    maxMemoryGib: 1
                                    maxVCpu: 1
                                  down:
                                    evaluationPeriods: 4
                                    maxScaleDownPercentage: 20
                                  headroom:
                                    cpuPerUnit: 2048
                                    memoryPerUnit: 3
                                    numOfUnits: 2
                                  isAutoConfig: false
                                  autoHeadroomPercentage: 20
                                  shouldScaleDownNonServiceTasks: true
                                  enableAutomaticAndManualHeadroom: false
                                capacity:
                                  minimum: 1
                                  maximum: 10
                                  target: 5
                                strategy:
                                  utilizeReservedInstances: true
                                  fallbackToOd: true
                                  spotPercentage: 100
                                  drainingTimeout: 200
                                  utilizeCommitments: false
                                  clusterOrientation:
                                    availabilityVsCost: balanced
                                compute:
                                  subnetIds:
                                    - subnet-1234abcd
                                  instanceTypes:
                                    filters:
                                      minVcpu: 2
                                      maxVcpu: 16
                                      minMemoryGiB: 8
                                      maxMemoryGiB: 16
                                      minGpu: 0
                                      maxGpu: 4
                                      includeFamilies: *ref_2
                                      excludeFamilies: *ref_3
                                      excludeMetal: true
                                      isEnaSupported: true
                                      architectures: *ref_4
                                      virtualizationTypes: *ref_5
                                      categories: *ref_6
                                      minEnis: 2
                                      diskTypes: *ref_7
                                      hypervisor: *ref_8
                                      rootDeviceTypes: *ref_9
                                      minNetworkPerformance: 2
                                      maxNetworkPerformance: 20
                                      minInstancePrice: 2
                                      maxInstancePrice: 20
                                      includeGenerations: *ref_10
                                      excludeGenerations: *ref_11
                                      encryptionInTransitSupported: true
                                    whitelist: *ref_12
                                    blacklist: *ref_13
                                  launchSpecification:
                                    associatePublicIpAddress: false
                                    associateIpv6Address: false
                                    imageId: ami-123456789abcdefgh
                                    securityGroupIds:
                                      - sg-abcdefgh123456789
                                    iamInstanceProfile:
                                      arn: my-arn
                                    blockDeviceMappings:
                                      - deviceName: /dev/xvda
                                        ebs:
                                          throughput: 125
                                          deleteOnTermination: false
                                          encrypted: false
                                          iops: 1
                                          kmsKeyId: alias/aws/ebs
                                          snapshotId: snap-abcdefghi111110
                                          volumeType: gp2
                                          dynamicVolumeSize:
                                            baseSize: 50
                                            resource: CPU
                                            sizePerResourceUnit: 20
                                    instanceMetadataOptions:
                                      httpTokens: optional
                                      httpPutResponseHopLimit: 12
                                      httpEndpoint: disabled
                                      instanceMetadataTags: Enabled
                                    userData: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                    monitoring: false
                                    ebsOptimized: false
                                    tags:
                                      - tagKey: Creator
                                        tagValue: John Doe
                                  optimizeImages:
[...]
