openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean AKS
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean AKS
    description: Ocean - Serverless containers for Azure Kubernetes Service
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.flexera.com/spot/ocean/
paths:
  /ocean/azure/np/cluster:
    summary: Ocean for AKS
    post:
      summary: Create Cluster
      description: |
        Creates an Ocean entity according to a given specification.

        <p>Notes:<br></p>

        It is recommended to import all necessary information from the existing AKS cluster using the Ocean [AKS Cluster Import](https://spec.dev.spot.io/#operation/oceanAKSClusterImport) API call and use its output to create a fully configured Ocean cluster.

        <p>The Ocean Controller is used to monitor the cluster resources and report back to Ocean SaaS. <b>A properly functioning controller is mandatory for Ocean to operate.</b>

        Installing the controller can be easily done by Helm, Terraform or a script using the [guide](https://docs.flexera.com/spot/ocean/tutorials/spot-kubernetes-controller/ocean-controller-two-install?id=new-clusters-install-the-ocean-controller-version-2).</p>
      operationId: oceanAKSClusterCreate
      tags:
        - Ocean AKS
      parameters:
        - &ref_33
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: |
                        The Ocean cluster.
                      required:
                        - name
                        - controllerClusterId
                        - aks
                        - virtualNodeGroupTemplate
                      properties:
                        id:
                          type: string
                          readOnly: true
                          example: o-134abcd
                          description: |
                            Ocean cluster identifier.
                        name:
                          type: string
                          example: test
                          description: |
                            Add a name for the Ocean cluster.
                        controllerClusterId:
                          type: string
                          example: test-123124
                          description: |
                            Enter a unique Ocean cluster identifier. Cannot be updated.
                        aks:
                          type: object
                          title: Ocean AKS - AKS Cluster Configuration
                          required:
                            - clusterName
                            - resourceGroupName
                            - region
                            - infrastructureResourceGroupName
                          description: |
                            AKS cluster configuration. Cannot be updated.
                          properties:
                            clusterName:
                              type: string
                              description: |
                                The name  of the AKS Cluster.
                              example: test-cluster
                            resourceGroupName:
                              type: string
                              description: |
                                The name of the cluster's resource group.
                              example: TestResourceGroup
                            region:
                              type: string
                              description: |
                                The cluster's region.
                              example: eastus
                            infrastructureResourceGroupName:
                              type: string
                              description: |
                                The name of the cluster's infrastructure resource group.
                              example: MC_TestResourceGroup_test-cluster_eastus
                          example:
                            clusterName: test-cluster
                            resourceGroupName: TestResourceGroup
                            region: eastus
                            infrastructureResourceGroupName: MC_TestResourceGroup_test-cluster_eastus
                        autoScaler: &ref_12
                          type: object
                          title: Ocean AKS Autoscaler
                          description: |
                            The Ocean Kubernetes Autoscaler object.
                          properties:
                            isEnabled:
                              type: boolean
                              description: |
                                Enable the Ocean Kubernetes Autoscaler.
                              example: true
                            resourceLimits:
                              type: object
                              description: |
                                Optionally set upper and lower bounds on the resource usage of the cluster.
                              properties:
                                maxVCpu:
                                  type: integer
                                  description: |
                                    The maximum cpu in vCpu units that can be allocated to the cluster.
                                  example: 750
                                maxMemoryGib:
                                  type: integer
                                  description: |
                                    The maximum memory in GiB units that can be allocated to the cluster.
                                  example: 1500
                              example:
                                maxVCpu: 750
                                maxMemoryGib: 1500
                            down:
                              type: object
                              description: |
                                Autoscaling scale down operations.
                              properties:
                                maxScaleDownPercentage:
                                  type: number
                                  format: double
                                  minimum: 1
                                  maximum: 100
                                  description: The maximum percentage allowed to scale down in a single scaling action.
                                  example: 30
                              example:
                                maxScaleDownPercentage: 30
                            headroom:
                              type: object
                              description: |
                                Spare resource capacity management enabling fast assignment of pods without waiting for new resources to launch.
                              properties:
                                automatic:
                                  type: object
                                  description: |
                                    Automatic headroom configuration.
                                  properties:
                                    isEnabled:
                                      type: boolean
                                      description: |
                                        Enable automatic headroom. When set to True, Ocean configures and optimizes headroom automatically.
                                    percentage:
                                      type: integer
                                      description: |
                                        Optionally set a number between 0-100 to control the percentage of total cluster resources dedicated to headroom.
                                      example: 5
                                      minimum: 0
                                      maximum: 100
                                  example:
                                    percentage: 5
                              example:
                                automatic:
                                  percentage: 5
                          example: &ref_29
                            isEnabled: true
                            resourceLimits:
                              maxVCpu: 750
                              maxMemoryGib: 1500
                            down:
                              maxScaleDownPercentage: 30
                            headroom:
                              automatic:
                                percentage: 5
                        scheduling: &ref_13
                          type: object
                          description: |
                            An object used to specify times when the cluster will turn off. Once the shutdown time will be over, the cluster will return to its previous state.
                          title: Ocean AKS Scheduling
                          properties:
                            shutdownHours:
                              type: object
                              description: |
                                An object used to specify times that the nodes in the cluster will be taken down.
                              title: Shutdown Hours
                              properties:
                                timeWindows:
                                  type: array
                                  description: |
                                    The times that the shutdown hours will apply. Required if isEnabled is true.
                                  items:
                                    type: string
                                    example: Sat:08:00-Sun:08:00
                                isEnabled:
                                  type: boolean
                                  example: true
                                  description: |
                                    Flag to enable or disable the shutdown hours mechanism. When False, the mechanism is deactivated, and the cluster remains in its current state.
                              example:
                                timeWindows:
                                  - Sat:08:00-Sun:08:00
                                isEnabled: true
                            tasks:
                              type: array
                              description: |
                                A list of scheduling tasks to preform on the cluster at a specific cron time.
                              items:
                                type: object
                                required:
                                  - isEnabled
                                  - cronExpression
                                  - taskType
                                properties:
                                  isEnabled:
                                    type: boolean
                                    description: |
                                      Flag to enable or disable the scheduling task.
                                  cronExpression:
                                    type: string
                                    description: |
                                      A valid cron expression. The cron is running in UTC time zone and is in Unix cron format of Cron Expression Validator Script.
                                    example: 0 1 * * *
                                  taskType:
                                    type: string
                                    description: |
                                      The type of the scheduling task.
                                    enum:
                                      - clusterRoll
                                      - autoUpgradeVersion
                                    example: clusterRoll
                                  parameters:
                                    type: object
                                    description: |
                                      The parameters of the scheduling task. Each task type will have properties relevant only to it.
                                    oneOf:
                                      - type: object
                                        description: |
                                          The parameters of the cluster roll scheduling task.
                                        title: Cluster Roll
                                        properties:
                                          batchSizePercentage:
                                            type: integer
                                            minimum: 1
                                            maximum: 100
                                            description: |
                                              The percentage of the cluster that will be rolled at each batch.
                                            example: 20
                                          comment:
                                            type: string
                                            description: |
                                              A comment to be added to the cluster roll.
                                            example: Scheduled cluster roll
                                          respectPdb:
                                            type: boolean
                                            description: |
                                              During the roll, if the parameter is set to true we honor PDB during the instance replacement.
                                            example: true
                                          respectRestrictScaleDown:
                                            type: boolean
                                            description: |
                                              During the roll, if the parameter is set to true we honor Restrict Scale Down label during the nodes replacement.
                                            example: true
                                          batchMinHealthyPercentage:
                                            type: integer
                                            minimum: 1
                                            maximum: 100
                                            description: |
                                              The minimum percentage of the scaled nodes that should be healthy at each batch.
                                            example: 80
                                          vngIds:
                                            type: array
                                            description: |
                                              List of Virtual Node Group IDs to be rolled. If not set or set to null, cluster roll will be applied.
                                            example:
                                              - vng-123456
                                            items:
                                              type: string
                                      - &ref_99
                                        type: object
                                        description: |
                                          The Configuration for scheduling automatic upgrades of your cluster to ensure it stays updated with the latest version.
                                        title: Upgrade Config
                                        properties:
                                          applyRoll:
                                            type: boolean
                                            description: |
                                              When set to True, a cluster roll will be initiated if a new version is available to upgrade in the dedicated virtual node groups.
                                            example: true
                                          scopeVersion:
                                            type: string
                                            description: |
                                              The scope of the upgrade version.
                                            enum:
                                              - patch
                                          rollParameters:
                                            type: object
                                            description: |
                                              The parameters of the cluster roll that will be initiated.
                                            properties:
                                              batchSizePercentage:
                                                type: integer
                                                minimum: 1
                                                maximum: 100
                                                description: |
                                                  The percentage of the cluster that will be rolled at each batch.
                                                example: 20
                                              comment:
                                                type: string
                                                description: |
                                                  A comment to be added to the cluster roll.
                                                example: Auto-upgrade the control plane to the latest patch version.
                                              respectPdb:
                                                type: boolean
                                                description: |
                                                  During the roll, if the parameter is set to true we honor PDB during the instance replacement.
                                                example: true
                                              respectRestrictScaleDown:
                                                type: boolean
                                                description: |
                                                  During the roll, if the parameter is set to true we honor Restrict Scale Down label during the nodes replacement.
                                                example: true
                                              batchMinHealthyPercentage:
                                                type: integer
                                                minimum: 1
                                                maximum: 100
                                                description: |
                                                  The minimum percentage of the scaled nodes that should be healthy at each batch.
                                                example: 80
                                            example: &ref_0
                                              batchSizePercentage: 20
                                              comment: Auto-upgrade the control plane to the latest patch version.
                                              respectPdb: true
                                              respectRestrictScaleDown: true
                                              batchMinHealthyPercentage: 80
                                          upgradeSystemNodePools:
                                            type: boolean
                                            description: |
                                              When set to True, the system node pools will be updated with the new Kubernetes version as part of the upgrade.
                                            example: true
                                          systemNodePools:
                                            type: array
                                            description: |
                                              List of node pool names to be updated with the new Kubernetes version as part of the upgrade.
                                            items:
                                              type: string
                                            example: &ref_1
                                              - userpool
                                              - systemNp1
                                        example:
                                          applyRoll: true
                                          rollParameters: *ref_0
                                          upgradeSystemNodePools: true
                                          systemNodePools: *ref_1
                                example:
                                  cronExpression: 0 1 * * *
                                  taskType: clusterRoll
                            suspensionHours:
                              type: object
                              description: |
                                An object used to specify times that the cluster should be exempted from Ocean's scaling-down activities to ensure uninterrupted operations during critical periods.
                              title: Suspension Hours
                              properties:
                                timeWindows:
                                  type: array
                                  description: |
                                    The times that the suspension hours will apply. Required if isEnabled is true.
                                  items:
                                    type: string
                                    example: Sat:08:00-Sun:08:00
                                isEnabled:
                                  type: boolean
                                  example: true
                                  description: |
                                    Flag to enable or disable the suspension hours mechanism. When False, the mechanism is deactivated, and the cluster remains in its current state.
                              example:
                                timeWindows:
                                  - Sat:08:00-Sun:08:00
                                isEnabled: true
                          example: &ref_30
                            shutdownHours:
                              timeWindows:
                                - Sat:08:00-Sun:08:00
                              isEnabled: true
                            tasks:
                              - cronExpression: 0 1 * * *
                                taskType: clusterRoll
                            suspensionHours:
                              timeWindows:
                                - Sat:08:00-Sun:08:00
                              isEnabled: true
                        logging: &ref_14
                          type: object
                          title: Ocean AKS Logging
                          description: The Ocean AKS Logging object.
                          required:
                            - export
                          properties:
                            export:
                              type: object
                              title: The Ocean AKS Logging Export
                              description: The Ocean AKS Logging Export object.
                              required:
                                - azureBlob
                              properties:
                                azureBlob:
                                  type: object
                                  title: The Ocean AKS Logging Azure Blob Export
                                  description: |
                                    Exports your cluster's logs to the storage account and container configured on the storage account [data integration](https://docs.flexera.com/spot/ocean/features/log-integration-with-azure-blob?id=log-integration-with-azure-blob) given.
                                    Each file contains logs of 3 minutes where each log is separated by a new line and saved as a JSON.
                                    The file formats are `container`/`accountId`_`oceanId`_`oceanName`_`startTime`.log
                                  required:
                                    - id
                                  properties:
                                    id:
                                      type: string
                                      description: The identifier of The Azure Blob data integration to export the logs to.
                                      example: di-123
                                  example:
                                    id: di-123
                              example:
                                azureBlob:
                                  id: di-123
                          example: &ref_31
                            export:
                              azureBlob:
                                id: di-123
                        health: &ref_15
                          type: object
                          title: Ocean AKS Health
                          description: |
                            The Ocean AKS Health object.
                          properties:
                            shouldReplaceUnhealthyInstances:
                              type: boolean
                              example: false
                              default: false
                              description: |
                                'Indicates whether Ocean automatically replaces nodes that remain in a NotReady or Unschedulable state. When false, unhealthy nodes are detected but not replaced. When true, unhealthy nodes are automatically replaced.
                            gracePeriod:
                              type: integer
                              example: 120
                              default: 120
                              minimum: 60
                              description: |
                                The amount of time, in seconds, from the moment the node is registered and observed by Ocean until health checks for replacement purposes begin. Defines a grace period during which health checks are suppressed for newly observed nodes.
                            healthCheckUnhealthyDurationBeforeReplacement:
                              type: integer
                              example: 180
                              default: 180
                              minimum: 120
                              maximum: 3600
                              description: |
                                The amount of time, in seconds, a node is allowed to remain unhealthy after the grace period has elapsed before Ocean automatically replaces it.
                          example: &ref_32
                            shouldReplaceUnhealthyInstances: false
                            gracePeriod: 120
                            healthCheckUnhealthyDurationBeforeReplacement: 180
                        virtualNodeGroupTemplate:
                          type: object
                          title: Ocean AKS Virtual Node Group Template
                          required:
                            - availabilityZones
                          properties:
                            availabilityZones:
                              type: array
                              description: |
                                An Array holding Availability Zones, this configures the availability zones the Ocean may launch nodes in per VNG.\
                                Select zone 0 if you have a workload that requires no availability zone redundancy (AZ=null). You can select this option either alone or together with other availability zones.\
                                In case zone 0 is selected together with other availability zones, nodes of zone 0 will be scaled only for workloads that demand it.
                              items:
                                type: string
                              example: &ref_9
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                            nodePoolProperties: &ref_16
                              type: object
                              title: Ocean AKS Node Pool Properties
                              description: |
                                The Ocean Node Pool Properties.
                              properties:
                                maxPodsPerNode:
                                  type: integer
                                  description: |
                                    The maximum number of pods per node in the node pools.
                                  minimum: 0
                                  maximum: 250
                                  example: 30
                                  default: 110
                                enableNodePublicIP:
                                  description: |
                                    enable node public IP.
                                  type: boolean
                                  example: true
                                  default: false
                                osDiskSizeGB:
                                  type: integer
                                  description: |
                                    The size of the OS disk in GB. 
                                    For Linux OS, the minimum size is 32GB and for Windows OS the minimum is 128GB.
                                  maximum: 1023
                                  example: 64
                                  default: 128
                                osDiskType:
                                  type: string
                                  description: |
                                    The type of the OS disk.
                                  enum:
                                    - Managed
                                    - Ephemeral
                                  example: Managed
                                  default: Ephemeral
                                osType:
                                  type: string
                                  description: |
                                    The OS type of the OS disk.
                                  enum:
                                    - Linux
                                    - Windows
                                  example: Linux
                                osSKU:
                                  type: string
                                  description: |
                                    The OS SKU of the OS type. Must correlate with the os type.
                                  enum:
                                    - Ubuntu
                                    - AzureLinux
                                    - CBLMariner
                                    - Windows2019
                                    - Windows2022
                                  example: Ubuntu
                                  default: Ubuntu
                                kubernetesVersion:
                                  type: string
                                  description: |
                                    The desired Kubernetes version of the launched nodes.
                                    In case the value is null, the Kubernetes version of the control plane
                                    is used.
                                  example: 1.26
                                vnetSubnetIDs:
                                  type: array
                                  description: |
                                    The IDs of subnets in an existing VNet into which to assign nodes in the cluster (requires azure network-plugin).
                                  items:
                                    type: string
                                  example: &ref_2
                                    - /subscriptions/123456-1234-1234-1234-123456789/resourceGroups/ExampleResourceGroup/providers/Microsoft.Network/virtualNetworks/ExampleVirtualNetwork/subnets/default
                                podSubnetIDs:
                                  type: array
                                  description: |
                                    The IDs of subnets in an existing VNet into which to assign pods in the cluster (requires azure network-plugin).
                                  items:
                                    type: string
                                  example: &ref_3
                                    - /subscriptions/123456-1234-1234-1234-123456789/resourceGroups/ExampleResourceGroup/providers/Microsoft.Network/virtualNetworks/ExampleVirtualNetwork/subnets/default
                                linuxOSConfig: &ref_38
                                  type: object
                                  title: Ocean AKS Linux OS Config
                                  description: |
                                    Custom Linux OS configuration
                                  properties:
                                    sysctls:
                                      type: object
                                      properties:
                                        vmMaxMapCount:
                                          type: integer
                                          description: |
                                            Maximum number of memory map areas a process may have.
                                            Can be configured only if OS type is Linux.
                                          example: 79550
                                          minimum: 65530
                                          maximum: 262144
                                      example:
                                        vmMaxMapCount: 79550
                                  example: &ref_41
                                    sysctls:
                                      vmMaxMapCount: 79550
                              example: &ref_22
                                maxPodsPerNode: 30
                                enableNodePublicIP: true
                                osDiskSizeGB: 64
                                osDiskType: Managed
                                osType: Linux
                                osSKU: Ubuntu
                                kubernetesVersion: 1.26
                                vnetSubnetIDs: *ref_2
                                podSubnetIDs: *ref_3
                                linuxOSConfig:
                                  sysctls:
                                    vmMaxMapCount: 79550
                            nodeCountLimits: &ref_17
                              type: object
                              title: Ocean AKS Node Count Limits
                              description: |
                                Limit the number of nodes in a VNG.
                              properties:
                                minCount:
                                  description: |
                                    Minimum node count limit.
                                  type: integer
                                  minimum: 0
                                  example: 1
                                  default: 0
                                maxCount:
                                  description: |
                                    Maximum node count limit.
                                  type: integer
                                  minimum: 0
                                  example: 100
                                  default: 1000
                              example: &ref_23
                                minCount: 1
                                maxCount: 100
                            strategy: &ref_18
                              type: object
                              title: Ocean AKS Strategy
                              description: |
                                The Ocean AKS Strategy object.
                              properties:
                                shouldUtilizeCommitments:
                                  type: boolean
                                  description: |
                                    Determines whether to utilize any existing Azure Savings Plans or Reserved Instances associated with the subscription for On-Demand VMs.
                                  example: true
                                  default: false
                                spotPercentage:
                                  type: integer
                                  description: |
                                    Percentage of spot VMs to maintain.
                                  example: 50
                                  minimum: 0
                                  maximum: 100
                                fallbackToOd:
                                  type: boolean
                                  description: |
                                    If no spot instance markets are available, enable Ocean to launch on-demand instances instead.
                                  example: true
                                drainingTimeout:
                                  type: integer
                                  description: |
                                    Time in seconds to allow the node to drain before it is terminated.
                                  example: 600
                                  minimum: 300
                                  maximum: 3600
                              example: &ref_24
                                shouldUtilizeCommitments: true
                                spotPercentage: 50
                                fallbackToOd: true
                                drainingTimeout: 600
                            autoScale: &ref_19
                              type: object
                              description: |
                                Object specifying the automatic scaling of an Ocean VNG.
                              title: Ocean AKS Auto Scale
                              properties:
                                headrooms:
                                  type: array
                                  description: |
                                    Specify the custom headroom per VNG. Provide a list of headroom objects.
                                  title: Headrooms
                                  items:
                                    type: object
                                    properties:
                                      cpuPerUnit:
                                        description: |
                                          Configure the number of CPUs to allocate the headroom. CPUs are denoted in millicores, where 1000 millicores = 1 vCPU.
                                        type: integer
                                        example: 1024
                                        default: 0
                                      memoryPerUnit:
                                        description: |
                                          Configure the amount of memory (MiB) to allocate the headroom.
                                        type: integer
                                        example: 512
                                        default: 0
                                      gpuPerUnit:
                                        type: integer
                                        description: |
                                          Amont of GPU to allocate for headroom unit.
                                        example: 0
                                        default: 0
                                      numOfUnits:
                                        description: |
                                          The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.
                                        type: integer
                                        example: 2
                                        default: 0
                                    example:
                                      cpuPerUnit: 1024
                                      memoryPerUnit: 512
                                      gpuPerUnit: 0
                                      numOfUnits: 2
                              example: &ref_25
                                headrooms:
                                  - cpuPerUnit: 1024
                                    memoryPerUnit: 512
                                    gpuPerUnit: 0
                                    numOfUnits: 2
                            labels:
                              type: object
                              description: |
                                key-value pairs of labels to add to the virtual node group.\
                                Only custom user labels are allowed, and not Kubernetes built-in labels or Spot internal labels.\
                                The following are not allowed:
                                * "kubernetes.azure.com/agentpool"
                                * "kubernetes.io/arch"* "kubernetes.io/os"
                                * "node.kubernetes.io/instance-type"
                                * "topology.kubernetes.io/region"
                                * "topology.kubernetes.io/zone"
                                * "kubernetes.azure.com/cluster"
                                * "kubernetes.azure.com/mode"
                                * "kubernetes.azure.com/role"
                                * "kubernetes.azure.com/scalesetpriority"
                                * "kubernetes.io/hostname"
                                * "kubernetes.azure.com/storageprofile"
                                * "kubernetes.azure.com/storagetier"
                                * "kubernetes.azure.com/instance-sku"
                                * "kubernetes.azure.com/node-image-version"
                                * "kubernetes.azure.com/subnet"
                                * "kubernetes.azure.com/vnet"
                                * "kubernetes.azure.com/ppg"
                                * "kubernetes.azure.com/encrypted-set"
                                * "kubernetes.azure.com/accelerator"
                                * "kubernetes.azure.com/fips_enabled"
                                * "kubernetes.azure.com/os-sku"
                              example: &ref_10
                                key: value
                            taints:
                              type: array
                              description: |
                                Add taints to a virtual node group.
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: |
                                      Set taint key.
                                      The following are not allowed:
                                      * "kubernetes.azure.com/scalesetpriority"
                                  value:
                                    type: string
                                    description: |
                                      Set taint value.
                                  effect:
                                    type: string
                                    description: |
                                      Set taint effect.
                                    enum:
                                      - NoSchedule
                                      - PreferNoSchedule
                                      - NoExecute
                                      - PreferNoExecute
                              example: &ref_11
                                - key: taintKey
                                  value: taintValue
                                  effect: NoSchedule
                            tags:
                              type: object
                              description: |
                                A maximum of 20 unique key-value pairs for VM tags in the virtual node group.
                                Note: Azure has a tag limit of 50 per node pool.
                            vmSizes: &ref_20
                              type: object
                              title: Ocean AKS VM Sizes
                              description: |
                                The Ocean AKS VM Sizes object.
                              properties:
                                filters:
                                  type: object
                                  description: |
                                    Filters for the VM sizes that can be launched from the virtual node group.
                                  properties:
                                    minVCpu:
                                      description: |
                                        Minimum number of vcpus available.
                                      type: integer
                                      minimum: 2
                                      example: 2
                                    maxVCpu:
                                      description: |
                                        Maximum number of vcpus available.
                                      type: integer
                                      minimum: 2
                                      example: 16
                                    minMemoryGiB:
                                      description: |
                                        Minimum amount of Memory (GiB).
                                      type: number
                                      format: float
                                      minimum: 4
                                      example: 8
                                    maxMemoryGiB:
                                      description: |
                                        Maximum amount of Memory (GiB).
                                      type: number
                                      format: float
                                      minimum: 0
                                      example: 16
                                    architectures:
                                      type: array
                                      description: |
                                        The filtered vm sizes will support at least one of the architectures from this list.
                                        x86_64 includes both intel64 and amd64.
                                      items:
                                        type: string
                                        enum:
                                          - X86_64
                                          - INTEL64
                                          - AMD64
                                          - ARM64
                                      example: &ref_4
                                        - x86_64
                                    series:
                                      type: array
                                      description: |
                                        Only vm sizes belonging to a series from the list will be available for scaling.
                                      items:
                                        type: string
                                      example: &ref_5
                                        - D v3
                                        - F
                                        - E v4
                                    excludeSeries:
                                      type: array
                                      description: |
                                        Vm sizes belonging to a series from the list will not be available for scaling.
                                      items:
                                        type: string
                                      example: &ref_6
                                        - Bs
                                        - Da v4
                                    minDisk:
                                      description: |
                                        Minimum number of data disks available.
                                      type: integer
                                      minimum: 1
                                      maximum: 64
                                      example: 1
                                    minGpu:
                                      description: |
                                        Minimum number of GPUs available.
                                      type: number
                                      format: double
                                      minimum: 0
                                      maximum: 8
                                      example: 1
                                    maxGpu:
                                      description: |
                                        Maximum number of GPUs available.
                                      type: number
                                      format: double
                                      minimum: 0
                                      maximum: 8
                                      example: 2
                                    diskPerformance:
                                      type: string
                                      description: |
                                        The filtered vm sizes will support at least one of the classes from this list.
                                      enum:
                                        - Standard
                                        - Premium
                                      example: Standard
                                    acceleratedNetworking:
                                      type: string
                                      description: |
                                        In case acceleratedNetworking is set to Enabled, accelerated networking applies only to the VM that enables it.
                                      enum:
                                        - Enabled
                                        - Disabled
                                      example: Enabled
                                    minNICs:
                                      description: |
                                        Minimum number of network interfaces.
                                      type: integer
                                      minimum: 1
                                      maximum: 16
                                      example: 4
                                    vmTypes:
                                      type: array
                                      description: |
                                        The filtered vm types will belong to one of the vm types from this list.
                                      items:
                                        type: string
                                        enum:
                                          - generalPurpose
                                          - memoryOptimized
                                          - computeOptimized
                                          - highPerformanceCompute
                                          - storageOptimized
                                          - GPU
                                      example: &ref_7
                                        - memoryOptimized
                                    gpuTypes:
                                      type: array
                                      description: |
                                        The filtered gpu types will belong to one of the gpu types from this list.
                                      items:
                                        type: string
                                        enum:
                                          - nvidia-tesla-v100
                                          - amd-radeon-instinct-mi25
                                          - nvidia-a10
                                          - nvidia-tesla-a100
                                          - nvidia-tesla-k80
                                          - nvidia-tesla-m60
                                          - nvidia-tesla-p100
                                          - nvidia-tesla-p40
                                          - nvidia-tesla-t4
                                          - nvidia-tesla-h100
                                        example: &ref_8
                                          - nvidia-tesla-t4
                                  example:
                                    minVCpu: 2
                                    maxVCpu: 16
                                    minMemoryGiB: 8
                                    maxMemoryGiB: 16
                                    architectures: *ref_4
                                    series: *ref_5
                                    excludeSeries: *ref_6
                                    minDisk: 1
                                    minGpu: 1
                                    maxGpu: 2
                                    diskPerformance: Standard
                                    acceleratedNetworking: Enabled
                                    minNICs: 4
                                    vmTypes: *ref_7
                                    gpuTypes:
                                      - *ref_8
                              example: &ref_28
                                filters:
                                  minVCpu: 2
                                  maxVCpu: 16
                                  minMemoryGiB: 8
                                  maxMemoryGiB: 16
                                  architectures: *ref_4
                                  series: *ref_5
                                  excludeSeries: *ref_6
                                  minDisk: 1
                                  minGpu: 1
                                  maxGpu: 2
                                  diskPerformance: Standard
                                  acceleratedNetworking: Enabled
                                  minNICs: 4
                                  vmTypes: *ref_7
                                  gpuTypes:
                                    - *ref_8
                            scheduling: &ref_42
                              type: object
                              description: |
                                An object used to specify times when the virtual node group will turn off all its node pools. Once the shutdown time will be over, the virtual node group will return to its previous state.
                              title: Ocean VNG AKS Scheduling
                              properties:
                                shutdownHours:
                                  type: object
                                  description: |
                                    An object used to specify times that the nodes in the virtual node group will be stopped.
                                  title: Shutdown Hours
                                  properties:
                                    timeWindows:
                                      type: array
                                      description: |
                                        The times that the shutdown hours will apply. Required if isEnabled is true.
                                      items:
                                        type: string
                                        example: Sat:08:00-Sun:08:00
                                    isEnabled:
                                      type: boolean
                                      example: true
                                      description: |
                                        Flag to enable or disable the shutdown hours mechanism. When False, the mechanism is deactivated, and the virtual node gorup remains in its current state.
                                  example:
                                    timeWindows:
                                      - Sat:08:00-Sun:08:00
                                    isEnabled: true
                              example: &ref_46
                                shutdownHours:
                                  timeWindows:
                                    - Sat:08:00-Sun:08:00
                                  isEnabled: true
                            restrictScaleDown:
                              type: boolean
                              description: |
                                When set to True, VNG nodes will be treated as if all pods running have the [restrict-scale-down label](https://docs.flexera.com/spot/ocean/features/labels-and-taints).
                                Therefore, Ocean will not scale nodes down unless they are empty.
                              example: false
                          example:
                            availabilityZones: *ref_9
                            nodePoolProperties:
                              maxPodsPerNode: 30
                              enableNodePublicIP: true
                              osDiskSizeGB: 64
                              osDiskType: Managed
                              osType: Linux
                              osSKU: Ubuntu
                              kubernetesVersion: 1.26
                              vnetSubnetIDs: *ref_2
                              podSubnetIDs: *ref_3
                              linuxOSConfig:
                                sysctls:
                                  vmMaxMapCount: 79550
                            nodeCountLimits:
                              minCount: 1
                              maxCount: 100
                            strategy:
                              shouldUtilizeCommitments: true
                              spotPercentage: 50
                              fallbackToOd: true
                              drainingTimeout: 600
                            autoScale:
                              headrooms:
                                - cpuPerUnit: 1024
                                  memoryPerUnit: 512
                                  gpuPerUnit: 0
                                  numOfUnits: 2
                            labels: *ref_10
                            taints: *ref_11
                            vmSizes:
                              filters:
                                minVCpu: 2
                                maxVCpu: 16
                                minMemoryGiB: 8
                                maxMemoryGiB: 16
                                architectures: *ref_4
                                series: *ref_5
                                excludeSeries: *ref_6
                                minDisk: 1
                                minGpu: 1
                                maxGpu: 2
                                diskPerformance: Standard
                                acceleratedNetworking: Enabled
                                minNICs: 4
                                vmTypes: *ref_7
                                gpuTypes:
                                  - *ref_8
                            scheduling:
                              shutdownHours:
                                timeWindows:
                                  - Sat:08:00-Sun:08:00
                                isEnabled: true
                            restrictScaleDown: false
                      example:
                        id: o-134abcd
                        name: test
                        controllerClusterId: test-123124
                        aks:
                          clusterName: test-cluster
                          resourceGroupName: TestResourceGroup
                          region: eastus
                          infrastructureResourceGroupName: MC_TestResourceGroup_test-cluster_eastus
                        autoScaler:
                          isEnabled: true
                          resourceLimits:
                            maxVCpu: 750
                            maxMemoryGib: 1500
                          down:
                            maxScaleDownPercentage: 30
                          headroom:
                            automatic:
                              percentage: 5
                        scheduling:
                          shutdownHours:
                            timeWindows:
                              - Sat:08:00-Sun:08:00
                            isEnabled: true
                          tasks:
                            - cronExpression: 0 1 * * *
                              taskType: clusterRoll
                          suspensionHours:
                            timeWindows:
                              - Sat:08:00-Sun:08:00
                            isEnabled: true
                        logging:
                          export:
                            azureBlob:
                              id: di-123
                        health:
                          shouldReplaceUnhealthyInstances: false
                          gracePeriod: 120
                          healthCheckUnhealthyDurationBeforeReplacement: 180
                        virtualNodeGroupTemplate:
                          availabilityZones: *ref_9
                          nodePoolProperties:
                            maxPodsPerNode: 30
                            enableNodePublicIP: true
                            osDiskSizeGB: 64
                            osDiskType: Managed
                            osType: Linux
                            osSKU: Ubuntu
                            kubernetesVersion: 1.26
                            vnetSubnetIDs: *ref_2
                            podSubnetIDs: *ref_3
                            linuxOSConfig:
                              sysctls:
                                vmMaxMapCount: 79550
                          nodeCountLimits:
                            minCount: 1
                            maxCount: 100
                          strategy:
                            shouldUtilizeCommitments: true
                            spotPercentage: 50
                            fallbackToOd: true
                            drainingTimeout: 600
                          autoScale:
                            headrooms:
                              - cpuPerUnit: 1024
                                memoryPerUnit: 512
                                gpuPerUnit: 0
                                numOfUnits: 2
                          labels: *ref_10
                          taints: *ref_11
                          vmSizes:
                            filters:
                              minVCpu: 2
                              maxVCpu: 16
                              minMemoryGiB: 8
                              maxMemoryGiB: 16
                              architectures: *ref_4
                              series: *ref_5
                              excludeSeries: *ref_6
                              minDisk: 1
                              minGpu: 1
                              maxGpu: 2
                              diskPerformance: Standard
                              acceleratedNetworking: Enabled
                              minNICs: 4
                              vmTypes: *ref_7
                              gpuTypes:
                                - *ref_8
                          scheduling:
                            shutdownHours:
                              timeWindows:
                                - Sat:08:00-Sun:08:00
                              isEnabled: true
                          restrictScaleDown: false
      responses:
        '200':
          description: Ocean AKS Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_34
                    type: object
                    allOf:
                      - &ref_47
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                            example:
                              id: e593ff58-067d-4340-92f9-8b1c0bad70d7
                              timestamp: '2018-06-20T11:35:01.745Z'
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                                example:
                                  code: 200
                                  message: OK
                            example:
                              status:
                                code: 200
                                message: OK
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                            example:
                              count: 1
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/azure/np/cluster
                          method:
                            example: POST
                        example:
                          url: /ocean/azure/np/cluster
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: &ref_35
                              type: object
                              description: |
                                The Ocean cluster.
                              properties:
                                id:
                                  type: string
                                  readOnly: true
                                  example: o-134abcd
                                  description: |
                                    Ocean cluster identifier.
                                name:
                                  type: string
                                  example: test
                                  description: |
                                    Add a name for the Ocean cluster.
                                controllerClusterId:
                                  type: string
                                  example: test-123124
                                  description: |
                                    Enter a unique Ocean cluster identifier. Cannot be updated.
                                aks:
                                  type: object
                                  title: Ocean AKS - AKS Cluster Configuration
                                  required:
                                    - clusterName
                                    - resourceGroupName
                                    - region
                                    - infrastructureResourceGroupName
                                  description: |
                                    AKS cluster configuration. Cannot be updated.
                                  properties:
                                    clusterName:
                                      type: string
                                      description: |
                                        The name  of the AKS Cluster.
                                      example: test-cluster
                                    resourceGroupName:
                                      type: string
                                      description: |
                                        The name of the cluster's resource group.
                                      example: TestResourceGroup
                                    region:
                                      type: string
                                      description: |
                                        The cluster's region.
                                      example: eastus
                                    infrastructureResourceGroupName:
                                      type: string
                                      description: |
                                        The name of the cluster's infrastructure resource group.
                                      example: MC_TestResourceGroup_test-cluster_eastus
                                  example:
                                    clusterName: test-cluster
                                    resourceGroupName: TestResourceGroup
                                    region: eastus
                                    infrastructureResourceGroupName: MC_TestResourceGroup_test-cluster_eastus
                                autoScaler: *ref_12
                                scheduling: *ref_13
                                logging: *ref_14
                                health: *ref_15
                                virtualNodeGroupTemplate:
                                  type: object
                                  title: Ocean AKS Virtual Node Group Template
                                  properties:
                                    availabilityZones:
                                      type: array
                                      description: |
                                        An Array holding Availability Zones, this configures the availability zones the Ocean may launch instances in per VNG.
                                      items:
                                        type: string
                                      example: &ref_21
                                        - '1'
                                        - '2'
                                        - '3'
                                    nodePoolProperties: *ref_16
                                    nodeCountLimits: *ref_17
                                    strategy: *ref_18
                                    autoScale: *ref_19
                                    labels:
                                      type: object
                                      description: |
                                        key-value pairs of labels to add to the virtual node group.\
                                        Only custom user labels are allowed, and not Kubernetes built-in labels or Spot internal labels.\
                                        The following are not allowed:
                                        * "kubernetes.azure.com/agentpool"
                                        * "kubernetes.io/arch"* "kubernetes.io/os"
                                        * "node.kubernetes.io/instance-type"
                                        * "topology.kubernetes.io/region"
                                        * "topology.kubernetes.io/zone"
                                        * "kubernetes.azure.com/cluster"
                                        * "kubernetes.azure.com/mode"
                                        * "kubernetes.azure.com/role"
                                        * "kubernetes.azure.com/scalesetpriority"
                                        * "kubernetes.io/hostname"
                                        * "kubernetes.azure.com/storageprofile"
                                        * "kubernetes.azure.com/storagetier"
                                        * "kubernetes.azure.com/instance-sku"
                                        * "kubernetes.azure.com/node-image-version"
                                        * "kubernetes.azure.com/subnet"
                                        * "kubernetes.azure.com/vnet"
                                        * "kubernetes.azure.com/ppg"
                                        * "kubernetes.azure.com/encrypted-set"
                                        * "kubernetes.azure.com/accelerator"
                                        * "kubernetes.azure.com/fips_enabled"
                                        * "kubernetes.azure.com/os-sku"
                                      example: &ref_26
                                        key: value
                                    taints:
                                      type: array
                                      description: |
                                        Add taints to a virtual node group.
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: |
                                              Set taint key.
                                              The following are not allowed:
                                              * "kubernetes.azure.com/scalesetpriority"
                                          value:
                                            type: string
                                            description: |
                                              Set taint value.
                                          effect:
                                            type: string
                                            description: |
                                              Set taint effect.
                                            enum:
                                              - NoSchedule
                                              - PreferNoSchedule
                                              - NoExecute
                                              - PreferNoExecute
                                      example: &ref_27
                                        - key: taintKey
                                          value: taintValue
                                          effect: NoSchedule
                                    tags:
                                      type: object
                                      description: |
                                        A maximum of 20 unique key-value pairs for VM tags in the virtual node group.
                                        Note: Azure has a tag limit of 50 per node pool.
                                    vmSizes: *ref_20
                                    restrictScaleDown:
                                      type: boolean
                                      description: |
                                        When set to True, VNG nodes will be treated as if all pods running have the [restrict-scale-down label](https://docs.flexera.com/spot/ocean/features/labels-and-taints).
                                        Therefore, Ocean will not scale nodes down unless they are empty.
                                      example: false
                                  example:
                                    availabilityZones: *ref_21
                                    nodePoolProperties: *ref_22
                                    nodeCountLimits: *ref_23
                                    strategy: *ref_24
                                    autoScale: *ref_25
                                    labels: *ref_26
                                    taints: *ref_27
                                    vmSizes: *ref_28
                                    restrictScaleDown: false
                                createdAt:
                                  type: string
                                  readOnly: true
                                  format: date-time
                                  example: '2021-03-17T08:13:08.000Z'
                                  description: |
                                    A timestamp of the Ocean creation.
                                updatedAt:
                                  type: string
                                  readOnly: true
                                  format: date-time
                                  example: '2021-03-17T15:06:13.000Z'
                                  description: |
                                    A timestamp of the latest Ocean update.
                              example: &ref_36
                                id: o-134abcd
                                name: test
                                controllerClusterId: test-123124
                                aks:
                                  clusterName: test-cluster
                                  resourceGroupName: TestResourceGroup
                                  region: eastus
                                  infrastructureResourceGroupName: MC_TestResourceGroup_test-cluster_eastus
                                autoScaler: *ref_29
                                scheduling: *ref_30
                                logging: *ref_31
                                health: *ref_32
                                virtualNodeGroupTemplate:
                                  availabilityZones: *ref_21
                                  nodePoolProperties: *ref_22
                                  nodeCountLimits: *ref_23
                                  strategy: *ref_24
                                  autoScale: *ref_25
                                  labels: *ref_26
                                  taints: *ref_27
                                  vmSizes: *ref_28
                                  restrictScaleDown: false
                                createdAt: '2021-03-17T08:13:08.000Z'
                                updatedAt: '2021-03-17T15:06:13.000Z'
                          kind:
                            example: spotinst:ocean:azure:np
                        example:
                          items:
                            - id: o-134abcd
                              name: test
                              controllerClusterId: test-123124
                              aks:
                                clusterName: test-cluster
                                resourceGroupName: TestResourceGroup
                                region: eastus
                                infrastructureResourceGroupName: MC_TestResourceGroup_test-cluster_eastus
                              autoScaler: *ref_29
                              scheduling: *ref_30
                              logging: *ref_31
                              health: *ref_32
                              virtualNodeGroupTemplate:
                                availabilityZones: *ref_21
                                nodePoolProperties: *ref_22
                                nodeCountLimits: *ref_23
                                strategy: *ref_24
                                autoScale: *ref_25
                                labels: *ref_26
                                taints: *ref_27
                                vmSizes: *ref_28
                                restrictScaleDown: false
                              createdAt: '2021-03-17T08:13:08.000Z'
                              updatedAt: '2021-03-17T15:06:13.000Z'
                          kind: spotinst:ocean:azure:np
        '400':
          description: Bad Request
    get:
      summary: List Clusters
      description: |
        List the configurations for all Ocean clusters in the specified account.
      operationId: oceanAKSClusterList
      tags:
        - Ocean AKS
      parameters:
        - *ref_33
      responses:
        '200':
          description: Ocean AKS Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_34
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/azure/np/cluster
                          method:
                            example: GET
                        example:
                          url: /ocean/azure/np/cluster
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_35
                          kind:
                            example: spotinst:ocean:azure:np
                        example:
                          items:
                            - *ref_36
                          kind: spotinst:ocean:azure:np
        '400':
          description: Bad Request
  /ocean/azure/np/cluster/{oceanClusterId}:
    get:
      summary: Get Cluster
      description: |
        Get the configurations for a specified Ocean cluster.
      operationId: oceanAKSClusterGet
      tags:
        - Ocean AKS
      parameters:
        - *ref_33
        - &ref_37
          in: path
          name: oceanClusterId
          example: o-12345abc
          description: |
            Identifier of the Ocean cluster.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Ocean AKS Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_34
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/azure/np/cluster/o-12345abc
                          method:
                            example: GET
                        example:
                          url: /ocean/azure/np/cluster/o-12345abc
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_35
                          kind:
                            example: spotinst:ocean:azure:np
                        example:
                          items:
                            - *ref_36
                          kind: spotinst:ocean:azure:np
        '400':
          description: Bad Request
    put:
      summary: Update Cluster
      description: |
        Update a specified Ocean cluster.
        <br />
        This API supports partial updates, so specific fields can be updated separately.

        Notes:
        <br />
        When labels, tags and taints are updated in the VNG template, all <b>existing</b> nodes from VNGs that inherit these properties
        from the tamplate will be updated as well.
      operationId: oceanAKSClusterUpdate
      tags:
        - Ocean AKS
      parameters:
        - *ref_33
        - *ref_37
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: |
                        The Ocean cluster.
                      properties:
                        name:
                          type: string
                          example: test
                          description: |
                            A name for the Ocean cluster.
                        autoScaler: *ref_12
                        scheduling: *ref_13
                        logging: *ref_14
                        health: *ref_15
                        virtualNodeGroupTemplate:
                          type: object
                          title: Ocean AKS Virtual Node Group Template
                          properties:
                            availabilityZones:
                              type: array
                              description: |
                                An Array holding Availability Zones, this configures the availability zones the Ocean may launch instances in per VNG.
                              items:
                                type: string
                              example: &ref_43
                                - '1'
                                - '2'
                                - '3'
                            nodePoolProperties: &ref_62
                              type: object
                              title: Ocean AKS Node Pool Properties
                              description: |
                                The Ocean Node Pool Properties.
                              properties:
                                maxPodsPerNode:
                                  type: integer
                                  description: |
                                    The maximum number of pods per node in the node pools.
                                  minimum: 0
                                  maximum: 250
                                  example: 30
                                enableNodePublicIP:
                                  description: |
                                    enable node public IP.
                                  type: boolean
                                  example: true
                                osDiskSizeGB:
                                  type: integer
                                  description: |
                                    The size of the OS disk in GB. 
                                    For Linux OS, the minimum size is 32GB and for Windows OS the minimum is 128GB.
                                  maximum: 1023
                                  example: 64
                                osDiskType:
                                  type: string
                                  description: |
                                    The type of the OS disk.
                                  enum:
                                    - Managed
                                    - Ephemeral
                                  example: Ephemeral
                                osSKU:
                                  type: string
                                  description: |
                                    The OS SKU of the OS type. Must correlate with the os type.
                                  enum:
                                    - Ubuntu
                                    - AzureLinux
                                    - CBLMariner
                                    - Windows2019
                                    - Windows2022
                                  example: Ubuntu
                                kubernetesVersion:
                                  type: string
                                  description: |
                                    The desired Kubernetes version of the luanched nodes.
                                    In case the value is null, the Kubernetes version of the control plane
                                    is used.
                                  example: 1.26
                                vnetSubnetIDs:
                                  type: array
                                  description: |
                                    The IDs of subnets in an existing VNet into which to assign nodes in the cluster (requires azure network-plugin).
                                  items:
                                    type: string
                                  example: &ref_39
                                    - /subscriptions/123456-1234-1234-1234-123456789/resourceGroups/ExampleResourceGroup/providers/Microsoft.Network/virtualNetworks/ExampleVirtualNetwork/subnets/default
                                podSubnetIDs:
                                  type: array
                                  description: |
                                    The IDs of subnets in an existing VNet into which to assign pods in the cluster (requires azure network-plugin).
                                  items:
                                    type: string
                                  example: &ref_40
                                    - /subscriptions/123456-1234-1234-1234-123456789/resourceGroups/ExampleResourceGroup/providers/Microsoft.Network/virtualNetworks/ExampleVirtualNetwork/subnets/default
                                linuxOSConfig: *ref_38
                              example: &ref_64
                                maxPodsPerNode: 30
                                enableNodePublicIP: true
                                osDiskSizeGB: 64
                                osDiskType: Ephemeral
                                osSKU: Ubuntu
                                kubernetesVersion: 1.26
                                vnetSubnetIDs: *ref_39
                                podSubnetIDs: *ref_40
                                linuxOSConfig: *ref_41
                            nodeCountLimits: *ref_17
                            strategy: *ref_18
                            autoScale: *ref_19
                            labels:
                              type: object
                              description: |
                                key-value pairs of labels to add to the virtual node group.\
                                Only custom user labels are allowed, and not Kubernetes built-in labels or Spot internal labels.\
                                The following are not allowed:
                                * "kubernetes.azure.com/agentpool"
                                * "kubernetes.io/arch"* "kubernetes.io/os"
                                * "node.kubernetes.io/instance-type"
                                * "topology.kubernetes.io/region"
                                * "topology.kubernetes.io/zone"
                                * "kubernetes.azure.com/cluster"
                                * "kubernetes.azure.com/mode"
                                * "kubernetes.azure.com/role"
                                * "kubernetes.azure.com/scalesetpriority"
                                * "kubernetes.io/hostname"
                                * "kubernetes.azure.com/storageprofile"
                                * "kubernetes.azure.com/storagetier"
                                * "kubernetes.azure.com/instance-sku"
                                * "kubernetes.azure.com/node-image-version"
                                * "kubernetes.azure.com/subnet"
                                * "kubernetes.azure.com/vnet"
                                * "kubernetes.azure.com/ppg"
                                * "kubernetes.azure.com/encrypted-set"
                                * "kubernetes.azure.com/accelerator"
                                * "kubernetes.azure.com/fips_enabled"
                                * "kubernetes.azure.com/os-sku"
                              example: &ref_44
                                key: value
                            taints:
                              type: array
                              description: |
                                Add taints to a virtual node group.
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: |
                                      Set taint key.
                                      The following are not allowed:
                                      * "kubernetes.azure.com/scalesetpriority"
                                  value:
                                    type: string
                                    description: |
                                      Set taint value.
                                  effect:
                                    type: string
                                    description: |
                                      Set taint effect.
                                    enum:
                                      - NoSchedule
                                      - PreferNoSchedule
                                      - NoExecute
                                      - PreferNoExecute
                              example: &ref_45
                                - key: taintKey
                                  value: taintValue
                                  effect: NoSchedule
                            tags:
                              type: object
                              description: |
                                A maximum of 20 unique key-value pairs for VM tags in the virtual node group.
                                Note: Azure has a tag limit of 50 per node pool.
                            vmSizes: *ref_20
                            scheduling: *ref_42
                            restrictScaleDown:
                              type: boolean
                              description: |
                                When set to True, VNG nodes will be treated as if all pods running have the [restrict-scale-down label](https://docs.flexera.com/spot/ocean/features/labels-and-taints).
                                Therefore, Ocean will not scale nodes down unless they are empty.
                              example: false
                          example:
                            availabilityZones: *ref_43
                            nodePoolProperties:
                              maxPodsPerNode: 30
                              enableNodePublicIP: true
                              osDiskSizeGB: 64
                              osDiskType: Ephemeral
                              osSKU: Ubuntu
                              kubernetesVersion: 1.26
                              vnetSubnetIDs: *ref_39
                              podSubnetIDs: *ref_40
                              linuxOSConfig: *ref_41
                            nodeCountLimits: *ref_23
                            strategy: *ref_24
                            autoScale: *ref_25
                            labels: *ref_44
                            taints: *ref_45
                            vmSizes: *ref_28
[...]
