openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean AWS
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean AWS
    description: Ocean - Serverless containers for Amazon Web Services (AWS)
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.flexera.com/spot/ocean/
paths:
  /ocean/aws/k8s/cluster:
    summary: Ocean for AWS
    post:
      summary: Create Cluster
      description: |
        **Prerequisites**

        The Ocean Controller is used to monitor the cluster resources and report back to Ocean. The Ocean Controller is required for Ocean Cloud.<br />

        To install the Ocean Controller, complete and run the following script on a machine with the kubectl command line tool installed and configured:

        ```
        #!/usr/bin/env bash
        curl -fsSL http://spotinst-public.s3.amazonaws.com/integrations/kubernetes/cluster-controller/scripts/init.sh | \
        SPOTINST_TOKEN=<ENTER YOUR TOKEN HERE> \
        SPOTINST_ACCOUNT=<ENTER YOUR SPOTINST ACCOUNT ID HERE> \
        SPOTINST_CLUSTER_IDENTIFIER=<ENTER YOUR CLUSTER IDENTIFIER HERE> \
        bash
        ```
      operationId: OceanAWSClusterCreate
      tags:
        - Ocean AWS
      parameters:
        - &ref_22
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster: &ref_20
                      type: object
                      description: |
                        The object specifying the configuration of the Ocean cluster.
                      title: AWS Cluster
                      required:
                        - name
                        - region
                        - controllerClusterId
                        - compute
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: |
                            The Ocean cluster identifier.
                          example: o-abcd1234
                        name:
                          type: string
                          example: oceanName
                          description: |
                            Add a name for the Ocean cluster.
                        controllerClusterId:
                          type: string
                          example: ocean.k8s
                          description: |
                            Enter the reporting identifier for the Ocean Controller.
                        region:
                          type: string
                          example: us-east-1
                          description: |
                            Select the region for the Ocean cluster to run in.
                        autoScaler:
                          type: object
                          title: auto-scaler
                          description: The automatic scaling mechanism used in Ocean for Kubernetes.
                          properties:
                            isEnabled:
                              type: boolean
                              description: Enable the Ocean Kubernetes autoscaler.
                              default: true
                              example: true
                            cooldown:
                              type: integer
                              description: A period of time (in seconds) that Ocean waits from the end of a scaling action until starting another scaling action.
                              default: null
                              example: 180
                            resourceLimits:
                              type: object
                              description: Option to set upper and lower bounds on the resource usage of the cluster.
                              properties:
                                maxMemoryGib:
                                  type: integer
                                  description: The maximum memory (in GiB) that can be allocated to the cluster.
                                  example: 1500
                                maxVCpu:
                                  type: integer
                                  description: The maximum CPU (in vCPU units) that can be allocated to the cluster.
                                  example: 750
                              example:
                                maxMemoryGib: 1500
                                maxVCpu: 750
                            down:
                              type: object
                              description: Autoscaling scale down operations.
                              properties:
                                evaluationPeriods:
                                  type: integer
                                  deprecated: true
                                  description: |
                                    Deprecated — no longer used.
                                maxScaleDownPercentage:
                                  type: integer
                                  description: Represents the maximum percent of your instances to scale down in a single scale-down action. Number between 1-100.
                                  example: 60
                                aggressiveScaleDown:
                                  type: object
                                  description: Enable and configure the Accelerated Scale Down feature to allow the Ocean autoscaler to immediately scale down eligible nodes without any waiting period.
                                  properties:
                                    isEnabled:
                                      type: boolean
                                      description: When set to 'true', Accelerated Scale Down is enabled.
                                      default: false
                              example:
                                maxScaleDownPercentage: 60
                            headroom:
                              type: object
                              description: Spare resource capacity management enabling fast assignment of pods without waiting for new resources to launch.
                              properties:
                                cpuPerUnit:
                                  type: integer
                                  description: Option to configure the number of CPUs to allocate the headroom. CPUs are denoted in millicores, where 1000 millicores = 1 vCPU.
                                  example: 2000
                                memoryPerUnit:
                                  type: integer
                                  description: Option to configure the amount of memory (MiB) to allocate the headroom.
                                  example: 0
                                gpuPerUnit:
                                  type: integer
                                  description: Amount of GPU to allocate for headroom.
                                  example: 0
                                numOfUnits:
                                  type: integer
                                  description: The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.
                                  example: 4
                              example:
                                cpuPerUnit: 2000
                                memoryPerUnit: 0
                                gpuPerUnit: 0
                                numOfUnits: 4
                            isAutoConfig:
                              type: boolean
                              description: Use automatic headroom. When set to true, the values under cluster.autoScaler.headroom are not effective, as Ocean configures and optimizes headroom automatically.
                              default: true
                              example: false
                            autoHeadroomPercentage:
                              type: integer
                              description: Dynamic (automatic) buffer of spare capacity, i.e., vCPU, memory, and GPU resources. Expressed as a percent of the overall cluster capacity with valid values from 0-200. Optional. Relevant when isAutoConfig=true.
                              example: null
                            enableAutomaticAndManualHeadroom:
                              type: boolean
                              description: |
                                When set to true, both automatic and per-VNG manual headroom to be saved concurrently and independently in the cluster. prerequisite: isAutoConfig must be true
                              example: true
                            extendedResourceDefinitions:
                              type: array
                              description: |
                                List of Ocean extended resource definitions to use in this cluster.
                              items:
                                type: string
                              example: &ref_0
                                - erd-123
                                - erd-456
                          example:
                            isEnabled: true
                            cooldown: 180
                            resourceLimits:
                              maxMemoryGib: 1500
                              maxVCpu: 750
                            down:
                              maxScaleDownPercentage: 60
                            headroom:
                              cpuPerUnit: 2000
                              memoryPerUnit: 0
                              gpuPerUnit: 0
                              numOfUnits: 4
                            isAutoConfig: false
                            autoHeadroomPercentage: null
                            enableAutomaticAndManualHeadroom: true
                            extendedResourceDefinitions: *ref_0
                        capacity:
                          type: object
                          title: Capacity Units
                          description: The overall capability of the Ocean cluster expressed as number of instances and specified with a minimum, a maximum, and a target number of running instances.
                          properties:
                            minimum:
                              type: integer
                              example: 0
                              description: |
                                The lower limit of instances that the cluster can scale down to.
                            maximum:
                              type: integer
                              default: 1000
                              example: 1000
                              description: |
                                The upper limit of instances that the cluster can scale up to.
                            target:
                              type: integer
                              example: 1
                              description: |
                                Number of instances to launch and maintain in the cluster.
                          example:
                            minimum: 0
                            maximum: 1000
                            target: 1
                        strategy: &ref_27
                          type: object
                          title: Ocean Cluster Strategy
                          description: |
                            An object defining the cluster strategy with regard to waiting periods and utilization of on-demand and reserved instances.
                          properties:
                            utilizeReservedInstances:
                              type: boolean
                              default: true
                              example: true
                              description: |
                                If reserved instances exist, Ocean will utilize them before launching spot instances.
                            fallbackToOd:
                              type: boolean
                              default: true
                              example: true
                              description: |
                                If no spot instance markets are available, enable Ocean to launch on-demand instances instead.
                            spotPercentage:
                              type: integer
                              default: 100
                              minimum: 0
                              maximum: 100
                              description: |
                                The desired percentage of Spot instances out of all running instances.\
                                Only available when the field is **not** set in any VNG directly (launchSpec.strategy.spotPercentage).
                              example: 100
                            maxReplacementLimitPercentage:
                              type: integer
                              default: 10
                              minimum: 1
                              maximum: 100
                              description: |
                                Limits the percentage of instances that can be replaced at once during a run cycle.
                              example: 25
                            gracePeriod:
                              type: integer
                              default: 300
                              example: 300
                              description: |
                                The amount of time, in seconds, from the time the instance has launched to the time its first health check starts.
                            drainingTimeout:
                              type: integer
                              example: 60
                              description: |
                                The configurable amount of time that Ocean will wait for the draining process to complete before terminating an instance. If you have not defined a draining timeout, the default of 300 seconds will be used.
                            utilizeCommitments:
                              type: boolean
                              description: |
                                If savings plans commitment has available capacity, Ocean will utilize them alongside RIs (if exist) to maximize cost efficiency.
                              example: false
                              default: false
                            clusterOrientation:
                              type: object
                              properties:
                                availabilityVsCost:
                                  type: string
                                  description: |
                                    You can control the approach that Ocean takes while launching nodes by configuring this value.
                                  enum:
                                    - costOriented
                                    - balanced
                                    - cheapest
                                  example: balanced
                                  default: balanced
                              example:
                                availabilityVsCost: balanced
                            spreadNodesBy:
                              type: string
                              description: |
                                Ocean will spread the nodes across markets by this value.
                              enum:
                                - vcpu
                                - count
                              example: count
                              default: count
                          example: &ref_32
                            utilizeReservedInstances: true
                            fallbackToOd: true
                            spotPercentage: 100
                            maxReplacementLimitPercentage: 25
                            gracePeriod: 300
                            drainingTimeout: 60
                            utilizeCommitments: false
                            clusterOrientation:
                              availabilityVsCost: balanced
                            spreadNodesBy: count
                        scheduling: &ref_28
                          type: object
                          description: |
                            An object used to define times for a task such as a shutdown to be activated.
                          title: Elastigroup Scheduling
                          properties:
                            tasks:
                              type: array
                              items:
                                type: object
                                title: Task Definition
                                required:
                                  - isEnabled
                                  - taskType
                                  - parameters
                                properties:
                                  isEnabled:
                                    type: boolean
                                    example: true
                                    description: |
                                      Describes whether the task is enabled. When True, the task runs. When False, it does not run. Required for cluster.scheduling.tasks.
                                  cronExpression:
                                    type: string
                                    example: 0 1 * * *
                                    description: |
                                      A valid cron expression. For example : " * * * * * ". The cron job runs in UTC time and is in Unix cron format (See the Cron Expression Validator Script). Required field for taskType "clusterRoll", optional field for taskType "amiAutoUpdate" (if Cron Expression is not provided for amiAutoUpdate task, the task will run once a day).
                                  taskType:
                                    type: string
                                    example: clusterRoll
                                    enum:
                                      - clusterRoll
                                      - amiAutoUpdate
                                    description: |
                                      The activity that you are scheduling. Valid values: "clusterRoll", "amiAutoUpdate". Required for cluster.scheduling.tasks.
                                  parameters:
                                    type: object
                                    description: |
                                      This field will be compatible to the task type field. 
                                      If taskType is defined as "clusterRoll", use cluster roll object in parameters.
                                    properties:
                                      clusterRoll:
                                        type: object
                                        properties:
                                          batchSizePercentage:
                                            type: integer
                                            minimum: 0
                                            maximum: 100
                                            example: 20
                                            description: |
                                              Value as a percent to set the size of a batch in a roll. Valid values are 0-100.
                                          comment:
                                            type: string
                                            example: This is why I deployed my cluster.
                                            description: |
                                              Add a comment description for the roll. The comment is limited to 256 chars
                                          batchMinHealthyPercentage:
                                            type: integer
                                            minimum: 1
                                            maximum: 100
                                            default: 50
                                            example: 100
                                            description: |
                                              Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                                          respectPdb:
                                            type: boolean
                                            description: |
                                              During the roll, if the parameter is set to true we honor PDB during the instance replacement.
                                            example: true
                                            default: false
                                        example:
                                          batchSizePercentage: 20
                                          comment: This is why I deployed my cluster.
                                          batchMinHealthyPercentage: 100
                                          respectPdb: true
                                      amiAutoUpdate:
                                        type: object
                                        properties:
                                          patch:
                                            type: boolean
                                            description: |
                                              When set to 'true', the auto-update process will update the VNGs’ images with the latest security patches. either "patch" or "minorVersion" must be true.
                                            example: true
                                            default: false
                                          minorVersion:
                                            type: boolean
                                            example: true
                                            default: false
                                            description: |
                                              When set to 'true', the auto-update process will update the VNGs’ AMI with the AMI to match the Kubernetes control plane version. either "patch" or "minorVersion" must be true.
                                          applyRoll:
                                            type: boolean
                                            example: true
                                            default: false
                                            description: |
                                              This parameter is optional. When the AMI is updated according to the configuration set, a cluster roll can be triggered.
                                          clusterRoll:
                                            type: object
                                            properties:
                                              batchSizePercentage:
                                                type: integer
                                                minimum: 0
                                                maximum: 100
                                                example: 20
                                                description: |
                                                  Value as a percent to set the size of a batch in a roll. Valid values are 0-100.
                                              comment:
                                                type: string
                                                example: This is why I deployed my cluster.
                                                description: |
                                                  Add a comment description for the roll. The comment is limited to 256 chars
                                              batchMinHealthyPercentage:
                                                type: integer
                                                minimum: 1
                                                maximum: 100
                                                default: 50
                                                example: 100
                                                description: |
                                                  Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                                              respectPdb:
                                                type: boolean
                                                description: |
                                                  During the roll, if the parameter is set to true we honor PDB during the instance replacement.
                                                example: true
                                                default: false
                                            example:
                                              batchSizePercentage: 20
                                              comment: This is why I deployed my cluster.
                                              batchMinHealthyPercentage: 100
                                              respectPdb: true
                                        example:
                                          patch: true
                                          minorVersion: true
                                          applyRoll: true
                                          clusterRoll:
                                            batchSizePercentage: 20
                                            comment: This is why I deployed my cluster.
                                            batchMinHealthyPercentage: 100
                                            respectPdb: true
                                    example:
                                      clusterRoll:
                                        batchSizePercentage: 20
                                        comment: This is why I deployed my cluster.
                                        batchMinHealthyPercentage: 100
                                        respectPdb: true
                                      amiAutoUpdate:
                                        patch: true
                                        minorVersion: true
                                        applyRoll: true
                                        clusterRoll:
                                          batchSizePercentage: 20
                                          comment: This is why I deployed my cluster.
                                          batchMinHealthyPercentage: 100
                                          respectPdb: true
                                example:
                                  isEnabled: true
                                  cronExpression: 0 1 * * *
                                  taskType: clusterRoll
                                  parameters:
                                    clusterRoll:
                                      batchSizePercentage: 20
                                      comment: This is why I deployed my cluster.
                                      batchMinHealthyPercentage: 100
                                      respectPdb: true
                                    amiAutoUpdate:
                                      patch: true
                                      minorVersion: true
                                      applyRoll: true
                                      clusterRoll:
                                        batchSizePercentage: 20
                                        comment: This is why I deployed my cluster.
                                        batchMinHealthyPercentage: 100
                                        respectPdb: true
                            shutdownHours:
                              type: object
                              description: |
                                An object used to specify times that the nodes in the cluster will be taken down.
                              title: Shutdown Hours
                              required:
                                - timeWindows
                              properties:
                                timeWindows:
                                  type: array
                                  description: |
                                    The times that the shutdown hours will apply.
                                  items:
                                    type: string
                                    example: Sat:08:00-Sun:08:00
                                isEnabled:
                                  type: boolean
                                  example: true
                                  description: |
                                    Flag to enable or disable the shutdown hours mechanism. When False, the mechanism is deactivated, and the cluster remains in its current state.
                              example:
                                timeWindows:
                                  - Sat:08:00-Sun:08:00
                                isEnabled: true
                            optimizationWindows: &ref_73
                              type: object
                              description: |
                                An object used to specify time windows during which certain optimization constraints can be eased.
                              title: Optimization Windows
                              required:
                                - isEnabled
                              properties:
                                isEnabled:
                                  type: boolean
                                  example: true
                                  description: |
                                    Used to enable or disable the optimization windows mechanism. Must be a boolean (null is invalid). When true, at least one window must be defined. When false, windows can be empty or omitted.
                                windows:
                                  type: array
                                  description: |
                                    The times when the optimization windows will apply. Required if isEnabled is true.
                                  items:
                                    type: object
                                    title: Optimization Window Definition
                                    required:
                                      - cronExpression
                                      - duration
                                      - effects
                                    properties:
                                      cronExpression:
                                        type: string
                                        example: 0 0 * * *
                                        description: |
                                          A valid cron expression defining when the optimization window starts. For example: "0 0 * * *" (daily at midnight). The cron job runs in UTC time and follows Unix cron format.
                                      duration:
                                        type: string
                                        example: 8h
                                        description: |
                                          The duration of the optimization window. Must be in the format <number><unit> where unit is 'm' (minutes), 'h' (hours), or 'd' (days). Examples: 10m, 5h, 2d.
                                      effects:
                                        type: array
                                        minItems: 1
                                        description: |
                                          The list of effects that will be applied during this optimization window.
                                        items:
                                          type: string
                                          enum:
                                            - ignorePdb
                                            - ignoreRestrictScaleDown
                                        example: &ref_1
                                          - ignorePdb
                                          - ignoreRestrictScaleDown
                                    example:
                                      cronExpression: 0 0 * * *
                                      duration: 8h
                                      effects: *ref_1
                              example: &ref_74
                                isEnabled: true
                                windows:
                                  - cronExpression: 0 0 * * *
                                    duration: 8h
                                    effects: *ref_1
                          example: &ref_33
                            tasks:
                              - isEnabled: true
                                cronExpression: 0 1 * * *
                                taskType: clusterRoll
                                parameters:
                                  clusterRoll:
                                    batchSizePercentage: 20
                                    comment: This is why I deployed my cluster.
                                    batchMinHealthyPercentage: 100
                                    respectPdb: true
                                  amiAutoUpdate:
                                    patch: true
                                    minorVersion: true
                                    applyRoll: true
                                    clusterRoll:
                                      batchSizePercentage: 20
                                      comment: This is why I deployed my cluster.
                                      batchMinHealthyPercentage: 100
                                      respectPdb: true
                            shutdownHours:
                              timeWindows:
                                - Sat:08:00-Sun:08:00
                              isEnabled: true
                            optimizationWindows:
                              isEnabled: true
                              windows:
                                - cronExpression: 0 0 * * *
                                  duration: 8h
                                  effects: *ref_1
                        security: &ref_29
                          type: object
                          title: Security
                          description: |
                            Object for cluster security features.
                          properties:
                            containerImage:
                              type: object
                              properties:
                                approvedImages:
                                  type: array
                                  description: Set a permitted list of repositories for container images.
                                  items:
                                    type: string
                                    example: &ref_2
                                      - '*.ecr.*.amazonaws.com/*'
                                      - docker.*
                              example:
                                approvedImages:
                                  - *ref_2
                          example: &ref_34
                            containerImage:
                              approvedImages:
                                - *ref_2
                        compute: &ref_30
                          type: object
                          title: Ocean Compute
                          description: |
                            Compute specifications for the Ocean cluster.
                          required:
                            - subnetIds
                            - launchSpecification
                          properties:
                            subnetIds:
                              type: array
                              description: |
                                A comma-separated list of subnet identifiers for the Ocean cluster. Subnet identifiers should be configured with auto-assign public IP.
                              items:
                                type: string
                              example: &ref_19
                                - subnet-4c1d1538
                                - subnet-2791bb61
                            instanceTypes:
                              type: object
                              description: The type of instances that may or may not be a part of the Ocean cluster.
                              properties:
                                whitelist:
                                  type: array
                                  description: |
                                    Instance types allowed in the Ocean cluster. Cannot be configured if a deny list is configured.
                                  items:
                                    type: string
                                  example: &ref_13
                                    - c4.xlarge
                                    - c4.2xlarge
                                    - c4.4xlarge
                                    - c4.8xlarge
                                blacklist:
                                  type: array
                                  description: |
                                    Instance types to avoid launching in the Ocean cluster. Cannot be configured if a permit list is configured.
                                  items:
                                    type: string
                                  example: &ref_14
                                    - r5.large
                                    - r5.xlarge
                                filters: &ref_46
                                  type: object
                                  description: |
                                    List of filters. The Instance types that match with all filters compose the Ocean's whitelist parameter.  Cannot be configured together with whitelist/blacklist.
                                  title: InstanceTypesFilters
                                  properties:
                                    minVcpu:
                                      type: integer
                                      description: |
                                        Minimum number of vcpus available.
                                      minimum: 0
                                      example: 2
                                    maxVcpu:
                                      type: integer
                                      description: |
                                        Maximum number of vcpus available.
                                      minimum: 1
                                      example: 16
                                    minMemoryGiB:
                                      type: number
                                      format: double
                                      description: |
                                        Minimum amount of Memory (GiB).
                                      minimum: 0
                                      example: 8
                                    maxMemoryGiB:
                                      type: number
                                      format: double
                                      description: |
                                        Maximum amount of Memory (GiB).
                                      minimum: 0
                                      example: 16
                                    minGpu:
                                      type: integer
                                      description: |
                                        Minimum total number of GPUs.
                                      minimum: 0
                                      example: 0
                                    maxGpu:
                                      type: integer
                                      description: |
                                        Maximum total number of GPUs.
                                      minimum: 1
                                      example: 4
                                    includeFamilies:
                                      type: array
                                      description: |
                                        Types belonging to a family from the IncludeFamilies will be available for scaling (asterisk wildcard is also supported). For example, C* will include instance types from these families: c5, c4, c4a, etc.
                                      items:
                                        type: string
                                      example: &ref_3
                                        - c5*
                                        - g5
                                    excludeFamilies:
                                      type: array
                                      description: |
                                        Types belonging to a family from the ExcludeFamilies will not be available for scaling (asterisk wildcard is also supported). For example, C* will exclude instance types from these families: c5, c4, c4a, etc.
                                      items:
                                        type: string
                                      example: &ref_4
                                        - t2
                                        - R4*
                                    excludeMetal:
                                      type: boolean
                                      default: false
                                      description: |
                                        In case excludeMetal is set to true, metal types will not be available for scaling.
                                      example: true
                                    isEnaSupported:
                                      type: boolean
                                      description: |
                                        Ena is supported or not.
                                      example: true
                                    architectures:
                                      type: array
                                      description: |
                                        The filtered instance types will support at least one of the architectures from this list.
                                      items:
                                        type: string
                                        enum:
                                          - i386
                                          - x86_64
                                          - arm64
                                      example: &ref_5
                                        - i386
                                        - x86_64
                                    virtualizationTypes:
                                      type: array
                                      description: |
                                        The filtered instance types will support at least one of the virtualization types from this list.
                                      items:
                                        type: string
                                        enum:
                                          - hvm
                                          - paravirtual
                                      example: &ref_6
                                        - hvm
                                    categories:
                                      type: array
                                      description: |
                                        The filtered instance types will belong to one of the categories types from this list.
                                      items:
                                        type: string
                                        enum:
                                          - Accelerated_computing
                                          - Compute_optimized
                                          - General_purpose
                                          - Memory_optimized
                                          - Storage_optimized
                                      example: &ref_7
                                        - Accelerated_computing
                                        - Compute_optimized
                                    minEnis:
                                      type: integer
                                      description: |
                                        Minimum number of network interfaces (ENIs).
                                      minimum: 0
                                      example: 2
                                    diskTypes:
                                      type: array
                                      description: |
                                        The filtered instance types will have one of the disk type from this list.
                                      items:
                                        type: string
                                        enum:
                                          - NVMe
                                          - EBS
                                          - SSD
                                          - HDD
                                      example: &ref_8
                                        - NVMe
                                        - EBS
                                    hypervisor:
                                      type: array
                                      description: |
                                        The filtered instance types will have a hypervisor type from this list.
                                      items:
                                        type: string
                                        enum:
                                          - nitro
                                          - xen
                                      example: &ref_9
                                        - nitro
                                    rootDeviceTypes:
                                      type: array
                                      description: |
                                        The filtered instance types will have a root device types from this list.
                                      items:
                                        type: string
                                        enum:
                                          - ebs
                                          - instance-store
                                      example: &ref_10
                                        - ebs
                                    minNetworkPerformance:
                                      type: integer
                                      description: |
                                        Minimum Bandwidth in Gib/s of network performance.
                                      minimum: 0
                                      example: 2
                                    maxNetworkPerformance:
                                      type: integer
                                      description: |
                                        Maximum Bandwidth in Gib/s of network performance.
                                      minimum: 1
                                      example: 20
                                    minInstancePrice:
                                      type: number
                                      format: double
                                      description: |
                                        Minimum Price of On-Demand instance type.
                                      minimum: 0
                                      example: 2
                                    maxInstancePrice:
                                      type: number
                                      format: double
                                      description: |
                                        Maximum Price of On-Demand instance type.
                                      exclusiveMinimum: true
                                      minimum: 0
                                      example: 20
                                    includeGenerations:
                                      type: array
                                      description: |
                                        Types belonging to a Generation from the IncludeGenerations will be available for scaling.
                                      items:
                                        type: string
                                      example: &ref_11
                                        - '6'
                                        - '7'
                                    excludeGenerations:
                                      type: array
                                      description: |
                                        Types Not belonging to a Generation from the ExcludeGenerations will be available for scaling.
                                      items:
                                        type: string
                                      example: &ref_12
                                        - '1'
                                        - '2'
                                    encryptionInTransitSupported:
                                      type: boolean
                                      description: |
                                        encryptionInTransitSupported is supported or not.
                                      example: true
                                  example:
                                    minVcpu: 2
                                    maxVcpu: 16
                                    minMemoryGiB: 8
                                    maxMemoryGiB: 16
                                    minGpu: 0
                                    maxGpu: 4
                                    includeFamilies: *ref_3
                                    excludeFamilies: *ref_4
                                    excludeMetal: true
                                    isEnaSupported: true
                                    architectures: *ref_5
                                    virtualizationTypes: *ref_6
                                    categories: *ref_7
                                    minEnis: 2
                                    diskTypes: *ref_8
                                    hypervisor: *ref_9
                                    rootDeviceTypes: *ref_10
                                    minNetworkPerformance: 2
                                    maxNetworkPerformance: 20
                                    minInstancePrice: 2
                                    maxInstancePrice: 20
                                    includeGenerations: *ref_11
                                    excludeGenerations: *ref_12
                                    encryptionInTransitSupported: true
                              example:
                                whitelist: *ref_13
                                blacklist: *ref_14
                                filters:
                                  minVcpu: 2
                                  maxVcpu: 16
                                  minMemoryGiB: 8
                                  maxMemoryGiB: 16
                                  minGpu: 0
                                  maxGpu: 4
                                  includeFamilies: *ref_3
                                  excludeFamilies: *ref_4
                                  excludeMetal: true
                                  isEnaSupported: true
                                  architectures: *ref_5
                                  virtualizationTypes: *ref_6
                                  categories: *ref_7
                                  minEnis: 2
                                  diskTypes: *ref_8
                                  hypervisor: *ref_9
                                  rootDeviceTypes: *ref_10
                                  minNetworkPerformance: 2
                                  maxNetworkPerformance: 20
                                  minInstancePrice: 2
                                  maxInstancePrice: 20
                                  includeGenerations: *ref_11
                                  excludeGenerations: *ref_12
                                  encryptionInTransitSupported: true
                            launchSpecification:
                              type: object
                              description: |
                                The default specification for nodes in the cluster. Used as a template for custom Virtual Node Groups to inherit values which are not explicitly defined in them, and as a default VNG when no other VNGs exist or match the workload requirements.
                              required:
                                - imageId
                                - securityGroupIds
                              properties:
                                useAsTemplateOnly:
                                  type: boolean
                                  description: |
                                    The configuration specified on the Ocean object will function only as a template for virtual node groups.
                                  default: false
                                imageId:
                                  type: string
                                  description: identifier of the image used to launch the instances.
                                userData:
                                  type: string
                                  format: byte
                                  description: The base 64 encoded MIME user data to make available to the instances.
                                securityGroupIds:
                                  type: array
                                  description: One or more security group identifiers.
                                  items:
                                    type: string
                                    example: &ref_15
                                      - sg-c3d914b0
                                iamInstanceProfile:
                                  type: object
                                  description: The instance profile iamRole.
                                  properties:
                                    arn:
                                      type: string
                                      description: The iamRole ARN.
                                      example: orform
                                  example:
                                    arn: orform
                                blockDeviceMappings:
                                  type: array
                                  description: |
                                    Block devices that are exposed to the instance. You can specify virtual devices and EBS volumes.\
                                    This parameter and rootVolumeSize cannot be in the specification at the same time.\
                                    This parameter can be null. If not null, it must contain at least one block device.
                                  items:
                                    type: object
                                    properties:
                                      deviceName:
                                        type: string
                                        description: |
                                          Set device name.
                                        example: /dev/xvda
                                      ebs:
                                        type: object
                                        description: |
                                          Set EBS properties.
                                        properties:
                                          throughput:
                                            type: integer
                                            minimum: 125
                                            maximum: 1000
                                            example: 125
                                            description: |
                                              The amount of data transferred to or from a storage device per second. You can use this parameter only if volumetype=‘gp3’.
                                          deleteOnTermination:
                                            type: boolean
                                            description: |
                                              Flag to delete the EBS on instance termination.
                                            example: false
                                          encrypted:
                                            type: boolean
                                            example: false
                                          iops:
                                            type: integer
                                            description: |
                                              Must be greater than or equal to 0.
                                            example: 1
                                          dynamicIops:
                                            type: object
                                            required:
                                              - baseSize
                                              - resource
                                              - sizePerResourceUnit
                                            description: |
                                              Set dynamic IOPS properties. When using this object, you cannot use the `iops` object. You must use one or the other.
                                              When `dynamicIops` is configured, the `volumeType` field must also be set.
                                            properties:
                                              baseSize:
                                                type: integer
                                                description: |
                                                  Initial size for IOPS.
                                                example: 50
                                              resource:
                                                type: string
                                                enum:
                                                  - CPU
                                                  - memory
                                                description: ''
                                                example: CPU
                                              sizePerResourceUnit:
                                                type: integer
                                                description: |
                                                  Additional size per resource unit (in IOPS).
                                                  For example: if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched - its IOPS size will be: 90
                                                example: 20
                                            example:
                                              baseSize: 50
                                              resource: CPU
                                              sizePerResourceUnit: 20
                                          kmsKeyId:
                                            type: string
                                            example: alias/aws/ebs
                                          snapshotId:
                                            type: string
                                            example: snap-abcdefghi111110
                                          volumeType:
                                            type: string
                                            description: |
                                              Specifies the EBS volume type. This field is required when either `dynamicIops` or `dynamicVolumeSize` is configured.
                                            example: gp2
                                          volumeSize:
                                            type: integer
                                            description: |
                                              Set volume size (in GB). When using this property, you cannot use dynamicVolumeSize. You must use one of the other. Volume size should be greater than or equal to the size configured in the AMI.
                                          dynamicVolumeSize:
                                            type: object
                                            required:
                                              - baseSize
                                              - resource
                                              - sizePerResourceUnit
                                            description: |
                                              Set dynamic volume size properties. When using this object, you cannot use volumeSize. You must use one or the other. When `dynamicVolumeSize` is configured, the `volumeType` field must also be set.
                                            properties:
                                              baseSize:
                                                type: integer
                                                description: |
                                                  Initial size per volume.
                                                example: 50
                                              resource:
                                                type: string
                                                enum:
                                                  - CPU
                                                example: CPU
                                              sizePerResourceUnit:
                                                type: integer
                                                description: |
                                                  Additional size per resource unit (in GB). For example, if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched, its disk size will be 90 GB.
                                                example: 20
                                            example:
                                              baseSize: 50
                                              resource: CPU
                                              sizePerResourceUnit: 20
                                        example:
                                          throughput: 125
                                          deleteOnTermination: false
                                          encrypted: false
                                          iops: 1
                                          dynamicIops:
                                            baseSize: 50
                                            resource: CPU
                                            sizePerResourceUnit: 20
                                          kmsKeyId: alias/aws/ebs
                                          snapshotId: snap-abcdefghi111110
                                          volumeType: gp2
                                          dynamicVolumeSize:
                                            baseSize: 50
                                            resource: CPU
                                            sizePerResourceUnit: 20
                                    example:
                                      deviceName: /dev/xvda
                                      ebs:
                                        throughput: 125
                                        deleteOnTermination: false
                                        encrypted: false
                                        iops: 1
                                        dynamicIops:
                                          baseSize: 50
                                          resource: CPU
                                          sizePerResourceUnit: 20
                                        kmsKeyId: alias/aws/ebs
                                        snapshotId: snap-abcdefghi111110
                                        volumeType: gp2
                                        dynamicVolumeSize:
                                          baseSize: 50
                                          resource: CPU
                                          sizePerResourceUnit: 20
                                keyPair:
                                  type: string
                                  description: The key pair to attach the instances.
                                  example: spotinst-labs-oregon
                                tags:
                                  type: array
                                  description: |
                                    List of kay-value pairs of tags.
                                  items:
                                    type: object
                                    properties:
                                      tagKey:
                                        type: string
                                        description: |
                                          Set the tag key.
                                        example: Creator
                                      tagValue:
                                        type: string
                                        description: |
                                          Set the tag value.
                                        example: John Doe
                                    example:
                                      tagKey: Creator
                                      tagValue: John Doe
                                loadBalancers:
                                  type: array
                                  description: |
                                    Configure load balancer settings for the Ocean cluster.
                                  items: &ref_49
                                    type: object
                                    required:
                                      - type
                                    properties:
                                      type:
                                        type: string
                                        description: |
                                          Type of load balancer to use.
                                        enum:
                                          - CLASSIC
                                          - TARGET_GROUP
                                      name:
                                        type: string
                                        description: |
                                          If the type is "CLASSIC", then a name is required. Otherwise, not allowed.
                                      arn:
                                        type: string
                                        description: |
                                          If the type is "TARGET_GROUP", then an ARN is required. Otherwise, not allowed.
                                  example: &ref_16
                                    - type: CLASSIC
                                      name: MyClassicLoadBalancer
                                    - type: TARGET_GROUP
                                      arn: arn:aws:elasticloadbalancing:us-west-2:922761411234:targetgroup
                                associatePublicIpAddress:
                                  type: boolean
                                  description: Configure public IP address allocation.
                                  default: false
                                  example: false
                                associateIpv6Address:
                                  type: boolean
                                  description: |
                                    Configure IPv6 address allocation. \
                                    Not required if the subnet is configured to “auto assign ipv6 addresses”.
                                  default: false
                                  example: false
                                primaryIpv6:
                                  type: boolean
                                  example: false
                                  description: |
                                    Enables assignment of a primary IPv6 address to the cluster. This feature is only available when `associateIpv6Addresses` is explicitly set to `true`. Additionally, the cluster must have been initially created as an EKS cluster in IPv6 mode.
                                monitoring:
                                  type: boolean
                                  description: |
                                    Enable detailed monitoring for cluster. Flag will enable CloudWatch detailed monitoring (one minute increments). There are additional hourly costs for this service based on the region used.
                                  example: true
                                ebsOptimized:
                                  type: boolean
                                  description: |
                                    Enable EBS optimization for the cluster. A flag will enable optimized capacity for high bandwidth connectivity to the EB service for non EBS optimized instance types. For instances that are EBS optimized, this flag will be ignored.
                                  example: true
                                rootVolumeSize:
                                  type: integer
                                  description: Set root volume size in GiB.
                                  example: 73
                                reservedENIs:
                                  type: integer
                                  description: |
                                    Specifies the count of ENIs to reserve per instance type for scaling purposes.
                                  default: 0
                                  example: 1
                                instanceMetadataOptions: &ref_39
                                  type: object
                                  title: instanceMetadataOptions
                                  required:
                                    - httpTokens
                                  description: |
                                    Ocean instance metadata options object for [IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html).
                                  properties:
                                    httpTokens:
                                      type: string
                                      description: |
                                        Determines if a signed token is required or not.
                                      enum:
                                        - optional
                                        - required
                                      example: optional
                                    httpPutResponseHopLimit:
                                      type: integer
                                      description: |
                                        An integer within 1,64 range (including).
                                        The desired HTTP PUT response hop limit for instance metadata requests.
                                        The larger the number, the further instance metadata requests can travel.
                                      example: 12
                                    httpEndpoint:
                                      type: string
                                      description: |
                                        Enables or disables the HTTP metadata endpoint on your instances.
                                      enum:
                                        - disabled
                                        - enabled
                                      example: disabled
                                  example: &ref_41
                                    httpTokens: optional
                                    httpPutResponseHopLimit: 12
                                    httpEndpoint: disabled
                                resourceTagSpecification:
                                  type: object
                                  description: Optional field. Specify which resources should be tagged with Virtual Node Group tags or Ocean tags. If tags are set on the VNG, the resources will be tagged with the VNG tags; otherwise, they will be tagged with the Ocean tags.
                                  properties:
                                    volumes:
                                      type: object
                                      description: Optional field. Tag specification for Volume resources.
                                      properties:
                                        shouldTag:
                                          type: boolean
                                          description: Optional field. Specify if Volume resources will be tagged with Virtual Node Group tags or Ocean tags.
                                          default: false
                                          example: false
                                      example:
                                        shouldTag: false
                                  example:
                                    volumes:
                                      shouldTag: false
                                healthCheckUnhealthyDurationBeforeReplacement:
                                  type: integer
                                  description: |
                                    The amount of time, in seconds, an existing instance should remain active after becoming unhealthy.
                                    After the set time out the instance will be replaced. 
                                    The minimum value allowed is 60, and it must be a multiple of 60.
                                  minimum: 60
                                  default: 120
                                  example: 60
                                startupTaints:
                                  type: array
                                  description: |
                                    Temporary taints applied to a node during its initialization phase. 
                                    For a startup taint to work, it must also be set as a regular taint
                                    in the userData for the cluster.
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                        description: |
                                          Set startup taint key.
                                      value:
                                        type: string
                                        description: |
                                          Set startup taint value.
                                      effect:
                                        type: string
                                        description: |
                                          Set startup taint effect.
                                  example: &ref_17
                                    - key: node.cilium.io/agent-not-ready
                                      value: true
                                      effect: NoSchedule
                                instanceStorePolicy: &ref_75
                                  type: object
                                  description: Determines the utilization of instance store volumes. If not defined, instance store volumes will not be used.
                                  properties:
                                    type:
                                      type: string
                                      description: |
                                        The method for using the instance store volumes (**must also be defined in the userData**).
                                      enum:
                                        - RAID0
                                      example: RAID0
                                  example: &ref_97
                                    type: RAID0
                                gpu: &ref_76
                                  type: object
                                  description: GPU configuration
                                  properties:
                                    sharing:
                                      type: array
                                      maximum: 1
                                      description: |
                                        List of configurations for GPU sharing. You can get up to 1 configuration.
                                      items:
                                        type: object
                                        properties:
                                          gpuSharingType:
                                            type: string
                                            enum:
                                              - timeSlicing
                                            description: |
                                              Type of GPU sharing.
                                            example: timeSlicing
                                          config:
                                            type: object
                                            properties:
                                              replicas:
                                                minimum: 1
                                                type: integer
                                                description: |
                                                  Number of shared replicas for the GPU sharing configuration.
                                                example: 2
                                            example:
                                              replicas: 2
                                        example:
                                          gpuSharingType: timeSlicing
                                          config:
                                            replicas: 2
                                  example: &ref_18
                                    sharing:
                                      - gpuSharingType: timeSlicing
                                        config:
                                          replicas: 2
                              example:
                                securityGroupIds:
                                  - *ref_15
                                iamInstanceProfile:
                                  arn: orform
                                blockDeviceMappings:
                                  - deviceName: /dev/xvda
                                    ebs:
                                      throughput: 125
                                      deleteOnTermination: false
                                      encrypted: false
                                      iops: 1
                                      dynamicIops:
                                        baseSize: 50
                                        resource: CPU
                                        sizePerResourceUnit: 20
                                      kmsKeyId: alias/aws/ebs
                                      snapshotId: snap-abcdefghi111110
                                      volumeType: gp2
                                      dynamicVolumeSize:
                                        baseSize: 50
                                        resource: CPU
                                        sizePerResourceUnit: 20
                                keyPair: spotinst-labs-oregon
                                tags:
                                  - tagKey: Creator
                                    tagValue: John Doe
                                loadBalancers: *ref_16
                                associatePublicIpAddress: false
                                associateIpv6Address: false
                                primaryIpv6: false
                                monitoring: true
                                ebsOptimized: true
                                rootVolumeSize: 73
                                reservedENIs: 1
                                instanceMetadataOptions:
                                  httpTokens: optional
                                  httpPutResponseHopLimit: 12
                                  httpEndpoint: disabled
                                resourceTagSpecification:
                                  volumes:
                                    shouldTag: false
                                healthCheckUnhealthyDurationBeforeReplacement: 60
                                startupTaints: *ref_17
                                instanceStorePolicy:
                                  type: RAID0
                                gpu: *ref_18
                          example: &ref_35
                            subnetIds: *ref_19
                            instanceTypes:
                              whitelist: *ref_13
                              blacklist: *ref_14
                              filters:
                                minVcpu: 2
                                maxVcpu: 16
                                minMemoryGiB: 8
                                maxMemoryGiB: 16
                                minGpu: 0
                                maxGpu: 4
                                includeFamilies: *ref_3
                                excludeFamilies: *ref_4
                                excludeMetal: true
                                isEnaSupported: true
                                architectures: *ref_5
                                virtualizationTypes: *ref_6
                                categories: *ref_7
                                minEnis: 2
                                diskTypes: *ref_8
                                hypervisor: *ref_9
                                rootDeviceTypes: *ref_10
                                minNetworkPerformance: 2
                                maxNetworkPerformance: 20
                                minInstancePrice: 2
                                maxInstancePrice: 20
                                includeGenerations: *ref_11
                                excludeGenerations: *ref_12
                                encryptionInTransitSupported: true
                            launchSpecification:
                              securityGroupIds:
                                - *ref_15
                              iamInstanceProfile:
                                arn: orform
                              blockDeviceMappings:
                                - deviceName: /dev/xvda
                                  ebs:
                                    throughput: 125
                                    deleteOnTermination: false
                                    encrypted: false
                                    iops: 1
                                    dynamicIops:
                                      baseSize: 50
                                      resource: CPU
                                      sizePerResourceUnit: 20
                                    kmsKeyId: alias/aws/ebs
                                    snapshotId: snap-abcdefghi111110
                                    volumeType: gp2
                                    dynamicVolumeSize:
                                      baseSize: 50
                                      resource: CPU
                                      sizePerResourceUnit: 20
                              keyPair: spotinst-labs-oregon
                              tags:
                                - tagKey: Creator
                                  tagValue: John Doe
                              loadBalancers: *ref_16
                              associatePublicIpAddress: false
                              associateIpv6Address: false
                              primaryIpv6: false
                              monitoring: true
                              ebsOptimized: true
                              rootVolumeSize: 73
                              reservedENIs: 1
                              instanceMetadataOptions:
                                httpTokens: optional
                                httpPutResponseHopLimit: 12
                                httpEndpoint: disabled
                              resourceTagSpecification:
                                volumes:
                                  shouldTag: false
                              healthCheckUnhealthyDurationBeforeReplacement: 60
                              startupTaints: *ref_17
                              instanceStorePolicy:
                                type: RAID0
                              gpu: *ref_18
                        logging: &ref_31
                          type: object
                          title: Logging configuration
                          properties:
                            export:
                              type: object
                              title: Logging Export Configuration.
                              properties:
                                s3:
                                  type: object
                                  title: Logging S3 Export configuration.
                                  description: |
                                    Exports your cluster's logs to the S3 bucket and subdir configured on the S3 [data integration](/#operation/DataIntegrationCreate) given.
                                    Each file contains logs of 3 minutes where each log is separated by a new line and saved as a JSON.
                                    The file formats are `subdir`/`accountId`_`oceanId`_`oceanName`_`startTime`.log
                                    If no subdir was configured, the files will be saved in the root of the bucket.
                                  required:
                                    - id
                                  properties:
                                    id:
                                      type: string
                                      description: The identifier of The S3 data integration to export the logs to.
                                      example: di-123
                                  example:
                                    id: di-123
                              example:
                                s3:
                                  id: di-123
                          example: &ref_36
                            export:
                              s3:
                                id: di-123
                        createdAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T08:13:08.000Z'
                          description: |
                            A timestamp of the cluster creation.
                        updatedAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T15:06:13.000Z'
                          description: |
                            A timestamp of the latest cluster update.
                      example: &ref_21
                        id: o-abcd1234
                        name: oceanName
                        controllerClusterId: ocean.k8s
                        region: us-east-1
                        autoScaler:
                          isEnabled: true
                          cooldown: 180
                          resourceLimits:
                            maxMemoryGib: 1500
                            maxVCpu: 750
                          down:
                            maxScaleDownPercentage: 60
                          headroom:
                            cpuPerUnit: 2000
                            memoryPerUnit: 0
                            gpuPerUnit: 0
                            numOfUnits: 4
                          isAutoConfig: false
                          autoHeadroomPercentage: null
                          enableAutomaticAndManualHeadroom: true
                          extendedResourceDefinitions: *ref_0
                        capacity:
                          minimum: 0
                          maximum: 1000
                          target: 1
                        strategy:
                          utilizeReservedInstances: true
                          fallbackToOd: true
                          spotPercentage: 100
                          maxReplacementLimitPercentage: 25
                          gracePeriod: 300
                          drainingTimeout: 60
                          utilizeCommitments: false
                          clusterOrientation:
                            availabilityVsCost: balanced
                          spreadNodesBy: count
                        scheduling:
                          tasks:
                            - isEnabled: true
                              cronExpression: 0 1 * * *
                              taskType: clusterRoll
                              parameters:
                                clusterRoll:
                                  batchSizePercentage: 20
                                  comment: This is why I deployed my cluster.
                                  batchMinHealthyPercentage: 100
                                  respectPdb: true
                                amiAutoUpdate:
                                  patch: true
                                  minorVersion: true
                                  applyRoll: true
                                  clusterRoll:
                                    batchSizePercentage: 20
                                    comment: This is why I deployed my cluster.
                                    batchMinHealthyPercentage: 100
                                    respectPdb: true
                          shutdownHours:
                            timeWindows:
                              - Sat:08:00-Sun:08:00
                            isEnabled: true
                          optimizationWindows:
                            isEnabled: true
                            windows:
                              - cronExpression: 0 0 * * *
                                duration: 8h
                                effects: *ref_1
                        security:
                          containerImage:
                            approvedImages:
                              - *ref_2
                        compute:
                          subnetIds: *ref_19
                          instanceTypes:
                            whitelist: *ref_13
                            blacklist: *ref_14
                            filters:
                              minVcpu: 2
                              maxVcpu: 16
                              minMemoryGiB: 8
                              maxMemoryGiB: 16
                              minGpu: 0
                              maxGpu: 4
                              includeFamilies: *ref_3
                              excludeFamilies: *ref_4
                              excludeMetal: true
                              isEnaSupported: true
                              architectures: *ref_5
                              virtualizationTypes: *ref_6
                              categories: *ref_7
                              minEnis: 2
                              diskTypes: *ref_8
                              hypervisor: *ref_9
                              rootDeviceTypes: *ref_10
                              minNetworkPerformance: 2
                              maxNetworkPerformance: 20
                              minInstancePrice: 2
                              maxInstancePrice: 20
                              includeGenerations: *ref_11
                              excludeGenerations: *ref_12
                              encryptionInTransitSupported: true
                          launchSpecification:
                            securityGroupIds:
                              - *ref_15
                            iamInstanceProfile:
                              arn: orform
                            blockDeviceMappings:
                              - deviceName: /dev/xvda
                                ebs:
                                  throughput: 125
                                  deleteOnTermination: false
                                  encrypted: false
                                  iops: 1
                                  dynamicIops:
                                    baseSize: 50
                                    resource: CPU
                                    sizePerResourceUnit: 20
                                  kmsKeyId: alias/aws/ebs
                                  snapshotId: snap-abcdefghi111110
                                  volumeType: gp2
                                  dynamicVolumeSize:
                                    baseSize: 50
                                    resource: CPU
                                    sizePerResourceUnit: 20
                            keyPair: spotinst-labs-oregon
                            tags:
                              - tagKey: Creator
                                tagValue: John Doe
                            loadBalancers: *ref_16
                            associatePublicIpAddress: false
                            associateIpv6Address: false
                            primaryIpv6: false
                            monitoring: true
                            ebsOptimized: true
                            rootVolumeSize: 73
                            reservedENIs: 1
                            instanceMetadataOptions:
                              httpTokens: optional
                              httpPutResponseHopLimit: 12
                              httpEndpoint: disabled
                            resourceTagSpecification:
                              volumes:
                                shouldTag: false
                            healthCheckUnhealthyDurationBeforeReplacement: 60
                            startupTaints: *ref_17
                            instanceStorePolicy:
                              type: RAID0
                            gpu: *ref_18
                        logging:
                          export:
                            s3:
                              id: di-123
                        createdAt: '2021-03-17T08:13:08.000Z'
                        updatedAt: '2021-03-17T15:06:13.000Z'
                - type: object
                  properties:
                    cluster:
                      type: object
                      required:
                        - name
      responses:
        '200':
          description: Ocean Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_23
                    type: object
                    allOf:
                      - &ref_24
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
[...]
