openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean Spark
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean Spark
    description: |
      Ocean for Apache Spark is a managed cloud-native Spark platform that can be deployed in your cloud account.

      Running on top of Ocean, Spot’s serverless infrastructure engine for containers, Ocean Spark makes it easy for your data teams to be successful with Apache Spark on Kubernetes, without dealing with the complexity of managing servers.
    externalDocs:
      description: Ocean Spark
      url: https://docs.flexera.com/spot/ocean-spark/
paths:
  /ocean/spark/cluster:
    summary: Ocean Spark
    post:
      summary: Create Cluster
      description: |
        Create Ocean Spark Cluster
      operationId: OceanSparkClusterCreate
      tags:
        - Ocean Spark
      parameters:
        - &ref_10
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: |
                        The object specifying the configuration of the Ocean Spark cluster.
                      title: Ocean Spark Cluster
                      required:
                        - oceanClusterId
                      allOf:
                        - type: object
                          description: |
                            The description of an Ocean Spark cluster
                          properties:
                            oceanClusterId: &ref_0
                              type: string
                              example: o-d3a2908e
                              description: A unique identifier for the Ocean cluster
                            config: &ref_1
                              type: object
                              description: |
                                The object specifying the configuration of the Ocean Spark cluster.
                              properties:
                                ingress:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Ingress configuration.
                                  properties:
                                    serviceAnnotations:
                                      type: object
                                      additionalProperties:
                                        type: string
                                      description: |
                                        DEPRECATED: Use `loadBalancer.serviceAnnotations` instead. 
                                        Annotations to add to the ingress load balancer service. This is useful to configure properties of the managed load balancer, 
                                        like the nature of the load balancer (e.g. ELB, NLB, ALB on AWS), 
                                        the security groups, or various timeouts.
                                      example:
                                        service.beta.kubernetes.io/aws-load-balancer-security-groups: sg-03ba056e31f183482
                                    controller:
                                      type: object
                                      description: |
                                        The object specifying the Ocean Spark Ingress Controller configuration.
                                      properties:
                                        managed:
                                          type: boolean
                                          default: true
                                          example: true
                                          description: |
                                            Should an ingress controller managed by Ocean for Apache Spark be installed on the cluster.
                                    loadBalancer:
                                      type: object
                                      description: |
                                        The object specifying the Ocean Spark Ingress Load Balancer configuration.
                                      properties:
                                        managed:
                                          type: boolean
                                          default: true
                                          example: true
                                          description: |
                                            Should a load balancer managed by Ocean for Apache Spark be provisioned for the cluster. 
                                            Set this to false if you want to use an existing load balancer (only available on AWS).
                                        targetGroupArn:
                                          type: string
                                          description: |
                                            The ARN of a target group that the Ocean for Apache Spark ingress controller will be bound to.
                                            Set this to use an existing load balancer with Ocean for Apache Spark.
                                            Has no effect if using a managed load balancer. Only available on AWS.
                                          example: arn:aws:elasticloadbalancing:us-east-1:XXXXXXXXXXXX:targetgroup/my-spark-cluster-tg/XXXXXXXXXXXXXXXX
                                        serviceAnnotations:
                                          type: object
                                          additionalProperties:
                                            type: string
                                          description: |
                                            Annotations to add to the ingress controller load balancer service. This is useful to configure properties 
                                            of the managed load balancer, like the nature of the load balancer (e.g. ELB, NLB, ALB on AWS), 
                                            the security groups, or various timeouts.
                                          example:
                                            service.beta.kubernetes.io/aws-load-balancer-security-groups: sg-XXXXXXXXXXXXXXXXX
                                    customEndpoint:
                                      type: object
                                      description: |
                                        The object specifying the Ocean Spark Ingress Custom Endpoint configuration.
                                      properties:
                                        enabled:
                                          type: boolean
                                          default: false
                                          example: false
                                          description: |
                                            Should the Ocean for Apache Spark control plane address the cluster using a custom address.
                                            Use this to specify the DNS address of an externally provisioned (unmanaged) load balancer.
                                        address:
                                          type: string
                                          description: |
                                            The address the Ocean for Apache Spark control plane will use when addressing the cluster.
                                          example: my-spark-cluster-nlb-8cbb8da7XXXXXXXX.elb.us-east-1.amazonaws.com
                                    privateLink:
                                      type: object
                                      description: |
                                        The object specifying the Ocean Spark Ingress Private Link configuration. Only available on AWS.
                                      properties:
                                        enabled:
                                          type: boolean
                                          default: false
                                          example: false
                                          description: |
                                            Should the Ocean for Apache Spark control plane address the cluster via an AWS Private Link.
                                        vpcEndpointService:
                                          type: string
                                          description: |
                                            The name of the VPC Endpoint Service the Ocean for Apache Spark control plane should bind to.
                                          example: com.amazonaws.vpce.eu-north-1.vpce-svc-XXXXXXXXXXXXXXXXX
                                webhook:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Webhook configuration.
                                  properties:
                                    useHostNetwork:
                                      type: boolean
                                      default: false
                                      example: true
                                      description: |
                                        Enable/Disable host networking on the Spark Operator. Host networking can be useful when using custom CNI plugins 
                                        like Calico.
                                    hostNetworkPorts:
                                      type: array
                                      items:
                                        type: integer
                                        example: 1234
                                      description: |
                                        List of ports allowed to use on the host network - if empty default is **25554**
                                compute:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Compute configuration.
                                  properties:
                                    useTaints:
                                      type: boolean
                                      default: true
                                      example: false
                                      description: |
                                        Enable/Disable **ocean-spark** taints on the Ocean Spark VNGs. By default, Spark uses taints to prevent 
                                        non-Spark pods to run on Ocean Spark VNGs.
                                    createVngs:
                                      type: boolean
                                      default: true
                                      example: false
                                      description: |
                                        Enable/Disable creating **ocean-spark** VNGs
                                logCollection:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Log Collection configuration.
                                  properties:
                                    collectDriverLogs:
                                      type: boolean
                                      default: true
                                      example: false
                                      deprecated: true
                                      description: |
                                        Deprecated. Use `collectAppLogs` instead, effect is the same.
                                    collectAppLogs:
                                      type: boolean
                                      default: true
                                      description: |
                                        Enable/Disable collecting driver and executor logs. When enabled, logs are stored by Flexera and can be downloaded from 
                                        the Spot console web interface. The logs are deleted after 30 days.
                                spark:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Spark configuration.
                                  properties:
                                    appNamespaces:
                                      type: array
                                      items:
                                        type: string
                                      example:
                                        - spark-apps
                                        - spark-apps-extra-ns-1
                                        - spark-apps-extra-ns-2
                                      description: |
                                        List of Kubernetes namespaces that Spark applications can run in. The default namespace `spark-apps` is always included in the list.
                                workspaces:
                                  type: object
                                  description: |
                                    The object specifying the Ocean Spark Workspaces configuration.
                                  properties:
                                    storageClassOverride:
                                      allOf:
                                        - &ref_14
                                          type: string
                                          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                                        - example: my-custom-storage-class
                                          description: |
                                            The storage class to use for Ocean Spark workspaces. If not set, the cluster's default storage class will 
                                            be used.
                - type: object
                  properties:
                    cluster:
                      type: object
                      required:
                        - name
      responses:
        '200':
          description: Ocean Spark Cluster Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_4
                    type: object
                    allOf:
                      - type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/spark/cluster
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: &ref_5
                              type: object
                              description: |
                                The object specifying the Ocean Spark cluster.
                              title: Ocean Spark Cluster
                              required:
                                - controllerClusterId
                                - oceanClusterId
                              allOf:
                                - type: object
                                  description: |
                                    The description of an Ocean Spark cluster
                                  properties:
                                    id: &ref_7
                                      type: string
                                      example: osc-20fac3f1
                                      description: |
                                        A unique identifier for the Ocean Spark cluster
                                    controllerClusterId: &ref_3
                                      type: string
                                      example: my-ocean-cluster
                                      description: |
                                        The reporting identifier of the Ocean controller in the Ocean cluster
                                    oceanClusterId: *ref_0
                                    state: &ref_2
                                      description: |
                                        The current state of the Ocean Spark cluster.
                                        * `PROGRESSING`: The cluster resources are being created.
                                        * `DELETING`: The cluster resources are being deleted.
                                        * `AVAILABLE`: The cluster is available.
                                        * `UNREACHABLE`: The cluster stopped sending heartbeat. This can be caused by the cluster going down or by a networking issue between the cluster and Spot's backend.
                                        * `DEGRADED`: One of the cluster components is unhealthy. Some features may not be available.
                                        * `FAILING`: A critical cluster component is unhealthy.
                                        * `UNKNOWN`: The cluster status API has an unexpected, internal error.
                                      example: AVAILABLE
                                      enum:
                                        - AVAILABLE
                                        - PROGRESSING
                                        - DEGRADED
                                        - FAILING
                                        - UNKNOWN
                                        - UNREACHABLE
                                        - DELETING
                                    config: *ref_1
                                    region:
                                      type: string
                                      example: us-west-2
                                      description: |
                                        The region where the Ocean Spark cluster lives
                                    k8sVersion:
                                      type: string
                                      description: |
                                        The Kubernetes API of the Ocean Spark cluster
                                      example: v1.21.2-eks-0389ca3
                                    operatorVersion:
                                      type: string
                                      description: |
                                        The version of the Ocean Spark operator running in the Ocean Spark cluster
                                      example: 0.1.30
                                    operatorLastHeartbeat:
                                      type: string
                                      format: date-time
                                      description: The last heartbeat received from the Ocean Spark operator running in the Ocean Spark cluster
                                      example: '2021-11-20T13:29:30.000Z'
                                - &ref_17
                                  type: object
                                  title: createdAt & updatedAt object
                                  properties:
                                    createdAt:
                                      type: string
                                      format: date-time
                                      example: 2018-10-10T10:50:29.000+0000
                                    updatedAt:
                                      type: string
                                      format: date-time
                                      example: 2018-11-01T10:50:29.000+0000
                          kind:
                            example: spotinst:ocean:spark:cluster
        '400':
          description: Bad Request
    get:
      summary: List Clusters
      description: |
        List the Ocean Spark clusters in the specified account.
      operationId: OceanSparkClusterList
      tags:
        - Ocean Spark
      parameters:
        - &ref_6
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token. If omitted the oldest account in the organization will be used.
          schema:
            type: string
          required: false
        - in: query
          name: fromDate
          required: false
          description: |
            Get items on or after this date (ISO 8601 or Unix timestamp)
          schema:
            type: string
          example: 2020-09-01 or fromDate=1598918400000
        - in: query
          name: toDate
          required: false
          description: Get items on or before this date (ISO 8601 or Unix timestamp)
          schema:
            type: string
          example: 2020-09-01 or fromDate=1598918400000
        - in: query
          name: state
          required: false
          description: Optionally filter on the current state of the Ocean Spark cluster
          schema: *ref_2
        - in: query
          name: controllerClusterId
          required: false
          schema: *ref_3
          description: |
            Optionally filter on the reporting identifier of the Ocean controller in the Ocean cluster (controllerClusterId)
      responses:
        '200': &ref_8
          description: A list of Ocean Spark clusters (can be a single cluster)
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items: *ref_5
        '400':
          description: Bad Request
  /ocean/spark/cluster/{clusterId}:
    summary: Ocean Spark
    get:
      summary: Get Cluster
      description: |
        Describe an Ocean Spark cluster.
      operationId: OceanSparkClusterGet
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - &ref_9
          in: path
          name: clusterId
          required: true
          schema: *ref_7
      responses:
        '200': *ref_8
        '400':
          description: Bad Request
    delete:
      summary: Delete Cluster
      description: |
        Delete an Ocean Spark cluster.

        Removing a cluster will disconnect it from Ocean for Spark. This action is permanent and cannot be undone.

        The Ocean for Spark resources will be uninstalled from the cluster, but the Ocean cluster itself (and related Kubernetes resources) will not be deleted.
      operationId: OceanSparkClusterDelete
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
    put:
      summary: Update Cluster
      description: |
        All Ocean Spark configuration parameters are updatable. This API supports partial updates, so specific fields can be updated separately.
      operationId: OceanSparkClusterUpdate
      tags:
        - Ocean Spark
      parameters:
        - *ref_9
        - *ref_10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: |
                        The object specifying the configuration of the Ocean Spark cluster.
                      title: Ocean Spark Cluster
                      allOf:
                        - type: object
                          description: |
                            The description of an Ocean Spark cluster
                          required:
                            - config
                          properties:
                            config: *ref_1
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
  /ocean/spark/cluster/sparkCoreHours:
    summary: Ocean Spark
    get:
      summary: Cluster Spark Core Hours
      description: |
        Gets the number of core hours applications have consumed.
      operationId: OceanSparkClusterSparkCoreHours
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - name: clusterId
          in: query
          required: false
          schema:
            type: array
            items: *ref_7
        - in: query
          name: period
          required: false
          example: 2021-11
          description: |
            The month to query from.
          schema:
            format: date-time
            type: string
      responses:
        '200':
          description: Number of spark core hours consumed by cluster
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - coreHours
                              description: |
                                Object that holds a pair of Ocean Spark Cluster ID and core hours that this cluster has consumed.
                              properties:
                                id: *ref_7
                                coreHours:
                                  type: number
                                  description: |
                                    Number of core hours that the cluster has consumed.
                                  example: 99
        '400':
          description: Bad Request
  /ocean/spark/cluster/{clusterId}/appCompletionTrend:
    summary: Ocean Spark
    get:
      summary: Cluster application completion trend
      description: |
        Aggregates the number of apps reaching a terminal state (completed, failed, killed, ...)  within time buckets.
      operationId: OceanSparkClusterAppCompletionTrend
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
        - &ref_11
          in: query
          name: since
          required: true
          example: '2021-11-22'
          description: |
            Date at which to start the analysis. If the time range up to now is less or equal to a day, values are reported grouped per hours. Otherwise, values are reported grouped per days.
          schema:
            format: date-time
            type: string
      responses:
        '200':
          description: |
            Number of applications reaching a terminal state, grouped by the terminal state and a time bucket.
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - start
                                - end
                                - completed
                                - failed
                                - killed
                                - timed_out
                              description: |
                                The number of applications that ended in a given time range, grouped by the terminal state they reached.
                              properties:
                                start:
                                  type: string
                                  format: date-time
                                  description: |
                                    Start of the time range
                                  example: '2021-11-18T17:09:37+00:00'
                                end:
                                  type: string
                                  format: date-time
                                  description: |
                                    End of the time range
                                  example: '2021-11-18T17:09:37+00:00'
                                completed:
                                  type: number
                                  description: |
                                    The number of apps successfully completed between >= start and < end
                                failed:
                                  type: number
                                  description: |
                                    The number of apps that failed between >= start and < end
                                killed:
                                  type: number
                                  description: |
                                    The number of apps killed between >= start and <end
                                timedOut:
                                  type: number
                                  description: |
                                    The number of apps that timed-out between >= start and < end
        '400':
          description: Bad Request
  /ocean/spark/cluster/{clusterId}/appLoadHistory:
    summary: Ocean Spark
    get:
      summary: Cluster application load history
      description: |
        Reports the number of applications in pending and running state within time buckets.
      operationId: OceanSparkClusterAppLoadHistory
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
        - *ref_11
      responses:
        '200':
          description: Number of pending or running apps, within time buckets.
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - time
                                - pending
                                - running
                              description: |
                                Number of apps pending or running at a given point in time
                              properties:
                                time:
                                  type: string
                                  format: date-time
                                  description: |
                                    Polling time
                                  example: '2021-11-18T17:09:37+00:00'
                                pending:
                                  type: number
                                  description: |
                                    Number of applications that were pending at the polling time. 
                                  example: 0
                                running:
                                  type: number
                                  description: |
                                    Number of applications that were running at the polling time. 
                                  example: 0
        '400':
          description: Bad Request
  /ocean/spark/cluster/{clusterId}/statistics:
    summary: Ocean Spark
    get:
      summary: Cluster runtime statistics
      description: |
        Returns a summary of the cluster usage since a given date in the past.
      operationId: OceanSparkClusterStatistics
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
        - *ref_11
      responses:
        '200':
          description: Runtime statistics for a given cluster.
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - time
                                - pending
                                - running
                              description: |
                                Summary of a cluster's usage statistics.
                              properties:
                                id: *ref_7
                                metrics: &ref_23
                                  type: object
                                  description: Computed statistics about the performance and cost of Spark applications
                                  required:
                                    - cost
                                    - spark
                                  properties:
                                    cost:
                                      type: object
                                      description: The cloud cost of the Spark application. Updated every hour
                                      required:
                                        - total
                                        - createdAt
                                        - updatedAt
                                      properties:
                                        createdAt: &ref_12
                                          type: string
                                          format: date-time
                                          example: 2018-10-10T10:50:29.000+0000
                                          description: The field on which to sort. For now, we only support filtering on CREATED_AT.
                                        updatedAt: &ref_13
                                          type: string
                                          format: date-time
                                          example: 2018-10-10T10:50:29.000+0000
                                          description: The time when the entity was last updated
                                        total:
                                          type: integer
                                          description: The total cost of the Spark application in USD cents
                                          example: 0
                                    spark:
                                      type: object
                                      description: Computed statistics about the performance of the Spark application
                                      required:
                                        - inputDataBytes
                                        - outputDataBytes
                                        - sparkCoresDurationSeconds
                                        - efficiencyPercent
                                        - createdAt
                                        - updatedAt
                                      properties:
                                        createdAt: *ref_12
                                        updatedAt: *ref_13
                                        sparkCoresDurationSeconds:
                                          format: time-delta
                                          type: number
                                          description: |
                                            The total core resources used by the application. This metric is calculated as the sum over each container (driver or executor) of its uptime duration multiplied by the number of cores allocated to it.
                                        inputDataBytes:
                                          type: integer
                                          description: |
                                            The number of bytes read by Spark, typically from an object store.
                                        outputDataBytes:
                                          type: integer
                                          description: |
                                            The number of bytes written by Spark, typically to an object store.
                                        efficiencyPercent:
                                          type: number
                                          description: |
                                            The fraction of the time that Spark executor cores are running Spark tasks.
                                        availability:
                                          type: string
        '400':
          description: Bad Request
  /ocean/spark/app:
    summary: Ocean Spark
    get:
      summary: List Applications
      description: |
        List Spark applications on all Ocean Spark clusters in the specified account. This endpoint is paginated (cursor pagination).
      operationId: OceanSparkApplicationList
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - in: query
          name: clusterId
          required: false
          description: |
            Optionally filter on the Ocean Spark cluster ID
          schema: *ref_7
        - in: query
          name: jobId
          required: false
          description: |
            Optionally filter on the job ID
          schema: &ref_22
            allOf:
              - *ref_14
              - description: |
                  A unique identifier for an Ocean Spark job.
                example: daily-reporting
        - &ref_24
          in: query
          name: submissionSource
          required: false
          description: |
            Optionally filter on the submission source of the Spark application
          schema: &ref_20
            description: The source that initiated the application submission
            example: public-api
            type: string
            enum:
              - public-api
              - jupyter-enterprise-gateway
        - &ref_25
          in: query
          name: appType
          required: false
          description: |
            Optionally filter on the type of the Spark application
          schema: &ref_21
            description: The type of Spark application
            example: notebook
            type: string
            enum:
              - batch
              - notebook
              - spark-connect
              - hive-thrift-server
              - spark-connect-and-hive-thrift-server
        - &ref_26
          in: query
          name: state
          required: false
          description: |
            Optionally filter on the state of the Spark application
          schema: &ref_19
            description: |
              The current state of the Spark application.

              Transient states:
              * `PENDING`: The spark-submit operation was successful. The Spark driver pod is now pending: the k8s cluster must find room for it and download its Docker image.
              * `RUNNING`: The Spark driver pod starts running. It will now execute your application code.

              Terminal states:
              * `COMPLETED`: The application completed successfully.
              * `COMPLETED_WITH_WARNINGS`: The application completed, but some non-fatal errors were found in the Spark Event Log.
              * `FAILED`: The application exited with a non-zero exit code.
              * `KILLED`: The application was manually killed before completion.
              * `TIMED_OUT`: The application was programmatically killed before completion because it was either pending or running longer than the timeout defined.
            example: RUNNING
            enum:
              - PENDING
              - RUNNING
              - COMPLETED
              - COMPLETED_WITH_WARNINGS
              - FAILED
              - KILLED
              - TIMED_OUT
        - in: query
          name: userId
          required: false
          description: |
            Optionally filter on the user who created the Spark application
          schema: &ref_18
            type: integer
            description: The identifier of the user who created the application
            example: 59438
        - in: query
          name: searchTerm
          required: false
          schema:
            type: string
          description: |
            Optionally search for a substring of the application ID, application display name, job ID or job display name
        - in: query
          name: minCreatedAt
          required: false
          example: 2021-11-22T00:00
          description: Optionally filter on the creation date
          schema:
            format: date-time
            type: string
        - in: query
          name: maxCreatedAt
          required: false
          example: 2021-11-22T00:00
          description: Optionally filter on the creation date
          schema:
            format: date-time
            type: string
        - in: query
          name: minUpdatedAt
          required: false
          example: 2021-11-22T00:00
          description: Optionally filter on the last update date
          schema:
            format: date-time
            type: string
        - in: query
          name: maxUpdatedAt
          required: false
          example: 2021-11-22T00:00
          description: Optionally filter on the last update date
          schema:
            format: date-time
            type: string
        - &ref_27
          in: query
          name: pageSize
          required: false
          description: The number of applications returned by page
          schema:
            type: integer
            default: 20
        - &ref_28
          in: query
          name: after
          required: false
          schema: &ref_15
            type: string
            description: the cursor to the next page of items in the collection
            example: MjAyMS0xMS0xOFQwOTo1MjowNS43Mzg4NjArMDA6MDB8NWM3NGY2MDYtZDYxNy00MzcxLWE5ZDktNjc2ZDkxMzRlNWFk
          description: |
            If specified, the page returned in the response contains the items right after this cursor in the ordering
        - &ref_29
          in: query
          name: before
          required: false
          schema: &ref_16
            type: string
            description: the cursor to the previous page of items in the collection
            example: MjAyMS0xMS0xOFQwOTo1MjowNS43Mzg4NjArMDA6MDB8NWM3NGY2MDYtZDYxNy00MzcxLWE5ZDktNjc2ZDkxMzRlNWFk
          description: |
            If specified, the page returned in the response contains the items right before this cursor in the ordering
        - &ref_30
          in: query
          name: order
          required: false
          description: The direction of the ordering
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - &ref_31
          in: query
          name: orderBy
          required: false
          description: The field on which to sort
          schema:
            type: string
            enum:
              - CREATED_AT
              - COST_IN_CENTS
              - DURATION
            default: CREATED_AT
      responses:
        '200': &ref_32
          description: A paginated list of Spark application
          content:
            application/json:
              schema:
                allOf:
                  - *ref_4
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          response body
                        properties:
                          items:
                            type: array
                            items:
                              allOf:
                                - &ref_154
                                  type: object
                                  required:
                                    - page
                                    - total
                                  properties:
                                    total:
                                      type: integer
                                      description: The total number of items in the collection
                                      example: 3256
                                    page:
                                      type: array
                                      items:
                                        type: object
                                      description: The items of the current page
                                      example: []
                                    after: *ref_15
                                    before: *ref_16
                                - type: object
                                  properties:
                                    page:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                          - id
                                          - displayName
                                          - accountId
                                          - organizationId
                                          - userId
                                          - clusterId
                                          - controllerClusterId
                                          - appState
                                          - submissionSource
                                          - createdAt
                                          - updatedAt
                                        allOf:
                                          - *ref_17
                                          - type: object
                                            description: |
                                              The description of a Spark application
                                            properties:
                                              id: &ref_33
                                                allOf:
                                                  - *ref_14
                                                  - description: A unique identifier for the Spark application, set by the user or auto-generated from the job ID
                                                    example: daily-reporting-2021-08-18
                                              displayName: &ref_140
                                                type: string
                                                description: A non-unique free-form name for the Spark application used in the Spot console. Defaults to the application ID.
                                                example: Daily Reporting 2021-08-18
                                              accountId: &ref_141
                                                type: string
                                                example: act-123456789
                                                description: The ID of the account where the entity lives
                                              organizationId: &ref_142
                                                type: integer
                                                example: 606012341234
                                                description: The ID of the organization
                                              userId: *ref_18
                                              clusterId: *ref_7
                                              controllerClusterId: *ref_3
                                              appState: *ref_19
                                              submissionSource: *ref_20
                                              appType: *ref_21
                                              job:
                                                type: object
                                                description: |
                                                  The job to which the application belongs. A job is collection of Spark applications, typically a workload run on a schedule.
                                                required:
                                                  - id
                                                  - displayName
                                                properties:
                                                  id: *ref_22
                                                  displayName: &ref_143
                                                    type: string
                                                    description: |
                                                      A non-unique free-form name for the job used in the Spot console. Defaults to the job ID.
                                                    example: Daily Reporting
                                              startedAt:
                                                type: string
                                                format: date-time
                                                description: |
                                                  The time when the Spark application started running (the app state becomes RUNNING). This is not the time when the application launch was requested (this is `createdAt`).
                                                example: '2021-11-18T17:09:37+00:00'
                                              endedAt:
                                                type: string
                                                format: date-time
                                                description: |
                                                  The time when the Spark application terminated.
                                                example: '2021-11-18T17:09:37+00:00'
                                              killRequestedAt: &ref_145
                                                type: string
                                                format: date-time
                                                description: |
                                                  The time when the Spark application kill was requested at.
                                                example: '2021-11-18T17:09:37+00:00'
                                              liveLog:
                                                type: object
                                                description: API pointers to endpoints serving logs and events related to the Spark application
                                                properties:
                                                  logsStreamUrl:
                                                    type: string
                                                    format: uri
                                                    description: URL of the endpoint serving the live driver logs
                                                    example: /ocean/spark/cluster/osc-20fac3f1/app/daily-reporting-2021-08-18/logs/live
                                                  kubeEventsStreamUrl:
                                                    type: string
                                                    format: uri
                                                    description: URL of the endpoint serving a stream of Kubernetes events
                                                    example: /ocean/spark/cluster/osc-20fac3f1/app/daily-reporting-2021-08-18/kubeEvents/live
                                              metrics: *ref_23
                                              cores: &ref_38
                                                type: number
                                                description: |
                                                  The number of cores allocated to the Spark application. It is 0 if the application is completed.
                                                example: 1
        '400':
          description: Bad Request
  /ocean/spark/cluster/{clusterId}/app:
    summary: Ocean Spark
    get:
      summary: List Applications in Cluster
      description: |
        List the Spark applications in a specific cluster. This endpoint is paginated (cursor pagination).
      operationId: OceanSparkClusterApplicationList
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
        - *ref_24
        - *ref_25
        - *ref_26
        - *ref_27
        - *ref_28
        - *ref_29
        - *ref_30
        - *ref_31
      responses:
        '200': *ref_32
        '400':
          description: Bad Request
    post:
      summary: Submit an Application
      description: |
        Submit a Spark application in an Ocean Spark cluster
      operationId: OceanSparkClusterApplicationSubmit
      tags:
        - Ocean Spark
      parameters:
        - *ref_6
        - *ref_9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jobId
              properties:
                appId: *ref_33
                jobId:
                  description: |
                    The ID of the job to which the Spark application belongs. If a job with this ID does not exist yet, it will be created.
                  allOf:
                    - *ref_22
                configOverrides:
                  description: |
                    Configurations for the Spark application supplied in the request. Prefer using a config template for configurations that are stable across runs. Configurations in `configOverrides` have precedence over those in the config template.
                  allOf:
                    - &ref_144
                      type: object
                      description: A configuration for a Spark application
                      additionalProperties: false
                      properties:
                        arguments:
                          items:
                            type: string
                          title: Arguments
                          type: array
                        deps: &ref_79
                          description: Dependencies of the Spark application
                          properties:
                            files:
                              items:
                                type: string
                              title: Files
                              type: array
                            jars:
                              items:
                                type: string
                              title: Jars
                              type: array
                            pyFiles:
                              items:
                                type: string
                              title: Pyfiles
                              type: array
                            packages:
                              items:
                                type: string
                              title: Packages
                              type: array
                            excludePackages:
                              items:
                                type: string
                              title: Excludepackages
                              type: array
                            repositories:
                              items:
                                type: string
                              title: Repositories
                              type: array
                          title: Dependencies
                          type: object
                        driver: &ref_82
                          additionalProperties: false
                          description: A configuration for a Spark driver (no required field)
                          properties:
                            affinity: &ref_53
                              properties:
                                nodeAffinity:
                                  allOf:
                                    - &ref_98
                                      properties:
                                        preferredDuringSchedulingIgnoredDuringExecution:
                                          description: The scheduler will prefer to schedule pods to nodes that satisfy the affinity expressions specified by this field, but it may choose a node that violates one or more of the expressions. The node that is most preferred is the one with the greatest sum of weights, i.e. for each node that meets all of the scheduling requirements (resource request, requiredDuringScheduling affinity expressions, etc.), compute a sum by iterating through the elements of this field and adding "weight" to the sum if the node matches the corresponding matchExpressions; the node(s) with the highest sum are the most preferred.
                                          items: &ref_109
                                            properties:
                                              preference:
                                                allOf:
                                                  - &ref_35
                                                    properties:
                                                      matchExpressions:
                                                        description: A list of node selector requirements by node's labels.
                                                        items: &ref_34
                                                          properties:
                                                            key:
                                                              description: The label key that the selector applies to.
                                                              title: Key
                                                              type: string
                                                            operator:
                                                              description: Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt.
                                                              title: Operator
                                                              type: string
                                                            values:
                                                              description: An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch.
                                                              items:
                                                                type: string
                                                              title: Values
                                                              type: array
                                                          required:
                                                            - key
                                                            - operator
                                                          title: NodeSelectorRequirement
                                                          type: object
                                                        title: Matchexpressions
                                                        type: array
                                                      matchFields:
                                                        description: A list of node selector requirements by node's fields.
                                                        items: *ref_34
                                                        title: Matchfields
                                                        type: array
                                                    title: NodeSelectorTerm
                                                    type: object
                                                description: A node selector term, associated with the corresponding weight.
                                                title: Preference
                                              weight:
                                                description: Weight associated with matching the corresponding nodeSelectorTerm, in the range 1-100.
                                                title: Weight
                                                type: integer
                                            required:
                                              - preference
                                              - weight
                                            title: PreferredSchedulingTerm
                                            type: object
                                          title: Preferredduringschedulingignoredduringexecution
                                          type: array
                                        requiredDuringSchedulingIgnoredDuringExecution:
                                          allOf:
                                            - &ref_99
                                              properties:
                                                nodeSelectorTerms:
                                                  description: Required. A list of node selector terms. The terms are ORed.
                                                  items: *ref_35
                                                  title: Nodeselectorterms
                                                  type: array
                                              required:
                                                - nodeSelectorTerms
                                              title: NodeSelector
                                              type: object
                                          description: If the affinity requirements specified by this field are not met at scheduling time, the pod will not be scheduled onto the node. If the affinity requirements specified by this field cease to be met at some point during pod execution (e.g. due to an update), the system may or may not try to eventually evict the pod from its node.
                                          title: Requiredduringschedulingignoredduringexecution
                                      title: NodeAffinity
                                      type: object
                                  description: Describes node affinity scheduling rules for the pod.
                                  title: Nodeaffinity
                                podAffinity:
                                  allOf:
                                    - &ref_105
                                      properties:
                                        preferredDuringSchedulingIgnoredDuringExecution:
                                          description: The scheduler will prefer to schedule pods to nodes that satisfy the affinity expressions specified by this field, but it may choose a node that violates one or more of the expressions. The node that is most preferred is the one with the greatest sum of weights, i.e. for each node that meets all of the scheduling requirements (resource request, requiredDuringScheduling affinity expressions, etc.), compute a sum by iterating through the elements of this field and adding "weight" to the sum if the node has pods which matches the corresponding podAffinityTerm; the node(s) with the highest sum are the most preferred.
                                          items: &ref_37
                                            properties:
                                              podAffinityTerm:
                                                allOf:
                                                  - &ref_36
                                                    properties:
                                                      labelSelector:
                                                        allOf:
                                                          - &ref_94
                                                            properties:
                                                              matchExpressions:
                                                                description: matchExpressions is a list of label selector requirements. The requirements are ANDed.
                                                                items: &ref_95
                                                                  properties:
                                                                    key:
                                                                      description: key is the label key that the selector applies to.
                                                                      title: Key
                                                                      type: string
                                                                    operator:
                                                                      description: operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist.
                                                                      title: Operator
                                                                      type: string
                                                                    values:
                                                                      description: values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch.
                                                                      items:
                                                                        type: string
                                                                      title: Values
                                                                      type: array
                                                                  required:
                                                                    - key
                                                                    - operator
                                                                  title: LabelSelectorRequirement
                                                                  type: object
                                                                title: Matchexpressions
                                                                type: array
                                                              matchLabels:
                                                                additionalProperties:
                                                                  type: string
                                                                description: matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is "key", the operator is "In", and the values array contains only "value". The requirements are ANDed.
                                                                title: Matchlabels
                                                                type: object
                                                            title: LabelSelector
                                                            type: object
                                                        description: A label query over a set of resources, in this case pods.
                                                        title: Labelselector
                                                      namespaces:
                                                        description: namespaces specifies which namespaces the labelSelector applies to (matches against); null or empty list means "this pod's namespace"
                                                        items:
                                                          type: string
                                                        title: Namespaces
                                                        type: array
                                                      topologyKey:
                                                        description: This pod should be co-located (affinity) or not co-located (anti-affinity) with the pods matching the labelSelector in the specified namespaces, where co-located is defined as running on a node whose value of the label with key topologyKey matches that of any node on which any of the selected pods is running. Empty topologyKey is not allowed.
                                                        title: Topologykey
                                                        type: string
                                                    required:
                                                      - topologyKey
                                                    title: PodAffinityTerm
                                                    type: object
                                                description: Required. A pod affinity term, associated with the corresponding weight.
                                                title: Podaffinityterm
                                              weight:
                                                description: weight associated with matching the corresponding podAffinityTerm, in the range 1-100.
                                                title: Weight
                                                type: integer
                                            required:
                                              - podAffinityTerm
                                              - weight
                                            title: WeightedPodAffinityTerm
                                            type: object
                                          title: Preferredduringschedulingignoredduringexecution
                                          type: array
                                        requiredDuringSchedulingIgnoredDuringExecution:
                                          description: If the affinity requirements specified by this field are not met at scheduling time, the pod will not be scheduled onto the node. If the affinity requirements specified by this field cease to be met at some point during pod execution (e.g. due to a pod label update), the system may or may not try to eventually evict the pod from its node. When there are multiple elements, the lists of nodes corresponding to each podAffinityTerm are intersected, i.e. all terms must be satisfied.
                                          items: *ref_36
                                          title: Requiredduringschedulingignoredduringexecution
                                          type: array
                                      title: PodAffinity
                                      type: object
                                  description: Describes pod affinity scheduling rules (e.g. co-locate this pod in the same node, zone, etc. as some other pod(s)).
                                  title: Podaffinity
                                podAntiAffinity:
                                  allOf:
                                    - &ref_106
                                      properties:
                                        preferredDuringSchedulingIgnoredDuringExecution:
                                          description: The scheduler will prefer to schedule pods to nodes that satisfy the anti-affinity expressions specified by this field, but it may choose a node that violates one or more of the expressions. The node that is most preferred is the one with the greatest sum of weights, i.e. for each node that meets all of the scheduling requirements (resource request, requiredDuringScheduling anti-affinity expressions, etc.), compute a sum by iterating through the elements of this field and adding "weight" to the sum if the node has pods which matches the corresponding podAffinityTerm; the node(s) with the highest sum are the most preferred.
                                          items: *ref_37
                                          title: Preferredduringschedulingignoredduringexecution
                                          type: array
                                        requiredDuringSchedulingIgnoredDuringExecution:
                                          description: If the anti-affinity requirements specified by this field are not met at scheduling time, the pod will not be scheduled onto the node. If the anti-affinity requirements specified by this field cease to be met at some point during pod execution (e.g. due to a pod label update), the system may or may not try to eventually evict the pod from its node. When there are multiple elements, the lists of nodes corresponding to each podAffinityTerm are intersected, i.e. all terms must be satisfied.
                                          items: *ref_36
                                          title: Requiredduringschedulingignoredduringexecution
                                          type: array
                                      title: PodAntiAffinity
                                      type: object
                                  description: Describes pod anti-affinity scheduling rules (e.g. avoid putting this pod in the same node, zone, etc. as some other pod(s)).
                                  title: Podantiaffinity
                              title: Affinity
                              type: object
                            annotations:
                              additionalProperties:
                                type: string
                              title: Annotations
                              type: object
                            configMaps:
                              items: &ref_54
                                description: A pair of a name and a path to which the named objects should be mounted to
                                properties:
                                  name:
                                    title: Name
                                    type: string
                                  path:
                                    title: Path
                                    type: string
                                required:
                                  - name
                                  - path
                                title: NamePath
                                type: object
                              title: Configmaps
                              type: array
                            coreLimit:
                              title: Corelimit
                              type: string
                            coreRequest:
                              title: Corerequest
                              type: string
                            cores: *ref_38
                            dnsConfig: &ref_55
                              title: PodDNSConfig
                              type: object
                              properties:
                                nameservers:
                                  title: Nameservers
                                  description: A list of DNS name server IP addresses. This will be appended to the base nameservers generated from DNSPolicy. Duplicated nameservers will be removed.
                                  type: array
                                  items:
                                    type: string
                                options:
                                  title: Options
                                  description: A list of DNS resolver options. This will be merged with the base options generated from DNSPolicy. Duplicated entries will be removed. Resolution options given in Options will override those that appear in the base DNSPolicy.
                                  type: array
                                  items: &ref_107
                                    title: PodDNSConfigOption
                                    type: object
                                    properties:
                                      name:
                                        title: Name
                                        description: Required.
                                        type: string
                                      value:
                                        title: Value
                                        type: string
                                searches:
                                  title: Searches
                                  description: A list of DNS search domains for host-name lookup. This will be appended to the base search paths generated from DNSPolicy. Duplicated search paths will be removed.
                                  type: array
                                  items:
                                    type: string
                            env: &ref_41
                              title: Env
                              type: array
                              items: &ref_126
                                title: EnvVar
                                required:
                                  - name
                                type: object
                                properties:
                                  name:
                                    title: Name
                                    type: string
                                    description: Name of the environment variable. Must be a C_IDENTIFIER.
                                  value:
                                    title: Value
                                    type: string
                                    description: 'Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any service environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to "".'
                                  valueFrom:
                                    title: Valuefrom
                                    allOf:
                                      - &ref_127
                                        title: EnvVarSource
                                        type: object
                                        properties:
                                          configMapKeyRef:
                                            title: Configmapkeyref
                                            allOf:
                                              - &ref_130
                                                title: ConfigMapKeySelector
                                                required:
                                                  - key
                                                type: object
                                                properties:
                                                  key:
                                                    title: Key
                                                    type: string
                                                    description: The key to select.
                                                  name:
                                                    title: Name
                                                    type: string
                                                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                                                  optional:
                                                    title: Optional
                                                    type: boolean
                                                    description: Specify whether the ConfigMap or its key must be defined
                                            description: Selects a key of a ConfigMap.
                                          fieldRef:
                                            title: Fieldref
                                            allOf:
                                              - &ref_66
                                                properties:
                                                  apiVersion:
                                                    description: Version of the schema the FieldPath is written in terms of, defaults to "v1".
                                                    title: Apiversion
                                                    type: string
                                                  fieldPath:
                                                    description: Path of the field to select in the specified API version.
                                                    title: Fieldpath
                                                    type: string
                                                required:
                                                  - fieldPath
                                                title: ObjectFieldSelector
                                                type: object
                                            description: 'Selects a field of the pod: supports metadata.name, metadata.namespace, metadata.labels, metadata.annotations, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP.'
                                          resourceFieldRef:
                                            title: Resourcefieldref
                                            allOf:
                                              - &ref_67
                                                properties:
                                                  containerName:
                                                    description: 'Container name: required for volumes, optional for env vars'
                                                    title: Containername
                                                    type: string
                                                  divisor:
                                                    allOf:
                                                      - &ref_47
                                                        anyOf:
                                                          - type: string
                                                          - type: number
                                                        title: Quantity
                                                    description: Specifies the output format of the exposed resources, defaults to "1"
                                                    title: Divisor
                                                  resource:
                                                    description: 'Required: resource to select'
                                                    title: Resource
                                                    type: string
                                                required:
                                                  - resource
                                                title: ResourceFieldSelector
                                                type: object
                                            description: 'Selects a resource of the container: only resources limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported.'
                                          secretKeyRef:
                                            title: Secretkeyref
                                            allOf:
                                              - &ref_131
                                                title: SecretKeySelector
                                                required:
                                                  - key
                                                type: object
                                                properties:
                                                  key:
                                                    title: Key
                                                    type: string
                                                    description: The key of the secret to select from.  Must be a valid secret key.
                                                  name:
                                                    title: Name
                                                    type: string
                                                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                                                  optional:
                                                    title: Optional
                                                    type: boolean
                                                    description: Specify whether the Secret or its key must be defined
                                            description: Selects a key of a secret in the pod's namespace
                                    description: Source for the environment variable's value. Cannot be used if value is not empty.
                              description: List of environment variables to set in the container.
                            envSecretKeyRefs: &ref_56
                              additionalProperties: &ref_97
                                description: The name and key of a SecretKeyRef
                                properties:
                                  key:
                                    title: Key
                                    type: string
                                  name:
                                    title: Name
                                    type: string
                                required:
                                  - name
                                  - key
                                title: NameKey
                                type: object
                              title: EnvSecretKeyRefs
                              type: object
                              description: DEPRECATED use `env` instead
                            envVars: &ref_57
                              additionalProperties:
                                type: string
                              title: EnvVars
                              type: object
                              description: DEPRECATED use `env` instead
                            hostAliases:
                              items: &ref_58
                                properties:
                                  hostnames:
                                    description: Hostnames for the above IP address.
                                    items:
                                      type: string
                                    title: Hostnames
                                    type: array
                                  ip:
                                    description: IP address of the host file entry.
                                    title: Ip
                                    type: string
                                title: HostAlias
                                type: object
                              title: Hostaliases
                              type: array
                            image:
                              title: Image
                              type: string
                            instanceSelector: &ref_59
                              title: InstanceSelector
                              description: DEPRECATED use `instanceAllowList` instead
                              type: string
                            instanceAllowList: &ref_60
                              title: InstanceAllowList
                              description: |
                                Restricts what instances can by used by pods:

                                - On AWS, can be an instance type (ex: `i3.large`, `m5d.xlarge`) or an instance family (ex: `i3`, `m5d`).
                                - On GCP, can be a machine type + VCPU spec (ex: `n2-highmem-4`, `n2-standard-2`) or a machine type (ex: `n2-highmem`, `n2-standard`).
                                - On Azure, can be a VM size (ex: `standard_a2_v2`, `standard_e16-8_v3`) or a group of VM sizes (ex: `standard_a_v2`, `standard_e_v3`).
                                  The group name is obtained by removing the number of vCPU (and constrained vCPU if there is one) from the VM size, and does not
                                  necessarily map to a VM series. For Azure, this field is **not** case sensitive.
                              type: array
                              items:
                                type: string
                            javaOptions:
                              title: Javaoptions
                              type: string
                            lifecycle:
                              title: Lifecycle
                              allOf:
                                - &ref_42
                                  title: Lifecycle
                                  type: object
                                  properties:
                                    postStart:
                                      title: Poststart
                                      allOf:
                                        - &ref_40
                                          title: Handler
                                          type: object
                                          properties:
                                            exec:
                                              title: Exec
                                              allOf:
                                                - &ref_43
                                                  title: ExecAction
                                                  type: object
                                                  properties:
                                                    command:
                                                      title: Command
                                                      type: array
                                                      items:
                                                        type: string
                                                      description: Command is the command line to execute inside the container, the working directory for the command  is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.
                                              description: One and only one of the following should be specified. Exec specifies the action to take.
                                            httpGet:
                                              title: Httpget
                                              allOf:
                                                - &ref_44
                                                  title: HTTPGetAction
                                                  required:
                                                    - port
                                                  type: object
                                                  properties:
                                                    host:
                                                      title: Host
                                                      type: string
                                                      description: Host name to connect to, defaults to the pod IP. You probably want to set "Host" in httpHeaders instead.
                                                    httpHeaders:
                                                      title: Httpheaders
                                                      type: array
                                                      items: &ref_128
                                                        title: HTTPHeader
                                                        required:
                                                          - name
                                                          - value
[...]
