openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean GKE
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean GKE
    description: Ocean - Serverless containers for Google Kubernetes Engine
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.flexera.com/spot/ocean/
paths:
  /ocean/gcp/k8s/cluster:
    summary: Ocean for GKE
    post:
      summary: Create Cluster
      description: |
        ## Prerequisites:
          The Ocean Controller is used to monitor the cluster resources and report back to Ocean.|
          To install the Ocean Controller, complete and run the following script on a machine with the kubectl command line tool installed and configured:

        ```
          #!/usr/bin/env bash
          curl -fsSL http://spotinst-public.s3.amazonaws.com/integrations/kubernetes/cluster-controller/scripts/init.sh | \
          SPOTINST_TOKEN=<ENTER YOUR TOKEN HERE> \
          SPOTINST_ACCOUNT=<ENTER YOUR SPOTINST ACCOUNT ID HERE> \
          SPOTINST_CLUSTER_IDENTIFIER=<ENTER YOUR CLUSTER IDENTIFIER HERE> \
          bash
        ```
        You may need Kubernetes admin privileges for this script to work. To grant yourself admin privileges, run the following command:
        ```
          kubectl create clusterrolebinding <clusterName> --clusterrole=cluster-admin --user=<userEmail>
        ```
        For more information, refer to our [controller installation guides](https://docs.flexera.com/spot/ocean/tutorials/spot-kubernetes-controller/). You can install with Helm, Kubectl or Terraform.
        For more about Ocean and the Ocean Controller, see the documentation [here](https://docs.flexera.com/spot/ocean/overview-kubernetes).
      operationId: OceanGKEClusterCreate
      tags:
        - Ocean GKE
      parameters:
        - &ref_7
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - &ref_9
                  type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: The specification of the Ocean cluster.
                      required:
                        - name
                        - controllerClusterId
                        - compute
                      properties:
                        id:
                          type: string
                          readOnly: true
                          example: o-abcd1234
                          description: |
                            Ocean cluster identifier.
                        name:
                          type: string
                          example: test
                          description: |
                            Add a name for the Ocean cluster.
                        controllerClusterId:
                          type: string
                          example: test-123124
                          description: |
                            Enter the Ocean cluster identifier.
                        gke:
                          type: object
                          required:
                            - clusterName
                            - masterLocation
                          description: |
                            Use existing GKE cluster.
                          properties:
                            clusterName:
                              type: string
                              description: |
                                Required for the cluster.gke object.
                              example: test-cluster
                            masterLocation:
                              type: string
                              description: |
                                Required for the cluster.gke object.
                              example: us-central1-a
                        autoScaler: &ref_0
                          type: object
                          title: auto-scaler
                          description: The Ocean Kubernetes Autoscaler object.
                          properties:
                            isEnabled:
                              type: boolean
                              description: Enable the Ocean Kubernetes Autoscaler.
                              default: true
                              example: true
                            cooldown:
                              type: integer
                              description: Cooldown period between scaling actions.
                              default: null
                              minimum: 180
                              example: 180
                            resourceLimits:
                              type: object
                              description: Optionally set upper and lower bounds on the resource usage of the cluster.
                              properties:
                                maxMemoryGib:
                                  type: integer
                                  description: The maximum memory in GiB units that can be allocated to the cluster.
                                  example: 1500
                                maxVcpu:
                                  type: integer
                                  description: The maximum CPU in vCPU units that can be allocated to the cluster.
                                  example: 750
                            down:
                              type: object
                              description: Autoscaling scale down operations.
                              properties:
                                evaluationPeriods:
                                  type: integer
                                  minimum: 3
                                  description: Number of minutes a node should be eligible for scale down before it is scaled down.
                                  example: 3
                                maxScaleDownPercentage:
                                  type: integer
                                  minimum: 1
                                  maximum: 100
                                  description: The maximum percentage allowed to scale down in a single scaling action.
                                  example: 30
                                aggressiveScaleDown:
                                  type: object
                                  description: Enable and configure the Accelerated Scale Down feature to allow the Ocean autoscaler to immediately scale down eligible nodes without any waiting period.
                                  properties:
                                    isEnabled:
                                      type: boolean
                                      description: When set to 'true', Accelerated Scale Down is enabled.
                                      default: false
                            headRoom:
                              type: object
                              description: |
                                Spare resource capacity management enabling fast assignment of pods without waiting for new resources to launch.
                              properties:
                                cpuPerUnit:
                                  type: integer
                                  description: |
                                    Optionally configure the number of CPUs to allocate the headroom. CPUs are denoted in millicores where 1000 millicores = 1 vCPU.
                                  example: 0
                                memoryPerUnit:
                                  type: integer
                                  description: Optionally configure the amount of memory (MiB) to allocate the headroom.
                                  example: 0
                                gpuPerUnit:
                                  type: integer
                                  description: How much GPU to allocate to a headroom unit.
                                  example: 0
                                numOfUnit:
                                  type: integer
                                  description: |
                                    The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.
                                  example: 0
                            isAutoConfig:
                              type: boolean
                              description: |
                                Use automatic headroom. When set to true, the values under cluster.autoScaler.headroom are not effective, as Ocean configures and optimizes headroom automatically.
                              default: true
                              example: false
                            autoHeadroomPercentage:
                              type: integer
                              description: |
                                Optionally set the auto headroom percentage. Set a number between 0-200 to control the headroom percent of the cluster. Relevant when isAutoConfig=true.
                              example: null
                            enableAutomaticAndManualHeadroom:
                              type: boolean
                              description: |
                                When set to true, both automatic and per-VNG manual headroom to be saved concurrently and independently in the cluster. prerequisite: isAutoConfig must be true
                              example: true
                        autoUpdate: &ref_1
                          type: object
                          title: auto-update
                          description: The Ocean Kubernetes AutoUpdate object. If set to 'true', Ocean will ensure that your clusters have an up-to-date configuration according to the respective GKE cluster.
                          properties:
                            isEnabled:
                              type: boolean
                              description: Enable the Ocean Kubernetes AutoUpdate.
                              default: true
                              example: true
                        capacity: &ref_2
                          type: object
                          title: Capacity Units
                          description: Capacity specifications for the Ocean cluster.
                          properties:
                            minimum:
                              type: integer
                              example: 0
                              description: |
                                The bottom limit of instances that the cluster can scale down to.
                            maximum:
                              type: integer
                              default: 1000
                              example: 3
                              description: |
                                The upper limit of instances that the cluster can scale up to.
                            target:
                              type: integer
                              example: 3
                              description: |
                                Number of instances to launch and maintain in the cluster.
                        strategy: &ref_3
                          type: object
                          title: Ocean Strategy
                          properties:
                            drainingTimeout:
                              type: integer
                              description: |
                                The draining timeout (in seconds) before terminating the instance.
                                If no draining timeout is defined, the default draining timeout will be used.
                              example: 60
                            provisioningModel:
                              type: string
                              description: |
                                Define the provisioning model of the launched instances
                              enum:
                                - SPOT
                                - PREEMPTIBLE
                            scalingOrientation:
                              type: string
                              default: BALANCED
                              description: |
                                Set this value to control the approach that Ocean takes when launching nodes.
                              enum:
                                - COST
                                - AVAILABILITY
                                - BALANCED
                            preemptiblePercentage:
                              type: integer
                              minimum: 0
                              maximum: 100
                              default: 100
                              description: |
                                The desired percentage of Spot/Preemptible instances out of all running instances.\
                                Only available when the field is **not** set in any VNG directly (launchSpec.strategy.preemptiblePercentage).
                              example: 100
                            shouldUtilizeCommitments:
                              type: boolean
                              example: true
                              description: |
                                Enable committed use discounts utilization.
                            revertToPreferred:
                              type: object
                              description: |
                                Allow the replacement of instances to Preferred ones if available.
                              properties:
                                shouldPerform:
                                  type: boolean
                                  default: true
                                  description: |
                                    If enabled, replacements will be performed for all of your cluster, unless configured on VNG level. TRUE is the default.
                                maxBatchPercentage:
                                  type: integer
                                  minimum: 0
                                  maximum: 100
                                  default: 10
                                  description: |
                                    Decide on the % of instances that will be replaced simultaneously.
                        scheduling: &ref_4
                          type: object
                          title: Ocean GKE Scheduling
                          description: Schedule an action such as a planned shutdown or a cluster roll.
                          properties:
                            shutdownHours:
                              type: object
                              description: |
                                Define time(s) for a scheduled shutdown.
                              required:
                                - timeWindows
                              properties:
                                isEnabled:
                                  type: boolean
                                  description: |
                                    Flag to enable or disable the shutdown hours mechanism. When false, the mechanism is deactivated and the cluster remains in its current state.
                                  example: true
                                timeWindows:
                                  type: array
                                  description: |
                                    Set time windows for shutdown hours. Specify a list of timeWindows that includes at least one time window. Each string is in the format of - ddd:hh:mm-ddd:hh:mm ddd = day of week = Sun | Mon | Tue | Wed | Thu | Fri | Sat hh = hour 24 = 0 -23 mm = minute = 0 - 59. Time windows should not overlap. Required when cluster.scheduling.isEnabled = True.
                                  items:
                                    type: string
                                    example:
                                      - Fri:15:30-Wed:14:30
                                      - Wed:15:30-Thu:18:30
                            tasks:
                              type: array
                              items:
                                type: object
                                title: Task Definition
                                required:
                                  - isEnabled
                                  - cronExpression
                                  - taskType
                                properties:
                                  isEnabled:
                                    type: boolean
                                    example: true
                                    description: |
                                      Describes whether the task is enabled. When true, the task runs. When false, it does not run. Required for the cluster.scheduling.tasks object.
                                  cronExpression:
                                    type: string
                                    example: 0 1 * * *
                                    description: |
                                      A valid cron expression. For example : " * * * * * ". The cron is running in UTC time zone and is in Unix cron format [Cron Expression Validator Script](http://www.unix.com/man-page/linux/5/crontab/). Frequency and cronExpression cannot be used at a time.
                                  taskType:
                                    type: string
                                    enum:
                                      - clusterRoll
                                    example: clusterRoll
                                    description: |
                                      Valid values: "clusterRoll". Required for the cluster.scheduling.tasks object.
                                  parameters:
                                    type: object
                                    properties:
                                      clusterRoll:
                                        type: object
                                        properties:
                                          batchSizePercentage:
                                            type: integer
                                            minimum: 0
                                            maximum: 100
                                            example: 20
                                            description: |
                                              Value as a percent to set the size of a batch in a roll. Valid values are 0-100.
                                          comment:
                                            type: string
                                            example: This is why I deployed my cluster.
                                            description: |
                                              Add a comment description for the roll. The comment is limited to 256 chars
                                          batchMinHealthyPercentage:
                                            type: integer
                                            minimum: 1
                                            maximum: 100
                                            default: 50
                                            example: 100
                                            description: |
                                              Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                                          respectPdb:
                                            type: boolean
                                            description: |
                                              During the roll, if the parameter is set to true we honor PDB during the instance replacement.
                                            example: true
                                            default: false
                        security: &ref_5
                          type: object
                          title: Security
                          properties:
                            containerImage:
                              type: object
                              properties:
                                approvedImages:
                                  type: array
                                  description: Set list of permitted repositories for container images.
                                  items:
                                    type: string
                                    example:
                                      - gce.io/*
                                      - docker.*
                        compute: &ref_6
                          type: object
                          title: Ocean Compute
                          required:
                            - subnetName
                            - launchSpecification
                            - networkInterfaces
                            - availabilityZones
                          properties:
                            networkInterfaces:
                              type: object
                              description: |
                                Settings for network interfaces
                              required:
                                - accessConfigs
                                - network
                              properties:
                                network:
                                  type: string
                                  example: default
                                projectId:
                                  type: string
                                  description: |
                                    Use a network resource from a different project. Set the project identifier to use its network resource. This parameter is relevant only if the network resource is in a different project.
                                  example: test-project
                                accessConfigs:
                                  type: object
                                  required:
                                    - name
                                    - type
                                  properties:
                                    name:
                                      type: string
                                      example: external-nat
                                    type:
                                      type: string
                                      description: |
                                        Possible values: ONE_TO_ONE_NAT
                                      example: ONE_TO_ONE_NAT
                                aliasIpRanges:
                                  type: object
                                  required:
                                    - ipCidrRange
                                    - subnetworkRangeName
                                  properties:
                                    ipCidrRange:
                                      type: string
                                      description: |
                                        Required for the cluster.compute.networkInterfaces.aliasIpRanges object.
                                      example: /24
                                    subnetworkRangeName:
                                      type: string
                                      description: |
                                        Required for the cluster.compute.networkInterfaces.aliasIpRanges object.
                                      example: gke-test-native-vpc-pods-5cb557f7
                            backendServices:
                              type: object
                              description: Settings for backend services.
                              required:
                                - backendServiceName
                              properties:
                                backendServiceName:
                                  type: string
                                  description: Required for the cluster.compute.backendServices object.
                                  example: test-global-tcp
                                locationType:
                                  type: string
                                  enum:
                                    - regional
                                    - global
                                  example: regional
                                scheme:
                                  type: string
                                  description: |
                                    Required if locationType is set to "regional".
                                  enum:
                                    - EXTERNAL
                                    - INTERNAL
                                  example: EXTERNAL
                                namedPorts:
                                  type: object
                                  required:
                                    - name
                                    - ports
                                  properties:
                                    name:
                                      type: string
                                      example: https
                                    ports:
                                      type: array
                                      items:
                                        type: integer
                                      example:
                                        - 443
                                        - 8443
                            subnetName:
                              type: string
                              description: Subnet identifier for the Ocean cluster
                              example: default
                            availabilityZones:
                              type: array
                              description: Availability zone(s) used by the Ocean cluster.
                              items:
                                type: string
                                example: us-west1-a
                            instanceTypes:
                              type: object
                              description: The type of instances that may or may not be a part of the Ocean cluster.
                              properties:
                                whitelist:
                                  type: array
                                  description: |
                                    Instance types allowed in the Ocean cluster. Cannot be configured if a deny list is configured.
                                  items:
                                    type: string
                                  example:
                                    - n1-standard-2
                                blacklist:
                                  type: array
                                  description: |
                                    Instance types to avoid launching in the Ocean cluster. Cannot be configured if a permit list is configured.
                                  items:
                                    type: string
                                  example:
                                    - n2d-highcpu-96
                                filters: &ref_12
                                  type: object
                                  description: |
                                    List of filters. The Instance types that match with all filters compose the Ocean's whitelist parameter.  Cannot be configured together with whitelist/blacklist.
                                  title: InstanceTypesFilters
                                  properties:
                                    minVcpu:
                                      type: integer
                                      description: |
                                        Minimum number of vcpus available.
                                      minimum: 0
                                      example: 2
                                    maxVcpu:
                                      type: integer
                                      description: |
                                        Maximum number of vcpus available.
                                      minimum: 1
                                      example: 16
                                    minMemoryGiB:
                                      type: number
                                      format: double
                                      description: |
                                        Minimum amount of Memory (GiB).
                                      minimum: 0
                                      example: 8
                                    maxMemoryGiB:
                                      type: number
                                      format: double
                                      description: |
                                        Maximum amount of Memory (GiB).
                                      minimum: 0
                                      example: 16
                                    includeFamilies:
                                      type: array
                                      description: |
                                        Types belonging to a family from the IncludeFamilies will be available for scaling (asterisk wildcard is also supported).
                                      items:
                                        type: string
                                      example:
                                        - c2
                                        - c3
                                    excludeFamilies:
                                      type: array
                                      description: |
                                        Types belonging to a family from the ExcludeFamilies will not be available for scaling (asterisk wildcard is also supported).
                                      items:
                                        type: string
                                      example:
                                        - n2
                                        - c3
                                preferredTypes: &ref_13
                                  type: array
                                  description: |
                                    When Ocean scales up VMs, it prioritizes the preferred instance types for launching new nodes.  If launching nodes from this preferred list is not feasible, Ocean will then proceed to utilize the configured instance  types available within the cluster.  Note that the preferred types must be a subset of the instance types configured for the cluster/vng.
                                  title: preferredTypes
                                  items:
                                    type: string
                                  example:
                                    - c3d-standard-4
                                    - c3d-standard-8
                            launchSpecification:
                              type: object
                              required:
                                - sourceImage
                                - tags
                                - metadata
                                - serviceAccount
                              properties:
                                sourceImage:
                                  type: string
                                  description: URL of the image used to launch the instances.
                                  example: https://www.googleapis.com/compute/v1/projects/gke-node-images/global/images/gke-1117-gke12-cos-69-10895-138-0-v190225-pre
                                metadata:
                                  type: object
                                  description: |
                                    Set array of cluster metadata.
                                  properties:
                                    key:
                                      type: string
                                      description: |
                                        Key of metadata key pair.
                                      example: example_key1
                                    value:
                                      type: string
                                      description: |
                                        Value of metadata key pair.
                                      example: exmample_value1
                                tags:
                                  type: array
                                  description: Every node launched from this configuration will be tagged with those tags.
                                  items:
                                    type: string
                                  example:
                                    - gke-cluster-name-12345-node
                                ipForwarding:
                                  type: boolean
                                  example: true
                                minCpuPlatform:
                                  type: string
                                  description: |
                                    Set instance CPU platform.
                                  example: Intel Sandy Bridge
                                serviceAccount:
                                  type: string
                                  example: 265168459660-compute@developer.gserviceaccount.com
                                  description: |
                                    The service account used by applications running on the VM to call GCP APIs.
                                labels:
                                  type: array
                                  description: |
                                    Set labels on cluster. Can set up to 60 labels
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                        example: spotinst-gke-original-node-pool
                                      value:
                                        type: string
                                        example: test-native-vpc__default-pool
                                rootVolumeSizeInGb:
                                  type: integer
                                  description: Optionally set root size (GB). Value should be greater than or equal to 100.
                                  example: 100
                                rootVolumeType:
                                  type: string
                                  description: Set the root volume disk type.
                                  example: pd-standard
                                  enum:
                                    - pd-standard
                                    - pd-ssd
                                    - pd-balanced
                                    - pd-extreme
                                    - hyperdisk-balanced
                                    - hyperdisk-balanced-high-availability
                                shieldedInstanceConfig: &ref_14
                                  type: object
                                  title: shielded-instance-config
                                  description: |
                                    The Ocean shielded instance configuration object.
                                  properties:
                                    enableSecureBoot:
                                      type: boolean
                                      description: |
                                        Enable the secure boot parameter on the GCP instances.
                                      example: true
                                    enableIntegrityMonitoring:
                                      type: boolean
                                      description: |
                                        Enable the integrity monitoring parameter on the GCP instances.
                                      example: true
                                useAsTemplateOnly:
                                  type: boolean
                                  description: |
                                    The configuration specified on the Ocean object will function only as a template for virtual node groups.
                                  default: false
                        createdAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T08:13:08.000Z'
                          description: |
                            A timestamp of the Ocean creation.
                        updatedAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T15:06:13.000Z'
                          description: |
                            A timestamp of the latest Ocean update.
                - type: object
                  properties:
                    cluster:
                      type: object
                      required:
                        - name
      responses:
        '200':
          description: Ocean Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_8
                    type: object
                    allOf:
                      - &ref_11
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              description: The specification of the Ocean cluster.
                              required:
                                - name
                                - controllerClusterId
                                - compute
                              properties:
                                id:
                                  type: string
                                  readOnly: true
                                  example: o-abcd1234
                                  description: |
                                    Ocean cluster identifier.
                                name:
                                  type: string
                                  example: test
                                  description: |
                                    Add a name for the Ocean cluster.
                                controllerClusterId:
                                  type: string
                                  example: test-123124
                                  description: |
                                    Enter the Ocean cluster identifier.
                                gke:
                                  type: object
                                  required:
                                    - clusterName
                                    - masterLocation
                                  description: |
                                    Use existing GKE cluster.
                                  properties:
                                    clusterName:
                                      type: string
                                      description: |
                                        Required for the cluster.gke object.
                                      example: test-cluster
                                    masterLocation:
                                      type: string
                                      description: |
                                        Required for the cluster.gke object.
                                      example: us-central1-a
                                autoScaler: *ref_0
                                autoUpdate: *ref_1
                                capacity: *ref_2
                                strategy: *ref_3
                                scheduling: *ref_4
                                security: *ref_5
                                compute: *ref_6
                                createdAt:
                                  type: string
                                  readOnly: true
                                  format: date-time
                                  example: '2021-03-17T08:13:08.000Z'
                                  description: |
                                    A timestamp of the Ocean creation.
                                updatedAt:
                                  type: string
                                  readOnly: true
                                  format: date-time
                                  example: '2021-03-17T15:06:13.000Z'
                                  description: |
                                    A timestamp of the latest Ocean update.
                          kind:
                            example: spotinst:ocean:gcp:k8s
        '400':
          description: Bad Request
    get:
      summary: List Clusters
      description: |
        List the configurations for all Ocean clusters in the specified account.
      operationId: OceanGKEClusterList
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
      responses:
        '200':
          description: Ocean GKE List Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster
                          method:
                            example: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_9
                          kind:
                            example: spotinst:ocean:gcp:k8s
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/controllerHeartbeat:
    get:
      summary: Get Heartbeat Status
      description: |
        Get the heartbeat status of the Ocean Controller for the cluster. <br /> The response returns the heartbeat status and the last heartbeat timestamp.
      operationId: oceanGkeGetHeartbeatStatus
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
        - &ref_10
          in: path
          name: oceanClusterId
          schema:
            type: string
          required: true
          example: o-abcd1234
          description: |
            Identifier of the Ocean cluster.
      responses:
        '200':
          description: Ocean Get Heartbeat Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/k8s/cluster/o-e0a2bd7c/controllerHeartbeat
                          method:
                            example: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              title: Controller Heartbeat
                              properties:
                                status:
                                  type: string
                                  example: ACTIVE
                                lastHeartbeat:
                                  type: string
                                  example: '2019-11-24T14:33:00.746Z'
                          kind:
                            example: spotinst:ocean:k8s:cluster:controllerHeartbeat
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}:
    delete:
      summary: Delete Cluster
      description: |
        Delete a specified Ocean cluster.
      operationId: OceanGKEClusterDelete
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
        - *ref_10
      responses:
        '200':
          description: Ocean GKE Delete Cluster Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_11
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-abcd1234
                          method:
                            example: DELETE
        '400':
          description: Bad Request
    get:
      summary: Get Cluster
      description: |
        Get the configuration for a specified Ocean cluster.
      operationId: OceanGKEClusterGet
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
        - *ref_10
      responses:
        '200':
          description: Ocean GKE Get Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-abcd1234
                          method:
                            example: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_9
                          kind:
                            example: spotinst:ocean:gcp:k8s
        '400':
          description: Bad Request
    put:
      summary: Update Cluster
      description: |
        All Ocean parameters are updatable, excluding the Name and controllerClusterId. <br /> This API supports partial updates, so specific fields can be updated separately.
      operationId: OceanGKEClusterUpdate
      tags:
        - Ocean GKE
      parameters:
        - *ref_10
        - *ref_7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      description: The specification of the Ocean cluster.
                      properties:
                        id:
                          type: string
                          readOnly: true
                          example: o-abcd1234
                          description: |
                            Ocean cluster identifier.
                        name:
                          type: string
                          example: test
                          description: |
                            Add a name for the Ocean cluster.
                        autoScaler: *ref_0
                        autoUpdate: *ref_1
                        capacity: *ref_2
                        strategy: *ref_3
                        scheduling: *ref_4
                        security: *ref_5
                        compute: *ref_6
                        createdAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T08:13:08.000Z'
                          description: |
                            A timestamp of the Ocean creation.
                        updatedAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2021-03-17T15:06:13.000Z'
                          description: |
                            A timestamp of the latest Ocean update.
      responses:
        '200':
          description: Ocean GKE Update Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-abcd1234
                          method:
                            example: PUT
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_9
                          kind:
                            example: spotinst:ocean:gcp:k8s
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/reImport:
    put:
      summary: Reimport Cluster
      description: |
        Reimport the cluster's configuration from GKE.
      operationId: reImportGke
      tags:
        - Ocean GKE
      parameters:
        - *ref_10
        - *ref_7
      responses:
        '200':
          description: Reimport cluster response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-12345abc/reImport
                          method:
                            example: PUT
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                cluster:
                                  type: object
                                  properties:
                                    oceanId:
                                      type: string
                                      description: |
                                        The identifier of the Ocean cluster.
                                      example: o-12345abc
                                    associatedClusterName:
                                      type: string
                                      description: |
                                        The name of the corresponding GKE cluster.
                                      example: gke-cluster
                                    isUpdated:
                                      type: boolean
                                      description: |
                                        If `true`, then the Ocean's configuration was updated.
                                      example: true
                                    launchSpecs:
                                      type: array
                                      description: |
                                        Shows the Ocean's virtual node groups and their update status.
                                      items:
                                        type: object
                                        properties:
                                          launchSpecId:
                                            type: string
                                            example: ols-12345abc
                                            description: |
                                              The identifier of the virtual node group.
                                          associatedNodePool:
                                            type: string
                                            description: |
                                              The virtual node group's associated node pool in GKE.
                                            example: default-pool
                                          isUpdated:
                                            type: boolean
                                            description: |
                                              If `true`, then the virtual node group's configuration was updated.
                                            example: true
                                      example:
                                        - launchSpecId: ols-12345abc
                                          associatedNodePool: default-pool
                                          isUpdated: true
                                        - launchSpecId: ols-98765cba
                                          associatedNodePool: pool-1
                                          isUpdated: false
                          kind:
                            example: spotinst:ocean:gcp:k8s
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/detachInstances:
    put:
      summary: Detach Instances
      description: |
        Detach instances from your Ocean cluster.
      operationId: oceanGkeDetachInstance
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
        - *ref_10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - instancesToDetach
                  properties:
                    instancesToDetach:
                      type: array
                      description: |
                        Array of instance identifiers to be detached.
                      items:
                        type: string
                      example:
                        - sin-9d317117a0df-oesg-02cff6a8
                        - sin-49784809d76a-oesg-02cff6a8
                    shouldTerminateInstances:
                      type: boolean
                      description: |
                        Determines whether the detached instances should be terminated or not. (Default true)
                      example: true
                    shouldDecrementTargetCapacity:
                      type: boolean
                      description: |
                        Determines whether the Ocean cluster's target capacity should be decremented. (Default false)
                      example: false
                    drainingTimeout:
                      type: integer
                      description: |
                        (Applies only if shouldTerminateInstances is on) The draining timeout (in seconds) before terminating the instance.
      responses:
        '200':
          description: Ocean Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_11
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-4c794b06/detachInstances
                          method:
                            example: PUT
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/log:
    summary: Ocean for GKE
    get:
      summary: Get Elastilog
      description: |
        Get group’s Elastilog by 
      operationId: oceanGkeFetchLog
      tags:
        - Ocean GKE
      parameters:
        - *ref_10
        - *ref_7
        - in: query
          name: fromDate
          schema:
            type: string
          required: true
          description: |
            Beginning date value using either the date format "yyyy-mm-dd; 2016-11-20" or ms "1494751821472".
        - in: query
          name: toDate
          schema:
            type: string
          required: true
          description: |
            End date value using either the date format "yyyy-mm-dd; 2016-11-20" or ms "1494751821472".
        - in: query
          name: limit
          description: |
            Maximum number of lines to extract in a response.
          schema:
            type: integer
            maximum: 1000
            default: 500
          required: false
          example: 200
        - in: query
          name: severity
          description: |
            Severity of log entries to extract.
          schema:
            type: string
            enum:
              - ALL
              - INFO
              - DEBUG
              - ERROR
              - WARN
            default: ALL
          required: false
          example: INFO
        - in: query
          name: resourceId
          example: i-12345678
          description: |
            Filter extracted log entries for a specific resource identifier. Default: Null
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Ocean Get Log Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    type: object
                    description: |
                      Original request properties.
                    properties:
                      id:
                        type: string
                        example: 3213f42e-455e-4801-a185-cd3eb65fac5f
                        description: |
                          Unique identifier associated with this request.
                      url:
                        type: string
                        example: /ocean/gcp/k8s/cluster/o-e0a2bd7c/log?fromDate=2020-10-06&toDate=2020-10-08&severity=ALL&limit=500
                        description: |
                          The URL that was used for the request.
                      method:
                        type: string
                        example: GET
                        description: |
                          The HTTP **METHOD** used for the request.
                      timestamp:
                        type: string
                        example: '2020-10-05T16:20:38.579Z'
                        description: |
                          When the request was received by Spot.
                  response:
                    type: object
                    description: |
                      Response package that includes status, type, and any relevant data.
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: '200'
                            description: |
                              HTTP status code assigned to this response.
                          message:
                            type: string
                            example: OK
                            description: |
                              HTTP status message for the respective status code.
                      kind:
                        type: string
                        example: spotinst:ocean:cluster:log
                      items:
                        type: array
                        description: |
                          Array of data objects.
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                            severity:
                              type: string
                            createdAt:
                              type: string
                        example:
                          - message: Ocean o-e0a2bd7c successfully created.
                            severity: INFO
                            createdAt: '2020-10-07T09:51:12.000Z'
                      count:
                        type: integer
                        example: '1'
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanId}/rightSizing/suggestion:
    post:
      summary: Get Right Sizing Recommendations
      description: |
        Get right-sizing recommendations for an Ocean cluster and filter them according to namespace or label.
      operationId: oceanGkeGetRightSizingRecommendationsWithFilter
      tags:
        - Ocean GKE
      parameters:
        - *ref_7
        - &ref_22
          in: path
          name: oceanId
          schema:
            type: string
          required: true
          example: o-abcd1234
          description: |
            Identifier of the Ocean cluster.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    filter:
                      type: object
                      description: |
                        Optional - may be null.
                      properties:
                        namespaces:
                          type: array
                          description: |
                            Optional - may be null. If exists - should contain at least 1 item.
                          items:
                            type: string
                          example:
                            - sparkSpace
                            - kube-system
                        attribute:
                          type: object
                          description: |
                            Optional - may be null.
                          required:
                            - type
                            - key
                          properties:
                            type:
                              type: string
                              enum:
                                - label
                                - annotation
                              example: label
                            key:
                              type: string
                              description: |
                                May be any string, but shouldn't be empty.
                              example: app
                            operator:
                              type: string
                              description: |
                                Optional - may be null.
                              enum:
                                - Equals
                                - notEquals
                                - exists
                                - doesNotExist
                              default: Equals
                              example: Equals
                            value:
                              type: string
                              description: |
                                Required whenever the operator is "equals" or "notEquals". |
                                If exists, may be any string.
                              example: redis
      responses:
        '200':
          description: Ocean RightSizing Recommendation Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 200
                          message:
                            type: string
                            example: OK
                      kind:
                        type: string
                        example: spotinst:ocean:aws:k8s:cluster:rightSizing:resourceSuggestion
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceName:
                              type: string
                              example: dns-controller
                            resourceType:
                              type: string
                              example: deployment
                            namespace:
                              type: string
                              example: kube-system
                            suggestedCPU:
                              type: integer
                              example: 1
                            suggestedMemory:
                              type: integer
                              example: 19
                            requestedCPU:
                              type: integer
                              example: 50
                            requestedMemory:
                              type: integer
                              example: 50
                        example:
                          - resourceName: dns-controller
                            resourceType: deployment
                            namespace: kube-system
                            suggestedCPU: 1
                            suggestedMemory: 19
                            requestedCPU: 50
                            requestedMemory: 50
                          - resourceName: kube-dns
                            resourceType: daemonSet
                            namespace: kube-system
                            suggestedCPU: 2
                            suggestedMemory: 20
                            requestedCPU: 10
                            requestedMemory: 30
                      count:
                        type: integer
                        example: 2
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/aggregatedCosts:
    post:
      summary: Get Cluster Aggregated Detailed Costs
      description: |
        Provides Kubernetes cluster resource usage and costs over a time interval which can be grouped and/or filtered by label/annotaion.\
        For example - application name (webapp, backend), environment (production, staging), version etc.\
        The response will contain a breakdown of the cluster resource costs($) in terms of compute (CPU, memory) and storage.
        The response will group the cluster usage costs based on preselected default of application namespace or user selected label or annotation.\
        Within the group, resource costs are broken down per resource kind (Deployment, DaemonSet etc.).

        Time Rounding Down: The CostAnalysis API applies rounding down to the hours provided during the call.\
        For example, the value 1707004799099 (In GMT) representing Saturday, February 3, 2024, 23:59:59.099 is rounded down to Saturday, February 3, 2024, 23:00:00.000, resulting in the omission of one hour of cost.
      operationId: oceanGkeK8sClusterAggregatedDetailedCosts
      tags:
        - Ocean GKE
      parameters:
        - *ref_10
        - *ref_7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - endTime
                    - startTime
                  properties:
                    startTime:
                      type: string
                      example: '2018-06-20T11:35:02.745Z'
                      description: |
                        Beginning date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    endTime:
                      type: string
                      example: '2018-06-22T11:30:01.745Z'
                      description: |
                        End date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    groupBy:
                      type: string
                      description: |
                        The parameter we want to group the costs by.
                      default: namespace
                      example: namespace.label.env
                      enum:
                        - namespace
                        - namespace.label.${labelKey}
                        - resource.label.${labelKey}
                        - resource.annotation.${annotationKey}
                        - namespace.annotation.${annotationKey}
                    filter:
                      type: object
                      description: Describe how to filter the costs. Optional field.
                      required:
                        - scope
                        - conditions
                      properties:
                        scope:
                          type: string
                          enum:
                            - namespace
                            - resource
                        conditions:
                          type: object
                          required:
                            - anyMatch
                          properties:
                            anyMatch:
                              type: array
                              description: |
                                Array of conditions set that OR operator is applied between them.
                              items:
                                type: object
                                required:
                                  - allMatch
                                properties:
                                  allMatch:
                                    type: array
                                    description: |
                                      Array of conditions that AND operator is applied between them.\
                                      For example, (label env equals prod) AND (label app exists)
                                    items:
                                      type: object
                                      description: The basic expression of a condition
                                      required:
                                        - type
                                        - key
                                        - operator
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - label
                                            - annotation
                                        key:
                                          type: string
                                          description: |
                                            May be any string, but shouldn't be empty.
                                          example: env
                                        operator:
                                          type: string
                                          enum:
                                            - equals
                                            - notEquals
                                            - exists
                                            - notExists
                                        value:
                                          type: string
                                          description: |
                                            Required whenever the operator is "equals" or "notEquals".
                                          example: prod
                              example:
                                - allMatch:
                                    - type: label
                                      key: env
                                      operator: equals
                                      value: prod
                                    - type: label
                                      key: app
                                      operator: exists
                                - allMatch:
                                    - type: annotation
                                      key: meta.data
                                      operator: exists
      responses:
        '200':
          description: Ocean Cluster Aggregated Detailed Costs Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-abcd1234/aggregatedCosts
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                result:
                                  type: object
                                  properties:
                                    totalForDuration:
                                      type: object
                                      properties:
                                        startTime:
                                          type: string
                                          example: '2018-06-20T11:35:01.745Z'
                                          description: |
                                            Beginning date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                                        endTime:
                                          type: string
                                          example: '2018-06-22T11:30:01.745Z'
                                          description: |
                                            End date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                                        summary:
                                          type: object
                                          properties:
                                            total:
                                              type: number
                                              example: 41772.882658036
                                              description: The total costs of cluster in a given time range
                                            compute:
                                              type: object
                                              properties:
                                                total:
                                                  type: number
                                                  example: 40668.1299631538
                                                  description: The total compute costs of the cluster in a given time range
                                                workloads:
                                                  type: object
                                                  properties:
                                                    total:
                                                      type: number
                                                      example: 40668.1299631538
                                                headroom:
                                                  type: object
                                                  properties:
                                                    total:
                                                      type: number
                                                      example: 0
                                            storage:
                                              type: object
                                              properties:
                                                total:
                                                  type: number
                                                  example: 1104.7526948819
                                                  description: The total storage costs of the cluster in given time range
                                                block:
                                                  type: object
                                                  properties:
                                                    total:
                                                      type: number
                                                      example: 1104.7526948819
                                                    pdPv:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: number
                                                          example: 1104.7526948819
                                                    pdBoot:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: number
                                                          example: 0
                                        detailedCosts:
                                          type: object
                                          properties:
                                            groupedBy:
                                              type: string
                                              example: n.l.name
                                            aggregations:
                                              type: object
                                              description: |
                                                Contains aggregation for each group by value.
                                              additionalProperties:
                                                type: object
                                                description: For example - if group by is namespace so each property name will a namesapce in the cluster.
                                                properties:
                                                  summary:
                                                    type: object
                                                    properties:
                                                      total:
                                                        type: number
                                                        example: 425.23778
                                                      compute:
                                                        type: object
                                                        properties:
                                                          total:
                                                            type: number
                                                            example: 125.23778
                                                      storage:
                                                        type: object
                                                        properties:
                                                          total:
                                                            type: number
                                                            example: 300
                                                          block:
                                                            type: object
                                                            properties:
                                                              total:
                                                                type: number
                                                                example: 300
                                                              pdPv:
                                                                type: object
                                                                properties:
                                                                  total:
                                                                    type: number
                                                                    example: 300
                                                              pdBoot:
                                                                type: object
                                                                properties:
                                                                  total:
                                                                    type: number
                                                                    example: 0
                                                  resources:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        metadata:
                                                          type: object
                                                          properties:
                                                            name:
                                                              type: string
                                                              example: k8s-events
                                                            type:
                                                              type: string
                                                              example: Deployment
                                                            namespace:
                                                              type: string
                                                              example: kube-system
                                                        total:
                                                          type: number
                                                          example: 1.655635222
                                                        compute:
                                                          type: object
                                                          properties:
                                                            total:
                                                              type: number
                                                              example: 1.4213600158
                                                        storage:
                                                          type: object
                                                          properties:
                                                            total:
                                                              type: number
                                                              example: 0.2342752062
                                                            block:
                                                              type: object
                                                              properties:
                                                                total:
                                                                  type: number
                                                                  example: 0.2342752062
                                                                pdPv:
                                                                  type: object
                                                                  properties:
                                                                    total:
                                                                      type: number
                                                                      example: 0
                                                                pdBoot:
                                                                  type: object
                                                                  properties:
                                                                    total:
                                                                      type: number
                                                                      example: 0.2342752062
                          kind:
                            example: ocean:k8s:cluster:aggregatedCosts:detailed
        '400':
          description: Bad Request
  /ocean/gcp/k8s/cluster/{oceanClusterId}/aggregatedCosts/summary:
    post:
      summary: Get Cluster Aggregated Summary Costs
      description: |
        Provides Kubernetes cluster summary usage and costs over a time interval which can be grouped and/or filtered by label/annotaion,\
        for example - application name (webapp, backend), environment (production, staging), version etc.\
        The response will contain a breakdown of the cluster resource costs($) in terms of compute (CPU, memory), storage (block, file, rootVolume).
        The response will group the cluster usage costs based on preselected default of application namespace or user selected label or annotation.

        Time Rounding Down: The CostAnalysis API applies rounding down to the hours provided during the call.\
        For example, the value 1707004799099 (In GMT) representing Saturday, February 3, 2024, 23:59:59.099 is rounded down to Saturday, February 3, 2024, 23:00:00.000, resulting in the omission of one hour of cost.
      operationId: oceanGkeK8sClusterAggregatedSummaryCosts
      tags:
        - Ocean GKE
      parameters:
        - *ref_10
        - *ref_7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - endTime
                    - startTime
                  properties:
                    startTime:
                      type: string
                      example: '2023-07-20T11:35:01.745Z'
                      description: |
                        Beginning date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    endTime:
                      type: string
                      example: '2023-07-22T11:30:01.745Z'
                      description: |
                        End date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    groupBy:
                      type: string
                      description: |
                        The parameter we want to group the costs by.
                      default: namespace
                      example: namespace.label.env
                      enum:
                        - namespace
                        - namespace.label.${labelKey}
                        - resource.label.${labelKey}
                        - resource.annotation.${annotationKey}
                        - namespace.annotation.${annotationKey}
                    filter:
                      type: object
                      description: Describe how to filter the costs. Optional field.
                      required:
                        - scope
                        - conditions
                      properties:
                        scope:
                          type: string
                          enum:
                            - namespace
                            - resource
                        conditions:
                          type: object
                          required:
                            - anyMatch
                          properties:
                            anyMatch:
                              type: array
                              description: |
                                Array of conditions set that OR operator is applied between them.
                              items:
                                type: object
                                required:
                                  - allMatch
                                properties:
                                  allMatch:
                                    type: array
                                    description: |
                                      Array of conditions that AND operator is applied between them.\
                                      For example, (label env equals prod) AND (label app exists)
                                    items:
                                      type: object
                                      description: The basic expression of a condition
                                      required:
                                        - type
                                        - key
                                        - operator
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - label
                                            - annotation
                                        key:
                                          type: string
                                          description: |
                                            May be any string, but shouldn't be empty.
                                          example: env
                                        operator:
                                          type: string
                                          enum:
                                            - equals
                                            - notEquals
                                            - exists
                                            - notExists
                                        value:
                                          type: string
                                          description: |
                                            Required whenever the operator is "equals" or "notEquals".
                                          example: prod
                              example:
                                - allMatch:
                                    - type: label
                                      key: env
                                      operator: equals
                                      value: prod
                                    - type: label
                                      key: app
                                      operator: exists
                                - allMatch:
                                    - type: annotation
                                      key: meta.data
                                      operator: exists
      responses:
        '200':
          description: Ocean Cluster Aggregated Summary Costs Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_8
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/gcp/k8s/cluster/o-abcd1234/aggregatedCosts/summary
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                result:
                                  type: object
                                  properties:
                                    totalForDuration:
                                      type: object
                                      properties:
                                        startTime:
                                          type: string
                                          example: '2023-07-20T11:35:01.745Z'
                                          description: |
                                            Beginning date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                                        endTime:
[...]
