openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean ECS
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean ECS
    description: Ocean - Serverless containers for Amazon Elastic Container Service (ECS)
    externalDocs:
      description: Ocean Concepts and Tutorials
      url: https://docs.flexera.com/spot/ocean/
paths:
  /ocean/aws/ecs/cluster:
    get:
      summary: List Clusters
      description: |
        Get the configurations for all Ocean clusters in the specified account.
      operationId: OceanECSClusterList
      tags:
        - Ocean ECS
      parameters:
        - &ref_0
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      responses:
        '200': &ref_9
          description: Ocean ECS Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_13
                    type: object
                    allOf:
                      - &ref_12
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: &ref_11
                              type: object
                              required:
                                - cluster
                              properties:
                                cluster:
                                  type: object
                                  title: ECS Ocean
                                  properties:
                                    id:
                                      type: string
                                      example: o-12345abc
                                      readOnly: true
                                      description: |
                                        Ocean cluster identifier.
                                    name:
                                      type: string
                                      example: Ocean::my-elastigroup-name
                                      description: |
                                        Add a name for the Ocean cluster.
                                    clusterName:
                                      type: string
                                      example: my-ECS-cluster-name
                                      description: |
                                        ECS cluster name.
                                    autoScaler: &ref_1
                                      type: object
                                      title: Ocean Autoscaler
                                      description: |
                                        The Ocean ECS Autoscaler.
                                      properties:
                                        isEnabled:
                                          type: boolean
                                          description: |
                                            Enable the Ocean ECS Autoscaler.
                                          example: true
                                        cooldown:
                                          type: integer
                                          description: |
                                            Cooldown period between scaling actions. Value should be cooldown period in seconds, greater than 180.
                                          example: 300
                                        resourceLimits:
                                          type: object
                                          description: |
                                            Optionally set upper and lower bounds on the resource usage of the cluster.
                                          properties:
                                            maxMemoryGib:
                                              type: integer
                                              description: |
                                                The maximum memory in GiB units that can be allocated to the cluster. Minimum value: 1.
                                              example: 1
                                            maxVCpu:
                                              type: integer
                                              description: |
                                                The maximum CPU in vCPU units that can be allocated to the cluster. Minimum value: 1.
                                              example: 1
                                        down:
                                          type: object
                                          description: |
                                            Autoscaling scale down operations.
                                          properties:
                                            evaluationPeriods:
                                              type: integer
                                              example: 4
                                            maxScaleDownPercentage:
                                              type: integer
                                              description: |
                                                The maximum portion (as a %) of nodes that will be scaled down at once out of the total number of potential nodes to scale down.
                                                Example: If there are 10 nodes to scale down and the parameter is 50%, then only 5 nodes will be scaled down at once.
                                                The other 5 nodes will be scaled down in the next autoscaling iteration.
                                              example: 20
                                        headroom:
                                          type: object
                                          description: |
                                            Spare resource capacity management enabling fast assignment of pods without waiting for new resources to launch.
                                          properties:
                                            cpuPerUnit:
                                              type: integer
                                              description: |
                                                Optionally configure the number of CPUs to allocate per headroom unit. CPUs are denoted in CPU units, where 1024 units = 1 vCPU.
                                              example: 2048
                                            memoryPerUnit:
                                              type: integer
                                              description: |
                                                Optionally configure the amount of memory (MiB) to allocate per headroom unit.
                                              example: 3
                                            numOfUnits:
                                              type: integer
                                              description: |
                                                The number of units to retain as headroom, where each unit has the defined headroom CPU and memory.
                                              example: 2
                                        isAutoConfig:
                                          type: boolean
                                          description: |
                                            Use automatic headroom. When set to true, the values under cluster.autoScaler.headroom are not effective, as Ocean configures and optimizes headroom automatically. The auto headroom is calculated based on the service with the most changed task in the cluster, not taking the Virtual Node Group's settings into consideration.
                                          example: false
                                        autoHeadroomPercentage:
                                          type: integer
                                          description: |
                                            Optionally set the auto-headroom percentage. Set a number between 0-200 to control the headroom % of the cluster. Relevant when isAutoConfig=true.
                                          example: 20
                                        shouldScaleDownNonServiceTasks:
                                          type: boolean
                                          description: |
                                            Option to scale down non-service tasks. If not set, Ocean does not scale down standalone tasks.
                                          default: false
                                          example: true
                                        enableAutomaticAndManualHeadroom:
                                          type: boolean
                                          description: |
                                            When set to true, both automatic and per custom Virtual Node Group manual headroom to be saved concurrently and independently in the cluster. prerequisite: isAutoConfig must be true
                                          example: false
                                    capacity: &ref_2
                                      type: object
                                      title: Capacity Units
                                      description: |
                                        Capacity specifications for the Ocean cluster.
                                      properties:
                                        minimum:
                                          type: integer
                                          example: 1
                                          description: |
                                            The bottom limit of instances that the cluster can scale down to.
                                        maximum:
                                          type: integer
                                          example: 10
                                          description: |
                                            The upper limit of instances that the cluster can scale up to.
                                          default: 1000
                                        target:
                                          type: integer
                                          example: 5
                                          description: |
                                            Number of instances to launch and maintain in cluster.h
                                    strategy: &ref_3
                                      type: object
                                      title: Ocean Strategy
                                      description: |
                                        Strategy Configuration of the Ocean cluster.
                                      properties:
                                        utilizeReservedInstances:
                                          type: boolean
                                          description: |
                                            If reserved instances exist, Ocean will use them before launching spot instances.
                                          example: true
                                          default: false
                                        fallbackToOd:
                                          type: boolean
                                          description: |
                                            If no spot instance markets are available, enable Ocean to launch on-demand instances instead.
                                          example: true
                                          default: true
                                        spotPercentage:
                                          type: integer
                                          example: 100
                                        drainingTimeout:
                                          type: integer
                                          description: |
                                            The draining timeout (in seconds) before terminating the instance. If no draining timeout is defined, the default draining timeout will be used.
                                          example: 200
                                        utilizeCommitments:
                                          type: boolean
                                          description: |
                                            If savings plans commitment has available capacity, Ocean will utilize them alongside RIs (if exist) to maximize cost efficiency.
                                          example: false
                                          default: false
                                        clusterOrientation:
                                          type: object
                                          properties:
                                            availabilityVsCost:
                                              type: string
                                              description: |
                                                You can control the approach that Ocean takes while launching nodes by configuring this value.
                                              enum:
                                                - costOriented
                                                - balanced
                                                - cheapest
                                              example: balanced
                                              default: balanced
                                    compute:
                                      type: object
                                      title: Ocean Compute
                                      properties:
                                        subnetIds:
                                          type: array
                                          description: |
                                            A comma-separated list of subnet identifiers for the Ocean cluster. Subnet identifiers should be configured with auto-assign public IP.
                                          items:
                                            type: string
                                            example: subnet-1234abcd
                                        instanceTypes:
                                          type: object
                                          description: The type of instances that may or may not be a part of the Ocean cluster.
                                          properties:
                                            filters: &ref_4
                                              type: object
                                              description: |
                                                List of filters. The Instance types that match with all filters compose the Ocean's whitelist parameter.  Cannot be configured together with whitelist/blacklist.
                                              title: InstanceTypesFilters
                                              properties:
                                                minVcpu:
                                                  type: integer
                                                  description: |
                                                    Minimum number of vCPUs available.
                                                  minimum: 0
                                                  example: 2
                                                maxVcpu:
                                                  type: integer
                                                  description: |
                                                    Maximum number of vCPUs available.
                                                  minimum: 1
                                                  example: 16
                                                minMemoryGiB:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Minimum amount of Memory (GiB).
                                                  minimum: 0
                                                  example: 8
                                                maxMemoryGiB:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Maximum amount of Memory (GiB).
                                                  minimum: 0
                                                  example: 16
                                                minGpu:
                                                  type: integer
                                                  description: |
                                                    Minimum total number of GPUs.
                                                  minimum: 0
                                                  example: 0
                                                maxGpu:
                                                  type: integer
                                                  description: |
                                                    Maximum total number of GPUs.
                                                  minimum: 1
                                                  example: 4
                                                includeFamilies:
                                                  type: array
                                                  description: |
                                                    Types belonging to a family from the IncludeFamilies will be available for scaling (asterisk wildcard is also supported). For example, C* will include instance types from these families: c5, c4, c4a, etc.
                                                  items:
                                                    type: string
                                                  example:
                                                    - c5*
                                                    - g5
                                                excludeFamilies:
                                                  type: array
                                                  description: |
                                                    Types belonging to a family from the ExcludeFamilies will not be available for scaling (asterisk wildcard is also supported). For example, C* will exclude instance types from these families: c5, c4, c4a, etc.
                                                  items:
                                                    type: string
                                                  example:
                                                    - t2
                                                    - R4*
                                                excludeMetal:
                                                  type: boolean
                                                  default: false
                                                  description: |
                                                    In case excludeMetal is set to true, metal types will not be available for scaling.
                                                  example: true
                                                isEnaSupported:
                                                  type: boolean
                                                  description: |
                                                    Ena is supported or not.
                                                  example: true
                                                architectures:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will support at least one of the architectures from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - i386
                                                      - x86_64
                                                      - arm64
                                                  example:
                                                    - i386
                                                    - x86_64
                                                virtualizationTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will support at least one of the virtualization types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - hvm
                                                      - paravirtual
                                                  example:
                                                    - hvm
                                                categories:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will belong to one of the categories types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - Accelerated_computing
                                                      - Compute_optimized
                                                      - General_purpose
                                                      - Memory_optimized
                                                      - Storage_optimized
                                                  example:
                                                    - Accelerated_computing
                                                    - Compute_optimized
                                                minEnis:
                                                  type: integer
                                                  description: |
                                                    Minimum number of network interfaces (ENIs).
                                                  minimum: 0
                                                  example: 2
                                                diskTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have one of the disk type from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - NVMe
                                                      - EBS
                                                      - SSD
                                                      - HDD
                                                  example:
                                                    - NVMe
                                                    - EBS
                                                hypervisor:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have a hypervisor type from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - nitro
                                                      - xen
                                                  example:
                                                    - nitro
                                                rootDeviceTypes:
                                                  type: array
                                                  description: |
                                                    The filtered instance types will have a root device types from this list.
                                                  items:
                                                    type: string
                                                    enum:
                                                      - ebs
                                                      - instance-store
                                                  example:
                                                    - ebs
                                                minNetworkPerformance:
                                                  type: integer
                                                  description: |
                                                    Minimum Bandwidth in Gib/s of network performance.
                                                  minimum: 0
                                                  example: 2
                                                maxNetworkPerformance:
                                                  type: integer
                                                  description: |
                                                    Maximum Bandwidth in Gib/s of network performance.
                                                  minimum: 1
                                                  example: 20
                                                minInstancePrice:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Minimum Price of On-Demand instance type.
                                                  minimum: 0
                                                  example: 2
                                                maxInstancePrice:
                                                  type: number
                                                  format: double
                                                  description: |
                                                    Maximum Price of On-Demand instance type.
                                                  exclusiveMinimum: true
                                                  minimum: 0
                                                  example: 20
                                                includeGenerations:
                                                  type: array
                                                  description: |
                                                    Types belonging to a Generation from the IncludeGenerations will be available for scaling.
                                                  items:
                                                    type: string
                                                  example:
                                                    - '6'
                                                    - '7'
                                                excludeGenerations:
                                                  type: array
                                                  description: |
                                                    Types Not belonging to a Generation from the ExcludeGenerations will be available for scaling.
                                                  items:
                                                    type: string
                                                  example:
                                                    - '1'
                                                    - '2'
                                                encryptionInTransitSupported:
                                                  type: boolean
                                                  description: |
                                                    encryptionInTransitSupported is supported or not.
                                                  example: true
                                            whitelist:
                                              type: array
                                              description: |
                                                Instance types allowed in the Ocean cluster. Cannot be configured if a deny list is configured.
                                              items:
                                                type: string
                                              example:
                                                - c4.xlarge
                                                - c4.2xlarge
                                                - c4.4xlarge
                                                - c4.8xlarge
                                            blacklist:
                                              type: array
                                              description: |
                                                Instance types to avoid launching in the Ocean cluster. Cannot be configured if a permit list is configured.
                                              items:
                                                type: string
                                              example:
                                                - r5.large
                                                - r5.xlarge
                                        launchSpecification:
                                          type: object
                                          description: |
                                            The default specification for container instances in the cluster. Used as a template for custom Virtual Node Groups to inherit values which are not explicitly defined in them, and as a default VNG when no other VNGs exist or match the workload’s requirements.
                                          properties:
                                            associatePublicIpAddress:
                                              type: boolean
                                              description: Configure public IP address allocation.
                                              default: false
                                              example: false
                                            associateIpv6Address:
                                              type: boolean
                                              description: Configure IPv6 address allocation.
                                              default: false
                                              example: false
                                            imageId:
                                              type: string
                                              example: ami-123456789abcdefgh
                                            securityGroupIds:
                                              type: array
                                              description: |
                                                One or more security group identifiers.
                                              items:
                                                type: string
                                                example: sg-abcdefgh123456789
                                            iamInstanceProfile:
                                              type: object
                                              description: |
                                                The instance profile iamRole.
                                              properties:
                                                arn:
                                                  type: string
                                                  description: |
                                                    The iamRole ARN.
                                                  example: my-arn
                                            blockDeviceMappings: &ref_5
                                              type: array
                                              description: |
                                                Block devices that are exposed to the instance. You can specify virtual devices and EBS volumes.\
                                                This parameter and rootVolumeSize cannot be in the specification at the same time.\
                                                This parameter can be null. If not null, it must contain at least one block device.
                                              items:
                                                type: object
                                                properties:
                                                  deviceName:
                                                    type: string
                                                    description: |
                                                      Set device name.
                                                    example: /dev/xvda
                                                  ebs:
                                                    type: object
                                                    description: |
                                                      Set EBS properties.
                                                    properties:
                                                      throughput:
                                                        type: integer
                                                        minimum: 125
                                                        maximum: 1000
                                                        example: 125
                                                        description: |
                                                          The amount of data transferred to or from a storage device per second. You can use this parameter only if volumetype=‘gp3’.
                                                      deleteOnTermination:
                                                        type: boolean
                                                        description: |
                                                          Flag to delete the EBS on instance termination.
                                                        example: false
                                                      encrypted:
                                                        type: boolean
                                                        example: false
                                                      iops:
                                                        type: integer
                                                        description: |
                                                          Must be greater than or equal to 0.
                                                        example: 1
                                                      kmsKeyId:
                                                        type: string
                                                        example: alias/aws/ebs
                                                      snapshotId:
                                                        type: string
                                                        example: snap-abcdefghi111110
                                                      volumeType:
                                                        type: string
                                                        description: |
                                                          Set volume type.
                                                        example: gp2
                                                      volumeSize:
                                                        type: integer
                                                        description: |
                                                          Set volume size (in GB). When using this property, you cannot use dynamicVolumeSize. You must use one of the other. Volume size should be greater than or equal to the size configured in the AMI.
                                                      dynamicVolumeSize:
                                                        type: object
                                                        required:
                                                          - baseSize
                                                          - resource
                                                          - sizePerResourceUnit
                                                        description: |
                                                          Set dynamic volume size properties. When using this object, you cannot use volumeSize. You must use one or the other.
                                                        properties:
                                                          baseSize:
                                                            type: integer
                                                            description: |
                                                              Initial size per volume.
                                                            example: 50
                                                          resource:
                                                            type: string
                                                            example: CPU
                                                          sizePerResourceUnit:
                                                            type: integer
                                                            description: |
                                                              Additional size per resource unit (in GB). For example, if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched, its disk size will be 90 GB.
                                                            example: 20
                                            instanceMetadataOptions: &ref_6
                                              type: object
                                              title: instanceMetadataOptions
                                              required:
                                                - httpTokens
                                              description: |
                                                Ocean instance metadata options object for [IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html).
                                              properties:
                                                httpTokens:
                                                  type: string
                                                  description: |
                                                    Determines if a signed token is required or not.
                                                  enum:
                                                    - optional
                                                    - required
                                                  example: optional
                                                httpPutResponseHopLimit:
                                                  type: integer
                                                  description: |
                                                    An integer from 1 through 64.
                                                    The required HTTP PUT response hop limit for instance metadata requests.
                                                    The larger the number, the further the instance metadata requests can travel.
                                                  example: 12
                                                httpEndpoint:
                                                  type: string
                                                  description: |
                                                    Enables or disables the HTTP metadata endpoint on your instances.
                                                  enum:
                                                    - disabled
                                                    - enabled
                                                  example: disabled
                                                instanceMetadataTags:
                                                  title: Instance Metadata Tags
                                                  type: string
                                                  enum:
                                                    - Enabled
                                                    - Disabled
                                                  description: |
                                                    Indicates whether access to instance tags from the instance metadata is enabled or disabled.
                                                    Can’t be null.
                                                  example: Enabled
                                            userData:
                                              type: string
                                              format: byte
                                              description: The base 64 encoded MIME user data to make available to the instances.
                                              example: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                            useAsTemplateOnly:
                                              type: boolean
                                              description: |
                                                The configuration specified on the Ocean object will function only as a template for virtual node groups.
                                              default: false
                                            monitoring:
                                              type: boolean
                                              description: Enable detailed monitoring for cluster.
                                              example: false
                                            ebsOptimized:
                                              type: boolean
                                              description: Enable EBS optimization for the cluster. A flag will enable optimized capacity for high bandwidth connectivity to the EB service for non EBS optimized instance types. For instances that are EBS optimized, this flag will be ignored.
                                              example: false
                                            tags:
                                              type: array
                                              description: |
                                                List of kay-value pairs of tags.
                                              items:
                                                type: object
                                                properties:
                                                  tagKey:
                                                    type: string
                                                    description: |
                                                      Set the tag key.
                                                    example: Creator
                                                  tagValue:
                                                    type: string
                                                    description: |
                                                      Set the tag value.
                                                    example: John Doe
                                        optimizeImages:
                                          type: object
                                          properties:
                                            shouldOptimizeEcsAmi:
                                              type: boolean
                                              example: 'true'
                                            performAt:
                                              type: string
                                              example: never
                                              description: |
                                                Must be one of the following values: never, always, timeWindow. If performAt = timeWindow, the time window array should contain at least one time window.
                                            timeWindows:
                                              type: array
                                              description: |
                                                Restrict to time window regex.
                                              items:
                                                example: '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                                    scheduling: &ref_7
                                      type: object
                                      title: Ocean Scheduling
                                      description: |
                                        An object used to define times for a task such as a shutdown to be activated.
                                      properties:
                                        tasks:
                                          type: array
                                          description: |
                                            The actions in the cluster to be scheduled.
                                          items:
                                            type: object
                                            required:
                                              - isEnabled
                                              - cronExpression
                                              - taskType
                                            properties:
                                              isEnabled:
                                                type: boolean
                                                description: |
                                                  Describes whether the task is enabled. When true, the task will run. When false, it does not run. Required for the object cluster.scheduling.tasks.
                                                example: false
                                              cronExpression:
                                                type: string
                                                description: |
                                                  A valid cron expression, for example " * * * * * ". The cron runs in the UTC time zone and is in Unix cron format [Cron Expression Validator Script](https://www.unix.com/man-page/linux/5/crontab/). Only one of ‘frequency' or ‘cronExpression' should be used at a time. Required for cluster.scheduling.tasks.
                                              taskType:
                                                type: string
                                                description: |
                                                  Valid values: "clusterRoll". Required for cluster.scheduling.tasks.
                                                enum:
                                                  - clusterRoll
                                                example: clusterRoll
                                              parameters:
                                                type: object
                                                properties:
                                                  clusterRoll:
                                                    type: object
                                                    properties:
                                                      batchSizePercentage:
                                                        type: integer
                                                        minimum: 0
                                                        maximum: 100
                                                        example: 20
                                                        description: |
                                                          Value as a percent to set the size of a batch in a roll. Valid values are 0-100.
                                                      comment:
                                                        type: string
                                                        example: This is why I deployed my cluster.
                                                        description: |
                                                          Add a comment description for the roll. The comment is limited to 256 chars
                                                      batchMinHealthyPercentage:
                                                        type: integer
                                                        minimum: 1
                                                        maximum: 100
                                                        default: 50
                                                        example: 100
                                                        description: |
                                                          Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                                        shutdownHours:
                                          type: object
                                          title: Shutdown Hours
                                          required:
                                            - timeWindows
                                          properties:
                                            timeWindows:
                                              type: array
                                              items:
                                                type: string
                                                example: Sat:08:00-Sun:08:00
                                            isEnabled:
                                              type: boolean
                                              example: true
                                              description: |
                                                Flag to enable / disable the shutdown hours mechanism. When turned to false, the mechanism is deactivated and the cluster remains in its current state.
                                    logging: &ref_8
                                      type: object
                                      title: Logging configuration
                                      properties:
                                        export:
                                          type: object
                                          title: Logging Export Configuration.
                                          properties:
                                            s3:
                                              type: object
                                              title: Logging S3 Export configuration.
                                              description: |
                                                Exports your cluster's logs to the S3 bucket and subdir configured on the S3 [data integration](/#operation/DataIntegrationCreate) given.
                                                Each file contains logs of 3 minutes where each log is separated by a new line and saved as a JSON.
                                                The file formats are `subdir`/`accountId`_`oceanId`_`oceanName`_`startTime`.log
                                                If no subdir was configured, the files will be saved in the root of the bucket.
                                              required:
                                                - id
                                              properties:
                                                id:
                                                  type: string
                                                  description: The identifier of The S3 data integration to export the logs to.
                                                  example: di-123
                                    createdAt:
                                      type: string
                                      readOnly: true
                                      format: date-time
                                      example: '2019-06-03T08:13:08.000Z'
                                      description: |
                                        A timestamp of the Ocean creation.
                                    updatedAt:
                                      type: string
                                      readOnly: true
                                      format: date-time
                                      example: '2019-06-10T15:06:13.000Z'
                                      description: |
                                        A timestamp of the latest Ocean update.
                          kind:
                            example: spotinst:ocean:aws:ecs
        '400':
          description: Bad Request
    post:
      summary: Create Cluster
      description: |
        Create a new Ocean ECS cluster in the specified account.
      operationId: OceanECSClusterCreate
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - cluster
                  properties:
                    cluster:
                      type: object
                      title: ECS Ocean
                      required:
                        - name
                        - clusterName
                        - region
                      properties:
                        id:
                          type: string
                          example: o-12345abc
                          readOnly: true
                          description: |
                            Ocean cluster identifier.
                        name:
                          type: string
                          example: Ocean::my-elastigroup-name
                          description: |
                            Add a name for the Ocean cluster.
                        clusterName:
                          type: string
                          example: my-ECS-cluster-name
                          description: |
                            ECS cluster name.
                        autoScaler: *ref_1
                        region:
                          type: string
                          example: us-east-1
                          description: |
                            Select the region for the Ocean cluster to run in.
                        capacity: *ref_2
                        strategy: *ref_3
                        compute: &ref_32
                          type: object
                          title: Ocean Compute
                          required:
                            - subnetIds
                            - launchSpecification
                          properties:
                            subnetIds:
                              type: array
                              description: |
                                A comma-separated list of subnet identifiers for the Ocean cluster. Subnet identifiers should be configured with auto-assign public IP.
                              items:
                                type: string
                                example: subnet-1234abcd
                            instanceTypes:
                              type: object
                              description: The type of instances that may or may not be a part of the Ocean cluster.
                              properties:
                                filters: *ref_4
                                whitelist:
                                  type: array
                                  description: |
                                    Instance types allowed in the Ocean cluster. Cannot be configured if a deny list is configured.
                                  items:
                                    type: string
                                  example:
                                    - c4.xlarge
                                    - c4.2xlarge
                                    - c4.4xlarge
                                    - c4.8xlarge
                                blacklist:
                                  type: array
                                  description: |
                                    Instance types to avoid launching in the Ocean cluster. Cannot be configured if a permit list is configured.
                                  items:
                                    type: string
                                  example:
                                    - r5.large
                                    - r5.xlarge
                            launchSpecification:
                              type: object
                              description: |
                                The default specification for container instances in the cluster. Used as a template for custom Virtual Node Groups to inherit values which are not explicitly defined in them, and as a default VNG when no other VNGs exist or match the workload’s requirements.
                              required:
                                - imageId
                                - securityGroupIds
                              properties:
                                associatePublicIpAddress:
                                  type: boolean
                                  description: Configure public IP address allocation.
                                  default: false
                                  example: false
                                associateIpv6Address:
                                  type: boolean
                                  description: Configure IPv6 address allocation.
                                  default: false
                                  example: false
                                imageId:
                                  type: string
                                  example: ami-123456789abcdefgh
                                securityGroupIds:
                                  type: array
                                  description: |
                                    One or more security group identifiers.
                                  items:
                                    type: string
                                    example: sg-abcdefgh123456789
                                iamInstanceProfile:
                                  type: object
                                  description: |
                                    The instance profile iamRole.
                                  properties:
                                    arn:
                                      type: string
                                      description: |
                                        The iamRole ARN.
                                      example: my-arn
                                blockDeviceMappings: *ref_5
                                instanceMetadataOptions: *ref_6
                                userData:
                                  type: string
                                  format: byte
                                  description: The base 64 encoded MIME user data to make available to the instances.
                                  example: Q29udGVudC1UeXBlOiBtdWx0aXBhcnQvbWl4ZWQ7IGJvdW5kYXJ5PSI9PT09PT09PT09PT09PT01MTg5MDY1Mzc3MjIyODk4NDA3PT0iCk1JTUUtVmVyc2lvbjogMS4wCgotLT09PT09PT09PT09PT09PTUxODkwNjUzNzcyMjI4OTg0MDc9PQp
                                useAsTemplateOnly:
                                  type: boolean
                                  description: |
                                    The configuration specified on the Ocean object will function only as a template for virtual node groups.
                                  default: false
                                monitoring:
                                  type: boolean
                                  description: Enable detailed monitoring for cluster.
                                  example: false
                                ebsOptimized:
                                  type: boolean
                                  description: Enable EBS optimization for the cluster. A flag will enable optimized capacity for high bandwidth connectivity to the EB service for non EBS optimized instance types. For instances that are EBS optimized, this flag will be ignored.
                                  example: false
                                tags:
                                  type: array
                                  description: |
                                    List of kay-value pairs of tags.
                                  items:
                                    type: object
                                    properties:
                                      tagKey:
                                        type: string
                                        description: |
                                          Set the tag key.
                                        example: Creator
                                      tagValue:
                                        type: string
                                        description: |
                                          Set the tag value.
                                        example: John Doe
                            optimizeImages:
                              type: object
                              required:
                                - shouldOptimizeEcsAmi
                              properties:
                                shouldOptimizeEcsAmi:
                                  type: boolean
                                  example: 'true'
                                performAt:
                                  type: string
                                  example: never
                                  description: |
                                    Must be one of the following values: never, always, timeWindow. If performAt = timeWindow, the time window array should contain at least one time window.
                                timeWindows:
                                  type: array
                                  description: |
                                    Restrict to time window regex.
                                  items:
                                    example: '[''Sun:02:00-Sun:12:00'', ''Wed:01:01-Fri:02:03'']'
                        scheduling: *ref_7
                        logging: *ref_8
                        createdAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2019-06-03T08:13:08.000Z'
                          description: |
                            A timestamp of the Ocean creation.
                        updatedAt:
                          type: string
                          readOnly: true
                          format: date-time
                          example: '2019-06-10T15:06:13.000Z'
                          description: |
                            A timestamp of the latest Ocean update.
      responses:
        '200': *ref_9
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}:
    get:
      summary: Get Cluster
      description: |
        Get the configurations for a specified Ocean cluster.
      operationId: OceanECSClusterGet
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - &ref_10
          in: path
          name: oceanClusterId
          example: o-12345abc
          description: |
            Identifier of the Ocean cluster.
          schema:
            type: string
          required: true
      responses:
        '200': *ref_9
        '400':
          description: Bad Request
    put:
      summary: Update Cluster
      description: |
        All Ocean parameters are updatable, excluding Region and ID. This API supports partial updates, so specific fields can be updated separately.
      operationId: OceanECSClusterUpdate
      tags:
        - Ocean ECS
      parameters:
        - *ref_10
        - *ref_0
        - &ref_26
          in: query
          name: autoApplyTags
          description: |
            Optionally update resource tags on the fly without performing a roll.
          schema:
            type: boolean
            example: true
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - *ref_11
      responses:
        '200': *ref_9
        '400':
          description: Bad Request
    delete:
      summary: Delete Cluster
      description: |
        Delete a specified Ocean cluster.
      operationId: OceanECSClusterDelete
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - *ref_10
      responses:
        '200':
          description: Spot Response
          content:
            application/json:
              schema: *ref_12
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{EcsClusterName}/import:
    post:
      summary: Import Cluster
      description: |
        Create Ocean cluster object from an existing ECS cluster with at least one container instance to be used as input for create cluster.<br> Import the configuration from the latest instance id launched with in the cluster (out of the first batch of 100 instances ECS returns).<br> **This route will not register the ECS cluster to Ocean.**
      operationId: OceanECSClusterImport
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - in: path
          name: EcsClusterName
          example: ecsName
          description: |
            ECS Cluster name
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - region
                  properties:
                    region:
                      type: string
                      example: us-east-1
                      description: |
                        The region that the ECS cluster is running at.
                    name:
                      type: string
                      example: oceanName
                      description: |
                        The name for the new Ocean cluster object. <br> If the name is not provided, the default will be *Ocean_{EcsClusterName}*
                    instanceId:
                      type: string
                      example: i-123456789abcdefgh
                      description: |
                        Indicate the container instance id that the configuration will be taken from. This is an optional field
      responses:
        '200':
          description: Import Ocean ECS Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_13
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/aws/ecs/cluster/my-ECS-cluster-name/import
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - cluster
                              properties:
                                cluster:
                                  type: object
                                  title: ECS Ocean
                                  properties:
                                    name:
                                      type: string
                                      example: my-Ocean-ECS-cluster
                                      description: |
                                        The name of the Ocean cluster provided in the request. If not provided in the import request, the name will be Ocean_{EcsClusterName}.
                                    clusterName:
                                      type: string
                                      example: my-ECS-cluster-name
                                      description: |
                                        ECS cluster name.
                                    region:
                                      type: string
                                      example: us-east-1
                                      description: |
                                        The region for the Ocean cluster to run in. The same name as the provided ECS cluster.
                                    compute:
                                      type: object
                                      title: Ocean Compute
                                      properties:
                                        subnetIds:
                                          type: array
                                          description: |
                                            A comma-separated list of subnet identifiers for the Ocean cluster. Subnet identifiers should be configured with auto-assign public IP.
                                          items:
                                            type: string
                                            example: subnet-1234abcd
                                        launchSpecification:
                                          type: object
                                          description: |
                                            The default specification for container instances in the cluster. Used as a template for custom Virtual Node Groups to inherit values which are not explicitly defined in them, and as a default VNG when no other VNGs exist or match the workload’s requirements.
                                          properties:
                                            imageId:
                                              type: string
                                              example: ami-123456789abcdefgh
                                            securityGroupIds:
                                              type: array
                                              description: |
                                                One or more security group identifiers.
                                              items:
                                                type: string
                                                example: sg-abcdefgh123456789
                                            keyPair:
                                              type: string
                                              example: dev-keypair
                                            userData:
                                              type: string
                                              example: userData
                                            iamInstanceProfile:
                                              type: object
                                              description: |
                                                The instance profile iamRole.
                                              properties:
                                                arn:
                                                  type: string
                                                  description: |
                                                    The iamRole arn.
                                                  example: my-arn
                                            tags:
                                              type: object
                                              description: |
                                                AWS tags from an EC2 instance registered as a container instance.
                                              properties:
                                                tagKey:
                                                  type: string
                                                  example: env
                                                tagValue:
                                                  type: string
                                                  example: dev
                                            instanceMetadataOptions: *ref_6
                          kind:
                            example: spotinst:ocean:aws:ecs
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}/log:
    summary: Ocean for AWS ECS
    get:
      summary: Fetch Elastilog
      description: |
        Get the log of an Ocean Cluster.
      operationId: oceanEcsFetchLog
      tags:
        - Ocean ECS
      parameters:
        - &ref_23
          in: path
          name: oceanClusterId
          schema:
            type: string
          required: true
          example: o-abcd1234
          description: |
            Identifier of the Ocean cluster.
        - *ref_0
        - &ref_34
          in: query
          name: fromDate
          schema:
            type: string
          required: true
          description: |
            Beginning date value using either the date format "yyyy-mm-dd; 2016-11-20" or ms "1494751821472".
        - &ref_33
          in: query
          name: toDate
          schema:
            type: string
          required: true
          description: |
            End date value using either the date format "yyyy-mm-dd; 2016-11-20" or ms "1494751821472".
        - in: query
          name: limit
          description: |
            Maximum number of lines to extract in a response.
          schema:
            type: integer
            maximum: 1000
            default: 500
          required: false
          example: 200
        - in: query
          name: severity
          description: |
            Severity of log entries to extract.
          schema:
            type: string
            enum:
              - ALL
              - INFO
              - DEBUG
              - ERROR
              - WARN
            default: ALL
          required: false
          example: INFO
        - in: query
          name: resourceId
          example: i-12345678
          description: |
            Filter extracted log entries for a specific resource identifier. Default: Null
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Ocean Get Log Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    type: object
                    description: |
                      Original request properties.
                    properties:
                      id:
                        type: string
                        example: 3213f42e-455e-4801-a185-cd3eb65fac5f
                        description: |
                          Unique identifier associated with this request.
                      url:
                        type: string
                        example: /ocean/aws/ecs/cluster/o-e0a2bd7c/log?fromDate=2020-10-06&toDate=2020-10-08&severity=ALL&limit=500
                        description: |
                          The URL that was used for the request.
                      method:
                        type: string
                        example: GET
                        description: |
                          The HTTP **METHOD** used for the request.
                      timestamp:
                        type: string
                        example: '2020-10-05T16:20:38.579Z'
                        description: |
                          When the request was received by Spot.
                  response:
                    type: object
                    description: |
                      Response package that includes status, type, and any relevant data.
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: '200'
                            description: |
                              HTTP status code assigned to this response.
                          message:
                            type: string
                            example: OK
                            description: |
                              HTTP status message for the respective status code.
                      kind:
                        type: string
                        example: spotinst:ocean:cluster:log
                      items:
                        type: array
                        description: |
                          Array of data objects.
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                            severity:
                              type: string
                            createdAt:
                              type: string
                        example:
                          - message: 'Instances Terminated - ECS Autoscaler ,Terminated 1, List of instances: [i-0914721d46ebbabb2]'
                            severity: INFO
                            createdAt: '2020-10-07T09:51:12.000Z'
                          - message: 'Instances: [i-0914721d46ebbabb2] have been detached. Reason: Auto scale'
                            severity: INFO
                            createdAt: '2020-10-07T09:51:11.000Z'
                      count:
                        type: integer
                        example: '2'
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}/rightSizing/suggestion:
    get:
      summary: Get Right Sizing Recommendations
      description: |
        Get right-sizing recommendations for an Ocean cluster.
      operationId: oceanEcsGetRightSizingRecommend
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - *ref_10
      responses:
        '200':
          description: Ocean ECS Right Sizing Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_13
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                suggestedMemory:
                                  type: integer
                                  example: 2
                                requestedMemory:
                                  type: integer
                                  example: 100
                                serviceName:
                                  type: string
                                  readOnly: true
                                  example: sg-test
                                suggestedCpu:
                                  type: integer
                                  example: 0
                                requestedCpu:
                                  type: integer
                                  example: 128
                          kind:
                            example: spotinst:ocean:aws:ecs:cluster:rightSizing:resourceSuggestion
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}/instanceTypeFiltersSimulation:
    post:
      summary: Instance Types Filters Simulation
      description: |
        Returns all instances types that match the given filters. These instance types will be used if the cluster is configured with these filters.
      operationId: oceanEcsInstanceTypeFiltersSimulation
      tags:
        - Ocean ECS
      parameters:
        - *ref_10
        - *ref_0
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - filters
                  properties:
                    filters: *ref_4
      responses:
        '200':
          description: Ocean Instance Types Filters Simulation Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_13
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/aws/ecs/cluster/o-abcd1234/instanceTypeFiltersSimulation
                          method:
                            example: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                filteredInstanceTypes:
                                  type: array
                                  description: |
                                    The simulated instance types.
                                  items:
                                    type: string
                                  example:
                                    - g5.xlarge
                                    - c5.2xlarge
                                    - c5ad.2xlarge
                                    - c5d.2xlarge
                                    - c5a.2xlarge
                          kind:
                            example: spotinst:ocean:aws:ecs:instanceTypesFilters:simulation
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}/allowedInstanceTypes:
    get:
      summary: Allowed Instance Types
      description: |
        Return the list of the allowed Ocean cluster instance types.
      operationId: oceanEcsGetAllowedInstanceTypes
      tags:
        - Ocean ECS
      parameters:
        - *ref_10
        - *ref_0
      responses:
        '200':
          description: Ocean Allowed Instance Types Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_13
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/aws/ecs/cluster/0-12345abc/allowedInstanceTypes
                          method:
                            example: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                instanceTypes:
                                  type: array
                                  description: |
                                    The allowed Ocean cluster instance types.
                                  items:
                                    type: string
                                  example:
                                    - c3.large
                                    - c5.large
                          kind:
                            example: spotinst:ocean:aws:ecs:allowedInstanceTypes
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/import:
    post:
      summary: Upgrade Elastigroup to Ocean
      description: |
        Upgrade an Elastigroup with ECS integration into Ocean for ECS cluster.
      operationId: oceanEcsUpgradeFromEG
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - in: query
          name: groupId
          example: sig-1234abcd
          schema:
            type: string
          required: true
          description: |
            The identifier of the Elastigroup to upgrade.
      responses:
        '200': *ref_9
        '400':
          description: Bad Request
  /ocean/aws/ecs/cluster/{oceanClusterId}/roll:
    post:
      summary: Initiate Roll
      description: |
        Roll an entire Ocean cluster or roll subsets of the cluster by specifying launchSpecIds or instanceIds. Performing this request will start the roll immediately according to defined batches. Note that the first response for a successful request will indicate the start of a roll. In order to check the status of a roll, you can use the [GET Roll API](https://spec.dev.spot.io/#operation/oceanEcsRollGetSingleRoll) using the roll identifier.
      operationId: oceanEcsRollInit
      tags:
        - Ocean ECS
      parameters:
        - *ref_0
        - *ref_10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Roll
                  properties:
                    roll:
                      allOf:
                        - &ref_14
                          type: object
                          properties:
                            batchSizePercentage:
                              type: integer
                              description: |
                                Value (in percent) to set size of batch in roll. Valid values are 0-100.
                              example: 20
                        - &ref_15
                          type: object
                          properties:
                            comment:
                              type: string
                              description: |
                                Add a brief description for the roll. The comment is limited to 256 chars.
                              example: This is why I rolled my cluster.
                        - &ref_16
                          type: object
                          properties:
                            batchMinHealthyPercentage:
                              type: integer
                              description: |
                                Indicates the threshold of minimum healthy instances in single batch. If the amount of healthy instances in single batch is under the threshold, the cluster roll will fail. If exists, the parameter value will be in range of 1-100. In case of null as value, the default value in the backend will be 50%. Value of param should represent the number in percentage (%) of the batch.
                              example: 100
                              default: 50
                - type: object
                  title: Roll with instance ids
                  properties:
                    roll:
                      allOf:
                        - *ref_14
                        - *ref_15
                        - *ref_16
                        - &ref_17
                          type: object
                          properties:
                            instanceIds:
                              type: array
                              description: |
                                List of instance identifiers to be rolled. Each identifier is a string. Can be null. Cannot be used together with launchSpecIds.
                              items:
                                type: string
                              example:
                                - i-0003a99ffb566f039
                                - i-0567a99ffb566f765
                - type: object
                  title: Roll with Virtual Node Group ids
                  properties:
                    roll:
                      allOf:
                        - *ref_14
                        - *ref_15
                        - *ref_16
                        - &ref_20
                          type: object
                          properties:
                            launchSpecIds:
                              type: array
                              description: |
                                List of virtual node group identifiers to be rolled. Each identifier is a string. Can be null. Cannot be used together with instanceIds.
                              items:
                                type: string
                              example:
                                - ols-76694a7d
                                - ols-56694a76
      responses:
        '200': &ref_21
          description: Ocean ECS Roll Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_13
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              oneOf:
                                - allOf:
                                    - &ref_18
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          readOnly: true
                                          example: scr-1234abcd
                                        scope:
                                          type: string
                                          enum:
                                            - Cluster
                                            - Vngs
                                            - Vng
                                            - Instances
                                            - Instance
                                          example: Cluster
                                        currentBatch:
                                          type: integer
                                          readOnly: true
                                          example: 1
                                          description: |
                                            Batch number that is currenlty being deployed.
                                        numOfBatches:
                                          type: integer
                                          readOnly: true
                                          example: 2
                                          description: |
                                            Total number of batches the deployment will process.
                                        progress:
                                          type: object
                                          readOnly: true
                                          properties:
                                            unit:
                                              type: string
                                              example: percentage
                                            value:
                                              type: integer
                                              example: 10
                                            detailedStatus:
                                              type: object
                                              properties:
                                                oldInstances:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      instanceId:
                                                        type: string
                                                      status:
                                                        type: string
[...]
