openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Elastigroup
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Elastigroup AWS
    description: Elastigroup for Amazon Web Services (AWS)
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.flexera.com/spot/elastigroup/
  - name: Elastigroup Azure Spot VMs
    description: Elastigroup for Microsoft Azure
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.flexera.com/spot/elastigroup/
  - name: Elastigroup GCP
    description: Elastigroup for Google Cloud
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.flexera.com/spot/elastigroup/
  - name: Elastigroup Azure Stateful
    description: Elastigroup for Microsoft Azure Stateful Node
    externalDocs:
      description: Elastigroup Concepts and Tutorials
      url: https://docs.flexera.com/spot/elastigroup/
paths:
  /aws/ec2/group:
    summary: Elastigroups for AWS
    post:
      summary: Create Elastigroup
      description: |
        Create a new AWS Elastigroup.

        There are several third Party Integrations available, which can be activated based on your configuration, such as:
        * [Rancher Elastigroup](https://docs.flexera.com/spot/elastigroup/tools-integrations/rancher)
        * [Route53 Elastigroup](https://docs.flexera.com/spot/elastigroup/tools-integrations/route53)
        * [DockerSwarm Elastigroup](https://docs.flexera.com/spot/elastigroup/tools-integrations/docker-swarm)
        * [ECS Elastigroup](https://docs.flexera.com/spot/elastigroup/features/amazon-ecs/elastigroup-for-ecs)
        * [Beanstalk Elastigroup](https://docs.flexera.com/spot/elastigroup/tools-integrations/elastic-beanstalk)


          You can create a beanstalk elastigroup with the following steps:
          * [Get the beanstalk configuration](https://spec.dev.spot.io/#operation/elastigroupAwsGetBeanstalkConfiguration) to JSON format
          * Modify required parameters and post the JSON as a body to create a new elastigroup
      operationId: elastigroupAwsCreate
      tags:
        - Elastigroup AWS
      parameters:
        - &ref_14
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: AWS Elastigroup
                  required:
                    - group
                  properties:
                    group:
                      type: object
                      description: Elastigroup Configuration
                      required:
                        - name
                        - capacity
                        - region
                        - strategy
                        - compute
                      properties:
                        name:
                          type: string
                          description: |
                            AWS Elastigroup Name
                          example: my-Elastigroup
                        description:
                          type: string
                          description: |
                            Describe your AWS Elastigroup
                          example: This Elastigroup is used for Development
                        region:
                          type: string
                          description: |
                            The AWS region your group will be created in.
                             This parameter is required if you specify subnets (through compute.subnetIds).
                             This parameter is optional if you specify Availability Zones (through compute.availabilityZones).
                          example: use-east-1
                        capacity:
                          description: Capacity Configuration
                          type: object
                          title: Elastigroup Capacity
                          required:
                            - target
                            - minimum
                            - maximum
                            - unit
                          properties:
                            target:
                              type: integer
                              description: |
                                The number of instances to launch
                              example: 1
                            minimum:
                              type: integer
                              description: |
                                The lower limit number of instances that you can scale down to
                              example: 0
                            maximum:
                              type: integer
                              description: |
                                The upper limit number of instances that you can scale up to
                              example: 10
                            unit:
                              type: string
                              enum:
                                - instance
                                - weight
                              description: |
                                The capacity unit to launch instances by.
                                Note: for groups with integration to K8S / ECS weight option is not supported.
                              example: instance
                        strategy:
                          type: object
                          title: Elastigroup Strategy
                          description: Strategy
                          required:
                            - availabilityVsCost
                          properties:
                            risk:
                              type: integer
                              minimum: 0
                              maximum: 100
                              example: 100
                              default: 0
                              description: |
                                The percentage of Elastigroup that will run with spot market capacity
                            onDemandCount:
                              type: integer
                              minimum: 0
                              example: 0
                              description: |
                                Minimum number of instances that will always be on-demand
                            availabilityVsCost:
                              type: string
                              enum:
                                - costOriented
                                - availabilityOriented
                                - balanced
                                - cheapest
                                - equalAzDistribution
                              default: balanced
                              description: |
                                How Elastigroup determines which instances to add and replace.
                                (please read this article before using [Equal AZ Instance Distribution](https://docs.flexera.com/spot/elastigroup-for-aws/concepts/general-concepts/equal-az-distribution))
                            fallbackToOd:
                              type: boolean
                              default: true
                              example: true
                              description: |
                                When set to `true` Elastigroup will launch On Demand instances if no spot market is available
                            considerODPricing:
                              type: boolean
                              default: false
                              example: false
                              description: |
                                When the value is set to `true`, Elastigroup will prioritize launching On-Demand instances if they are found to be more cost-effective than available Spot markets.
                            utilizeReservedInstances:
                              type: boolean
                              description: |
                                In case of any available Reserved Instances, Elastigroup will utilize them before purchasing Spot instances
                              example: false
                            utilizeCommitments:
                              type: boolean
                              description: |
                                If there are available Reserved Instances or Savings Plans, Elastigroup will utilize them before using Spot instances
                              example: false
                            restrictSingleAz:
                              type: boolean
                              description: |
                                Elastigroup will automatically scale your instances in the most available and cost efficient availability zone. Every evaluation will be done when there are no active instances in the group.
                              example: false
                            drainingTimeout:
                              type: integer
                              example: 120
                              description: |
                                The time in seconds to allow the instance be drained from incoming TCP connections and detached from ELB before terminating it, during a scale down operation
                            maxReplacementsPercentage:
                              type: integer
                              description: |
                                The percentage of active instances that can be replaced in parallel.
                                This is used to prevent a large number of instances from being replaced at once.
                              example: 15
                            signals:
                              type: array
                              description: |
                                The signals defined for this group. For more information refer the below article: [Signals](https://docs.flexera.com/spot/elastigroup-for-aws/concepts/compute-concepts/using-signals-in-elastigroups)
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: |
                                      The name of the signal defined for the group.
                                    enum:
                                      - INSTANCE_READY
                                      - INSTANCE_READY_TO_SHUTDOWN
                                  timeout:
                                    type: integer
                                    minimum: 60
                                    maximum: 1800
                                    description: |
                                      The timeout in seconds to hold the instance until a signal is sent.
                                      If no signal is sent the instance will be replaced (INSTANCE_READY) or we will terminate the instance (INSTANCE_READY_TO_SHUTDOWN) after the timeout.
                                    default: 1800
                                    example: 120
                            persistence:
                              type: array
                              description: |
                                You can register persistence (Stateful) recovery arguments
                              items:
                                type: object
                                properties:
                                  shouldPersistPrivateIp:
                                    type: boolean
                                    description: |
                                      Should the instance maintain its private IP
                                    example: true
                                  shouldPersistRootDevice:
                                    type: boolean
                                    description: |
                                      Should the instance maintain its root device volumes
                                    example: true
                                  shouldPersistBlockDevices:
                                    type: boolean
                                    description: |
                                      Should the instance maintain its Data volumes
                                    example: true
                                  blockDevicesMode:
                                    type: string
                                    description: |
                                      Determine the way we attach the data volumes to the data devices
                                    enum:
                                      - reattach
                                      - onLaunch
                                    example: reattach
                            revertToSpot:
                              type: object
                              description: |
                                Hold settings for strategy correction - replacing On-Demand for Spot instances
                              properties:
                                performAt:
                                  type: string
                                  description: |
                                    Settings for maintenance strategy - possible values: timeWindow, never, always.
                                    performAt of type: 'never' OR 'timeWindow' can only be applied to groups with "availabilityOriented" OR groups with "persistence",
                                    other groups allow either 'always' type or nothing which also means always.
                                  enum:
                                    - never
                                    - always
                                    - timeWindow
                                  example: timeWindow
                                  default: always
                                timeWindows:
                                  type: array
                                  description: |
                                    When performAt is 'timeWindow': must specify a list of 'timeWindows' with at least one time window Each string is in the format of - ddd:hh:mm-ddd:hh:mm
                                    ddd = day of week = Sun | Mon | Tue | Wed | Thu | Fri | Sat
                                    hh = hour 24 = 0 -23
                                    mm = minute = 0 - 59
                                  items:
                                    type: string
                                    example: Mon:03:00-Wed:02:30
                            scalingStrategy:
                              type: object
                              description: |
                                Set termination policy
                              properties:
                                terminationPolicy:
                                  type: string
                                  enum:
                                    - default
                                    - newestInstance
                                  example: default
                        compute:
                          type: object
                          title: Elastigroup Compute
                          required:
                            - availabilityZones
                            - launchSpecification
                          properties:
                            product:
                              type: string
                              description: |
                                Operation system type.
                              enum:
                                - Linux/UNIX (Amazon VPC)
                                - SUSE Linux (Amazon VPC)
                                - Windows (Amazon VPC)
                                - Red Hat Enterprise Linux (Amazon VPC)
                              example: Linux/UNIX
                            elasticIps:
                              type: array
                              description: |
                                List of ElasticIPs Allocation Ids to associate to the group instances
                              items:
                                type: string
                                example: eipalloc-9d4e16f8
                            privateIps:
                              type: array
                              description: |
                                List of Private IPs to associate to the group instances.
                                Please note: This setting will only apply if rategy.persistence.shouldPersistPrivateIp is set to true.
                              items:
                                type: string
                                default: 172.1.1.0
                            instanceTypes:
                              type: object
                              description: |
                                Instance Types
                              properties:
                                ondemand:
                                  type: string
                                  description: |
                                    Available on demand instance type.
                                    Note: Either ondemand or onDemandTypes must be defined, but not both.
                                  example: m3.medium
                                onDemandTypes:
                                  type: array
                                  description: |
                                    Available on demand instance types.
                                    Note: Either ondemand or onDemandTypes must be defined, but not both.
                                  items:
                                    type: string
                                    example:
                                      - c3.large
                                      - c4.large
                                      - m3.large
                                      - r3.large
                                spot:
                                  type: array
                                  description: |
                                    Available Spot Instance types.  
                                    Note: Cannot be defined if 'resourceRequirements' is defined.
                                  items:
                                    type: string
                                    example:
                                      - c3.large
                                      - c4.large
                                      - m3.large
                                      - r3.large
                                resourceRequirements: &ref_1
                                  type: object
                                  title: Resource Requirements
                                  description: |
                                    Required instance attributes. Instance types will be selected based on these requirements.
                                  required:
                                    - requiredVCpu
                                    - requiredMemory
                                  properties:
                                    requiredGpu:
                                      type: object
                                      description: Required instance GPU
                                      properties:
                                        minimum:
                                          type: integer
                                          minimum: 1
                                        maximum:
                                          type: integer
                                          maximum: 16
                                    requiredVCpu:
                                      type: object
                                      description: Required instance vCPU
                                      properties:
                                        minimum:
                                          type: integer
                                          minimum: 1
                                        maximum:
                                          type: integer
                                          maximum: 64
                                    requiredMemory:
                                      type: object
                                      description: Required instance memory (GiB)
                                      properties:
                                        minimum:
                                          type: integer
                                          minimum: 1
                                        maximum:
                                          type: integer
                                          maximum: 512
                                    excludedInstanceTypes:
                                      type: array
                                      description: Instance types to exclude
                                      items:
                                        type: string
                                        example:
                                          - c4.large
                                    excludedInstanceFamilies:
                                      type: array
                                      description: Instance families to exclude
                                      items:
                                        type: string
                                        example:
                                          - A
                                          - C
                                          - D
                                    excludedInstanceGenerations:
                                      type: array
                                      description: Instance generations to exclude
                                      items:
                                        type: string
                                        example:
                                          - '1'
                                          - '2'
                                          - '3'
                                preferredSpot:
                                  type: array
                                  description: |
                                    Prioritized subset of spot instance types. The list must be a subset of the selected spot instance 
                                    types or meet the resource requirements if defined.
                                  items:
                                    type: string
                                    example:
                                      - c4.large
                                weights:
                                  type: array
                                  description: |
                                    Custom weight for each instance type (only valid in weight capacity unit)
                                  items:
                                    type: object
                                    properties:
                                      instanceType:
                                        type: string
                                        description: |
                                          The instance type to customize its weight
                                        example: c4.large
                                      weightedCapacity:
                                        type: integer
                                        description: |
                                          The weight
                                        example: 8
                            subnetIds:
                              type: array
                              description: |
                                A comma-separated list of subnet identifiers for your group.
                                When this parameter is set, compute.availabilityZones should be left unused.
                              items:
                                type: string
                                example:
                                  - subnet-4c1d1538
                                  - subnet-2791bb61
                                  - subnet-703a6f58
                                  - subnet-c62846fc
                            availabilityZones:
                              type: array
                              description: |
                                One or more availability Zones for the group.
                                When this parameter is set, compute.subnetIds should be left unused.
                              items:
                                type: object
                                required:
                                  - name
                                properties:
                                  name:
                                    type: string
                                    description: |
                                      The Availability Zone name
                                    example: us-west-2a
                                  subnetIds:
                                    type: array
                                    description: |
                                      A comma-separated list of subnet identifiers for your group.
                                    items:
                                      type: string
                                      example:
                                        - subnet-4333093a
                                  placementGroupName:
                                    type: string
                                    description: |
                                      specify a Placement Group name, the instances will be launched in the Placement Group for the AZ.
                            preferredAvailabilityZones:
                              type: array
                              description: |
                                The AZs to prioritize when launching Spot instances.
                                If no markets are available in the Preferred AZs, Spot instances are launched in the non-preferred AZs.
                                * Must be a sublist of compute.AvailabilityZones
                                * strategy.availabilityVsCost must not be equalAzDistribution
                              items:
                                type: string
                                example:
                                  - us-east-1a
                                  - us-east-1b
                            launchSpecification:
                              type: object
                              required:
                                - securityGroupIds
                                - monitoring
                              properties:
                                creditSpecification:
                                  type: object
                                  description: |
                                    creditSpecification is a parameter that indicates in what mode t2/t3 instances will be launched with. It consists of one key: cpuCredits (String)
                                  properties:
                                    cpuCredits:
                                      type: string
                                      enum:
                                        - unlimited
                                        - standard
                                      example: unlimited
                                loadBalancersConfig:
                                  type: object
                                  description: |
                                    Elastic Load Balancers configurations
                                  properties:
                                    loadBalancers:
                                      type: array
                                      description: |
                                        List of classic load balancers and/or application load balancer target groups
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: |
                                              The AWS resource name. Required for Classic Load Balancer. Optional for Application Load Balancer.
                                            example: MyTargetGroup
                                          arn:
                                            type: string
                                            description: |
                                              The AWS resource ARN (Required only for ALB target groups)
                                            example: arn:aws:elasticloadbalancing:us-west-2:922761411234:targetgroup/MyTargetGroup/1fe63217f8ff1234
                                          type:
                                            type: string
                                            description: |
                                              The resource type.
                                            enum:
                                              - CLASSIC
                                              - TARGET_GROUP
                                            example: TARGET_GROUP
                                itf:
                                  title: Intelligent Traffic Flow (ITF) Configuration
                                  type: object
                                  description: |
                                    Contains the configuration details of Intelligent Traffic Flow (ITF).
                                  properties:
                                    fixedTargetGroups:
                                      type: boolean
                                      description: |
                                        Boolean to control whether to keep the set of target groups fixed. When set to true, all target groups will be created in advance upon create/update group, and will not be deleted even when not being used anymore.
                                      default: false
                                      example: false
                                    weightStrategy:
                                      type: string
                                      description: |
                                        Distribution strategy (either 'vcpu' or 'custom'). 'Custom' strategy can be set only when the group is configured with custom weights.
                                      enum:
                                        - vcpu
                                        - custom
                                      default: vcpu
                                      example: custom
                                    migrationHealthinessThreshold:
                                      type: integer
                                      description: |
                                        Threshold for the minimum healthiness level of the target groups that is needed before activating the ITF rules. Integer representing the percentage of healthy instances within the target groups. Valid values: integer between 0-100.
                                      default: 50
                                      example: 80
                                    loadBalancers:
                                      type: array
                                      description: |
                                        The load balancer associated with the ITF. Array with a single element.
                                      items: &ref_3
                                        title: ITF Load Balancer Configuration
                                        type: object
                                        description: |
                                          Contains the configuration details of an ITF load balancer.
                                        required:
                                          - loadBalancerArn
                                          - listenerRules
                                        properties:
                                          loadBalancerArn:
                                            type: string
                                            description: |
                                              Identifier of the load balancer in AWS.
                                            example: arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188
                                          listenerRules:
                                            type: array
                                            description: |
                                              The listener rules that should be maintained by ITF. Array with a minimum of 1 element.
                                            items:
                                              title: ITF Listener Rule Configuration
                                              type: object
                                              description: |
                                                Contains the configuration details of an ITF listener rule.
                                              required:
                                                - ruleArn
                                              properties:
                                                ruleArn:
                                                  type: string
                                                  description: |
                                                    Identifier of the listener rule in AWS.
                                                  example: arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/0123456789012345/1234567890123456/234567890123456
                                                staticTargetGroups:
                                                  type: array
                                                  description: Listener rule target group whose percentage should remain static (unchanged). Array with a single element.
                                                  items: &ref_0
                                                    title: ITF Static Target Group Configuration
                                                    type: object
                                                    description: |
                                                      Contains the configuration details of an ITF static target group.
                                                    required:
                                                      - arn
                                                      - percentage
                                                    properties:
                                                      arn:
                                                        type: string
                                                        description: |
                                                          Identifier of the target group in AWS.
                                                        example: arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/blue-targets/73e2d6bc24d8a067
                                                      percentage:
                                                        type: number
                                                        description: |
                                                          A float number in the range of 0.1-10.
                                                        example: 0.4
                                                  example:
                                                    - arn: arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/blue-targets/73e2d6bc24d8a068
                                                      percentage: 0.5
                                          defaultStaticTargetGroups:
                                            type: array
                                            description: A default static target group on the rule. Array with a single element.
                                            items: *ref_0
                                    targetGroupConfig:
                                      title: ITF Target Group Configuration
                                      type: object
                                      description: |
                                        Contains the configuration details of an ITF target group.
                                      allOf:
                                        - &ref_4
                                          type: object
                                          properties:
                                            vpcId:
                                              type: string
                                              description: |
                                                The ID of the AWS VPC for the targets. Valid values: any string which is not empty or null.
                                              example: vpc-0410a20ec1702a537
                                            healthCheckPath:
                                              type: string
                                              description: |
                                                The destination for health checks on the targets.
                                              example: /index.html
                                            healthCheckProtocol:
                                              type: string
                                              description: |
                                                HTTP, HTTPS are already listed under the enum below, no need to repeat.
                                              enum:
                                                - HTTP
                                                - HTTPS
                                              default: HTTP
                                              example: HTTP
                                            healthCheckPort:
                                              type: string
                                              description: |
                                                The port to use to connect with the target. Valid values: 1-65535 or "traffic-port".
                                              default: '80'
                                              example: traffic-port
                                            healthCheckIntervalSeconds:
                                              type: integer
                                              description: |
                                                The approximate amount of time, in seconds, between health checks of an individual target. Valid values: integer between 5-300.
                                              default: 30
                                              example: 40
                                            healthCheckTimeoutSeconds:
                                              type: integer
                                              description: |
                                                The amount of time, in seconds, during which no response means a failed health check. Valid values: integer between 2-120.
                                              default: 5
                                              example: 20
                                            healthyThresholdCount:
                                              type: integer
                                              description: |
                                                The number of consecutive health checks successes required before considering an unhealthy target healthy. Valid values: integer between 2-10.
                                              default: 5
                                              example: 3
                                            unhealthyThresholdCount:
                                              type: integer
                                              description: |
                                                The number of consecutive health check failures required before considering the target unhealthy. Valid values: integer between 2-10.
                                              default: 2
                                              example: 4
                                            port:
                                              type: integer
                                              description: |
                                                The port on which the targets are listening. Not used if the target is a Lambda function. Valid values: integer between 1-65535.
                                              example: 80
                                            protocol:
                                              type: string
                                              description: |
                                                The protocol to use for routing traffic to the targets.
                                              enum:
                                                - HTTP
                                                - HTTPS
                                              example: HTTP
                                            protocolVersion:
                                              type: string
                                              description: |
                                                The protocol version.
                                              default: HTTP1
                                              enum:
                                                - GRPC
                                                - HTTP1
                                                - HTTP2
                                              example: HTTP1
                                            tags:
                                              type: array
                                              description: |
                                                The tags to assigned with the created target groups
                                              default: []
                                              example:
                                                - creator: John Doe
                                              items:
                                                type: object
                                                properties:
                                                  tagKey:
                                                    type: string
                                                    description: |
                                                      The tag's key
                                                    example: Creator
                                                  tagValue:
                                                    type: string
                                                    description: |
                                                      The tag's value
                                                    example: John Doe
                                            matcher:
                                              type: object
                                              description: |
                                                Matcher to use when checking for a successful response from a target group. One of 'httpCode' or 'grpcCode' is required.
                                              default:
                                                httpCode: '200'
                                              properties:
                                                httpCode:
                                                  type: string
                                                  description: |
                                                    You can specify values between 200 and 499, and the default value is 200. You can specify multiple values (for example, “200,202”) or a range of values (for example, “200-299”).
                                                  default: '200'
                                                  example: '200'
                                                grpcCode:
                                                  type: string
                                                  description: |
                                                    You can specify values between 0 and 99. You can specify multiple values (for example, “0,1”) or a range of values (for example, “0-5”). The default value is 12.
                                                  default: '12'
                                                  example: '4'
                                        - required:
                                            - vpcId
                                            - healthCheckPath
                                            - port
                                            - protocol
                                  required:
                                    - loadBalancers
                                    - targetGroupConfig
                                healthCheckType:
                                  type: string
                                  description: |
                                    The service to use for the health check.
                                  enum:
                                    - ELB
                                    - HCS
                                    - TARGET_GROUP
                                    - ECS_CLUSTER_INSTANCE
                                    - EC2
                                    - OPSWORKS
                                    - K8S_NODE
                                    - NOMAD_NODE
                                  example: EC2
                                healthCheckGracePeriod:
                                  type: integer
                                  description: |
                                    The amount of time, in seconds, after the instance has launched to starts and check its health.
                                  default: 300
                                  example: 600
                                healthCheckUnhealthyDurationBeforeReplacement:
                                  type: integer
                                  description: |
                                    The amount of time, in seconds, an existing instance should remain active after becoming unhealthy.
                                    After the set time out the instance will be replaced
                                  example: 60
                                securityGroupIds:
                                  type: array
                                  description: |
                                    One or more security group IDs. In case of update it will override the existing Security Group with the new given array
                                  items:
                                    type: string
                                    example:
                                      - sg-0dfc2c8760df6fec7
                                monitoring:
                                  type: boolean
                                  description: |
                                    Describes whether instance Enhanced Monitoring is enabled
                                  example: false
                                ebsOptimized:
                                  type: boolean
                                  description: |
                                    Enable EBS optimization for supported instance which is not enabled by default.
                                    Note - additional charges will be applied.
                                  example: false
                                imageId:
                                  type: string
                                  description: |
                                    The ID of the image used to launch the instance.
                                    * The following instance types are supported by HVM image: M3, M4, C3, C4, D2, G2, R3, CC2, CC1, CG1, CR1.
                                    * The following instance types are supported by PV image: M1, M2, M3, C1, C3.
                                    * In case of conflict between Instance type to image type, an error message will be returned
                                  example: ami-01e24be29428c15b2
                                images:
                                  type: array
                                  description: |
                                    An array of image objects. <br>
                                    Elastigroup can be configured with either imageId or images, but not both. <br>
                                    * Valid values: null, or an array with at least 1 element.
                                    * Multiple AMIs aren't allowed with stateful groups / Stateful Node / Ocean
                                      or with the following third-party integrations: ECS / Nomad / Docker Swarm / Kubernetes
                                  items: &ref_5
                                    type: object
                                    title: Image object, containing the id of the image used to launch the instance.
                                    required:
                                      - id
                                    properties:
                                      id:
                                        type: string
                                        description: |
                                          Identifier of the image in AWS. Valid values: any string which is not empty or null.
                                        example: ami-123456789
                                keyPair:
                                  type: string
                                  description: |
                                    Specify a Key Pair to attach to the instances
                                  example: labs-oregon
                                blockDeviceMappings:
                                  type: array
                                  description: |
                                    Array list of block devices that are exposed to the instance, You can specify virtual devices and EBS volumes.
                                  items:
                                    type: object
                                    properties:
                                      deviceName:
                                        type: string
                                        description: |
                                          Set device name
                                        example: /dev/xvdcz
                                      ebs:
                                        type: object
                                        description: |
                                          Set EBS properties
                                        properties:
                                          encrypted:
                                            type: boolean
                                            example: true
                                          iops:
                                            type: integer
                                            minimum: 0
                                            description: |
                                              Must be greater than or equal to 0
                                            example: 0
                                          dynamicIops:
                                            type: object
                                            description: |
                                              Set dynamic IOPS properties. When using this object, you cannot use the 'iops' object. You must use one or the other.
                                            properties:
                                              baseSize:
                                                type: integer
                                                description: |
                                                  Initial size for IOPS.
                                                example: 50
                                              resource:
                                                type: string
                                                enum:
                                                  - CPU
                                                  - MEMORY
                                                description: |
                                                  Type of resource
                                                example: CPU
                                              sizePerResourceUnit:
                                                type: integer
                                                description: |
                                                  Additional size per resource unit (in IOPS). For example: if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched - its IOPS size will be: 90
                                                example: 20
                                          kmsKeyId:
                                            type: string
                                            example: alias/aws/ebs
                                          snapshotId:
                                            type: string
                                            example: snap-abcdefghi111110
                                          throughput:
                                            type: integer
                                            minimum: 125
                                            maximum: 1000
                                            example: 125
                                            description: |
                                              The amount of data transferred to or from a storage device per second, you can use this param just in a case that volumetype=‘gp3’.
                                          volumeType:
                                            type: string
                                            description: |
                                              Set volume type
                                            example: gp2
                                          deleteOnTermination:
                                            type: boolean
                                            description: |
                                              Flag to delete the EBS on instance termination
                                            example: true
                                          volumeSize:
                                            type: integer
                                            description: |
                                              Set volume size (in GB). When using this property - don't use dynamicVolumeSize.
                                              Volume size should be greater or equal than the size configured in the AMI
                                            example: 12
                                          dynamicVolumeSize:
                                            type: object
                                            description: |
                                              Set dynamic volume size properties. When using this object, you cannot use volumeSize. You must use one or the other.
                                            properties:
                                              baseSize:
                                                type: integer
                                                description: |
                                                  Initial size for volume
                                                example: 50
                                              resource:
                                                type: string
                                                example: CPU
                                              sizePerResourceUnit:
                                                type: integer
                                                description: |
                                                  Additional size per resource unit (in GB). For example: if baseSize=50, and sizePerResourceUnit=20, and an instance with 2 CPU is launched - its disk size will be: 90GB
                                                example: 20
                                networkInterfaces:
                                  type: array
                                  description: |
                                    List of network interfaces in an EC2 instance.
                                    If you define network interface, please pay attention to omit these properties from other sections in this JSON and set them here: subnetId - compute.availabilityZones
                                  items:
                                    type: object
                                    required:
                                      - deviceIndex
                                    properties:
                                      description:
                                        type: string
                                        description: |
                                          The description of the network interface. Applies only if creating a network interface when launching an instance.
                                      deviceIndex:
                                        type: integer
                                        description: |
                                          The position of the network interface in the attachment order.
                                          A primary network interface has a device index of 0.
                                          If you specify a network interface when launching an instance, you must specify the device index.
                                        example: 0
                                      secondaryPrivateIpAddressCount:
                                        type: integer
                                        description: |
                                          The number of secondary private IPv4 addresses to assign to a network interface.
                                          When you specify a number of secondary IPv4 addresses, Amazon EC2 selects these IP addresses within the subnet's IPv4 CIDR range.
                                          You can't specify this option and specify more than one private IP address using privateIpAddresses.
                                          The number of IP addresses you can assign to a network interface varies by instance type.
                                          For more information, see IP Addresses Per ENI Per Instance Type in the Amazon Virtual Private Cloud User Guide.
                                      associatePublicIpAddress:
                                        type: boolean
                                        description: |
                                          Indicates whether to assign a public IPv4 address to an instance you launch in a VPC.
                                          The public IP address can only be assigned to a network interface for eth0, and can only be assigned to a new network interface, not an existing one.
                                          You cannot specify more than one network interface in the request.
                                          If launching into a default subnet, the default value is true.
                                        example: true
                                      deleteOnTermination:
                                        type: boolean
                                        description: |
                                          If set to true, the interface is deleted when the instance is terminated.
                                          You can specify true only if creating a new network interface when launching an instance.
                                      networkInterfaceId:
                                        type: string
                                        description: |
                                          The ID of the network interface. Used to attach the specified network interface to the instance.
                                      privateIpAddresses:
                                        type: array
                                        description: |
                                          One or more private IPv4 addresses to assign to the network interface.
                                          Only one private IPv4 address can be designated as primary.
                                          You cannot specify this option if you're launching more than one instance in a RunInstances request.
                                        items:
                                          type: object
                                          required:
                                            - privateIpAddress
                                            - primary
                                          properties:
                                            privateIpAddress:
                                              type: string
                                              description: |
                                                The private IPv4 address.
                                            primary:
                                              type: boolean
                                              description: |
                                                Indicates whether the private IPv4 address is the primary private IPv4 address. Only one IPv4 address can be designated as primary.
                                      subnetId:
                                        type: string
                                        description: |
                                          The ID of the subnet to associate with the network interface.
                                          Required when creating a new Network Interface, and not attaching an existing one via networkInterfaceId.
                                      associateIpv6Address:
                                        type: boolean
                                        description: |
                                          Indicates whether to assign an IPv6 address. Amazon EC2 chooses the IPv6 addresses from the range of the subnet.
                                iamRole:
                                  type: object
                                  description: |
                                    The instance profile iamRole
                                  properties:
                                    name:
                                      type: string
                                      description: |
                                        The iamRole name
                                      example: my-iamRole
                                userData:
                                  type: string
                                  format: byte
                                  description: |
                                    The Base64-encoded MIME user data to make available to the instances
                                  example: dXNlcmJhc2g2NGVuY29kZWQ=
                                shutdownScript:
                                  type: string
                                  format: byte
                                  description: |
                                    The Base64-encoded shutdown script to execute prior to instance termination. For more information please see: [Shutdown Script](https://docs.flexera.com/spot/integration-docs/elastigroup/concepts/compute-concepts/shutdown-scripts/)
                                  example: dXNlcmJhc2g2NGVuY29kZWQ=
                                tags:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      tagKey:
                                        type: string
                                        description: |
                                          The tag's key
                                        example: Creator
                                      tagValue:
                                        type: string
                                        description: |
                                          The tag's value
                                        example: John Doe
                                resourceTagSpecification:
                                  type: object
                                  description: Optional field. User will specified which resources should be tagged with group tags.
                                  properties:
                                    volumes:
                                      type: object
                                      description: Optional field. Tag specification for Volume resources.
                                      properties:
                                        shouldTag:
                                          type: boolean
                                          description: Optional field. Volume resources will be tagged with group tags.
                                          default: false
                                          example: false
                                    snapshots:
                                      type: object
                                      description: Optional field. Tag specification for Snapshot resources.
                                      properties:
                                        shouldTag:
                                          type: boolean
                                          description: Optional field. Snapshot resources will be tagged with group tags.
                                          default: true
                                          example: true
                                    enis:
                                      type: object
                                      description: Optional field. Tag specification for ENI resources.
                                      properties:
                                        shouldTag:
                                          type: boolean
                                          description: Optional field. ENI resources will be tagged with group tags.
                                          default: false
                                          example: false
                                    amis:
                                      type: object
                                      description: Optional field. Tag specification for AMI resources.
                                      properties:
                                        shouldTag:
                                          type: boolean
                                          description: Optional field. AMI resources will be tagged with group tags.
                                          default: true
                                          example: true
                                metadataOptions:
                                  title: Metadata Options
                                  type: object
                                  description: Optional field. Used for IMDSv2. In Create route can't be null. In Update route can be null.
                                  required:
                                    - httpTokens
                                  properties:
                                    httpTokens:
                                      title: HTTP Tokens
                                      type: string
                                      description: Required for IMDSv2. Can’t be null in Create or Update. Values can be "optional" or "required".
                                      example: optional
                                    httpPutResponseHopLimit:
                                      type: integer
                                      example: '33'
                                      description: |
                                        An integer within 1,64 range (including).
                                        The desired HTTP PUT response hop limit for instance metadata requests.
                                        The larger the number, the further instance metadata requests can travel.
                                    instanceMetadataTags:
                                      title: Instance Metadata Tags
                                      type: string
                                      enum:
                                        - Enabled
                                        - Disabled
                                      description: |
                                        Indicates whether access to instance tags from the instance metadata is enabled or disabled.
                                        Can’t be null.
                                      example: Enabled
                                cpuOptions:
                                  title: CPU options
                                  type: object
                                  description: Optional field. The CPU options for the instances that are launched within the group.
                                  required:
                                    - threadsPerCore
                                  properties:
                                    threadsPerCore:
                                      title: thread per core
                                      type: integer
                                      example: '1'
                                      description: |
                                        The number of threads per CPU core.
                                        To disable multithreading for the instances, specify a value of 1 .
                                        Otherwise, specify the default value of 2 .
                                autoHealing:
                                  type: boolean
                                  description: |
                                    Optional field. Auto-healing replacement won't be triggered if this parameter value is "false".
                                    In a case of a stateful group - no recycling will start if this parameter value is "false".
                                  default: true
                                  example: true
                            volumeAttachments: &ref_2
                              type: object
                              title: AWS Volume Attachments
                              description: |
                                Any volumes specified in this field will be automatically attached to every instance launched in the group.
                                All volumes must be located within the availability zone of the group. 
                                Additionally, the group must have at least one persistence configuration.
                                If your group has more than one instance or you want to share the same volume between several instances,
                                it's important to use [Amazon EBS Multi-Attach supported volumes](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volumes-multi.html)
                                to enable concurrent attachment of the volumes to multiple instances. This ensures that your volumes can be effectively
                                shared among instances in your group.
                              required:
                                - volumes
                              properties:
                                volumes:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - volumeId
                                      - deviceName
                                    properties:
                                      volumeId:
                                        type: string
                                        description: |
                                          The volume id to attach
                                        example: vol-1234567
                                      deviceName:
                                        type: string
                                        description: |
                                          The device name to attach. When you attach a volume to your instance, you include a device name for the volume.
                                          Do not use a device name that is reserved for the root volume (for example - `/dev/sda1` or `/dev/xvda`).
                                        example: /dev/sdb
                        scaling:
                          type: object
                          title: Elastigroup Scaling
                          properties:
                            up:
                              type: array
                              items: &ref_6
                                type: object
                                title: scale up config
                                required:
                                  - metricName
                                  - namespace
                                properties:
                                  policyName:
                                    type: string
                                    description: |
                                      The policy name.
                                    example: my-up-policy
                                  namespace:
                                    type: string
                                    description: |
                                      The namespace for the alarm's associated metric.
                                    default: AWS/EC2
                                  source:
                                    type: string
                                    description: |
                                      The metric source.
                                    enum:
                                      - cloudWatch
                                    example: cloudWatch
                                  metricName:
                                    type: string
                                    description: |
                                      The name of the metric.
                                    default: CPUUtilization
                                    example: CPUUtilization
                                  statistic:
                                    type: string
                                    description: |
                                      The metric statistics to return.
                                    enum:
                                      - average
                                      - sum
                                      - sampleCount
                                      - maximum
                                      - minimum
                                      - percentile
                                    example: average
                                  extendedStatistic:
                                    type: string
                                    description: |
                                      Percentile statistic. Valid values: p0.1 - p100.
                                    example: p1.5
                                  unit:
                                    type: string
                                    description: |
                                      The unit for the alarm's associated metric.
                                    enum:
                                      - seconds
                                      - microseconds
                                      - milliseconds
                                      - bytes
                                      - kilobytes
                                      - megabytes
                                      - gigabytes
                                      - terabytes
                                      - bits
                                      - kilobits
                                      - megabits
                                      - gigabits
                                      - terabits
                                      - percent
                                      - count
                                      - bytes/second
                                      - kilobytes/second
                                      - megabytes/second
                                      - gigabytes/second
                                      - terabytes/second
                                      - bits/second
                                      - kilobits/second
                                      - megabits/second
                                      - gigabits/second
                                      - terabits/second
                                      - count/second
                                      - none
                                    example: percent
                                  threshold:
                                    type: integer
                                    description: |
                                      The value against which the specified statistic is compared.
                                    example: 90
                                  adjustment:
                                    type: integer
                                    description: |
                                      The number associated with the specified adjustment type.
                                  stepAdjustments:
                                    type: array
                                    description: |
                                      The list of steps to define actions to take based on different thresholds.
                                      When set, policy-level threshold and action cannot be specified.
                                      If specified, at least one step should be defined.
                                    items:
                                      type: object
                                      required:
                                        - threshold
                                      properties:
                                        action:
                                          type: object
                                          required:
                                            - type
                                          description: |
                                            The action to take when scale up according to step's threshold is needed.
                                            A mandatory field, that should be filled with one of the following:
                                            "adjustment", "percentageAdjustment", "setMinTarget", "updateCapacity".
                                          properties:
                                            type:
                                              type: string
                                              description: |
                                                The type of the action to take when scale up is needed.
                                              enum:
                                                - adjustment
                                                - updateCapacity
                                                - setMinTarget
                                                - percentageAdjustment
                                              example: setMinTarget
                                            adjustment:
                                              type: integer
                                              description: |
                                                The number / percentage associated with the specified adjustment type.
                                                Required if using `adjustment` or `percentageAdjustment` as action type
                                              example: 2
                                            minTargetCapacity:
                                              type: integer
                                              description: |
                                                The desired target capacity of a group.
                                                Required if using `setMinTarget` as action type
                                              example: 3
                                            target:
                                              type: integer
                                              description: |
                                                The desired number of instances. Required if using `updateCapacity` as action type and neither `minimum` nor `maximum` are not defined.
                                              example: 3
                                            minimum:
                                              type: integer
                                              description: |
                                                The lower limit number of instances that you can scale down to. Optional, required if using `updateCapacity` as action type and neither `target` nor `maximum` are not defined
                                              example: 4
                                            maximum:
                                              type: integer
                                              description: |
                                                The upper limit number of instances that you can scale up to. Optional, required if using `updateCapacity` as action type and neither `target` nor `minimum` are not defined
                                              example: 10
                                        threshold:
                                          type: integer
                                          description: |
                                            The value against which the specified statistic is compared in order
                                            to determine if a step should be applied.
                                          example: 50
                                  action:
                                    type: object
                                    required:
                                      - type
                                    description: |
                                      The action to take when scale up is needed.
                                      A mandatory field, that should be filled with one of the following:
                                      "adjustment", "percentageAdjustment", "setMaxTarget", "setMinTarget", "updateCapacity".
                                    properties:
                                      type:
                                        type: string
                                        description: |
                                          The type of the action to take when scale up is needed.
                                        enum:
                                          - adjustment
                                          - updateCapacity
                                          - setMinTarget
                                          - percentageAdjustment
                                        example: updateCapacity
                                      adjustment:
                                        type: integer
                                        description: |
                                          The number / percentage associated with the specified adjustment type.
                                          Required if using `adjustment` or `percentageAdjustment` as action type
                                        example: 1
                                      minTargetCapacity:
                                        type: integer
                                        description: |
                                          The minimum target capacity.
                                          Required if using `setMinTarget` as action type.
                                        example: 1
                                      target:
                                        type: integer
                                        description: |
                                          The desired number of instances. Required if using `updateCapacity` as action type and neither `minimum` nor `maximum` are defined.
                                        example: 1
                                      minimum:
                                        type: integer
                                        description: |
                                          The lower limit number of instances that you can scale down to. Optional, required if using `updateCapacity` as action type and neither `target` nor `maximum` are defined
                                        example: 0
                                      maximum:
                                        type: integer
                                        description: |
                                          The upper limit number of instances that you can scale up to. Optional, required if using `updateCapacity` as action type and neither `target` nor `minimum` are defined
                                        example: 5
                                  minTargetCapacity:
                                    type: integer
                                    description: |
                                      The minimum target capacity.
                                  dimensions:
                                    type: array
                                    description: |
                                      The dimensions for the alarm's associated metric.
                                      When name is "instanceId", no value is needed.
                                    items:
                                      type: object
                                      required:
                                        - name
                                      properties:
                                        name:
                                          type: string
                                          example: InstanceId
                                        value:
                                          type: string
                                  period:
                                    type: integer
                                    description: |
                                      The period in seconds over which the statistic is applied.
                                    example: 300
                                  evaluationPeriods:
                                    type: integer
                                    description: |
                                      The number of periods over which data is compared to the specified threshold.
                                    example: 1
                                  cooldown:
                                    type: integer
                                    description: |
                                      The amount of time, in seconds, after a scaling activity completes before any further trigger-related scaling activities can start.
                                    example: 300
                                  operator:
                                    type: string
                                    description: |
                                      The operator to use in order to determine if the scaling policy is applicable.
                                    enum:
                                      - gt
                                      - gte
                                      - lt
                                      - lte
                                    example: gte
                                  isEnabled:
                                    type: boolean
                                    description: |
                                      Specifies whether the scaling policy described in this block is enabled.
                                    default: true
                                    example: true
                            down:
                              type: array
                              items: &ref_7
                                type: object
                                title: scale down config
                                properties:
                                  policyName:
                                    type: string
                                    description: |
                                      The policy name.
                                    example: my-down-policy
                                  namespace:
                                    type: string
                                    description: |
                                      The namespace for the alarm's associated metric.
                                    default: AWS/EC2
                                  source:
                                    type: string
                                    description: |
                                      The metric source.
                                    enum:
                                      - cloudWatch
                                    example: cloudWatch
                                  metricName:
                                    type: string
                                    description: |
                                      The name of the metric.
                                    default: CPUUtilization
                                    example: CPUUtilization
                                  statistic:
                                    type: string
                                    description: |
                                      The metric statistics to return.
                                    enum:
                                      - average
                                      - sum
                                      - sampleCount
                                      - maximum
                                      - minimum
                                      - percentile
                                    example: average
                                  extendedStatistic:
                                    type: string
                                    description: |
                                      Percentile statistic. Valid values: p0.1 - p100.
                                    example: p1.5
                                  unit:
                                    type: string
                                    description: |
                                      The unit for the alarm's associated metric.
                                    enum:
                                      - seconds
                                      - microseconds
                                      - milliseconds
                                      - bytes
                                      - kilobytes
                                      - megabytes
                                      - gigabytes
                                      - terabytes
                                      - bits
                                      - kilobits
                                      - megabits
                                      - gigabits
                                      - terabits
                                      - percent
                                      - count
                                      - bytes/second
                                      - kilobytes/second
                                      - megabytes/second
                                      - gigabytes/second
                                      - terabytes/second
                                      - bits/second
                                      - kilobits/second
                                      - megabits/second
                                      - gigabits/second
                                      - terabits/second
                                      - count/second
                                      - none
                                    example: percent
                                  threshold:
                                    type: integer
                                    description: |
                                      The value against which the specified statistic is compared.
                                    example: 90
                                  adjustment:
                                    type: integer
                                    description: |
                                      The number associated with the specified adjustment type.
                                  stepAdjustments:
                                    type: array
                                    description: |
                                      The list of steps to define actions to take based on different thresholds.
                                      When set, policy-level threshold and action cannot be specified.
                                      If specified, at least one step should be defined.
                                    items:
                                      type: object
                                      required:
                                        - threshold
                                      properties:
                                        action:
                                          type: object
                                          required:
                                            - type
                                          description: |
                                            The action to take when scale down according to step's threshold is needed.
                                            A mandatory field, that should be filled with one of the following:
                                            "adjustment", "percentageAdjustment", "setMaxTarget", "updateCapacity".
                                          properties:
                                            type:
                                              type: string
                                              description: |
                                                The type of the action to take when scale down is needed.
                                              enum:
                                                - adjustment
                                                - updateCapacity
                                                - setMaxTarget
                                                - percentageAdjustment
                                              example: percentageAdjustment
                                            adjustment:
                                              type: integer
                                              description: |
                                                The number / percentage associated with the specified adjustment type.
                                                Required if using `adjustment` or `percentageAdjustment` as action type
                                              example: 40
                                            maxTargetCapacity:
                                              type: integer
                                              description: |
                                                The desired target capacity of.
                                                Required if using `setMaxTarget` as action type
                                              example: 1
                                            target:
                                              type: integer
                                              description: |
                                                The desired number of instances. Required if using `updateCapacity` as action type and neither `minimum` nor `maximum` are defined.
                                              example: 2
                                            minimum:
[...]
