openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Ocean Automatic Rightsizing
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Ocean Automatic Rightsizing
    description: |
      New Automatic Rightsizing version available for EKS and AKS only.

      If you wish to learn more about it reach out to our support team.
paths:
  /ocean/{oceanId}/rightSizing/rule:
    post:
      summary: Create Ocean Rightsizing Rule
      description: ''
      operationId: oceanRightsizingRuleCreate
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - &ref_15
          in: path
          name: oceanId
          schema:
            type: string
          required: true
          example: o-abcd1234
          description: |
            Identifier of the Ocean cluster.
        - &ref_16
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean Rightsizing Rule
                  description: |
                    Determines the Ocean Rightsizing rule
                  required:
                    - recommendationApplicationIntervals
                  properties:
                    ruleName:
                      type: string
                      description: The unique name of the rule
                      example: dev-rule
                    restartReplicas:
                      type: string
                      description: Enable to sequentially restart pod batches according to recommendations, for all pods, only more than 1 replica, or not any pod.
                      enum:
                        - MORE_THAN_ONE_REPLICA
                        - ALL_MANIFEST
                        - NO_RESTART
                      example: ALL_MANIFEST
                    excludePreliminaryRecommendations:
                      type: boolean
                      description: Exclude preliminary recommendations (recommendations based on less than 4 full days of data).
                      example: false
                    recommendationApplicationIntervals:
                      description: Determines the Ocean Rightsizing rule recommendation application intervals
                      type: array
                      example:
                        - repetitionBasis: WEEKLY
                          weeklyRepetitionBasis:
                            intervalDays:
                              - MONDAY
                              - WEDNESDAY
                            intervalHours:
                              startTime: '12:00'
                              endTime: '14:00'
                        - repetitionBasis: MONTHLY
                          monthlyRepetitionBasis:
                            intervalMonths:
                              - 2
                              - 4
                              - 6
                            weekOfTheMonth:
                              - FIRST
                              - LAST
                            weeklyRepetitionBasis:
                              intervalDays:
                                - MONDAY
                              intervalHours:
                                startTime: '03:00'
                                endTime: '04:00'
                      items: &ref_3
                        type: object
                        title: Ocean Rightsizing Rule Recommendation Application Interval
                        description: |
                          Determines the Ocean Rightsizing rule recommendation application interval
                        properties:
                          repetitionBasis:
                            type: string
                            description: The repetition basis
                            enum:
                              - WEEKLY
                              - MONTHLY
                          monthlyRepetitionBasis:
                            type: object
                            title: Ocean Rightsizing Rule Monthly Repetition Basis
                            description: |
                              Determines the Ocean Rightsizing rule monthly repetition basis
                            properties:
                              intervalMonths:
                                type: array
                                description: |
                                  Array of the months (in number), when we want to trigger the apply recommendations.
                                items:
                                  type: integer
                                  example: 2
                              weekOfTheMonth:
                                type: string
                                description: |
                                  Array of the weeks in the month, when we want to trigger the apply recommendations.
                                enum:
                                  - FIRST
                                  - SECOND
                                  - THIRD
                                  - FOURTH
                                  - LAST
                              weeklyRepetitionBasis: &ref_0
                                type: object
                                title: Ocean Rightsizing Rule Weekly Repetition Basis
                                description: |
                                  Determines the Ocean Rightsizing rule weekly repetition basis
                                properties:
                                  intervalDays:
                                    type: array
                                    description: |
                                      Array of the days of the week, when we want to trigger the apply recommendations.
                                    items:
                                      type: string
                                      enum:
                                        - SUNDAY
                                        - MONDAY
                                        - TUESDAY
                                        - WEDNESDAY
                                        - THURSDAY
                                        - FRIDAY
                                        - SATURDAY
                                      example: MONDAY
                                  intervalHours:
                                    type: object
                                    properties:
                                      startTime:
                                        type: string
                                        example: '12:00'
                                      endTime:
                                        type: string
                                        example: '14:00'
                                    example:
                                      startTime: '12:00'
                                      endTime: '14:00'
                                example:
                                  intervalDays:
                                    - MONDAY
                                  intervalHours:
                                    startTime: '12:00'
                                    endTime: '14:00'
                            example:
                              intervalMonths:
                                - 2
                              weeklyRepetitionBasis:
                                intervalDays:
                                  - MONDAY
                                intervalHours:
                                  startTime: '12:00'
                                  endTime: '14:00'
                          weeklyRepetitionBasis: *ref_0
                        example:
                          monthlyRepetitionBasis:
                            intervalMonths:
                              - 2
                            weeklyRepetitionBasis:
                              intervalDays:
                                - MONDAY
                              intervalHours:
                                startTime: '12:00'
                                endTime: '14:00'
                          weeklyRepetitionBasis:
                            intervalDays:
                              - MONDAY
                            intervalHours:
                              startTime: '12:00'
                              endTime: '14:00'
                    recommendationApplicationMinThreshold: &ref_4
                      type: object
                      title: Ocean Rightsizing Rule Recommendation Application Min Threshold
                      description: |
                        Determines the extent of difference between current request and recommendation to trigger a change in percentage
                      properties:
                        cpuPercentage:
                          type: number
                          minimum: 0.05
                          maximum: 1
                          default: 0.05
                          example: 0.412
                        memoryPercentage:
                          type: number
                          minimum: 0.05
                          maximum: 1
                          default: 0.05
                          example: 0.36
                      example: &ref_10
                        cpuPercentage: 0.412
                        memoryPercentage: 0.36
                    recommendationApplicationBoundaries: &ref_5
                      type: object
                      title: Ocean Rightsizing Rule Recommendation Application Boundaries
                      description: |
                        Determines the Ocean Rightsizing rule recommendation application boundaries.
                      properties:
                        cpu:
                          type: object
                          properties:
                            min:
                              type: integer
                              description: the minimal value of cpu in vCpu
                              example: 0
                            max:
                              type: integer
                              description: the maximal value of cpu in vCpu
                              example: 100
                          example:
                            min: 0
                            max: 100
                        memory:
                          type: object
                          properties:
                            min:
                              type: integer
                              description: the minimal value of memory in Gib
                              minimum: 0
                              example: 1
                            max:
                              type: integer
                              description: the maximal value of memory in Gib
                              minimum: 0
                              example: 80
                          example:
                            min: 1
                            max: 80
                      example: &ref_11
                        cpu:
                          min: 0
                          max: 100
                        memory:
                          min: 1
                          max: 80
                    recommendationApplicationOverheadValues: &ref_6
                      type: object
                      title: Ocean Rightsizing Rule Recommendation Application Overhead Values
                      description: |
                        Determines the Ocean Rightsizing rule recommendation application overhead values
                      properties:
                        cpuPercentage:
                          type: number
                          minimum: 0.1
                          maximum: 1
                          default: 0.1
                          example: 0.8
                        memoryPercentage:
                          type: number
                          minimum: 0.1
                          maximum: 1
                          default: 0.1
                          example: 0.5
                      example: &ref_12
                        cpuPercentage: 0.8
                        memoryPercentage: 0.5
                    recommendationApplicationHPA: &ref_7
                      type: object
                      title: Ocean Rightsizing Rule Recommendation Application For HPA
                      description: HPA Rightsizing Rule Recommendation Configuration
                      properties:
                        allowHPARecommendations:
                          type: boolean
                          description: Determines by the rule if recommendation application is allowed for workloads with HPA definition.
                          example: true
                      example: &ref_13
                        allowHPARecommendations: true
                    autoApplyDefinition: &ref_8
                      type: object
                      title: Ocean Rightsizing Rule Auto Apply Definition
                      description: Ocean Rightsizing Rule Auto Apply Configuration
                      properties:
                        enabled:
                          type: boolean
                          description: Determines if auto apply is enabled.
                          example: true
                        namespaces:
                          type: array
                          description: A list of namespaces that match the auto-apply rule.
                          items:
                            type: string
                          example: &ref_1
                            - namespace1
                            - namespace2
                            - namespace3
                        labels:
                          type: object
                          description: |
                            A set of key-value label pairs used to automatically apply this rule to all workloads in the cluster that match these labels.
                          example: &ref_2
                            app: my-app
                            environment: production
                      example: &ref_14
                        enabled: true
                        namespaces: *ref_1
                        labels: *ref_2
                    downsideOnly:
                      type: boolean
                      description: When set to 'true', only downscale recommendations will be applied.
                      default: false
      responses:
        '200': &ref_21
          description: Ocean Rightsizing Rule Create Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_17
                    type: object
                    allOf:
                      - &ref_29
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                            example:
                              id: e593ff58-067d-4340-92f9-8b1c0bad70d7
                              timestamp: '2018-06-20T11:35:01.745Z'
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                                example:
                                  code: 200
                                  message: OK
                            example:
                              status:
                                code: 200
                                message: OK
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                              items:
                                type: array
                                description: |
                                  Array of data objects.
                                items:
                                  type: object
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                            example:
                              count: 1
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule
                          method:
                            example: POST
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: &ref_18
                              description: Rightsizing rule
                              type: object
                              properties:
                                oceanId:
                                  type: string
                                  example: o-482d9d26
                                clusterIdentifier:
                                  type: string
                                  example: dev-cluster
                                ruleName:
                                  type: string
                                  example: dev-rule
                                restartReplicas:
                                  type: string
                                  description: Enable to sequentially restart pod batches according to recommendations, for all pods, only more than 1 replica, or not any pod.
                                  enum:
                                    - MORE_THAN_ONE_REPLICA
                                    - ALL_MANIFEST
                                    - NO_RESTART
                                  example: ALL_MANIFEST
                                excludePreliminaryRecommendations:
                                  type: boolean
                                  description: Exclude preliminary recommendations (recommendations based on less than 4 full days of data).
                                  example: false
                                recommendationApplicationIntervals:
                                  type: array
                                  example: &ref_9
                                    - repetitionBasis: WEEKLY
                                      weeklyRepetitionBasis:
                                        intervalDays:
                                          - MONDAY
                                          - WEDNESDAY
                                        intervalHours:
                                          startTime: '12:00'
                                          endTime: '14:00'
                                    - repetitionBasis: MONTHLY
                                      monthlyRepetitionBasis:
                                        intervalMonths:
                                          - 2
                                          - 4
                                          - 6
                                        weekOfTheMonth:
                                          - FIRST
                                          - LAST
                                        weeklyRepetitionBasis:
                                          intervalDays:
                                            - MONDAY
                                          intervalHours:
                                            startTime: '03:00'
                                            endTime: '04:00'
                                  items: *ref_3
                                recommendationApplicationMinThreshold: *ref_4
                                recommendationApplicationBoundaries: *ref_5
                                recommendationApplicationOverheadValues: *ref_6
                                recommendationApplicationHPA: *ref_7
                                autoApplyDefinition: *ref_8
                                downsideOnly:
                                  type: boolean
                                  description: When set to 'true', only downscale recommendations will be applied.
                                  example: false
                              example: &ref_19
                                oceanId: o-482d9d26
                                clusterIdentifier: dev-cluster
                                ruleName: dev-rule
                                restartReplicas: ALL_MANIFEST
                                excludePreliminaryRecommendations: false
                                recommendationApplicationIntervals: *ref_9
                                recommendationApplicationMinThreshold: *ref_10
                                recommendationApplicationBoundaries: *ref_11
                                recommendationApplicationOverheadValues: *ref_12
                                recommendationApplicationHPA: *ref_13
                                autoApplyDefinition: *ref_14
                                downsideOnly: false
                          kind:
                            example: mcs:ocean:rightsizing:rule
                        example:
                          items:
                            - oceanId: o-482d9d26
                              clusterIdentifier: dev-cluster
                              ruleName: dev-rule
                              restartReplicas: ALL_MANIFEST
                              excludePreliminaryRecommendations: false
                              recommendationApplicationIntervals: *ref_9
                              recommendationApplicationMinThreshold: *ref_10
                              recommendationApplicationBoundaries: *ref_11
                              recommendationApplicationOverheadValues: *ref_12
                              recommendationApplicationHPA: *ref_13
                              autoApplyDefinition: *ref_14
                              downsideOnly: false
                          kind: mcs:ocean:rightsizing:rule
        '400':
          description: Bad Request
    get:
      summary: List Ocean Rightsizing Rules
      description: ''
      operationId: oceanRightsizingRulesList
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_16
      responses:
        '200':
          description: Ocean Rightsizing Rules Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule
                          method:
                            example: GET
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_18
                          kind:
                            example: mcs:ocean:rightsizing:rule
                        example:
                          items:
                            - *ref_19
                          kind: mcs:ocean:rightsizing:rule
        '400':
          description: Bad Request
    delete:
      summary: Delete Ocean Rightsizing Rules
      description: ''
      operationId: oceanRightsizingRuleDelete
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean Rightsizing Rule Names
                  description: |
                    Rightsizing Rule Names to delete.
                  properties:
                    ruleNames:
                      type: array
                      items:
                        type: string
                      example:
                        - dev-rule
                        - test-rule
      responses:
        '200':
          description: Ocean Rightsizing Deleted Rule Names Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule
                          method:
                            example: DELETE
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule
                          method: DELETE
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                ruleNames:
                                  type: array
                                  example: &ref_20
                                    - dev-rule
                                    - test-rule
                                  items:
                                    type: string
                              example:
                                ruleNames: *ref_20
                          kind:
                            example: mcs:ocean:rightsizing:rule
                        example:
                          items:
                            - ruleNames: *ref_20
                          kind: mcs:ocean:rightsizing:rule
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/rule/{ruleName}:
    get:
      summary: Get Ocean Rightsizing Rule
      description: ''
      operationId: oceanRightsizingRuleGet
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - &ref_22
          in: path
          name: ruleName
          schema:
            type: string
          required: true
          example: dev-rule
          description: |
            Identifier of rightsizing rule.
        - *ref_16
      responses:
        '200': *ref_21
        '400':
          description: Bad Request
    put:
      summary: Update Ocean Rightsizing Rule
      description: ''
      operationId: oceanRightsizingRuleUpdate
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_22
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean Rightsizing Rule
                  description: |
                    Determines the Ocean Rightsizing rule
                  required:
                    - recommendationApplicationIntervals
                  properties:
                    restartReplicas:
                      type: string
                      description: Enable to sequentially restart pod batches according to recommendations, for all pods, only more than 1 replica, or not any pod.
                      enum:
                        - MORE_THAN_ONE_REPLICA
                        - ALL_MANIFEST
                        - NO_RESTART
                      example: ALL_MANIFEST
                    excludePreliminaryRecommendations:
                      type: boolean
                      description: Exclude preliminary recommendations (recommendations based on less than 4 full days of data).
                      example: false
                    recommendationApplicationIntervals:
                      description: Determines the Ocean Rightsizing rule recommendation application intervals
                      type: array
                      example:
                        - repetitionBasis: WEEKLY
                          weeklyRepetitionBasis:
                            intervalDays:
                              - MONDAY
                              - WEDNESDAY
                            intervalHours:
                              startTime: '12:00'
                              endTime: '14:00'
                        - repetitionBasis: MONTHLY
                          monthlyRepetitionBasis:
                            intervalMonths:
                              - 2
                              - 4
                              - 6
                            weekOfTheMonth:
                              - FIRST
                              - LAST
                            weeklyRepetitionBasis:
                              intervalDays:
                                - MONDAY
                              intervalHours:
                                startTime: '03:00'
                                endTime: '04:00'
                      items: *ref_3
                    recommendationApplicationMinThreshold: *ref_4
                    recommendationApplicationBoundaries: *ref_5
                    recommendationApplicationOverheadValues: *ref_6
                    recommendationApplicationHPA: *ref_7
                    autoApplyDefinition: *ref_8
                    downsideOnly:
                      type: boolean
                      description: When set to 'true', only downscale recommendations will be applied.
                      default: false
      responses:
        '200':
          description: Ocean Rightsizing Rule Update Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule/{ruleName]
                          method:
                            example: PUT
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule/{ruleName]
                          method: PUT
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items: *ref_18
                          kind:
                            example: mcs:ocean:rightsizing:rule
                        example:
                          items:
                            - *ref_19
                          kind: mcs:ocean:rightsizing:rule
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/rule/{ruleName}/attachment:
    post:
      summary: Attach Ocean Rightsizing Rule
      description: ''
      operationId: oceanRightsizingRuleMatchingAttachment
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_22
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - &ref_25
                  type: object
                  properties:
                    namespaces:
                      type: array
                      items:
                        type: object
                        properties:
                          namespaceName:
                            type: string
                            description: List of namespaces
                            example: kube-system
                          workloads:
                            type: array
                            description: List of workloads
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the workload
                                  example: kube-proxy
                                workloadType:
                                  type: string
                                  description: The type of the workload
                                  example: Deployment
                                regexName:
                                  type: string
                                  description: The regex for the workload name
                                  example: spotinst*
                              example:
                                name: kube-proxy
                                workloadType: Deployment
                                regexName: spotinst*
                            example: &ref_23
                              - name: kube-proxy
                                workloadType: DaemonSet
                              - regexName: spotinst*
                                workloadType: Deployment
                        example:
                          namespaceName: kube-system
                          workloads: *ref_23
      responses:
        '200':
          description: Ocean Rightsizing Rule Attachment Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule/{ruleName}/attachment
                          method:
                            example: POST
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule/{ruleName}/attachment
                          method: POST
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: mcs:ocean:rightsizing:ruleMatching
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                rulesMatchings:
                                  type: array
                                  example: &ref_24
                                    - oceanId: o-6ea3032a
                                      clusterIdentifier: dev-cluster
                                      namespace: kube-system
                                      resourceType: Deployment
                                      name: kube-proxy
                                      ruleName: dev-rule
                                      ruleMatching: workloadName:kube-proxy
                                    - oceanId: o-6ea3032a
                                      clusterIdentifier: dev-cluster
                                      namespace: kube-system
                                      resourceType: Deployment
                                      name: spotinst-controller
                                      ruleName: dev-rule
                                      ruleMatching: regexName:spotinst*
                                  items:
                                    description: Rightsizing rule matching of rule to workload
                                    type: object
                                    properties:
                                      oceanId:
                                        type: string
                                      clusterIdentifier:
                                        type: string
                                      namespace:
                                        type: string
                                      resourceType:
                                        type: string
                                      name:
                                        type: string
                                      ruleName:
                                        type: string
                                      ruleMatching:
                                        type: string
                              example:
                                rulesMatchings: *ref_24
                        example:
                          kind: mcs:ocean:rightsizing:ruleMatching
                          items:
                            - rulesMatchings: *ref_24
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/rule/{ruleName}/detachment:
    post:
      summary: Detach Ocean Rightsizing Rule
      description: ''
      operationId: oceanRightsizingRuleMatchingDetachment
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_22
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - *ref_25
      responses:
        '200':
          description: Ocean Rightsizing Rule Detached Workload Names Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rule/{ruleName}/detachment
                          method:
                            example: POST
                        example:
                          url: /ocean/{oceanId}/rightSizing/rule/{ruleName}/detachment
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                workloadNames:
                                  type: array
                                  example: &ref_26
                                    - kube-proxy
                                    - spotinst-controller
                                  items:
                                    type: string
                              example:
                                workloadNames: *ref_26
                          kind:
                            example: mcs:ocean:rightsizing:rule
                        example:
                          items:
                            - workloadNames: *ref_26
                          kind: mcs:ocean:rightsizing:rule
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/recommendations:
    post:
      summary: Get Ocean Rightsizing Recommendations
      description: |
        Get right-sizing recommendations for an Ocean cluster.
      operationId: oceanRightsizingRecommendations
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean Rightsizing Recommendations
                  description: |
                    Determines the Ocean Rightsizing recommendations
                  required:
                    - clusterResources OR clusterLabels
                  properties:
                    clusterResources:
                      type: object
                      title: Ocean Rightsizing Recommendation Cluster Resources
                      description: |
                        Determines the Ocean Recommendation filtering by the combinations of namespace::workload::containers
                      properties:
                        namespaceName:
                          description: Determines the namespace to filter by with objects of it's workloads
                          type: object
                          properties:
                            workloadName:
                              description: Determines the workload to filter by with List of it's containers
                              type: array
                              items:
                                type: string
                                properties:
                                  containerName:
                                    type: string
                                    description: container name
                                    example: workloadContainer1
                                example:
                                  containerName: workloadContainer1
                          example:
                            workloadName:
                              - containerName: workloadContainer1
                      example:
                        namespaceName1:
                          workloadName1:
                            - workloadContainer1
                            - workloadContainer2
                          workloadName2:
                            - workloadContainer2
                            - workloadContainer3
                        namespaceName2:
                          workloadName1:
                            - workloadContainer1
                            - workloadContainer2
                    clusterLabels:
                      type: object
                      title: Ocean Rightsizing Recommendation Cluster Labels
                      description: |
                        Determines the Ocean Recommendation filtering by the combinations of namespace::workloadsLabels
                      properties:
                        namespaceName:
                          description: Determines the namespace to filter by with List of it's workloads labels
                          type: array
                          properties:
                            containerName:
                              type: string
                              description: container name
                              example: workloadContainer1
                          example: []
                      example:
                        namespaceName1:
                          - workloadLabel1
                          - workloadLabel2
                          - workloadLabel3
                        namespaceName2:
                          - workloadLabel1
                          - workloadLabel2
      responses:
        '200':
          description: Ocean Rightsizing Recommendation Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/o-abcd1234/rightSizing/recommendations
                          method:
                            example: POST
                        example:
                          url: /ocean/o-abcd1234/rightSizing/recommendations
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              title: Ocean Rightsizing Recommendation
                              description: |
                                Rightsizing Resource Container Recommendation.
                              properties:
                                namespace:
                                  type: string
                                  description: The namespace of the workload
                                workloadName:
                                  type: string
                                  description: The name of the workload
                                workloadType:
                                  type: string
                                  description: The type of the workload
                                requestedCPU:
                                  type: number
                                  description: The requested cpu
                                suggestedCPU:
                                  type: integer
                                  description: The suggested cpu
                                requestedMemory:
                                  type: number
                                  description: The requested memory
                                suggestedMemory:
                                  type: integer
                                  description: The requested memory
                                monthlyMaxSavings":
                                  type: number
                                  description: The monthly potential savings
                                ruleName:
                                  type: string
                                  description: The name of the attached rule
                                optimizationStatus:
                                  type: string
                                  description: The optimization status of the workload
                                reasonsForPartialOptimized:
                                  type: array
                                  description: The reasons for the partly optimized status
                                  items:
                                    type: string
                                containers:
                                  type: array
                                  description: The containers of the workload
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the container
                                      requestedCPU:
                                        type: number
                                        description: The requested cpu
                                      suggestedCPU:
                                        type: integer
                                        description: The suggested cpu
                                      requestedMemory:
                                        type: number
                                        description: The requested memory
                                      suggestedMemory:
                                        type: integer
                                        description: The requested memory
                                      preliminary:
                                        type: boolean
                                        description: The recommendation is preliminary
                                      appliedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp at which the recommendation was applied
                                appliedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp at which the recommendation was last applied
                            example: &ref_27
                              - namespace: kube-system
                                workloadName: redis-controller
                                workloadType: deployment
                                requestedCPU: 50
                                suggestedCPU: 4
                                requestedMemory: 50
                                suggestedMemory: 19
                                monthlyMaxSavings": 17.312044994154263
                                ruleName: attachedRule
                                optimizationStatus: PARTLY_OPTIMIZED
                                reasonsForPartialOptimized:
                                  - Threshold did not allow us to apply the recommendation
                                  - The ranges of the rule prevent the apply of the recommendations
                                  - Recommendation did not perform due to preliminary exclusion
                                containers:
                                  - name: dnsmasq
                                    requestedCPU: 10
                                    suggestedCPU: 2
                                    requestedMemory: 40
                                    suggestedMemory: 15
                                    preliminary: false
                                    appliedAt: '2026-04-24T04:55:22.043813'
                                  - name: sidecar
                                    requestedCPU: 40
                                    suggestedCPU: 2
                                    requestedMemory: 10
                                    suggestedMemory: 4
                                    preliminary: true
                                    appliedAt: '2026-04-24T04:55:22.043813'
                                appliedAt: '2026-04-24T04:55:22.043813'
                              - namespace: sparkSpace
                                workloadName: test-redis
                                workloadType: deployment
                                requestedCPU: 50
                                suggestedCPU: 2
                                requestedMemory: 30
                                suggestedMemory: 20
                                monthlyMaxSavings: 28.258386736965104
                                ruleName: null
                                optimizationStatus: NOT_OPTIMIZED
                                containers:
                                  - name: dns-controller
                                    requestedCPU: 20
                                    suggestedCPU: 1
                                    requestedMemory: 20
                                    suggestedMemory: 15
                                    preliminary: false
                                    appliedAt: '2026-04-24T04:55:22.043813'
                                  - name: kubedns
                                    requestedCPU: 30
                                    suggestedCPU: 1
                                    requestedMemory: 10
                                    suggestedMemory: 5
                                    preliminary: true
                                    appliedAt: '2026-04-24T04:55:22.043813'
                                appliedAt: '2026-04-24T04:55:22.043813'
                          count:
                            example: 2
                          kind:
                            example: mcs:ocean:rightSizing:recommendations
                        example:
                          items: *ref_27
                          count: 2
                          kind: mcs:ocean:rightSizing:recommendations
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/namespaces/{namespace}/{workloadType}/{workloadName}/recommendation-history:
    get:
      summary: Get Ocean Rightsizing Recommendation History
      description: |
        Get right-sizing recommendation history for a specific workload in an Ocean cluster.
      operationId: oceanRightsizingRecommendationHistory
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - &ref_32
          in: path
          name: namespace
          schema:
            type: string
          required: true
          example: default
          description: |
            Namespace of the workload.
        - &ref_33
          in: path
          name: workloadType
          schema:
            type: string
            enum:
              - deployment
              - daemonSet
              - statefulSet
              - rollout
          required: true
          example: deployment
          description: |
            Type of the workload.
        - &ref_34
          in: path
          name: workloadName
          schema:
            type: string
          required: true
          example: checkout-service
          description: |
            Name of the workload.
        - *ref_16
        - in: query
          name: clusterIdentifier
          schema:
            type: string
          required: false
          example: dev-cluster
          description: |
            Identifier of the cluster from which recommendation history should be retrieved.
        - in: query
          name: fromDate
          schema:
            type: integer
            format: int64
          required: true
          example: 1717200000000
          description: |
            Start time filter as Unix epoch timestamp in milliseconds.
        - in: query
          name: toDate
          schema:
            type: integer
            format: int64
          required: false
          example: 1719800000000
          description: |
            End time filter as Unix epoch timestamp in milliseconds.
        - in: query
          name: containerNames
          required: true
          description: |
            List of container names to filter by.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          example:
            - app
            - sidecar
      responses:
        '200':
          description: Ocean Rightsizing Recommendation History Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/o-abcd1234/rightSizing/namespaces/default/deployment/checkout-service/recommendation-history?accountId=act-123456789&fromDate=1717200000000&clusterIdentifier=dev-cluster
                          method:
                            example: GET
                        example:
                          url: /ocean/o-abcd1234/rightSizing/namespaces/default/deployment/checkout-service/recommendation-history?accountId=act-123456789&fromDate=1717200000000&clusterIdentifier=dev-cluster
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                recommendations:
                                  type: array
                                  items:
                                    type: object
                                    title: Ocean Rightsizing Recommendation History Item
                                    description: |
                                      Recommendation snapshot for a workload at a specific point in time.
                                    properties:
                                      podCount:
                                        type: integer
                                        description: Number of pods in the workload at recommendation time.
                                      cpu:
                                        type: object
                                        description: CPU recommendation details.
                                        properties:
                                          requested:
                                            type: number
                                          recommended:
                                            type: number
                                          limit:
                                            type: number
                                          p99:
                                            type: number
                                          p95:
                                            type: number
                                          p90:
                                            type: number
                                          p85:
                                            type: number
                                      memory:
                                        type: object
                                        description: Memory recommendation details.
                                        properties:
                                          requested:
                                            type: number
                                          recommended:
                                            type: number
                                          limit:
                                            type: number
                                          p100:
                                            type: number
                                          p95:
                                            type: number
                                          p90:
                                            type: number
                                          p85:
                                            type: number
                                      recommendedAt:
                                        type: integer
                                        format: int64
                                        description: Unix epoch timestamp in milliseconds when the recommendation was generated.
                            example: &ref_28
                              - recommendations:
                                  - podCount: 1
                                    cpu:
                                      requested: 0.01
                                      recommended: 0.01
                                      limit: 0.02
                                      p99: 0
                                      p95: 0
                                      p90: 0
                                      p85: 0
                                    memory:
                                      requested: 32
                                      recommended: 32
                                      limit: 64
                                      p100: 7.59
                                      p95: 7.56
                                      p90: 7.56
                                      p85: 7.53
                                    recommendedAt: 1783313815984
                          count:
                            example: 1
                          kind:
                            example: mcs:ocean:rightSizing:clusterResourceRecommendationsHistory
                        example:
                          items: *ref_28
                          count: 1
                          kind: mcs:ocean:rightSizing:clusterResourceRecommendationsHistory
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/rollbacks:
    get:
      summary: List Ocean Rightsizing Rollbacks
      description: List the rightsizing rollback for ocean cluster.
      operationId: oceanRightsizingRollbackList
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_16
      responses:
        '200':
          description: Ocean Rightsizing Rollbacks Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/rollbacks
                          method:
                            example: GET
                        example:
                          url: /ocean/{oceanId}/rightSizing/rollbacks
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                clusterIdentifier:
                                  type: string
                                  description: The cluster identifier
                                  example: test-k8s
                                namespace:
                                  type: string
                                  description: The namespace of the workload
                                  example: kube-system
                                resourceType:
                                  type: string
                                  description: The type of the resource
                                  example: deployment
                                resourceName:
                                  type: string
                                  description: The name of the resource
                                  example: resource-name
                                rollbackType:
                                  type: string
                                  description: The type of the rollback
                                  example: OUT_OF_MEMORY
                                rollbackTime:
                                  type: string
                                  format: date-time
                                  description: The time of the rollback
                                  example: 2024-11-01T10:50:29.000+0000
                                cpuAtRollback:
                                  type: number
                                  description: The cpu at the time of the rollback
                                  example: 0.23
                                cpuAfterRollback:
                                  type: number
                                  description: The cpu after the rollback
                                  example: 0.33
                                memoryAtRollback:
                                  type: number
                                  description: The memory at the time of the rollback
                                  example: 128
                                memoryAfterRollback:
                                  type: number
                                  description: The memory after the rollback
                                  example: 185
                              example:
                                clusterIdentifier: test-k8s
                                namespace: kube-system
                                resourceType: deployment
                                resourceName: resource-name
                                rollbackType: OUT_OF_MEMORY
                                rollbackTime: 2024-11-01T10:50:29.000+0000
                                cpuAtRollback: 0.23
                                cpuAfterRollback: 0.33
                                memoryAtRollback: 128
                                memoryAfterRollback: 185
                          kind:
                            example: mcs:ocean:rightsizing:rollback
                        example:
                          items:
                            - clusterIdentifier: test-k8s
                              namespace: kube-system
                              resourceType: deployment
                              resourceName: resource-name
                              rollbackType: OUT_OF_MEMORY
                              rollbackTime: 2024-11-01T10:50:29.000+0000
                              cpuAtRollback: 0.23
                              cpuAfterRollback: 0.33
                              memoryAtRollback: 128
                              memoryAfterRollback: 185
                          kind: mcs:ocean:rightsizing:rollback
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/rollbacks/acknowledge:
    post:
      summary: Acknowledge Rightsizing Rollbacks
      description: |
        Acknowledge rightsizing rollbacks For ocean cluster.
      operationId: AcknowledgeRightsizingRollbacks
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - &ref_30
          in: query
          name: clusterIdentifier
          schema:
            type: string
          required: true
          example: dev-cluster
          description: |
            Identifier of cluster.
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    acknowledgeRollbacks:
                      type: array
                      items:
                        type: object
                        properties:
                          namespace:
                            type: string
                            description: The namespace of the workload
                            example: kube-system
                          resourceType:
                            type: string
                            description: The type of the resource
                            example: deployment
                          resourceName:
                            type: string
                            description: The name of the resource
                            example: resource-name
                        example:
                          namespace: kube-system
                          resourceType: deployment
                          resourceName: resource-name
      responses:
        '200':
          description: Ocean Rightsizing Acknowledge Rollbacks Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_29
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/cluster/configuration:
    post:
      summary: Set Rightsizing Cluster configuration
      description: |
        Set Cluster Configuration for the Ocean Cluster.
        <br />
        <br />
        **This action can take a few minutes to complete.**
      operationId: SetClusterConfiguration
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_30
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - config
                  properties:
                    config:
                      type: object
                      minProperties: 1
                      properties:
                        recommendationsCpuPercentile:
                          type: integer
                          description: Change the cpu percentile that the right-sizing recommendations calculation will take into account.
                          example: 85
                          enum:
                            - 85
                            - 90
                            - 95
                            - 99
                        recommendationsMemoryPercentile:
                          type: integer
                          description: Change the memory percentile that the right-sizing recommendations calculation will take into account.
                          example: 85
                          enum:
                            - 85
                            - 90
                            - 95
                            - 100
                        downsideOnly:
                          type: boolean
                          description: When set to 'true', only downscale recommendations will be applied.
                          example: false
                          default: false
                        adjustLimitOnDownsize:
                          type: boolean
                          description: When set to 'true', the limit will be adjusted when downscale recommendations are applied.
                          example: true
                          default: false
                      example:
                        recommendationsCpuPercentile: 85
                        recommendationsMemoryPercentile: 85
                        downsideOnly: false
                        adjustLimitOnDownsize: true
      responses:
        '200':
          description: Ocean Cluster configuration Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/cluster/configuration
                          method:
                            example: POST
                        example:
                          url: /ocean/{oceanId}/rightSizing/cluster/configuration
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                oceanId:
                                  type: string
                                  example: o-abcd1234
                                clusterIdentifier:
                                  type: string
                                  example: dev-cluster
                                config:
                                  type: object
                                  properties:
                                    recommendationsCpuPercentile:
                                      type: integer
                                      example: 85
                                    recommendationsMemoryPercentile:
                                      type: integer
                                      example: 85
                                    downsideOnly:
                                      type: boolean
                                      example: false
                                    adjustLimitOnDownsize:
                                      type: boolean
                                      example: true
                                  example:
                                    recommendationsCpuPercentile: 85
                                    recommendationsMemoryPercentile: 85
                                    downsideOnly: false
                                    adjustLimitOnDownsize: true
                              example:
                                oceanId: o-abcd1234
                                clusterIdentifier: dev-cluster
                                config:
                                  recommendationsCpuPercentile: 85
                                  recommendationsMemoryPercentile: 85
                                  downsideOnly: false
                                  adjustLimitOnDownsize: true
                          kind:
                            example: mcs:ocean:rightSizing:clusterConfiguration
                        example:
                          items:
                            - oceanId: o-abcd1234
                              clusterIdentifier: dev-cluster
                              config:
                                recommendationsCpuPercentile: 85
                                recommendationsMemoryPercentile: 85
                                downsideOnly: false
                                adjustLimitOnDownsize: true
                          kind: mcs:ocean:rightSizing:clusterConfiguration
        '400':
          description: Bad Request
    get:
      summary: Get Rightsizing Cluster configuration
      description: |
        Get Cluster Configuration for the Ocean Cluster.
        <br />
        <br />
        **This action can take a few minutes to complete.**
      operationId: GetClusterConfiguration
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_30
        - *ref_16
      responses:
        '200':
          description: Ocean Cluster configuration Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/{oceanId}/rightSizing/cluster/configuration
                          method:
                            example: GET
                        example:
                          url: /ocean/{oceanId}/rightSizing/cluster/configuration
                          method: GET
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                oceanId:
                                  type: string
                                  example: o-abcd1234
                                clusterIdentifier:
                                  type: string
                                  example: dev-cluster
                                config:
                                  type: object
                                  properties:
                                    recommendationsCpuPercentile:
                                      type: integer
                                      example: 85
                                    recommendationsMemoryPercentile:
                                      type: integer
                                      example: 85
                                    downsideOnly:
                                      type: boolean
                                      example: false
                                    adjustLimitOnDownsize:
                                      type: boolean
                                      example: true
                                  example:
                                    recommendationsCpuPercentile: 85
                                    recommendationsMemoryPercentile: 85
                                    downsideOnly: false
                                    adjustLimitOnDownsize: true
                              example:
                                oceanId: o-abcd1234
                                clusterIdentifier: dev-cluster
                                config:
                                  recommendationsCpuPercentile: 85
                                  recommendationsMemoryPercentile: 85
                                  downsideOnly: false
                                  adjustLimitOnDownsize: true
                          kind:
                            example: mcs:ocean:rightSizing:clusterConfiguration
                        example:
                          items:
                            - oceanId: o-abcd1234
                              clusterIdentifier: dev-cluster
                              config:
                                recommendationsCpuPercentile: 85
                                recommendationsMemoryPercentile: 85
                                downsideOnly: false
                                adjustLimitOnDownsize: true
                          kind: mcs:ocean:rightSizing:clusterConfiguration
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/savings:
    post:
      summary: Get Ocean Right-Sizing Savings
      description: |
        Get right-sizing savings from downsizing operations for an Ocean cluster.
      operationId: oceanRightsizingSavings
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  title: Ocean Right-Sizing Savings
                  description: |
                    Determines the Ocean right-sizing savings
                  required:
                    - clusterIdentifier
                    - endTime
                    - startTime
                    - workloads
                  properties:
                    clusterIdentifier:
                      type: string
                      example: my-cluster
                      description: |
                        Identifier of the Ocean cluster.
                    startTime:
                      type: string
                      example: '2025-01-20T11:35:02.745Z'
                      description: |
                        Start date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    endTime:
                      type: string
                      example: '2025-01-30T11:30:01.745Z'
                      description: |
                        End date value using either the date format "yyyy-MM-dd'T'HH:mm:ss'Z'" or ms "1494751821472".
                    workloads:
                      title: Ocean Right-Sizing Savings Workloads
                      description: |
                        Determines the Ocean Savings filtering by the combinations of namespace::workload
                      type: object
                      properties:
                        namespaceName:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the workload
                                workloadType:
                                  type: string
                                  description: The type of the workload (e.g., Deployment, DaemonSet, StatefulSet)
                      example:
                        namespaceName1:
                          - name: workloadName1
                            workloadType: Deployment
                          - name: workloadName2
                            workloadType: DaemonSet
                        namespaceName2:
                          - name: workloadName3
                            workloadType: StatefulSet
                          - name: workloadName4
                            workloadType: Deployment
      responses:
        '200':
          description: Ocean right-sizing savings response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/o-abcd1234/rightSizing/savings
                          method:
                            example: POST
                        example:
                          url: /ocean/o-abcd1234/rightSizing/savings
                          method: POST
                      response:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              title: Ocean Right-Sizing Savings Response
                              description: |
                                Right-sizing savings response object
                              properties:
                                totalSavingsSummary:
                                  type: object
                                  description: A summary of the savings for all the workloads in the response
                                  properties:
                                    cpuWithOcean:
                                      type: number
                                    memoryWithOcean:
                                      type: number
                                    savings:
                                      type: number
                                    percentage:
                                      type: number
                                namespacesSavingsSummary:
                                  type: array
                                  description: A summary of the savings for each namespace in the response
                                  items:
                                    type: object
                                    properties:
                                      namespace:
                                        type: string
                                      savings:
                                        type: number
                                workloadSavings:
                                  type: array
                                  description: A list of the savings for each workload in the response
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      workloadType:
                                        type: string
                                      namespace:
                                        type: string
                                      cpuWithOcean:
                                        type: number
                                      cpuWithoutOcean:
                                        type: number
                                      memoryWithOcean:
                                        type: number
                                      memoryWithoutOcean:
                                        type: number
                                      savings:
                                        type: number
                                      workloadDeleted:
                                        type: boolean
                            example: &ref_31
                              - totalSavingsSummary:
                                  cpuWithOcean: 100,
                                  memoryWithOcean: 128,
                                  savings: 1000,
                                  percentage: 0.75
                                namespacesSavingsSummary:
                                  - namespace: kube-system
                                    savings: 500
                                  - namespace: default
                                    savings: 500
                                workloadSavings:
                                  - name: coredns
                                    workloadType: Deployment
                                    namespace: kube-system
                                    cpuWithOcean: 25
                                    cpuWithoutOcean: 50
                                    memoryWithOcean: 32
                                    memoryWithoutOcean: 64
                                    savings: 250
                                    workloadDeleted: true
                                  - name: aws-node
                                    workloadType: DaemonSet
                                    namespace: kube-system
                                    cpuWithOcean: 25
                                    cpuWithoutOcean: 50
                                    memoryWithOcean: 32
                                    memoryWithoutOcean: 64
                                    savings: 250
                                    workloadDeleted: false
                          count:
                            example: 1
                          kind:
                            example: mcs:ocean:rightSizing:savings
                        example:
                          items: *ref_31
                          count: 1
                          kind: mcs:ocean:rightSizing:savings
        '400':
          description: Bad Request
  /ocean/{oceanId}/rightSizing/namespaces/{namespace}/{workloadType}/{workloadName}/recommendation-application-history:
    get:
      summary: Get Workload Recommendation Application History
      description: |
        Returns a set of recommendation application history records associated with workload.
      operationId: getWorkloadRecommendationApplicationHistory
      tags:
        - Ocean Automatic Rightsizing
      parameters:
        - *ref_15
        - *ref_32
        - *ref_33
        - *ref_34
        - *ref_16
        - in: query
          name: offset
          schema:
            type: integer
            format: int16
            default: 0
            minimum: 0
            example: 0
          required: false
          description: |
            Number of entries to skip before returning page.
        - in: query
          name: limit
          schema:
            type: integer
            format: int16
            default: 100
            minimum: 1
            maximum: 200
          required: false
          example: 100
          description: |
            Number of entries to return.
      responses:
        '200':
          description: Ocean Rightsizing Recommendation Application History Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_17
                  - type: object
                    properties:
                      request:
                        type: object
                        properties:
                          url:
                            example: /ocean/o-abcd1234/rightSizing/namespaces/kube-system/deployment/redis-controller/recommendation-application-history
                          method:
                            example: GET
                        example:
                          url: /ocean/o-abcd1234/rightSizing/namespaces/kube-system/deployment/redis-controller/recommendation-application-history
                          method: GET
                      response:
                        type: object
                        properties:
                          kind:
                            example: mcs:ocean:rightSizing:recommendationApplicationHistory
                          items:
                            type: array
                            items:
                              type: object
                              title: Recommendation Application History
                              description: |
                                A page of recommendation application history records.
                              properties:
                                page:
                                  type: array
                                  items:
                                    type: object
                                    title: Recommendation Application Item
                                    description: |
                                      A single recommendation application history record for a container.
                                    properties:
                                      containerName:
                                        type: string
                                        description: Name of the container.
                                        example: my-app-container
                                      actionType:
                                        type: string
                                        description: The type of action that was taken or the reason it was not applied.
                                        enum:
                                          - APPLIED
                                          - CPU_ONLY_APPLIED
                                          - MEMORY_ONLY_APPLIED
                                          - OUTSIDE_OF_TIME_WINDOW
                                          - THRESHOLD_NOT_MET
                                          - HPA_RESTRICTED
                                          - UNSUPPORTED_HPA
                                          - INVALID_HPA
                                          - PRELIMINARY_RESTRICTED
                                        example: APPLIED
                                      currentResources: &ref_35
                                        type: object
                                        title: Compute Resource
                                        description: |
                                          Represents CPU and memory resource values.
                                        properties:
                                          cpu:
                                            type: integer
                                            format: int32
                                            description: CPU resource value in millicores.
                                            example: 4000
                                          memory:
                                            type: integer
                                            format: int32
                                            description: Memory resource value in MiB.
                                            example: 16000
                                        example:
                                          cpu: 4000
                                          memory: 16000
                                      recommendedResources: *ref_35
                                      occurredAt:
                                        type: integer
                                        format: int64
                                        description: Timestamp (epoch millis) when the action occurred.
                                        example: 1776178797289
                                      ruleName:
                                        type: string
                                        description: Name of the rightsizing rule that triggered this action.
                                        example: my-app-rule
                                    example:
                                      containerName: my-app-container
                                      actionType: APPLIED
                                      currentResources:
                                        cpu: 4000
                                        memory: 16000
                                      recommendedResources:
                                        cpu: 4000
                                        memory: 16000
                                      occurredAt: 1776178797289
                                      ruleName: my-app-rule
                              example:
                                page:
                                  - containerName: my-app-container
                                    actionType: APPLIED
                                    currentResources:
                                      cpu: 4000
                                      memory: 16000
                                    recommendedResources:
                                      cpu: 4000
                                      memory: 16000
                                    occurredAt: 1776178797289
                                    ruleName: my-app-rule
                            example: &ref_36
                              - page:
                                  - containerName: my-app-container
                                    actionType: APPLIED
                                    currentResources:
                                      cpu: 4000
                                      memory: 16000
                                    recommendedResources:
                                      cpu: 2000
                                      memory: 8000
                                    occurredAt: 1776178797289
                                    ruleName: my-app-rule
                          count:
                            example: 1
                        example:
                          kind: mcs:ocean:rightSizing:recommendationApplicationHistory
                          items: *ref_36
                          count: 1
        '400':
          description: Invalid request provided
        '404':
          description: Non existent resource has been queried
        '422':
          description: Business rule violated
