openapi: 3.0.0
info:
  version: '1.0'
  description: |
    Welcome to the Spot by Flexera OpenAPI Specification.
    Here you will find REST definitions for all Spot products and platform administration tasks.

    The API is hosted at `https://api.spotinst.io` and requires Bearer Token
    Authentication.

    For more information on how to use the Spot platform, including user guides,
    developer guides, concepts, and tutorials, see the external [Spot Documentation](https://docs.flexera.com/spot/).
  title: Spot by Flexera API - Administration
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: SpotByFlexeraLogo
    href: https://spec.dev.spot.io
  contact:
    email: support@spot.io
servers:
  - url: https://api.spotinst.io
security:
  - auth: []
components:
  securitySchemes:
    auth:
      description: |
        To generate bearer tokens and understand more about Spot by Flexera
        authentication see the howto for
        [token creation](https://docs.flexera.com/spot/administration/api/create-api-token)
        on the Spot Help site.

        ### Organizations and Accounts

        Each Spot account is assigned to an organization and a set of environment Accounts.
        An account is then linked to a specific cloud provider account.

        Spot accounts are given an ID in the format `act-123abcd` that is sent as a query parameter while performing API calls.

        To locate the account ID navigate to Settings -> Account in the Spot console.

        ### Organizations with a Single Account
        Each API call you make can be used with or without the account ID.

        ### Organizations with Multiple Accounts
        Each API call you make should be appended to the account ID. For example:

        GET `https://api.spotinst.io/aws/ec2/group?accountId=act-123de678`
        This call will return the list of Elastigroups for the specific Account used.

        > NOTE: If no `accountId` is provided, the default (dldest) account for the Organization will be used.
      type: http
      scheme: bearer
    authWithoutAccount:
      description: |
        To generate bearer tokens and learn more about Spot by Flexera
        authentication, see [token creation](https://docs-spot.flexera.com/administration/api/create-api-token).
      type: http
      scheme: bearer
tags:
  - name: Organizations
    description: Manage your Spot organizations.
    externalDocs:
      description: Organizations Documentation
      url: https://docs.flexera.com/spot/administration/
  - name: Accounts
    description: Manage your Spot accounts.
    externalDocs:
      description: Accounts Documentation
      url: https://docs.flexera.com/spot/administration/
paths:
  /setup/account/{accountId}:
    put:
      summary: Update Account
      description: |
        Update information in an account such as the account name and slack channel. To use this command, permissions for organization admin are required. Granular permissions will require access policies with the following actions: setup:updateAccount
      operationId: OrganizationsAndAccountsUpdateAccount
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountId
          example: act-123456789
          description: |
            The ID of the account you want to update.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - account
                  properties:
                    account:
                      type: object
                      description: Used for updating items in an account.
                      properties:
                        slackNotificationChannels:
                          type: array
                          description: List of strings containing the URLs of the slack channels to be added.
                          items:
                            type: string
                            example: &ref_0
                              - https://hooks.slack.com/services/SLACK_ID
                              - https://hooks.slack.com/services/SLACK_ID
                        name:
                          type: string
                          description: The new name of the account. Cannot be null or empty.
                          example: ACCOUNT_NAME
                      example:
                        slackNotificationChannels:
                          - *ref_0
                        name: ACCOUNT_NAME
      responses:
        '200':
          description: Update Account Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/account/act-4fb595c6?accountId=act-4fb595c6
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: PUT
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/account/act-4fb595c6?accountId=act-4fb595c6
                          method: PUT
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
    delete:
      summary: Delete Account
      description: |
        Delete a Spot Account. The Spot Account ID can be obtained from your Spot console via the following link: https://console.spotinst.com/#/settings/account/general . Note This cannot be undone – take caution. Only Organization Admins can perform this action. In case you want to delete your default Spot account which is the account visible when you first log in please contact Support.
      operationId: OrganizationsAndAccountsDeleteAccount
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountId
          example: act-123456789
          description: |
            The ID of the account you want to delete.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Delete Account Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/account/act-123456
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: DELETE
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/account/act-123456
                          method: DELETE
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
  /setup/user:
    get:
      summary: Get Users
      description: |
        Get all users in the organization, their details, and mapped accounts. Providing the optional account ID parameter will filter out all users not mapped to that account.
      operationId: GetAccountsUsers
      tags:
        - Accounts
      parameters:
        - in: query
          name: accountId
          example: act-123abc
          description: |
            ID of the account you would like to get retrieve users from
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Get Account Users Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/user?accountId=act-123456789
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: GET
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/user?accountId=act-123456789
                          method: GET
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: spotinst:aws:ec2:group:log
                            description: |
                              The data type of each item in the response
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    mappedAccountIds:
                                      type: string
                                      description: A list of account IDs
                                      example:
                                        - act-0b18f123
                                        - act-0b18f124
                                        - act-0b18f125
                                    userId:
                                      type: string
                                      description: User ID
                                      example: u-19265
                                    displayName:
                                      type: string
                                      description: The name
                                      example: test
                                    email:
                                      type: string
                                      description: Email
                                      example: test@spot.io
                                - type: object
                                  properties:
                                    mappedAccountIds:
                                      type: string
                                      description: A list of account IDs
                                      example:
                                        - act-0b18f123
                                        - act-0b18f124
                                        - act-0b18f125
                                    userId:
                                      type: string
                                      description: User ID
                                      example: u-19266
                                    displayName:
                                      type: string
                                      description: The name
                                      example: test
                                    email:
                                      type: string
                                      description: Email
                                      example: abc@google.com
                            example: &ref_1
                              - mappedAccountIds:
                                  - act-0b18f123
                                  - act-0b18f124
                                  - act-0b18f125
                                userId: u-19265
                                displayName: test
                                email: test@spot.io
                              - mappedAccountIds:
                                  - act-0b18f123
                                  - act-0b18f124
                                  - act-0b18f125
                                userId: u-19266
                                displayName: test
                                email: abc@google.com
                          count:
                            type: integer
                            example: 2
                            description: |
                              Size of the data object array
                        example:
                          kind: spotinst:aws:ec2:group:log
                          items: *ref_1
                          count: 2
        '400':
          description: Bad Request
    post:
      summary: Create User
      description: Create a new user and link it to the creator's organization (the organization ID from the personal token attached to the API call). If the role is a viewer, the user is also linked to the default account for the organization.
      operationId: OrganizationsAndAccountsCreateUser
      tags:
        - Organizations
      parameters:
        - in: query
          name: generateToken
          example: true
          description: |
            If `true`, then the response will include `personalAccessToken` string
          schema:
            type: boolean
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    firstName:
                      type: string
                      description: |
                        The first name of the user. Note: names cannot include these characters: + = @
                      example: Test
                    lastName:
                      type: string
                      description: |
                        The last name of the user. Note: names cannot include these characters: + = @
                      example: Test
                    email:
                      type: string
                      description: Email
                      example: test@spot.io
                    password:
                      type: string
                      description: Password
                      example: password1234
                    role:
                      type: string
                      description: User's role
                      example: viewer
      responses:
        '200':
          description: Create User Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/user/?generateToken=true
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: POST
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/user/?generateToken=true
                          method: POST
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: spotinst:setup:user
                            description: |
                              The data type of each item in the response
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items:
                              type: object
                              title: spotinst:setup:user
                              properties:
                                id:
                                  type: integer
                                  description: User's old ID (DEPRECATED)
                                  example: 9056
                                firstName:
                                  type: string
                                  description: First Name
                                  example: Test
                                lastName:
                                  type: string
                                  description: Last Name
                                  example: Test
                                displayName:
                                  type: string
                                  description: First Name + Last Name
                                  example: Test Test
                                email:
                                  type: string
                                  description: Email
                                  example: test@gmail.com
                                organizationId:
                                  type: integer
                                  description: ID of Organization in Spot Console
                                  example: 606079860000
                                personalAccessToken:
                                  type: integer
                                  description: ID of Organization in Spot Console
                                  example: ...
                                userId:
                                  type: string
                                  description: User's ID
                                  example: u-1a2b3c4d
                              example:
                                id: 9056
                                firstName: Test
                                lastName: Test
                                displayName: Test Test
                                email: test@gmail.com
                                organizationId: 606079860000
                                personalAccessToken: ...
                                userId: u-1a2b3c4d
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          kind: spotinst:setup:user
                          items:
                            - id: 9056
                              firstName: Test
                              lastName: Test
                              displayName: Test Test
                              email: test@gmail.com
                              organizationId: 606079860000
                              personalAccessToken: ...
                              userId: u-1a2b3c4d
                          count: 1
        '400':
          description: Bad Request
  /setup/organization/user:
    get:
      summary: Get Users
      description: |
        Get all the users of the organization.
      operationId: GetOrganizationUsers
      tags:
        - Organizations
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_3
                    type: object
                    allOf:
                      - &ref_6
                        type: object
                        properties:
                          request:
                            type: object
                            description: |
                              Original request properties.
                            properties:
                              id:
                                type: string
                                example: e593ff58-067d-4340-92f9-8b1c0bad70d7
                                description: |
                                  Unique identifier associated with this request.
                              url:
                                type: string
                                description: |
                                  The URL that was used for the request.
                              method:
                                type: string
                                description: |
                                  The HTTP **METHOD** used for the request.
                              timestamp:
                                type: string
                                example: '2018-06-20T11:35:01.745Z'
                                description: |
                                  When the request was received by Spot.
                            example:
                              id: e593ff58-067d-4340-92f9-8b1c0bad70d7
                              timestamp: '2018-06-20T11:35:01.745Z'
                          response:
                            type: object
                            description: |
                              Response package that includes status, type, and any relevant data.
                            properties:
                              status:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    example: 200
                                    description: |
                                      HTTP status code assigned to this response.
                                  message:
                                    type: string
                                    example: OK
                                    description: |
                                      HTTP status message for the respective status code.
                                example:
                                  code: 200
                                  message: OK
                            example:
                              status:
                                code: 200
                                message: OK
                      - type: object
                        properties:
                          response:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 1
                                description: |
                                  Size of the data object array.
                              kind:
                                type: string
                                description: |
                                  The data type of each item in the response.
                            example:
                              count: 1
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/organization/user
                          method: GET
                          timestamp: '2018-08-20T15:31:12.730Z'
                      response:
                        properties:
                          kind:
                            example: spotinst:setup:organization:user
                          count:
                            example: 2
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                userId:
                                  type: string
                                  description: user id
                                username:
                                  type: string
                                  description: user name
                                type:
                                  type: string
                                  enum:
                                    - personal
                                    - programmatic
                                  description: user type
                                email:
                                  type: string
                                  description: user's email
                                mfa:
                                  type: boolean
                                  description: is validated by mfa
                                groupNames:
                                  type: array
                                  description: A list of the groups names that the given user is registered to
                                  items:
                                    type: string
                            example: &ref_2
                              - userId: u-a1b2c3d4
                                username: John Doe
                                type: personal
                                email: john.doe@company.com
                                mfa: 'false'
                                groupNames:
                                  - Developers
                                  - DevOps
                              - userId: u-4d3c2b1a
                                userName: Jane Doe
                                type: personal
                                email: jane.doe@company.com
                                mfa: 'true'
                                groupNames:
                                  - DevOps
                                  - IT
                        example:
                          kind: spotinst:setup:organization:user
                          count: 2
                          items: *ref_2
        '400':
          description: Bad Request
  /setup/organization/policy:
    get:
      summary: Get Policies
      description: |
        Get all the policies of the organization.
      operationId: GetOrganizationPolicies
      tags:
        - Organizations
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_3
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/organization/policy
                          method: GET
                          timestamp: '2018-08-20T15:31:12.730Z'
                      response:
                        properties:
                          kind:
                            example: spotinst:setup:organization:policy
                          count:
                            example: 2
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: policy id
                                name:
                                  type: string
                                  description: policy name
                                description:
                                  type: string
                                  description: policy description
                                type:
                                  type: string
                                  enum:
                                    - ACCOUNT
                                    - ORGANIZATION
                                  description: policy type
                                policyContent:
                                  type: object
                                  properties:
                                    statements:
                                      type: array
                                      description: policy statements
                                      items:
                                        type: object
                                        properties:
                                          effect:
                                            type: string
                                            description: ALLOW / DENY
                                          actions:
                                            type: array
                                            description: actions that the policy covers (can be with regex expressions)
                                            items:
                                              type: string
                                          resources:
                                            type: array
                                            description: resources that the policy covers (can be with regex expressions)
                                            items:
                                              type: string
                            example: &ref_4
                              - id: pol-a1b2c3d4
                                name: Developers
                                description: A policy that contains permissions for developers
                                type: ORGANIZATION
                                policyContent:
                                  statements:
                                    - effect: ALLOW
                                      actions:
                                        - elastigroup:createGroup
                                        - elastigroup:updateGroup
                                      resources:
                                        - '*'
                                createdAt: 2021-12-19T13:44:13.000+0000
                                updatedAt: 2022-01-02T22:04:29.000+0000
                              - id: pol-87654321
                                name: DevOps
                                description: A policy that contains permissions for DevOps
                                type: ACCOUNT
                                policyContent:
                                  statements:
                                    - effect: ALLOW
                                      actions:
                                        - setup:updatePolicy
                                      resources:
                                        - '*'
                                createdAt: 2021-12-19T13:44:13.000+0000
                                updatedAt: 2022-01-02T22:04:29.000+0000
                        example:
                          kind: spotinst:setup:organization:policy
                          count: 2
                          items: *ref_4
        '400':
          description: Bad Request
  /setup/user/{userId}:
    get:
      summary: Get User Details
      description: |
        Get all the details of a given user.
      operationId: GetUserDetails
      tags:
        - Organizations
      parameters:
        - &ref_7
          in: path
          name: userId
          example: u-1234abcd
          description: |
            Identifier of a user.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_3
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/user/u-1234abcd
                          method: GET
                          timestamp: '2018-08-20T15:31:12.730Z'
                      response:
                        properties:
                          kind:
                            example: spotinst:setup:access:user
                          count:
                            example: 1
                          items:
                            type: object
                            properties:
                              userId:
                                type: string
                                description: user id
                              username:
                                type: string
                                description: user name
                              type:
                                type: string
                                enum:
                                  - personal
                                  - programmatic
                                description: user type
                              email:
                                type: string
                                description: user's email
                              mfa:
                                type: boolean
                                description: is validated by mfa
                              groups:
                                type: array
                                description: the groups that the given user is registered to
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: user group id
                                    name:
                                      type: string
                                      description: user group name
                                    policyNames:
                                      type: array
                                      description: The names of the policies registered under the given group
                                      items:
                                        type: string
                              policies:
                                type: array
                                description: The policies registered under the given group
                                items:
                                  type: object
                                  properties:
                                    policyId:
                                      type: string
                                      description: the ID of the given policy
                                    policyName:
                                      type: string
                                      description: the name of the given policy
                                    policyType:
                                      type: string
                                      description: the type of the given policy
                                    accountIds:
                                      type: array
                                      description: the IDs of the accounts registered under the given policy
                                      items:
                                        type: string
                              tokens:
                                type: array
                                description: metadata of the tokens registered to the user
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the given token, given by the creating user
                                    createdAt:
                                      type: string
                                      description: Datetime of token creation
                                    tokenId:
                                      type: integer
                                      description: Serial identifier of given token
                                    tokenLastDigits:
                                      type: string
                                      description: Last digits of given token value, to assist with identification
                            example: &ref_5
                              userId: u-a1b2c3d4
                              username: John Doe
                              type: personal
                              email: john.doe@company.com
                              mfa: 'false'
                              groups:
                                - id: ugr-12345678
                                  name: DevOps
                                  policyNames:
                                    - DevOps-PROD
                                    - DevOps-DEV
                                    - IT
                                - id: ugr-87654321
                                  name: IT
                                  policyNames:
                                    - IT
                              policies:
                                - policyId: pol-12345678
                                  policyName: TriggerDeployment
                                  policyType: ACCOUNT
                                  accountIds:
                                    - act-12345678
                                    - act-87654321
                                - policyId: pol-87654321
                                  policyName: UpdateScheduling
                                  policyType: ORGANIZATION
                                  accountIds: []
                              tokens:
                                - name: my_sweet_token
                                  createdAt: 2020-06-01T12:17:51.000+000
                                  tokenId: 11111
                                  tokenLastDigits: '2323'
                        example:
                          kind: spotinst:setup:access:user
                          count: 1
                          items: *ref_5
        '400':
          description: Bad Request
    delete:
      summary: Delete user
      description: |
        Delete a given user(console or programmatic) from organization.
      operationId: DeleteUser
      tags:
        - Organizations
      parameters:
        - in: path
          name: userId
          example: u-1234abcd or pu-87654321
          description: |
            Identifier of a user.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_6
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/user/u-1234abcd
                          method: DELETE
                          timestamp: '2018-08-20T15:31:12.730Z'
        '400':
          description: Bad Request
  /setup/user/{userId}/userGroupMapping:
    put:
      summary: User - Update User Group Mapping
      description: |
        Update the mapping of a given user to user groups
      operationId: userUpdateUserGroupMapping
      tags:
        - Organizations
      parameters:
        - *ref_7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    userGroupIds:
                      type: array
                      items:
                        type: string
                      description: A list of the user groups to register the given user to (should be existing user groups only)
                  example:
                    userGroupIds:
                      - ugr-12345678
                      - ugr-87654321
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_6
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/user/u-1234abcd/userGroupMapping
                          method: PUT
                          timestamp: '2018-08-20T15:31:12.730Z'
        '400':
          description: Bad Request
  /setup/user/{userId}/policyMapping:
    put:
      summary: User - Update Policy Mapping
      description: |
        Update the mapping of a given user directly to policies
      operationId: userUpdatePolicyMapping
      tags:
        - Organizations
      parameters:
        - *ref_7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    policies:
                      type: array
                      description: Existing policies to assign to this user.
                      example: null
                      items:
                        type: object
                        properties:
                          policyId:
                            type: string
                            description: Existing policy ID to assign to this user.
                          accountIds:
                            type: array
                            description: The account IDs to assign to this user. Use "*" if you want to include all current accounts and any accounts created in the future.
                            items:
                              type: string
                  example:
                    policies:
                      - policyId: pol-12345678
                        accountIds:
                          - '*'
                      - policyId: pol-87654321
                        accountIds:
                          - act-12345678
                          - act-87654321
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_6
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/user/u-1234abcd/policyMapping?accountId=act-567c21
                          method: PUT
                          timestamp: '2018-08-20T15:31:12.730Z'
        '400':
          description: Bad Request
  /setup/accountUserMapping:
    get:
      summary: Get User
      description: |
        Get user's account mapping
      operationId: OrganizationsAndAccountsGetUser
      tags:
        - Organizations
      parameters:
        - in: query
          name: userEmail
          example: test@spot.io
          description: |
            Target user email address
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Get User Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /accountUserMapping?userEmail=test@spot.io
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: GET
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /accountUserMapping?userEmail=test@spot.io
                          method: GET
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: spotinst:aws:ec2:group:log
                            description: |
                              The data type of each item in the response
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    accountId:
                                      type: string
                                      description: User's account ID
                                      example: act-1234592
                                    role:
                                      type: string
                                      description: Role identifies the scope of actions - user is able to perform
                                      example: editor
                                - type: object
                                  properties:
                                    accountId:
                                      type: string
                                      description: User's account ID
                                      example: act-1234593
                                    role:
                                      type: string
                                      description: Role identifies the scope of actions - user is able to perform
                                      example: viewer
                            example: &ref_8
                              - accountId: act-1234592
                                role: editor
                              - accountId: act-1234593
                                role: viewer
                          count:
                            type: integer
                            example: 2
                            description: |
                              Size of the data object array
                        example:
                          kind: spotinst:aws:ec2:group:log
                          items: *ref_8
                          count: 2
        '400':
          description: Bad Request
    post:
      summary: Assign Users to Accounts
      description: |
        Assign users to accounts in bulk. Only accounts under the creator's own organization are allowed. Creator's organization ID is taken from the personal token attached to the API call.
      operationId: OrganizationsAndAccountsAssignUsersToAccounts
      tags:
        - Accounts
      parameters:
        - &ref_14
          in: query
          name: accountId
          example: act-123456789
          description: |
            The ID of the account associated with your token.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Assign role based users
                  properties:
                    mappings:
                      type: array
                      description: Mappings objects include user, accountID and role.
                      items:
                        anyOf:
                          - type: object
                            properties:
                              userId:
                                type: string
                                description: One of userEmail / userId is required. identify user by its user ID
                                example: u-1234
                              accountId:
                                type: string
                                description: Account for which to provide the specified user with the specified role.
                                example: act-123abc
                              role:
                                type: string
                                description: Valid values "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                                example: editor
                          - type: object
                            properties:
                              userId:
                                type: string
                                description: One of userEmail / userId is required. identify user by its user ID
                                example: u-1234
                              accountId:
                                type: string
                                description: Account for which to provide the specified user with the specified role.
                                example: act-123abc
                              permissionStrategy:
                                type: string
                                description: Set the user permissions type, by role or by access policy. Valid values "ROLE_BASED", "POLICY_BASED"
                                example: ROLE_BASED
                              role:
                                type: string
                                description: Valid values "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                                example: editor
                      example:
                        - userId: u-1234
                          accountId: act-123abc
                          role: editor
                        - userId: u-1234
                          accountId: act-123abc
                          permissionStrategy: ROLE_BASED
                          role: editor
                - type: object
                  title: Assign policy based users
                  properties:
                    mappings:
                      type: array
                      description: Mappings objects include user, accountID and role.
                      items:
                        allOf:
                          - type: object
                            properties:
                              userId:
                                type: string
                                description: One of userEmail / userId is required. identify user by its user ID
                                example: u-1234
                              accountId:
                                type: string
                                description: Account for which to provide the specified user with the specified role.
                                example: act-123abc
                              permissionStrategy:
                                type: string
                                description: Set the user permissions type, by role or by access policy. Valid values "ROLE_BASED", "POLICY_BASED"
                                example: POLICY_BASED
                              policyIds:
                                type: array
                                items:
                                  type: string
                                description: Set list of access policies IDs. Required on permissionStrategy = POLICY_BASED
                                example:
                                  - pol-c3e30574
                                  - pol-c3e30575
                          - type: object
                            properties:
                              userEmail:
                                type: string
                                description: One of `userEmail` / `userId` is required. Email of the user, used as a unique identifier.
                                example: test@spot.io
                              accountId:
                                type: string
                                description: Account for which to provide the specified user with the specified role.
                                example: act-123abc
                              role:
                                type: string
                                description: Valid values `viewer`, `editor`. Required when `permissionStrategy = ROLE_BASED`.
                                example: viewer
                      example:
                        - userId: u-1234
                          accountId: act-123abc
                          permissionStrategy: POLICY_BASED
                          policyIds:
                            - pol-c3e30574
                            - pol-c3e30575
                        - userEmail: test@spot.io
                          accountId: act-123abc
                          role: viewer
      responses:
        '200':
          description: Assign Users To Accounts Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/accountUserMapping?accountId=act-4fab9sc6
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: POST
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/accountUserMapping?accountId=act-4fab9sc6
                          method: POST
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
  /setup/organization/{organizationId}:
    delete:
      summary: Delete Organization
      description: |
        Delete a Spot Organization. ID of the organization can be obtained from your Spot console via the following link: https://console.spotinst.com/#/settings/organization/general > Note: This cannot be undone. Take caution.
      operationId: OrganizationsAndAccountsDeleteOrganization
      tags:
        - Organizations
      parameters:
        - in: path
          name: organizationId
          example: 606079812345
          description: |
            ID of the organization you would like to delete
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Delete Organization Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/organization/606079812345
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: DELETE
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/organization/606079812345
                          method: DELETE
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
  /setup/account/{accountId}/user:
    put:
      summary: Update User Permissions
      description: |
        Change the users' permissions for an account (only accounts under the creator's own organization are allowed). Creator's organization ID is taken from the personal token attached to the API call.
      operationId: OrganizationsAndAccountsUpdateAUserPermission
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountId
          example: act-123abc
          description: |
            ID of the account associated with your token
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Update user permissions for editor role
                  properties:
                    userId:
                      type: string
                      description: One of userEmail / userId is required. identify user by its user ID
                      example: u-1234
                    permissionStrategy:
                      type: string
                      description: Set the user permissions type, by role or by access policy. Valid values "ROLE_BASED", "POLICY_BASED"
                      example: POLICY_BASED
                      default: ROLE_BASED
                    role:
                      type: string
                      description: Valid values "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                      example: editor
                - type: object
                  title: Update user permission with access policies
                  properties:
                    userId:
                      type: string
                      description: One of userEmail / userId is required. identify user by its user ID
                      example: u-1234
                    permissionStrategy:
                      type: string
                      description: Set the user permissions type, by role or by access policy. Valid values "ROLE_BASED", "POLICY_BASED"
                      example: POLICY_BASED
                      default: ROLE_BASED
                    policyIds:
                      type: string
                      description: Policy IDs
                      example:
                        - pol-c3e30574
                        - pol-c3e30575
                - type: object
                  title: Update user permission for viewer role
                  properties:
                    userId:
                      type: string
                      description: One of userEmail / userId is required. identify user by its user ID
                      example: u-1234
                    role:
                      type: string
                      description: Valid values "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                      example: viewer
      responses:
        '200':
          description: Update User Permissions Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/account/act-4fb595c6/user/
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: PUT
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/account/act-4fb595c6/user/
                          method: PUT
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
    delete:
      summary: Detach User
      description: |
        Detach a user from an account (only accounts under the creator's own organization are allowed). Creator's organization ID is taken from the personal token attached to the API call.
      operationId: OrganizationsAndAccountsDetachUser
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountId
          example: act-123456789
          description: |
            The ID of the account you want to update.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - userEmail
                  properties:
                    userEmail:
                      type: string
                      description: Email of the user that is going to be deleted
                      example: test@gmail.com
      responses:
        '200':
          description: Detach User Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/account/act-12345678/user/
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: DELETE
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/account/act-12345678/user/
                          method: DELETE
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
    post:
      summary: Set Existing User Permissions
      description: |
        Add a user to the account and set its permissions on the account. Creator's organization ID is taken from the personal token attached to the API call.
      operationId: OrganizationsAndAccountsSetExistingUserPermissions
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountId
          example: act-123456789
          description: |
            The ID of the account you want to update.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Set user permissions for viewer role
                  properties:
                    userEmail:
                      type: string
                      description: One of userEmail / userId is required. identify user by its user ID
                      example: test@spot.io
                    role:
                      type: string
                      description: Valid values - "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                      example: viewer
                - type: object
                  title: Set user permissions for editor role
                  properties:
                    userEmail:
                      type: string
                      description: One of userEmail / userId is required. identify user by its user ID
                      example: test@spot.io
                    role:
                      type: string
                      description: Valid values - "viewer", "editor". Required on permissionStrategy = ROLE_BASED
                      example: editor
      responses:
        '200':
          description: Set Existing User Permissions Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/account/act-4fb765c6/user
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: PUT
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/account/act-4fb765c6/user
                          method: PUT
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
        '400':
          description: Bad Request
  /setup/user/programmatic:
    post:
      summary: Create Programmatic User
      description: This API creates a new programmatic user (not a human user). Use this API to provide privileges to an application that needs to interface with  Spot. Spot returns a token that the programmatic user can use to perform actions with. requires `accounts` or `policies`.
      operationId: OrganizationsAndAccountsCreateProgrammaticUser
      tags:
        - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - name
                  properties:
                    description:
                      type: string
                      description: Brief description of the user.
                      example: test programmatic
                    name:
                      type: string
                      description: |
                        Name of the programmatic user. Note: names cannot include these characters: + = @
                      example: testProgrammaticApi
                    accounts:
                      type: array
                      description: All the accounts the programmatic user will have access to. If used - Cannot be empty.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: |
                              Account ID the programmatic user will have access to.
                            example: act-123
                          role:
                            type: string
                            description: |
                              Role to be associated with the programmatic user for this account.
                            enum:
                              - viewer
                              - editor
                            example: viewer
                        example:
                          id: act-123
                          role: viewer
                    policies:
                      type: array
                      description: All the policies the programmatic user will have access to. If used - Cannot be empty.
                      example:
                        - policyId: pol-12345678
                          accountIds:
                            - '*'
                        - policyId: pol-87654321
                          accountIds:
                            - act-12345678
                            - act-87654321
                      items:
                        type: object
                        properties:
                          policyId:
                            type: string
                            description: |
                              Policy ID the programmatic user will have access to.
                          accountIds:
                            type: array
                            items:
                              type: string
                            description: The accounts to enforce the policy for the user. Use "*" if you want to include all current accounts and any accounts created in the future.
      responses:
        '200':
          description: Create Programmatic User Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: spotinst:setup:programmaticUser
                            description: |
                              The data type of each item in the response
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items:
                              type: object
                              properties:
                                token:
                                  type: string
                                  description: Token
                                  example: f872e7b157866a36229d915aa21cf430f661234568703fd
                                name:
                                  type: string
                                  description: Name
                                  example: TestApi1
                                id:
                                  type: string
                                  description: ID
                                  example: pu-6a6976ab
                              example:
                                token: f872e7b157866a36229d915aa21cf430f661234568703fd
                                name: TestApi1
                                id: pu-6a6976ab
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          kind: spotinst:setup:programmaticUser
                          items:
                            - token: f872e7b157866a36229d915aa21cf430f661234568703fd
                              name: TestApi1
                              id: pu-6a6976ab
                          count: 1
        '400':
          description: Bad Request
  /setup/organization:
    post:
      summary: Create Organization
      description: Create a Spot Organization.
      operationId: OrganizationsAndAccountsCreateOrganization
      tags:
        - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    organization:
                      type: object
                      description: Organization
                      properties:
                        name:
                          type: string
                          description: Provide a name for your organization. The organization name must contain at least one character that is a-z or A-Z
                          example: organizationName
                      example:
                        name: organizationName
      responses:
        '200':
          description: Create Organization Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      request:
                        type: object
                        description: |
                          Original request properties
                        properties:
                          id:
                            type: string
                            example: 46642c7d-bc29-417d-8ce4-79626f00c63c
                            description: |
                              Unique ID associated with this request
                          url:
                            type: string
                            example: /setup/organization
                            description: |
                              The URL that was used for the request
                          method:
                            type: string
                            example: POST
                            description: |
                              The HTTP **METHOD** used for the request
                          timestamp:
                            type: string
                            example: '2018-11-19T13:49:11.911Z'
                            description: |
                              When the request was received by Spot
                        example:
                          id: 46642c7d-bc29-417d-8ce4-79626f00c63c
                          url: /setup/organization
                          method: POST
                          timestamp: '2018-11-19T13:49:11.911Z'
                      response:
                        type: object
                        description: |
                          Response package that includes, status, type and any relevant data.
                        properties:
                          status:
                            type: object
                            properties:
                              code:
                                type: integer
                                example: 200
                                description: |
                                  HTTP status code assigned to this response
                              message:
                                type: string
                                example: OK
                                description: |
                                  HTTP status message for the respective status code
                            example:
                              code: 200
                              message: OK
                        example:
                          status:
                            code: 200
                            message: OK
                  - type: object
                    properties:
                      response:
                        type: object
                        properties:
                          kind:
                            type: string
                            example: spotinst:setup:organization
                            description: |
                              The data type of each item in the response
                          items:
                            type: array
                            description: |
                              Array of data objects
                            items:
                              type: object
                              title: spotinst:setup:organization
                              properties:
                                organizationId:
                                  type: integer
                                  description: Organization ID
                                  example: 12345678
                                organizationName:
                                  type: string
                                  description: Provide a name for your organization. The organization name must contain at least one character that is a-z or A-Z
                                  example: organizationName
                              example:
                                organizationId: 12345678
                                organizationName: organizationName
                          count:
                            type: integer
                            example: 1
                            description: |
                              Size of the data object array
                        example:
                          kind: spotinst:setup:organization
                          items:
                            - organizationId: 12345678
                              organizationName: organizationName
                          count: 1
        '400':
          description: Bad Request
  /setup/access/policyAction:
    get:
      summary: Get Access Policy Actions
      description: Get actions for access policies.
      operationId: OrganizationsAndAccountsGetAccessPolicyAction
      tags:
        - Organizations
      parameters:
        - in: query
          name: name
          example: ocean:updateCluster
          description: |
            The policy action Name that you would like to get the information for
          schema:
            type: string
          required: false
        - in: query
          name: service
          example: ocean
          description: |
            The policy action service that you would like to get the information for
          schema:
            type: string
          required: false
        - in: query
          name: resourcePattern
          example: ocean:o-*
          description: |
            The policy action resource pattern that you would like to get the information for
          schema:
            type: string
          required: false
        - in: query
          name: scope
          example: account
          description: |
            The policy action scope that you would like to get the information for
          schema:
            type: string
          required: false
        - in: query
          name: category
          example: update
          description: |
            The policy action category that you would like to get the information for
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_3
                  - type: object
                    properties:
                      request:
                        example:
                          id: 3ab3fdf7-3af3-46db-9e63-b88cfdac058c
                          url: /setup/access/policyAction?service=ocean&resourcePattern=ocean:ols-*&category=update
                          method: GET
                          timestamp: '2022-04-14T05:05:26.044Z'
                      response:
                        properties:
                          kind:
                            example: spotinst:setup:policyAction
                          count:
                            example: 3
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: action name
                                service:
                                  type: string
                                  description: service name
                                resourcePattern:
                                  type: string
                                  description: resource pattern to use with policy action
                                scope:
                                  type: string
                                  description: permissions level for policy action
                                category:
                                  type: string
                                  description: kind of policy action
                            example: &ref_9
                              - name: ocean:updateLaunchSpec
                                service: ocean
                                resourcePattern: ocean:ols-*
[...]
