openapi: "3.0.0"
info:
  description: "Spotinst API"
  version: "1.0.0"
  title: "Spot API"
  contact:
    email: "support@spot.io"
servers:
  - url: https://api.spotinst.io/
security:
  - BearerAuth: []
externalDocs:
  url: https://help.spot.io/
tags:
  - name: "Elastigroup AWS"
    description: "Elastigroup for Amazon Web Services"
    externalDocs:
      url: https://help.spot.io/elastigroup-for-aws/
  - name: "Elastigroup Azure"
    description: "Elastigroup for Microsoft Azure"
    externalDocs:
      url: https://help.spot.io/spotinst-api/elastigroup/microsoft-azure/spot-vms/
  - name: "Elastigroup Azure Scale Sets"
    description: "Elastigroup for Microsoft Azure"
    externalDocs:
      url: https://help.spot.io/elastigroup-for-azure/
  - name: "Elastigroup Azure Deployment"
    description: "Deployments for Elastigroup on Microsoft Azure"
    externalDocs:
      url: https://help.spot.io/elastigroup-for-azure/
  - name: "Elastigroup GCP"
    description: "Elastigroup for Google Cloud"
    externalDocs:
      url: https://help.spot.io/elastigroup-for-google-cloud/
  - name: "Ocean AWS"
    description: "Ocean - Serverless containers for Amazon Web Services (AWS)"
    externalDocs:
      url: https://help.spot.io/spotinst-api/ocean/ocean-cloud-api/ocean-for-aws/
  - name: "Ocean ECS"
    description: "Ocean - Serverless containers for Amazon Elastic Container Service (ECS)"
    externalDocs:
      url: https://help.spot.io/spotinst-api/ocean/ocean-cloud-api/ocean-for-ecs/
  - name: "Ocean GKE"
    description: "Ocean - Serverless containers for for Google Kubernetes Engine"
    externalDocs:
      url: https://help.spot.io/spotinst-api/ocean/ocean-cloud-api/ocean-for-gke/
  - name: "Ocean On Premises"
    description: "Ocean On-Premise API gives you the ability to understand the cost drivers within you on-prem clusters and compare the costs to running the same exact clusters on Ocean Cloud."
    externalDocs:
      url: https://help.spot.io/spotinst-api/ocean/ocean-on-premises-api/
  - name: "EMR Scaler"
    description: "AWS EMR Scaler"
    externalDocs:
      url: https://help.spot.io/elastigroup-for-aws/services-integrations/elastic-mapreduce/

paths:
  /aws/ec2/group:
    $ref: 'services/elastigroup/aws/paths/groups.yaml'
  /aws/ec2/group/{groupId}:
    $ref: 'services/elastigroup/aws/paths/group.yaml'
  /aws/ec2/group/{groupId}/statefulInstance:
    $ref: 'services/elastigroup/aws/paths/listStatefulInstances.yaml'
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/pause:
    $ref: 'services/elastigroup/aws/paths/pauseStatefulInstances.yaml'
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/resume:
    $ref: 'services/elastigroup/aws/paths/resumeStatefulInstances.yaml'
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/recycle:
    $ref: 'services/elastigroup/aws/paths/recycleStatefulAPI.yaml'
  /aws/ec2/group/{groupId}/statefulInstance/{StatefulInstanceId}/deallocate:
    $ref: 'services/elastigroup/aws/paths/deallocateStatefulAPI.yaml'
  /aws/ec2/statefulMigrationGroup:
    $ref: 'services/elastigroup/aws/paths/statefulMigrationGroups.yaml'
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}:
    $ref: 'services/elastigroup/aws/paths/statefulMigrationGroup.yaml'
  /aws/ec2/statefulMigrationGroup/{statefulMigrationGroupId}/userAction:
    $ref: 'services/elastigroup/aws/paths/terminateStatefulInstanceDuringImportProcess.yaml'
  /aws/ec2/group/{groupId}/status:
    $ref: 'services/elastigroup/aws/paths/status.yaml'
  /aws/ec2/group/{groupId}/events:
    $ref: 'services/elastigroup/aws/paths/events.yaml'
  /aws/ec2/group/{groupId}/logs:
    $ref: 'services/elastigroup/aws/paths/logs.yaml'
  /aws/ec2/group/{groupId}/capacity:
    $ref: 'services/elastigroup/aws/paths/capacity.yaml'
  /aws/ec2/group/{groupId}/scale/up:
    $ref: 'services/elastigroup/aws/paths/scale-up.yaml'
  /aws/ec2/group/{groupId}/scale/down:
    $ref: 'services/elastigroup/aws/paths/scale-down.yaml'
  #/aws/ec2/group/{groupId}/scale/suspendPolicy:
  #  $ref: 'services/elastigroup/aws/paths/suspend-policy.yaml'
  #/aws/ec2/group/{groupId}/suspension:
  #  $ref: 'services/elastigroup/aws/paths/suspension.yaml'
  #/aws/ec2/group/{groupId}/scale/suspensions:
  #  $ref: 'services/elastigroup/aws/paths/suspensions.yaml'
  /aws/ec2/group/{groupId}/scale/resumePolicy:
    $ref: 'services/elastigroup/aws/paths/resume-policy.yaml'
  #/aws/potentialSavings:
  #  $ref: 'services/elastigroup/aws/paths/potential-savings.yaml'
  #/aws/instancePotentialSavings:
  #  $ref: 'services/elastigroup/aws/paths/instances-potential-savings.yaml'
  #/aws/costs:
  #  $ref: 'services/elastigroup/aws/paths/costs.yaml'
  #/aws/ec2/group/{groupId}/costs:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-costs.yaml'
  #/aws/ec2/group/{groupId}/costs/detailed:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-costs-detailed.yaml'
  #/aws/ec2/instance/{instanceId}:
  #  $ref: 'services/elastigroup/aws/paths/instance-status.yaml'
  #/aws/ec2/group/instance/import:
  #  $ref: 'services/elastigroup/aws/paths/import.yaml'
  #/aws/ec2/group/{groupId}/amiBackup:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-ami-backup.yaml'
  #/aws/ec2/group/{groupId}/instanceHealthiness:
  #  $ref: 'services/elastigroup/aws/paths/instance-healthiness.yaml'
  #/aws/ec2/group/{groupId}/detachInstances:
  #  $ref: 'services/elastigroup/aws/paths/detach-instances.yaml'
  #/aws/ec2/group/{groupId}/roll:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-deployment-status.yaml'
  #/aws/ec2/group/{groupId}/roll{rollId}:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-stop-deployment.yaml'
  #/aws/ec2/group/{groupId}/roll/{rollId}:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-deploy-status.yaml'
  #/aws/ec2/group/{groupId}/roll/{rollId}/action:
  #  $ref: 'services/elastigroup/aws/paths/elastigroup-deployment.yaml'
  #/aws/ec2/group/autoScalingGroup/import:
  #  $ref: 'services/elastigroup/aws/paths/import-asg.yaml'
  #/aws/ec2/spotType:
  #  $ref: 'services/elastigroup/aws/paths/get-instance-by-region.yaml'
  #/aws/ec2/instanceTypeRecommendation:
  #  $ref: 'services/elastigroup/aws/paths/suggested-instance-type.yaml'
  #/aws/ec2/instance/interruption:
  #  $ref: 'services/elastigroup/aws/paths/instance-interruption.yaml'
  #/aws/ec2/instance/signal:
  #  $ref: 'services/elastigroup/aws/paths/instance-signal.yaml'
  #/aws/ec2/instance/{instanceId}/lock:
  #  $ref: 'services/elastigroup/aws/paths/instance-lock.yaml'
  #/aws/ec2/instance/{instanceId}/unlock:
  #  $ref: 'services/elastigroup/aws/paths/instance-unlock.yaml'
  #/aws/ec2/instance/{instanceId}/standby/enter:
  #  $ref: 'services/elastigroup/aws/paths/instance-standby.yaml'
  #/aws/ec2/instance/{instanceId}/standby/exit:
  #  $ref: 'services/elastigroup/aws/paths/instance-exit-standby.yaml'
  /aws/emr/mrScaler:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scalers.yaml'
  /aws/emr/mrScaler/{mrScalerId}:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler.yaml'
  /aws/emr/mrScaler/{mrScalerId}/instance:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler-instance.yaml'
  /aws/emr/mrScaler/{mrScalerId}/scale/up:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler-scale-up.yaml'
  /aws/emr/mrScaler/{mrScalerId}/scale/down:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler-scale-down.yaml'
  /aws/emr/mrScaler/{mrScalerId}/scale/cluster:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler-cluster.yaml'
  /aws/emr/mrScaler/{mrScalerId}/scale/costs:
    $ref: 'services/elastigroup/aws/emr/paths/mr-scaler-costs.yaml'
  /compute/azure/group:
    $ref: 'services/elastigroup/azure/paths/groups.yaml'
  /compute/azure/group/{groupId}:
    $ref: 'services/elastigroup/azure/paths/group.yaml'
  /compute/azure/group/{groupId}/status:
    $ref: 'services/elastigroup/azure/paths/group-status.yaml'
  /compute/azure/group/{groupId}/detachInstances:
    $ref: 'services/elastigroup/azure/paths/group-detach.yaml'
  /compute/azure/group/{groupId}/roll:
    $ref: 'services/elastigroup/azure/paths/group-deployments.yaml'
  /compute/azure/group/{groupId}/roll/{deploymentId}:
    $ref: 'services/elastigroup/azure/paths/group-deployment.yaml'
  /compute/azure/task:
    $ref: 'services/elastigroup/azure/paths/tasks.yaml'
  /compute/azure/task/{taskId}:
    $ref: 'services/elastigroup/azure/paths/task.yaml'
  /azure/compute/group/{groupId}:
    $ref: 'services/elastigroup/azure/paths/groupVm.yaml'
  /azure/compute/group:
    $ref: 'services/elastigroup/azure/paths/groupsVm.yaml'
  /azure/compute/group/{groupId}/status:
    $ref: 'services/elastigroup/azure/paths/group-statusVm.yaml'
  /azure/compute/group/{groupId}/scale/down:
    $ref: 'services/elastigroup/azure/paths/groupVmScaleDown.yaml'
  /azure/compute/group/{groupId}/scale/up:
    $ref: 'services/elastigroup/azure/paths/groupVmScaleUp.yaml'
  /azure/compute/group/{groupId}/deployment:
    $ref: 'services/elastigroup/azure/paths/groupVmDeployment.yaml'
  /azure/compute/group/{groupId}/deployment/{deploymentId}:
    $ref: 'services/elastigroup/azure/paths/groupVmDeploymentStatus.yaml'
  /azure/compute/group/{groupId}/deployment/{deploymentId}/details:
    $ref: 'services/elastigroup/azure/paths/groupVmDeploymentDetails.yaml'
  /azure/compute/vm/signal:
    $ref: 'services/elastigroup/azure/paths/vmSignal.yaml'
  /azure/compute/group/{groupId}/logs:
    $ref: 'services/elastigroup/azure/paths/vmLogs.yaml'
  /gcp/gce/group:
    $ref: 'services/elastigroup/gcp/paths/groups.yaml'
  /gcp/gce/group/{groupId}:
    $ref: 'services/elastigroup/gcp/paths/group.yaml'
  /gcp/gce/group/gke/import:
    $ref: 'services/elastigroup/gcp/paths/gke-import.yaml'
  /gcp/gce/group/{groupId}/status:
    $ref: 'services/elastigroup/gcp/paths/group-status.yaml'
  /gcp/gce/group/{groupId}/events:
    $ref: 'services/elastigroup/gcp/paths/group-event.yaml'
  /gcp/gce/group/{groupId}/log:
    $ref: 'services/elastigroup/gcp/paths/group-elastilog.yaml'
  /gcp/gce/group/{groupId}/scale/up:
    $ref: 'services/elastigroup/gcp/paths/group-scale-up.yaml'
  /gcp/gce/group/{groupId}/scale/down:
    $ref: 'services/elastigroup/gcp/paths/group-scale-down.yaml'
  /gcp/gce/group/{groupId}/costs:
    $ref: 'services/elastigroup/gcp/paths/group-costs.yaml'
  /gcp/gce/group/{groupId}/roll:
    $ref: 'services/elastigroup/gcp/paths/group-rolls.yaml'
  /gcp/gce/group/{groupId}/roll/{rollId}:
    $ref: 'services/elastigroup/gcp/paths/group-roll.yaml'
  /gcp/gce/group/{groupId}/deatchInstances:
    $ref: 'services/elastigroup/gcp/paths/group-detach-instances.yaml'
  /gcp/gce/instance/{instanceId}:
    $ref: 'services/elastigroup/gcp/paths/instance-status.yaml'
  /gcp/gce/instance/{instanceId}/lock:
    $ref: 'services/elastigroup/gcp/paths/instance-lock.yaml'
  /gcp/gce/instance/{instanceId}/unlock:
    $ref: 'services/elastigroup/gcp/paths/instance-unlock.yaml'
  /ocean/aws/ecs/cluster:
    $ref: 'services/ocean/ecs/paths/clusters.yaml'
  /ocean/aws/ecs/cluster/{clusterId}:
    $ref: 'services/ocean/ecs/paths/cluster.yaml'
  /ocean/aws/ecs/cluster/import:
    $ref: 'services/ocean/ecs/paths/upgrade-from-eg.yaml'
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/roll:
    $ref: 'services/ocean/ecs/paths/cluster-rolls.yaml'
  /ocean/aws/ecs/cluster/{OCEAN_CLUSTER_ID}/roll/{ROLL_ID}:
    $ref: 'services/ocean/ecs/paths/cluster-roll.yaml'
  /aws/ec2/group/{groupId}/clusterRoll:
    $ref: 'services/elastigroup/aws/paths/ecsGroupClusterRoll.yaml'
  /aws/ec2/group/{groupId}/clusterRoll/{rollId}:
    $ref: 'services/elastigroup/aws/paths/ecsGroupClusterRollId.yaml'
  /aws/ec2/group/{groupId}/beanstalk/maintenance/start:
    $ref: 'services/elastigroup/aws/paths/ecsBeanstalk.yaml'
  /aws/ec2/group/{groupId}/beanstalk/maintenance/finish:
    $ref: 'services/elastigroup/aws/paths/ecsBeanstalkFinish.yaml'
  /aws/ec2/group/{groupId}/beanstalk/maintenance/status:
    $ref: 'services/elastigroup/aws/paths/ecsBeanstalkStatus.yaml'
  /aws/ec2/group/beanstalk/import:
    $ref: 'services/elastigroup/aws/paths/ecsBeanstalkImport.yaml'
  /aws/ec2/group/{groupId}/beanstalk/reimport:
    $ref: 'services/elastigroup/aws/paths/ecsBeanstalkReImport.yaml'
  /aws/ec2/group/{groupId}/codeDeploy/blueGreenDeployment:
    $ref: 'services/elastigroup/aws/paths/blueGreenDeployment.yaml'
  /ocean/aws/k8s/cluster:
    $ref: 'services/ocean/aws/paths/clusters.yaml'
  /ocean/aws/k8s/cluster/{OCEAN_ID}:
    $ref: 'services/ocean/aws/paths/cluster.yaml'
  /ocean/aws/k8s/cluster/{OCEAN_ID}/controllerHeartbeat:
    $ref: 'services/ocean/aws/paths/controllerHeartbeat.yaml'
  /ocean/aws/k8s/cluster/autoScalingGroup/import:
    $ref: 'services/ocean/aws/paths/importASG.yaml'
  /ocean/aws/k8s/cluster/{OCEAN_ID}/rightSizing/suggestion:
    $ref: 'services/ocean/aws/paths/rightSizing.yaml'
  /mcs/kubernetes/cluster/{clusterIdentifier}/costs:
    $ref: 'services/ocean/aws/paths/clusterCosts.yaml'
  /ocean/aws/k8s/cluster/import:
      $ref: 'services/ocean/aws/paths/upgradeElastigroupToOcean.yaml'
  /ocean/aws/k8s/cluster/{OCEAN_ID}/roll:
    $ref: 'services/ocean/aws/paths/clusters-roll.yaml'
  /ocean/aws/k8s/cluster/{OCEAN_ID}/roll/{ROLL_ID}:
    $ref: 'services/ocean/aws/paths/cluster-roll.yaml'
  /ocean/aws/k8s/launchSpec:
    $ref: 'services/ocean/aws/paths/clusters-launchSpec.yaml'
  /ocean/aws/k8s/launchSpec/{OCEAN_LAUNCH_SPEC_ID}:
    $ref: 'services/ocean/aws/paths/cluster-launchSpec.yaml'
  /ocean/aws/k8s/launchspec/autoScalingGroup/import:
    $ref: 'services/ocean/aws/paths/importASG-launchSpec.yaml'
  /ocean/onPrem/k8s/cluster:
    $ref: 'services/ocean/OnPremises/paths/clusters.yaml'
  /ocean/onPrem/k8s/cluster/{CLUSTER_ID}:
    $ref: 'services/ocean/OnPremises/paths/cluster.yaml'

components:
  securitySchemes:
    BearerAuth:
      $ref: 'commons/security.yaml#/components/securitySchemes/BearerAuth'